@{
    Layout = "_FrontLayout";

    ViewData["Title"] = "ุณูุงุฑ ุจู ุดูุฑ";
}

@section VendorStyles {
    <link href="~/vendor/css/pages/front-page-landing.css" rel="stylesheet" />

	<link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.css" />
	<link rel="stylesheet" href="~/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css" />
	<link rel="stylesheet" href="~/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css" />
	<link rel="stylesheet" href="~/vendor/libs/jquery-timepicker/jquery-timepicker.css" />
	<link rel="stylesheet" href="~/vendor/libs/pickr/pickr-themes.css" />

	<link href="~/vendor/css/pages/front-page-landing.css" rel="stylesheet" />
	<link href="~/css/IndexPage.css" rel="stylesheet" />
}

@section VendorScripts {
    <script src="~/libs/jquery.js"></script>

    <script src="~/vendor/js/dropdown-hover.js"></script>
    <script src="~/vendor/js/dropdown-hover.js"></script>

	<script src="~/libs/jquery.js"> </script>
	<script src="~/vendor/libs/moment/moment.js"></script>
	<script src="~/vendor/libs/jdate/jdate.min.js"></script>
	<script src="~/vendor/libs/flatpickr/flatpickr-jdate.js"></script>
	<script src="~/vendor/libs/flatpickr/l10n/fa.js"></script>
	<script src="~/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
	<script src="~/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>
	<script src="~/vendor/libs/jquery-timepicker/jquery-timepicker.js"></script>
	<script src="~/vendor/libs/pickr/pickr.js"></script>
	<script src="~/js/IndexPage.js"> </script>
	<script src="~/js/searchpage.js"></script>
}

@section PageScripts {



}


<div data-bs-spy="scroll" class="scrollspy-example">

    <!-- Hero: Start -->
    <section id="hero-animation">
        <div id="landingHero" style="" class="section-py landing-hero position-relative">
            <div class="container">
                <div class="hero-text-box text-center">
                    <h1 class="text-primary text-center hero-title display-6 fw-bold d-inline ">
                        ุงูุฌุง ููุดู ุฑุงูู ูุณุช

                    </h1>

                    <h2 class="hero-sub-title h6 mb-4 mt-2 pb-1 lh-2">
                        ูพูู ุณุงุฒูุงู ูุณุชุฑุดููุฑ
                        <br class="d-none d-lg-block" />
                        ุฎุฑุฏ ุจูุท ุชุงฺฉุณ ุจู ุดูุฑ

                    </h2>


                    @* <div class="landing-hero-btn d-inline-block position-relative">
                    <span class="hero-btn-item position-absolute d-none d-md-flex text-heading">
                    ูุฑุตุช ุงุณุชุซูุงุกุก
                    <img alt="ูพฺฉุงู ุงูุฌูู" class="scaleX-n1-rtl" src="~/img/front-pages/icons/Join-community-arrow.png" />
                    </span>
                    <a class="btn btn-primary btn-lg" href="#landingPricing">ุฎูุฑุฏ ุงุฒ ูุงุฑฺฉุฆุฆุช ุฑุงุณูุชฺู</a>
                    </div> *@
                </div>
                @*  <div id="heroDashboardAnimation" class="hero-animation-img">
                <a href="/Apps/Ecommerce/Dashboard" target="_blank">
                <div id="heroAnimationImg" class="position-relative hero-dashboard-img">
                <img src="~/img/front-pages/landing-page/hero-dashboard-light.png" alt="hero dashboard" class="animation-img" data-app-light-img="front-pages/landing-page/hero-dashboard-light.png" data-app-dark-img="front-pages/landing-page/hero-dashboard-dark.png" />
                <img src="~/img/front-pages/landing-page/hero-elements-light.png" alt="hero elements" class="position-absolute hero-elements-img animation-img top-0 start-0" data-app-light-img="front-pages/landing-page/hero-elements-light.png" data-app-dark-img="front-pages/landing-page/hero-elements-dark.png" />
                </div>
                </a>
                </div> *@


                <div class="row">
                    <div class="col-lg-2 col-0"></div>
                    <div class="row col-lg-8 col-12 m-0">
                        <div class="card mb-3">
                            <div class="card-body row pb-4">
                                <div class="card-header d-flex justify-content-between p-0 mb-4" style="">
                                  <div class="d-flex justify-content-between align-items-start" style="flex-direction: column;">

                                    <h4 class="mb-0 ">
                                        <img class="pe-1 image" src="/caronraod.png" width="80px" />
                                        ุฌุณุชุฌู โุณูุงุฑ
                                    </h4>

                                    <lable class="mt-2 ms-md-2 lh-base">
                                       ูุณุชุฑุดููุฑุ ุงุฑุงุฆู ุฏููุฏู ุณูุฑูุง ุจู ุดูุฑ ู ุชุฑุงูุณูุฑ ูุฑูุฏฺฏุงู
                                       <br />
                                       <span class="fw-light mt-1">
                                       ุจุง ุจุงูุงุชุฑู ฺฉูุช ุณุฑูุณ ู ุจูุชุฑู ุฎูุฏุฑููุง
                                                <i class="ti ti-circle-check" style="color: blue;"></i>
                                                @* <img src="/vip_badge.png" style="height:29px;" class="ms-1" /> *@
                                            </span>
                                    </lable>
                                  </div>

                                    <img src="/mrshoofer_cars_banner.png" class="me-2" height="90px" />

                                </div>

                                <form asp-controller="TaxiTrips" asp-action="Index" method="get" class="row m-0" id="tripForm">
                                    <div class="col-12 col-md-3 inputcel">
                                        <div class="form-text d-md-none d-block" id="defaultFormControlHelp">ุดูุฑ ูุจุฏุง ุณูุฑ</div>

                                        <div class="input-container">
                                            <input autocomplete="off" aria-describedby="defaultFormControlHelp" data-bs-toggle="dropdown" class="form-control origin input-field dropdown-toggle" id="origin_input" placeholder="ูุจุฏุง" type="text" role="button" name="originstring" />
                                            <i class="ti ti-location mb-2 icon"></i>

											<span class="dropdown-menu dropdown-menu-end origin_location" style="inset:unset !important; min-width:230px;">



                                                @*  <div class="city">
                                                <a class="dropdown-item" href="javascript:void(0);">
                                                ุชูุฑุงู
                                                <small class="" >
                                                (ููู ูพุงุงููโูุง)
                                                </small>

                                                </a>

                                                <div class="terminals ms-3">
                                                <a class="dropdown-item" href="javascript:void(0);">ูพุงุงูู ุจูู</a>
                                                <a class="dropdown-item" href="javascript:void(0);">ูพุงุงูู ุขุฒุงุฏ</a>
                                                <a class="dropdown-item" href="javascript:void(0);">ูพุงุงูู ุดุฑู</a>
                                                <a class="dropdown-item" href="javascript:void(0);">ูพุงุงูู ุบุฑุจ</a>

                                                </div>
                                                </div> *@
                                            </span>
                                        </div>
                                        <div class="form-text d-md-block d-none" id="defaultFormControlHelp">ุดูุฑ ูุจุฏุง ุณูุฑ</div>
                                    </div>

                                    <div class="col-12 col-md-3 inputcel">
                                        <div class="form-text d-block d-md-none" id="defaultFormControlHelp">ุดูุฑ ููุตุฏ ุณูุฑ</div>

                                        <div class="input-container">
                                            <input  data-bs-toggle="dropdown" autocomplete="off" class="form-control destination input-field dropdown-toggle" id="destination_input" placeholder="ููุตุฏ" type="text" role="button" name="destinationstring" />
                                            <i class="ti ti-map-pin mb-2 icon"></i>
											<span class="dropdown-menu dropdown-menu-end destination_location" style="inset:unset !important;  min-width:230px;">

                                                @*  <div class="city">
                                                <a class="dropdown-item" href="javascript:void(0);">
                                                ุชูุฑุงู
                                                <small class="" >
                                                (ููู ูพุงุงููโูุง)
                                                </small>

                                                </a>

                                                <div class="terminals ms-3">
                                                <a class="dropdown-item" href="javascript:void(0);">ูพุงุงูู ุจูู</a>
                                                <a class="dropdown-item" href="javascript:void(0);">ูพุงุงูู ุขุฒุงุฏ</a>
                                                <a class="dropdown-item" href="javascript:void(0);">ูพุงุงูู ุดุฑู</a>
                                                <a class="dropdown-item" href="javascript:void(0);">ูพุงุงูู ุบุฑุจ</a>

                                                </div>
                                                </div> *@
                                            </span>

                                        </div>
                                        <div class="form-text d-none d-md-block" id="defaultFormControlHelp">ุดูุฑ ููุตุฏ ุณูุฑ</div>
                                    </div>


                                    <div class="col-12 col-md-3 inputcel">
                                        <div class="form-text d-block d-md-none" id="defaultFormControlHelp">ุงูุชุฎุงุจ ุชุงุฑุฎ</div>

                                        <!-- /Human Friendly Date Picker-->
                                        <!-- Disabled Range-->

                                        <div class="input-container">
                                            <input  autocomplete="off" class="form-control bdi starttimeselector searchdate" id="starttime" placeholder="ุชุงุฑุฎ ุณูุฑ" type="text" name="searchdate" />
                                            <i class="ti ti-calendar-stats mb-2 icon pe-0"></i>
                                        </div>
                                        <div class="form-text d-none d-md-block" id="defaultFormControlHelp">ุงูุชุฎุงุจ ุชุงุฑุฎ</div>


                                    </div>

                                    @*  <div class="col-1 inputcel ">

                                    <div class="input_con">
                                    <label class="switch switch-square switch-lg" onclick="JustPrivateSelected()">
                                    <input class="switch-input isprivate" type="checkbox">
                                    <span class="switch-toggle-slider text-center">
                                    <span class="switch-on">
                                    <i class="ti ti-armchair-2"></i>
                                    </span>
                                    <span class="switch-off">
                                    <i class="ti ti-sofa"></i>
                                    </span>
                                    </span>
                                    </label>
                                    </div>
                                    <div class="form-text" id="defaultFormControlHelp">
                                    <span class="justprivate_title">ุฏุฑุจุณุช</span>
                                    </div>


                                    </div> *@

                                    <div class="col-12 col-md-3 inputcel">
                                        <div class="ps-0 mt-4 mt-md-0 ">
                                            <button style="width:100%; border-radius: 1.2rem;" class="btn btn-primary waves-effect waves-light btn-lg" type="submit">
                                                ุจุฒู ุจุฑู
                                                <i class="ti ti-search"></i>
                                            </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-0"></div>
                </div>
            </div>
        </div>

        @* <div class="landing-hero-blank"></div> *@
    </section>
    <!-- Hero: End -->
    <!-- Useful features: Start -->
    <section id="landingFeatures" class="section-py landing-features">
        <div class="container">
            <div class="text-center mb-3 pb-1">
                <span class="badge bg-label-primary">ูฺ ูุณุงูุฑ ุจุฏูู ุจูุท ููโูููู! </span>
            </div>
            <h3 class="text-center mb-1 fw-medium">
                <span class="section-title">ูุณุชุฑุดููุฑ</span>
                ุณูุฑูุง ุณูุงุฑ ุจู ุดูุฑ ู ุชุฑุงูุณูุฑ ูุฑูุฏฺฏุงู
            </h3>

            <p class="text-center">ุณุฑุนุชุฑู ู ุฑุงุญุช ุชุฑู ุฑุงู ุญู ูุจูุฏ ุจูุท ููุงูพูุง. VIPุ ุณุฑุนุ ุฑุงุญุช
            </p>

            <p class="text-center mb-3 mb-md-5 pb-3 fw-lighter">
                ุขูุงุฏู ุฎุฏูุช ุฑุณุงู ุจู ุดูุง ู ูุดุชุฑุงูโุงุฑุฌููุฏุชุงู   
            </p>
            <div class="features-icon-wrapper row gx-0 gy-4 g-sm-5">
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="~/img/front-pages/icons/laptop.png" alt="laptop charging" />
                    </div>
                    <h5 class="mb-2">ุฏุณุชุฑุณ ุขุณุงู</h5>
                    <p class="features-icon-description">ุฏุณุชุฑุณ ุจู ูุงูฺฏุงู ูุชููุน ู ููุดู ุขูุงุฏู ุจู ฺฉุงุฑ ูุณุชุฑุดููุฑุ ุจุง ฺฉูุช ุจุงูุง ู ุฑุงููุฏฺฏุงู ุชุงุฏ ุดุฏูุ ุจุฑุง ูุดุชุฑุงู ุดูุง</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="/taxi.png" height="66px" alt="transition up" />
                    </div>
                    <h5 class="mb-2">ูุงูฺฏุงู ูุณุน ู ุขูุงุฏู</h5>
                    <p class="features-icon-description">
                      ุฎุฏูุงุช ฺฏุณุชุฑุฏู ูุณุชุฑุดููุฑ ุจุง ููุฌูุฏ ฺฉุงูู ู ูุงูฺฏุงู ุจุง ุธุฑูุช ุจุงูุงุ ููุดู ุขูุงุฏู ุฎุฏูุชโุฑุณุงู ู ุชุงูู 
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="~/img/front-pages/icons/paper.png" alt="edit" />
                    </div>
                    <h5 class="mb-2">ุชุงูู ุณุฑุนุ ุงุฑุชุจุงุท ูุณุชูุฑ</h5>
                    <p class="features-icon-description">ูุณุชุฑุดููุฑ ุฏุฑ ุณุฑุนุชุฑู ุฒูุงูุ ุจุฑุง ูุณุงูุฑุงู ุดูุง ุณุฑูุณ ููุงุณุจ ุฑุง ุชุงูู ูโฺฉูุฏ</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="~/img/front-pages/icons/check.png" alt="3d select solid" />
                    </div>
                    <h5 class="mb-2">ุฑุงููุฏฺฏุงู ู ุฎูุฏุฑูโูุง ุชุงุฏ ุดุฏู</h5>
                    <p class="features-icon-description">
                       ุงุฑุงุฆู ุจุง ฺฉูุช ุชุฑู ุฎุฏูุงุช ุณูุฑ ุจูโุดูุฑ ู ุชุฑุงูุณูุฑ ุงุฎุชุตุงุต ุจุง ุฑุงููุฏูโ ุฏุฑ ุงุฎุชุงุฑ
                       ุจุฑุง ุจูุชุฑู ุชุฌุฑุจู 
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="~/img/front-pages/icons/user.png" alt="lifebelt" />
                    </div>
                    <h5 class="mb-2">ูพุดุชุจุงู ูพุงุณุฎฺฏู 24/7</h5>
                    <p class="features-icon-description">ูพุดุชุจุงู ุณุฑุน ู ูุนุงูุ ุขูุงุฏู ูพุงุณุฎฺฏู ุจู ุณูุงูุงุช ุดูุง ู ูุดุชุฑุงู ุดูุง โค๏ธ๐</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="~/img/front-pages/icons/keyboard.png" alt="google docs" />
                    </div>
                    <h5 class="mb-2">ุจูุท ุดุฎุต ุณุงุฒ ุดุฏู ุจุฑุง ูุดุชุฑุงู</h5>
                    <p class="features-icon-description">ูุงุจูุช ุดุฎุต ุณุงุฒ ุจูุท ุชูุณุท ุดูุงุ ุจุฑุง ูุดุชุฑุงู ุฎูุฏ. ูุงุจูุช ุฏุฑุฌ ููุช ุฏูุฎูุงู</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Useful features: End -->
    <!-- Real customers reviews: Start -->
    <section id="landingReviews" class="section-py bg-body landing-reviews pb-0">
        <!-- What people say slider: Start -->
        <div class="container">
            <div class="row align-items-center gx-0 gy-4 g-lg-5">
                <div class="col-md-6 col-lg-5 col-xl-3">
                    <div class="mb-3 pb-1">
                        <span class="badge bg-label-primary">ูุธุฑุงุช ูุดุชุฑุงู</span>
                    </div>
                    <h3 class="mb-2">
                        <span class="position-relative fw-bold z-1 section-title">
                            ุขูฺู ฺฉุงุฑุจุฑุงู ูโฺฏููุฏ!
                        </span>
                    </h3>
                    <p class="mb-3 mb-md-5">
                        ูุนุฑูู ุชุฑู ุณุงุฒูุงู ูุง ุฏุฑ ููุฑุฏ
                        <br class="d-none d-xl-block" />
                        ูุง ฺู ูุธุฑ ุฏุงุฑูุฏุ
                    </p>
                    <div class="landing-reviews-btns">
                        <button id="reviews-previous-btn" class="btn btn-label-primary reviews-btn me-3 scaleX-n1-rtl" type="button">
                            <i class="ti ti-chevron-left ti-sm"></i>
                        </button>
                        <button id="reviews-next-btn" class="btn btn-label-primary reviews-btn scaleX-n1-rtl" type="button">
                            <i class="ti ti-chevron-right ti-sm"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-7 col-xl-9">
                    <div class="swiper-reviews-carousel overflow-hidden mb-5 pb-md-2 pb-md-3">
                        <div class="swiper" id="swiper-reviews">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="card h-100">
                                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                            <div class="mb-3">
                                                <img src="~/img/front-pages/branding/logo-1.png" alt="client logo" class="client-logo img-fluid" />
                                            </div>
                                            <p class="justify-text"> ููุฑู ุงูพุณูู ูุชู ุณุงุฎุชฺฏ ุจุง ุชููุฏ ุณุงุฏฺฏ ูุงููููู ุงุฒ ุตูุนุช ฺุงูพ ู ุจุง ุงุณุชูุงุฏู ุงุฒ ุทุฑุงุญุงู ฺฏุฑุงูฺฉ ุงุณุช ฺุงูพฺฏุฑูุง ู ูุชูู ุจูฺฉู ุฑูุฒูุงูู ู ูุฌูู ุฏุฑ ุณุชูู ู ุณุทุฑุขูฺูุงู ฺฉู ูุงุฒู ุงุณุช</p>
                                            <div class="text-warning mb-3">
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar me-2 avatar-sm">
                                                    <img src="~/img/avatars/1.png" alt="Avatar" class="rounded-circle" />
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">ุญูุฏุฑุถุง ุฒูุงู</h6>
                                                    <p class="small text-muted mb-0">ูุฏุฑุนุงูู Airbnb</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card h-100">
                                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                            <div class="mb-3">
                                                <img src="~/img/front-pages/branding/logo-2.png" alt="client logo" class="client-logo img-fluid" />
                                            </div>
                                            <p class="justify-text"> ููุฑู ุงูพุณูู ูุชู ุณุงุฎุชฺฏ ุจุง ุชููุฏ ุณุงุฏฺฏ ูุงููููู ุงุฒ ุตูุนุช ฺุงูพ ู ุจุง ุงุณุชูุงุฏู ุงุฒ ุทุฑุงุญุงู ฺฏุฑุงูฺฉ ุงุณุช ฺุงูพฺฏุฑูุง ู ูุชูู ุจูฺฉู ุฑูุฒูุงูู ู ูุฌูู ุฏุฑ ุณุชูู ู ุณุทุฑุขูฺูุงู ฺฉู ูุงุฒู ุงุณุช</p>
                                            <div class="text-warning mb-3">
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar me-2 avatar-sm">
                                                    <img src="~/img/avatars/2.png" alt="Avatar" class="rounded-circle" />
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">ุชุฑูุงู ูพุฑูุงูู</h6>
                                                    <p class="small text-muted mb-0">ุจูุงูฺฏุฐุงุฑ Hubspot</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card h-100">
                                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                            <div class="mb-3">
                                                <img src="~/img/front-pages/branding/logo-3.png" alt="client logo" class="client-logo img-fluid" />
                                            </div>
                                            <p class="justify-text"> ููุฑู ุงูพุณูู ูุชู ุณุงุฎุชฺฏ ุจุง ุชููุฏ ุณุงุฏฺฏ ูุงููููู ุงุฒ ุตูุนุช ฺุงูพ ู ุจุง ุงุณุชูุงุฏู ุงุฒ ุทุฑุงุญุงู ฺฏุฑุงูฺฉ ุงุณุช ฺุงูพฺฏุฑูุง ู ูุชูู ุจูฺฉู ุฑูุฒูุงูู ู ูุฌูู ุฏุฑ ุณุชูู ู ุณุทุฑุขูฺูุงู ฺฉู ูุงุฒู ุงุณุช</p>
                                            <div class="text-warning mb-3">
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar me-2 avatar-sm">
                                                    <img src="~/img/avatars/3.png" alt="Avatar" class="rounded-circle" />
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">ุจูุฑูุฒ ูุซูู</h6>
                                                    <p class="small text-muted mb-0">ุฑูุจุฑ ุทุฑุงุญ ุฏุฑ Dribbble</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card h-100">
                                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                            <div class="mb-3">
                                                <img src="~/img/front-pages/branding/logo-4.png" alt="client logo" class="client-logo img-fluid" />
                                            </div>
                                            <p class="justify-text"> ููุฑู ุงูพุณูู ูุชู ุณุงุฎุชฺฏ ุจุง ุชููุฏ ุณุงุฏฺฏ ูุงููููู ุงุฒ ุตูุนุช ฺุงูพ ู ุจุง ุงุณุชูุงุฏู ุงุฒ ุทุฑุงุญุงู ฺฏุฑุงูฺฉ ุงุณุช ฺุงูพฺฏุฑูุง ู ูุชูู ุจูฺฉู ุฑูุฒูุงูู ู ูุฌูู ุฏุฑ ุณุชูู ู ุณุทุฑุขูฺูุงู ฺฉู ูุงุฒู ุงุณุช</p>
                                            <div class="text-warning mb-3">
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star ti-sm"></i>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar me-2 avatar-sm">
                                                    <img src="~/img/avatars/4.png" alt="Avatar" class="rounded-circle" />
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">ุจูุงุฑู ฺฉุงูโุงูุดุงุฑ</h6>
                                                    <p class="small text-muted mb-0">ุจูุงูฺฏุฐุงุฑ ููุฑุงูโุงูู</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card h-100">
                                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                            <div class="mb-3">
                                                <img src="~/img/front-pages/branding/logo-5.png" alt="client logo" class="client-logo img-fluid" />
                                            </div>
                                            <p class="justify-text"> ููุฑู ุงูพุณูู ูุชู ุณุงุฎุชฺฏ ุจุง ุชููุฏ ุณุงุฏฺฏ ูุงููููู ุงุฒ ุตูุนุช ฺุงูพ ู ุจุง ุงุณุชูุงุฏู ุงุฒ ุทุฑุงุญุงู ฺฏุฑุงูฺฉ ุงุณุช ฺุงูพฺฏุฑูุง ู ูุชูู ุจูฺฉู ุฑูุฒูุงูู ู ูุฌูู ุฏุฑ ุณุชูู ู ุณุทุฑุขูฺูุงู ฺฉู ูุงุฒู ุงุณุช</p>
                                            <div class="text-warning mb-3">
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar me-2 avatar-sm">
                                                    <img src="~/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">ุญูุฏ ูุฑุฎ ูฺุงุฏ</h6>
                                                    <p class="small text-muted mb-0">ุจูุงูฺฏุฐุงุฑ Hubspot</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card h-100">
                                        <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                            <div class="mb-3">
                                                <img src="~/img/front-pages/branding/logo-6.png" alt="client logo" class="client-logo img-fluid" />
                                            </div>
                                            <p class="justify-text"> ููุฑู ุงูพุณูู ูุชู ุณุงุฎุชฺฏ ุจุง ุชููุฏ ุณุงุฏฺฏ ูุงููููู ุงุฒ ุตูุนุช ฺุงูพ ู ุจุง ุงุณุชูุงุฏู ุงุฒ ุทุฑุงุญุงู ฺฏุฑุงูฺฉ ุงุณุช ฺุงูพฺฏุฑูุง ู ูุชูู ุจูฺฉู ุฑูุฒูุงูู ู ูุฌูู ุฏุฑ ุณุชูู ู ุณุทุฑุขูฺูุงู ฺฉู ูุงุฒู ุงุณุช</p>
                                            <div class="text-warning mb-3">
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star-filled ti-sm"></i>
                                                <i class="ti ti-star ti-sm"></i>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar me-2 avatar-sm">
                                                    <img src="~/img/avatars/1.png" alt="Avatar" class="rounded-circle" />
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">ููุฏ ูพุงฺฉุฏู</h6>
                                                    <p class="small text-muted mb-0">ุจูุงูฺฏุฐุงุฑ ุงุฑุงูุณู</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- What people say slider: End -->
        <hr class="m-0" />
        <!-- Logo slider: Start -->
        <div class="container">
            <div class="swiper-logo-carousel py-4 my-lg-2">
                <div class="swiper" id="swiper-clients-logos">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="~/img/front-pages/branding/logo_1-light.png" alt="client logo" class="client-logo" data-app-light-img="front-pages/branding/logo_1-light.png" data-app-dark-img="front-pages/branding/logo_1-dark.png" />
                        </div>
                        <div class="swiper-slide">
                            <img src="~/img/front-pages/branding/logo_2-light.png" alt="client logo" class="client-logo" data-app-light-img="front-pages/branding/logo_2-light.png" data-app-dark-img="front-pages/branding/logo_2-dark.png" />
                        </div>
                        <div class="swiper-slide">
                            <img src="~/img/front-pages/branding/logo_3-light.png" alt="client logo" class="client-logo" data-app-light-img="front-pages/branding/logo_3-light.png" data-app-dark-img="front-pages/branding/logo_3-dark.png" />
                        </div>
                        <div class="swiper-slide">
                            <img src="~/img/front-pages/branding/logo_4-light.png" alt="client logo" class="client-logo" data-app-light-img="front-pages/branding/logo_4-light.png" data-app-dark-img="front-pages/branding/logo_4-dark.png" />
                        </div>
                        <div class="swiper-slide">
                            <img src="~/img/front-pages/branding/logo_5-light.png" alt="client logo" class="client-logo" data-app-light-img="front-pages/branding/logo_5-light.png" data-app-dark-img="front-pages/branding/logo_5-dark.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Logo slider: End -->
    </section>
    <!-- Real customers reviews: End -->
    <!-- Our great team: Start -->
    <section id="landingTeam" class="section-py landing-team">
        <div class="container">
            <div class="text-center mb-3 pb-1">
                <span class="badge bg-label-primary">ุชู ุจุฒุฑฺฏ ูุง</span>
            </div>

            <h3 class="text-center mb-1">
                <span class="position-relative fw-bold z-1 ">
                    ูพุดุชุจุงู ุชูุณุท
                </span>
                <span class="section-title">ุชูุกุก ูุชุฎุตุต ู ุจุงุชุฌุฑุจู</span>
            </h3>
            <p class="text-center mb-md-5 pb-3 mt-2">ฺู ฺฉุณุงู ุฎุงูู ุงู ูุงูุจ ุนุงู ูุณุชูุ</p>
            <div class="row gy-5 mt-2">
                <div class="col-lg-3 col-sm-6">
                    <div class="card mt-3 mt-lg-0 shadow-none">
                        <div class="bg-label-primary position-relative team-image-box">
                            <img src="~/img/front-pages/landing-page/team-member-1.png" class="position-absolute card-img-position bottom-0 start-50 scaleX-n1-rtl" alt="human image" />
                        </div>
                        <div class="card-body border border-top-0 border-label-primary text-center">
                            <h5 class="card-title mb-0">ููุญู ุฑุณุชู</h5>
                            <p class="text-muted mb-0">ูุฏุฑ ูพุฑูฺู</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card mt-3 mt-lg-0 shadow-none">
                        <div class="bg-label-info position-relative team-image-box">
                            <img src="~/img/front-pages/landing-page/team-member-2.png" class="position-absolute card-img-position bottom-0 start-50 scaleX-n1-rtl" alt="human image" />
                        </div>
                        <div class="card-body border border-top-0 border-label-info text-center">
                            <h5 class="card-title mb-0">ุงูุฑ ุฌุฏุฏ</h5>
                            <p class="text-muted mb-0">ุทุฑุงุญ ุฑุงุจุท ฺฉุงุฑุจุฑ</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card mt-3 mt-lg-0 shadow-none">
                        <div class="bg-label-danger position-relative team-image-box">
                            <img src="~/img/front-pages/landing-page/team-member-3.png" class="position-absolute card-img-position bottom-0 start-50 scaleX-n1-rtl" alt="human image" />
                        </div>
                        <div class="card-body border border-top-0 border-label-danger text-center">
                            <h5 class="card-title mb-0">ููุฏุง ฺฉุงู</h5>
                            <p class="text-muted mb-0">ุจุฑูุงูู ููุณ ุงุฑุดุฏ</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card mt-3 mt-lg-0 shadow-none">
                        <div class="bg-label-success position-relative team-image-box">
                            <img src="~/img/front-pages/landing-page/team-member-4.png" class="position-absolute card-img-position bottom-0 start-50 scaleX-n1-rtl" alt="human image" />
                        </div>
                        <div class="card-body border border-top-0 border-label-success text-center">
                            <h5 class="card-title mb-0">ูพุงุฑุณุง ุฌูุงู</h5>
                            <p class="text-muted mb-0">ูุฏุฑ ุจุงุฒุงุฑุงุจ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our great team: End -->
    <!-- Pricing plans: Start -->
    <section id="landingPricing" class="section-py bg-body landing-pricing">
        <div class="container">
            <div class="text-center mb-3 pb-1">
                <span class="badge bg-label-primary">ุทุฑุญ ูุง ููุช ฺฏุฐุงุฑ</span>
            </div>
            <h3 class="text-center mb-1">
                <span class="position-relative fw-bold z-1">
                    ูพููโูุงุกุก ููฺฉุงุฑุกุก
                </span>
                <span class="section-title">
                    ุจุง ุจูุชุฑู ููุช ฺฏุฐุงุฑุกุก
                </span>
            </h3>
            <p class="text-center mb-4 pb-3">
                ููู ูพููโูุง ุดุงูู ุจุด ุงุฒ 40 ุงุจุฒุงุฑ ู ูฺฺฏ ูพุดุฑูุชู ุจุฑุง ุชููุช ูุญุตูู ุดูุง ูุณุชูุฏ.
                <br />
                ุจูุชุฑู ูพููโ ุฑุง ูุชูุงุณุจ ุจุง ูุงุฒ ุฎูุฏ ุงูุชุฎุงุจ ฺฉูุฏ.
            </p>
            <div class="text-center mb-5">
                <div class="position-relative d-inline-block pt-3 pt-md-0">
                    <label class="switch switch-primary me-0">
                        <span class="switch-label">ูพุฑุฏุงุฎุช ูุงูุงูู</span>
                        <input type="checkbox" class="switch-input price-duration-toggler" checked />
                        <span class="switch-toggle-slider">
                            <span class="switch-on"></span>
                            <span class="switch-off"></span>
                        </span>
                        <span class="switch-label">ูพุฑุฏุงุฎุช ุณุงูุงูู</span>
                    </label>
                    <div class="pricing-plans-item position-absolute d-flex">
                        <img src="~/img/front-pages/icons/pricing-plans-arrow.png" alt="pricing plans arrow" class="scaleX-n1-rtl" />
                        <span class="fw-medium mt-2 ms-1"> 25% ุชุฎูู ุงุณุชุซูุง</span>
                    </div>
                </div>
            </div>
            <div class="row gy-4 pt-lg-3">
                <!-- Basic Plan: Start -->
                <div class="col-xl-4 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="text-center">
                                <img src="~/img/front-pages/icons/paper-airplane.png" alt="paper airplane icon" class="mb-4 pb-2" />
                                <h4 class="mb-2">ุงูุชุตุงุฏุกุก</h4>
                                <div class="d-flex align-items-center justify-content-center">
                                    <span class="price-monthly h1 text-primary fw-bold mb-0">
                                        <bdi>
                                            <svg class="toman" width="1rem" height="1rem">
                                                <use xlink:href="#toman">
                                                    <symbol id="toman" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                                        <path clip-rule="evenodd" d="M3.057 1.742L3.821 1l.78.75-.776.741-.768-.749zm3.23 2.48c0 .622-.16 1.111-.478 1.467-.201.221-.462.39-.783.505a3.251 3.251 0 01-1.083.163h-.555c-.421 0-.801-.074-1.139-.223a2.045 2.045 0 01-.9-.738A2.238 2.238 0 011 4.148c0-.059.001-.117.004-.176.03-.55.204-1.158.525-1.827l1.095.484c-.257.532-.397 1-.419 1.403-.002.04-.004.08-.004.12 0 .252.055.458.166.618a.887.887 0 00.5.354c.085.028.178.048.278.06.079.01.16.014.243.014h.555c.458 0 .769-.081.933-.244.14-.139.21-.383.21-.731V2.02h1.2v2.202zm5.433 3.184l-.72-.7.709-.706.735.707-.724.7zm-2.856.308c.542 0 .973.19 1.293.569.297.346.445.777.445 1.293v.364h.18v-.004h.41c.221 0 .377-.028.467-.084.093-.055.14-.14.14-.258v-.069c.004-.243.017-1.044 0-1.115L13 8.05v1.574a1.4 1.4 0 01-.287.863c-.306.405-.804.607-1.495.607h-.627c-.061.733-.434 1.257-1.117 1.573-.267.122-.58.21-.937.265a5.845 5.845 0 01-.914.067v-1.159c.612 0 1.072-.082 1.38-.247.25-.132.376-.298.376-.499h-.515c-.436 0-.807-.113-1.113-.339-.367-.273-.55-.667-.55-1.18 0-.488.122-.901.367-1.24.296-.415.728-.622 1.296-.622zm.533 2.226v-.364c0-.217-.048-.389-.143-.516a.464.464 0 00-.39-.187.478.478 0 00-.396.187.705.705 0 00-.136.449.65.65 0 00.003.067c.008.125.066.22.177.283.093.054.21.08.352.08h.533zM9.5 6.707l.72.7.724-.7L10.209 6l-.709.707zm-6.694 4.888h.03c.433-.01.745-.106.937-.29.024.012.065.035.12.068l.074.039.081.042c.135.073.261.133.379.18.345.146.67.22.977.22a1.216 1.216 0 00.87-.34c.3-.285.449-.714.449-1.286a2.19 2.19 0 00-.335-1.145c-.299-.457-.732-.685-1.3-.685-.502 0-.916.192-1.242.575-.113.132-.21.284-.294.456-.032.062-.06.125-.084.191a.504.504 0 00-.03.078 1.67 1.67 0 00-.022.06c-.103.309-.171.485-.205.53-.072.09-.214.14-.427.147-.123-.005-.209-.03-.256-.076-.057-.054-.085-.153-.085-.297V7l-1.201-.5v3.562c0 .261.048.496.143.703.071.158.168.296.29.413.123.118.266.211.43.28.198.084.42.13.665.136v.001h.036zm2.752-1.014a.778.778 0 00.044-.353.868.868 0 00-.165-.47c-.1-.134-.217-.201-.35-.201-.18 0-.33.103-.447.31-.042.071-.08.158-.114.262a2.434 2.434 0 00-.04.12l-.015.053-.015.046c.142.118.323.216.544.293.18.062.325.092.433.092.044 0 .086-.05.125-.152z" fill-rule="evenodd"></path>
                                                    </symbol>
                                                </use>
                                            </svg>
                                            10ูฌ000ูฌ000
                                        </bdi>
                                    </span>
                                    <span class="price-yearly h1 text-primary fw-bold mb-0 d-none">
                                        <bdi>
                                            <svg class="toman" width="1rem" height="1rem">
                                                <use xlink:href="#toman">
                                                    <symbol id="toman" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                                        <path clip-rule="evenodd" d="M3.057 1.742L3.821 1l.78.75-.776.741-.768-.749zm3.23 2.48c0 .622-.16 1.111-.478 1.467-.201.221-.462.39-.783.505a3.251 3.251 0 01-1.083.163h-.555c-.421 0-.801-.074-1.139-.223a2.045 2.045 0 01-.9-.738A2.238 2.238 0 011 4.148c0-.059.001-.117.004-.176.03-.55.204-1.158.525-1.827l1.095.484c-.257.532-.397 1-.419 1.403-.002.04-.004.08-.004.12 0 .252.055.458.166.618a.887.887 0 00.5.354c.085.028.178.048.278.06.079.01.16.014.243.014h.555c.458 0 .769-.081.933-.244.14-.139.21-.383.21-.731V2.02h1.2v2.202zm5.433 3.184l-.72-.7.709-.706.735.707-.724.7zm-2.856.308c.542 0 .973.19 1.293.569.297.346.445.777.445 1.293v.364h.18v-.004h.41c.221 0 .377-.028.467-.084.093-.055.14-.14.14-.258v-.069c.004-.243.017-1.044 0-1.115L13 8.05v1.574a1.4 1.4 0 01-.287.863c-.306.405-.804.607-1.495.607h-.627c-.061.733-.434 1.257-1.117 1.573-.267.122-.58.21-.937.265a5.845 5.845 0 01-.914.067v-1.159c.612 0 1.072-.082 1.38-.247.25-.132.376-.298.376-.499h-.515c-.436 0-.807-.113-1.113-.339-.367-.273-.55-.667-.55-1.18 0-.488.122-.901.367-1.24.296-.415.728-.622 1.296-.622zm.533 2.226v-.364c0-.217-.048-.389-.143-.516a.464.464 0 00-.39-.187.478.478 0 00-.396.187.705.705 0 00-.136.449.65.65 0 00.003.067c.008.125.066.22.177.283.093.054.21.08.352.08h.533zM9.5 6.707l.72.7.724-.7L10.209 6l-.709.707zm-6.694 4.888h.03c.433-.01.745-.106.937-.29.024.012.065.035.12.068l.074.039.081.042c.135.073.261.133.379.18.345.146.67.22.977.22a1.216 1.216 0 00.87-.34c.3-.285.449-.714.449-1.286a2.19 2.19 0 00-.335-1.145c-.299-.457-.732-.685-1.3-.685-.502 0-.916.192-1.242.575-.113.132-.21.284-.294.456-.032.062-.06.125-.084.191a.504.504 0 00-.03.078 1.67 1.67 0 00-.022.06c-.103.309-.171.485-.205.53-.072.09-.214.14-.427.147-.123-.005-.209-.03-.256-.076-.057-.054-.085-.153-.085-.297V7l-1.201-.5v3.562c0 .261.048.496.143.703.071.158.168.296.29.413.123.118.266.211.43.28.198.084.42.13.665.136v.001h.036zm2.752-1.014a.778.778 0 00.044-.353.868.868 0 00-.165-.47c-.1-.134-.217-.201-.35-.201-.18 0-.33.103-.447.31-.042.071-.08.158-.114.262a2.434 2.434 0 00-.04.12l-.015.053-.015.046c.142.118.323.216.544.293.18.062.325.092.433.092.044 0 .086-.05.125-.152z" fill-rule="evenodd"></path>
                                                    </symbol>
                                                </use>
                                            </svg>
                                            8ูฌ000ูฌ000
                                        </bdi>
                                    </span>
                                </div>
                                <div class="position-relative pt-2">
                                    <div class="price-yearly text-muted price-yearly-toggle d-none">100ูฌ000ูฌ000 โุกุชุก ุฏุฑ ุณุงู</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    <h5 class="fw-medium">
                                        <span class="badge badge-center rounded-pill bg-label-primary p-0 me-2">
                                            <i class="ti ti-check ti-xs"></i>
                                        </span>
                                        ุงูพูฺฉุดู pwa
                                    </h5>
                                </li>
                                <li>
                                    <h5 class="fw-medium">
                                        <span class="badge badge-center rounded-pill bg-label-primary p-0 me-2">
                                            <i class="ti ti-check ti-xs"></i>
                                        </span>
                                        ูพฺฉ ฺฉุงูู ฺฏุฑุงูฺฉ
                                    </h5>
                                </li>
                                <li>
                                    <h5 class="fw-medium">
                                        <span class="badge badge-center rounded-pill bg-label-primary p-0 me-2">
                                            <i class="ti ti-check ti-xs"></i>
                                        </span>
                                        ุฏุฌุชุงู ูุงุฑฺฉุชูฺฏ
                                    </h5>
                                </li>
                                <li>
                                    <h5 class="fw-medium">
                                        <span class="badge badge-center rounded-pill bg-label-primary p-0 me-2">
                                            <i class="ti ti-check ti-xs"></i>
                                        </span>
                                        ุทุฑุงุญ ููุช ุจุตุฑ
                                    </h5>
                                </li>
                                <li>
                                    <h5 class="fw-medium">
                                        <span class="badge badge-center rounded-pill bg-label-primary p-0 me-2">
                                            <i class="ti ti-check ti-xs"></i>
                                        </span>
                                        ุทุฑุงุญ ุณุงุช ูุฑุฏูพุฑุณ
                                    </h5>
                                </li>
                                <li>
                                    <h5 class="fw-medium">
                                        <span class="badge badge-center rounded-pill bg-label-primary p-0 me-2">
                                            <i class="ti ti-check ti-xs"></i>
                                        </span>
                                        ุทุฑุงุญ ุณุงุช ุงุฎุชุตุงุต
                                    </h5>
                                </li>
                                <li>
                                    <h5 class="fw-medium">
                                        <span class="badge badge-center rounded-pill bg-label-primary p-0 me-2">
                                            <i class="ti ti-check ti-xs"></i>
                                        </span>
                                        ุชูุณุนู ุงูพูฺฉุดู ููุจุงู
                                    </h5>
                                </li>
                            </ul>
                            <div class="d-grid mt-4 pt-3">
                                <a href="PaymentPage" class="btn btn-label-primary">ุดุฑูุน ฺฉูุฏ</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Basic Plan: End -->
                <!-- Favourite Plan: Start -->
                <div class="col-xl-4 col-lg-6">
                    <div class="card border border-primary shadow-lg">
                        <div class="card-header">
                            <div class="text-center">
                                <img src="~/img/front-pages/icons/plane.png" alt="plane icon" class="mb-4 pb-2" />
                                <h4 class="mb-2">ูพุดุฑูุชู</h4>
                                <div class="d-flex align-items-center justify-content-center">
                                    <span class="price-monthly h1 text-primary fw-bold mb-0">
                                        <bdi>
                                            <svg class="toman" width="1rem" height="1rem">
                                                <use xlink:href="#toman">
                                                    <symbol id="toman" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                                        <path clip-rule="evenodd" d="M3.057 1.742L3.821 1l.78.75-.776.741-.768-.749zm3.23 2.48c0 .622-.16 1.111-.478 1.467-.201.221-.462.39-.783.505a3.251 3.251 0 01-1.083.163h-.555c-.421 0-.801-.074-1.139-.223a2.045 2.045 0 01-.9-.738A2.238 2.238 0 011 4.148c0-.059.001-.117.004-.176.03-.55.204-1.158.525-1.827l1.095.484c-.257.532-.397 1-.419 1.403-.002.04-.004.08-.004.12 0 .252.055.458.166.618a.887.887 0 00.5.354c.085.028.178.048.278.06.079.01.16.014.243.014h.555c.458 0 .769-.081.933-.244.14-.139.21-.383.21-.731V2.02h1.2v2.202zm5.433 3.184l-.72-.7.709-.706.735.707-.724.7zm-2.856.308c.542 0 .973.19 1.293.569.297.346.445.777.445 1.293v.364h.18v-.004h.41c.221 0 .377-.028.467-.084.093-.055.14-.14.14-.258v-.069c.004-.243.017-1.044 0-1.115L13 8.05v1.574a1.4 1.4 0 01-.287.863c-.306.405-.804.607-1.495.607h-.627c-.061.733-.434 1.257-1.117 1.573-.267.122-.58.21-.937.265a5.845 5.845 0 01-.914.067v-1.159c.612 0 1.072-.082 1.38-.247.25-.132.376-.298.376-.499h-.515c-.436 0-.807-.113-1.113-.339-.367-.273-.55-.667-.55-1.18 0-.488.122-.901.367-1.24.296-.415.728-.622 1.296-.622zm.533 2.226v-.364c0-.217-.048-.389-.143-.516a.464.464 0 00-.39-.187.478.478 0 00-.396.187.705.705 0 00-.136.449.65.65 0 00.003.067c.008.125.066.22.177.283.093.054.21.08.352.08h.533zM9.5 6.707l.72.7.724-.7L10.209 6l-.709.707zm-6.694 4.888h.03c.433-.01.745-.106.937-.29.024.012.065.035.12.068l.074.039.081.042c.135.073.261.133.379.18.345.146.67.22.977.22a1.216 1.216 0 00.87-.34c.3-.285.449-.714.449-1.286a2.19 2.19 0 00-.335-1.145c-.299-.457-.732-.685-1.3-.685-.502 0-.916.192-1.242.575-.113.132-.21.284-.294.456-.032.062-.06.125-.084.191a.504.504 0 00-.03.078 1.67 1.67 0 00-.022.06c-.103.309-.171.485-.205.53-.072.09-.214.14-.427.147-.123-.005-.209-.03-.256-.076-.057-.054-.085-.153-.085-.297V7l-1.201-.5v3.562c0 .261.048.496.143.703.071.158.168.296.29.413.123.118.266.211.43.28.198.084.42.13.665.136v.001h.036zm2.752-1.014a.778.778 0 00.044-.353.868.868 0 00-.165-.47c-.1-.134-.217-.201-.35-.201-.18 0-.33.103-.447.31-.042.071-.08.158-.114.262a2.434 2.434 0 00-.04.12l-.015.053-.015.046c.142.118.323.216.544.293.18.062.325.092.433.092.044 0 .086-.05.125-.152z" fill-rule="evenodd"></path>
                                                    </symbol>
                                                </use>
                                            </svg>
                                            15ูฌ000ูฌ000
                                        </bdi>
                                    </span>
                                    <span class="price-yearly h1 text-primary fw-bold mb-0 d-none">
                                        <bdi>
                                            <svg class="toman" width="1rem" height="1rem">
                                                <use xlink:href="#toman">
                                                    <symbol id="toman" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                                        <path clip-rule="evenodd" d="M3.057 1.742L3.821 1l.78.75-.776.741-.768-.749zm3.23 2.48c0 .622-.16 1.111-.478 1.467-.201.221-.462.39-.783.505a3.251 3.251 0 01-1.083.163h-.555c-.421 0-.801-.074-1.139-.223a2.045 2.045 0 01-.9-.738A2.238 2.238 0 011 4.148c0-.059.001-.117.004-.176.03-.55.204-1.158.525-1.827l1.095.484c-.257.532-.397 1-.419 1.403-.002.04-.004.08-.004.12 0 .252.055.458.166.618a.887.887 0 00.5.354c.085.028.178.048.278.06.079.01.16.014.243.014h.555c.458 0 .769-.081.933-.244.14-.139.21-.383.21-.731V2.02h1.2v2.202zm5.433 3.184l-.72-.7.709-.706.735.707-.724.7zm-2.856.308c.542 0 .973.19 1.293.569.297.346.445.777.445 1.293v.364h.18v-.004h.41c.221 0 .377-.028.467-.084.093-.055.14-.14.14-.258v-.069c.004-.243.017-1.044 0-1.115L13 8.05v1.574a1.4 1.4 0 01-.287.863c-.306.405-.804.607-1.495.607h-.627c-.061.733-.434 1.257-1.117 1.573-.267.122-.58.21-.937.265a5.845 5.845 0 01-.914.067v-1.159c.612 0 1.072-.082 1.38-.247.25-.132.376-.298.376-.499h-.515c-.436 0-.807-.113-1.113-.339-.367-.273-.55-.667-.55-1.18 0-.488.122-.901.367-1.24.296-.415.728-.622 1.296-.622zm.533 2.226v-.364c0-.217-.048-.389-.143-.516a.464.464 0 00-.39-.187.478.478 0 00-.396.187.705.705 0 00-.136.449.65.65 0 00.003.067c.008.125.066.22.177.283.093.054.21.08.352.08h.533zM9.5 6.707l.72.7.724-.7L10.209 6l-.709.707zm-6.694 4.888h.03c.433-.01.745-.106.937-.29.024.012.065.035.12.068l.074.039.081.042c.135.073.261.133.379.18.345.146.67.22.977.22a1.216 1.216 0 00.87-.34c.3-.285.449-.714.449-1.286a2.19 2.19 0 00-.335-1.145c-.299-.457-.732-.685-1.3-.685-.502 0-.916.192-1.242.575-.113.132-.21.284-.294.456-.032.062-.06.125-.084.191a.504.504 0 00-.03.078 1.67 1.67 0 00-.022.06c-.103.309-.171.485-.205.53-.072.09-.214.14-.427.147-.123-.005-.209-.03-.256-.076-.057-.054-.085-.153-.085-.297V7l-1.201-.5v3.562c0 .261.048.496.143.703.071.158.168.296.29.413.123.118.266.211.43.28.198.084.42.13.665.136v.001h.036zm2.752-1.014a.778.778 0 00.044-.353.868.868 0 00-.165-.47c-.1-.134-.217-.201-.35-.201-.18 0-.33.103-.447.31-.042.071-.08.158-.114.262a2.434 2.434 0 00-.04.12l-.015.053-.015.046c.142.118.323.216.544.293.18.062.325.092.433.092.044 0 .086-.05.125-.152z" fill-rule="evenodd"></path>
                                                    </symbol>
                                                </use>
                                            </svg>
                                            12ูฌ000ูฌ000
                                        </bdi>
                                    </span>
                                </div>
                                <div class="position-relative pt-2">
                                    <div class="price-yearly text-muted price-yearly-toggle d-none">200ูฌ000ูฌ000 โุกุชุก ุฏุฑ ุณุงู</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    <h5 class="fw-medium">
                                        <span class="badge badge-center rounded-pill bg-primary p-0 me-2">
                                            <i class="ti ti-check ti-xs"></i>
                                        </span>
                                        ุชูุณุนู ุงูพูฺฉุดู ููุจุงู
                                    </h5>
                                </li>
                                <li>
                                    <h5 class="fw-medium">
                                        <span class="badge badge-center rounded-pill bg-primary p-0 me-2">
                                            <i class="ti ti-check ti-xs"></i>
                                        </span>
                                        ุทุฑุงุญ ุณุงุช ุงุฎุชุตุงุต
                                    </h5>
                                </li>
                                <li>
                                    <h5 class="fw-medium">
                                        <span class="badge badge-center rounded-pill bg-primary p-0 me-2">
                                            <i class="ti ti-check ti-xs"></i>
                                        </span>
                                        ุทุฑุงุญ ุณุงุช ูุฑุฏูพุฑุณ
                                    </h5>
                                </li>
                                <li>
                                    <h5 class="fw-medium">
                                        <span class="badge badge-center rounded-pill bg-primary p-0 me-2">
                                            <i class="ti ti-check ti-xs"></i>
                                        </span>
                                        ุทุฑุงุญ ููุช ุจุตุฑ
                                    </h5>
                                </li>
                                <li>
                                    <h5 class="fw-medium">
                                        <span class="badge badge-center rounded-pill bg-primary p-0 me-2">
                                            <i class="ti ti-check ti-xs"></i>
                                        </span>
                                        ุฏุฌุชุงู ูุงุฑฺฉุชูฺฏ
                                    </h5>
                                </li>
                                <li>
                                    <h5 class="fw-medium">
                                        <span class="badge badge-center rounded-pill bg-primary p-0 me-2">
                                            <i class="ti ti-check ti-xs"></i>
                                        </span>
                                        ูพฺฉ ฺฉุงูู ฺฏุฑุงูฺฉ
                                    </h5>
                                </li>
                                <li>
                                    <h5 class="fw-medium">
                                        <span class="badge badge-center rounded-pill bg-primary p-0 me-2">
                                            <i class="ti ti-check ti-xs"></i>
                                        </span>
                                        ุงูพูฺฉุดู pwa
                                    </h5>
                                </li>
                            </ul>
                            <div class="d-grid mt-4 pt-3">
                                <a href="PaymentPage" class="btn btn-primary">ุดุฑูุน ฺฉูุฏ</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Favourite Plan: End -->
                <!-- Standard Plan: Start -->
                <div class="col-xl-4 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="text-center">
                                <img src="~/img/front-pages/icons/shuttle-rocket.png" alt="shuttle rocket icon" class="mb-4 pb-2" />
                                <h4 class="mb-2">ุชูุฌุงุฑุกุก</h4>
                                <div class="d-flex align-items-center justify-content-center">
                                    <span class="price-monthly h1 text-primary fw-bold mb-0">
                                        <bdi>
                                            <svg class="toman" width="1rem" height="1rem">
                                                <use xlink:href="#toman">
                                                    <symbol id="toman" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                                        <path clip-rule="evenodd" d="M3.057 1.742L3.821 1l.78.75-.776.741-.768-.749zm3.23 2.48c0 .622-.16 1.111-.478 1.467-.201.221-.462.39-.783.505a3.251 3.251 0 01-1.083.163h-.555c-.421 0-.801-.074-1.139-.223a2.045 2.045 0 01-.9-.738A2.238 2.238 0 011 4.148c0-.059.001-.117.004-.176.03-.55.204-1.158.525-1.827l1.095.484c-.257.532-.397 1-.419 1.403-.002.04-.004.08-.004.12 0 .252.055.458.166.618a.887.887 0 00.5.354c.085.028.178.048.278.06.079.01.16.014.243.014h.555c.458 0 .769-.081.933-.244.14-.139.21-.383.21-.731V2.02h1.2v2.202zm5.433 3.184l-.72-.7.709-.706.735.707-.724.7zm-2.856.308c.542 0 .973.19 1.293.569.297.346.445.777.445 1.293v.364h.18v-.004h.41c.221 0 .377-.028.467-.084.093-.055.14-.14.14-.258v-.069c.004-.243.017-1.044 0-1.115L13 8.05v1.574a1.4 1.4 0 01-.287.863c-.306.405-.804.607-1.495.607h-.627c-.061.733-.434 1.257-1.117 1.573-.267.122-.58.21-.937.265a5.845 5.845 0 01-.914.067v-1.159c.612 0 1.072-.082 1.38-.247.25-.132.376-.298.376-.499h-.515c-.436 0-.807-.113-1.113-.339-.367-.273-.55-.667-.55-1.18 0-.488.122-.901.367-1.24.296-.415.728-.622 1.296-.622zm.533 2.226v-.364c0-.217-.048-.389-.143-.516a.464.464 0 00-.39-.187.478.478 0 00-.396.187.705.705 0 00-.136.449.65.65 0 00.003.067c.008.125.066.22.177.283.093.054.21.08.352.08h.533zM9.5 6.707l.72.7.724-.7L10.209 6l-.709.707zm-6.694 4.888h.03c.433-.01.745-.106.937-.29.024.012.065.035.12.068l.074.039.081.042c.135.073.261.133.379.18.345.146.67.22.977.22a1.216 1.216 0 00.87-.34c.3-.285.449-.714.449-1.286a2.19 2.19 0 00-.335-1.145c-.299-.457-.732-.685-1.3-.685-.502 0-.916.192-1.242.575-.113.132-.21.284-.294.456-.032.062-.06.125-.084.191a.504.504 0 00-.03.078 1.67 1.67 0 00-.022.06c-.103.309-.171.485-.205.53-.072.09-.214.14-.427.147-.123-.005-.209-.03-.256-.076-.057-.054-.085-.153-.085-.297V7l-1.201-.5v3.562c0 .261.048.496.143.703.071.158.168.296.29.413.123.118.266.211.43.28.198.084.42.13.665.136v.001h.036zm2.752-1.014a.778.778 0 00.044-.353.868.868 0 00-.165-.47c-.1-.134-.217-.201-.35-.201-.18 0-.33.103-.447.31-.042.071-.08.158-.114.262a2.434 2.434 0 00-.04.12l-.015.053-.015.046c.142.118.323.216.544.293.18.062.325.092.433.092.044 0 .086-.05.125-.152z" fill-rule="evenodd"></path>
                                                    </symbol>
                                                </use>
                                            </svg>
                                            25ูฌ000ูฌ000
                                        </bdi>
                                    </span>
                                    <span class="price-yearly h1 text-primary fw-bold mb-0 d-none">
                                        <bdi>
                                            <svg class="toman" width="1rem" height="1rem">
                                                <use xlink:href="#toman">
                                                    <symbol id="toman" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                                        <path clip-rule="evenodd" d="M3.057 1.742L3.821 1l.78.75-.776.741-.768-.749zm3.23 2.48c0 .622-.16 1.111-.478 1.467-.201.221-.462.39-.783.505a3.251 3.251 0 01-1.083.163h-.555c-.421 0-.801-.074-1.139-.223a2.045 2.045 0 01-.9-.738A2.238 2.238 0 011 4.148c0-.059.001-.117.004-.176.03-.55.204-1.158.525-1.827l1.095.484c-.257.532-.397 1-.419 1.403-.002.04-.004.08-.004.12 0 .252.055.458.166.618a.887.887 0 00.5.354c.085.028.178.048.278.06.079.01.16.014.243.014h.555c.458 0 .769-.081.933-.244.14-.139.21-.383.21-.731V2.02h1.2v2.202zm5.433 3.184l-.72-.7.709-.706.735.707-.724.7zm-2.856.308c.542 0 .973.19 1.293.569.297.346.445.777.445 1.293v.364h.18v-.004h.41c.221 0 .377-.028.467-.084.093-.055.14-.14.14-.258v-.069c.004-.243.017-1.044 0-1.115L13 8.05v1.574a1.4 1.4 0 01-.287.863c-.306.405-.804.607-1.495.607h-.627c-.061.733-.434 1.257-1.117 1.573-.267.122-.58.21-.937.265a5.845 5.845 0 01-.914.067v-1.159c.612 0 1.072-.082 1.38-.247.25-.132.376-.298.376-.499h-.515c-.436 0-.807-.113-1.113-.339-.367-.273-.55-.667-.55-1.18 0-.488.122-.901.367-1.24.296-.415.728-.622 1.296-.622zm.533 2.226v-.364c0-.217-.048-.389-.143-.516a.464.464 0 00-.39-.187.478.478 0 00-.396.187.705.705 0 00-.136.449.65.65 0 00.003.067c.008.125.066.22.177.283.093.054.21.08.352.08h.533zM9.5 6.707l.72.7.724-.7L10.209 6l-.709.707zm-6.694 4.888h.03c.433-.01.745-.106.937-.29.024.012.065.035.12.068l.074.039.081.042c.135.073.261.133.379.18.345.146.67.22.977.22a1.216 1.216 0 00.87-.34c.3-.285.449-.714.449-1.286a2.19 2.19 0 00-.335-1.145c-.299-.457-.732-.685-1.3-.685-.502 0-.916.192-1.242.575-.113.132-.21.284-.294.456-.032.062-.06.125-.084.191a.504.504 0 00-.03.078 1.67 1.67 0 00-.022.06c-.103.309-.171.485-.205.53-.072.09-.214.14-.427.147-.123-.005-.209-.03-.256-.076-.057-.054-.085-.153-.085-.297V7l-1.201-.5v3.562c0 .261.048.496.143.703.071.158.168.296.29.413.123.118.266.211.43.28.198.084.42.13.665.136v.001h.036zm2.752-1.014a.778.778 0 00.044-.353.868.868 0 00-.165-.47c-.1-.134-.217-.201-.35-.201-.18 0-.33.103-.447.31-.042.071-.08.158-.114.262a2.434 2.434 0 00-.04.12l-.015.053-.015.046c.142.118.323.216.544.293.18.062.325.092.433.092.044 0 .086-.05.125-.152z" fill-rule="evenodd"></path>
                                                    </symbol>
                                                </use>
                                            </svg>
                                            20ูฌ000ูฌ000
                                        </bdi>
                                    </span>
                                </div>
                                <div class="position-relative pt-2">
                                    <div class="price-yearly text-muted price-yearly-toggle d-none">1ูฌ000ูฌ000ูฌ000 โุกุชุก ุฏุฑ ุณุงู</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    <h5 class="fw-medium">
                                        <span class="badge badge-center rounded-pill bg-label-primary p-0 me-2">
                                            <i class="ti ti-check ti-xs"></i>
                                        </span>
                                        ุงูพูฺฉุดู pwa
                                    </h5>
                                </li>
                                <li>
                                    <h5 class="fw-medium">
                                        <span class="badge badge-center rounded-pill bg-label-primary p-0 me-2">
                                            <i class="ti ti-check ti-xs"></i>
                                        </span>
                                        ูพฺฉ ฺฉุงูู ฺฏุฑุงูฺฉ
                                    </h5>
                                </li>
                                <li>
                                    <h5 class="fw-medium">
                                        <span class="badge badge-center rounded-pill bg-label-primary p-0 me-2">
                                            <i class="ti ti-check ti-xs"></i>
                                        </span>
                                        ุฏุฌุชุงู ูุงุฑฺฉุชูฺฏ
                                    </h5>
                                </li>
                                <li>
                                    <h5 class="fw-medium">
                                        <span class="badge badge-center rounded-pill bg-label-primary p-0 me-2">
                                            <i class="ti ti-check ti-xs"></i>
                                        </span>
                                        ุทุฑุงุญ ููุช ุจุตุฑ
                                    </h5>
                                </li>
                                <li>
                                    <h5 class="fw-medium">
                                        <span class="badge badge-center rounded-pill bg-label-primary p-0 me-2">
                                            <i class="ti ti-check ti-xs"></i>
                                        </span>
                                        ุทุฑุงุญ ุณุงุช ูุฑุฏูพุฑุณ
                                    </h5>
                                </li>
                                <li>
                                    <h5 class="fw-medium">
                                        <span class="badge badge-center rounded-pill bg-label-primary p-0 me-2">
                                            <i class="ti ti-check ti-xs"></i>
                                        </span>
                                        ุทุฑุงุญ ุณุงุช ุงุฎุชุตุงุต
                                    </h5>
                                </li>
                                <li>
                                    <h5 class="fw-medium">
                                        <span class="badge badge-center rounded-pill bg-label-primary p-0 me-2">
                                            <i class="ti ti-check ti-xs"></i>
                                        </span>
                                        ุชูุณุนู ุงูพูฺฉุดู ููุจุงู
                                    </h5>
                                </li>
                            </ul>
                            <div class="d-grid mt-4 pt-3">
                                <a href="PaymentPage" class="btn btn-label-primary">ุดุฑูุน ฺฉูุฏ</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Standard Plan: End -->
            </div>
        </div>
    </section>
    <!-- Pricing plans: End -->
    <!-- Fun facts: Start -->
    <section id="landingFunFacts" class="section-py landing-fun-facts">
        <div class="container">
            <div class="row gy-3">
                <div class="col-sm-6 col-lg-3">
                    <div class="card border border-label-primary shadow-none">
                        <div class="card-body text-center">
                            <img src="~/img/front-pages/icons/laptop.png" alt="laptop" class="mb-2" />
                            <h5 class="h2 mb-1">7.1k+</h5>
                            <p class="fw-medium mb-0">
                                ุชฺฉุชโูุง ูพุดุชุจุงู
                                <br />
                                ุฑูุน ูุดฺฉู ุดุฏู
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border border-label-success shadow-none">
                        <div class="card-body text-center">
                            <img src="~/img/front-pages/icons/user-success.png" alt="laptop" class="mb-2" />
                            <h5 class="h2 mb-1">50k+</h5>
                            <p class="fw-medium mb-0">
                                ูุดุชุฑ ุจุง ูุง
                                <br />
                                ููฺฉุงุฑ ฺฉุฑุฏูุฏ
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border border-label-info shadow-none">
                        <div class="card-body text-center">
                            <img src="~/img/front-pages/icons/diamond-info.png" alt="laptop" class="mb-2" />
                            <h5 class="h2 mb-1">4.8/5</h5>
                            <p class="fw-medium mb-0">
                                ุฏุงุฑุง ุงูุชุงุฒ ุจุงูุง
                                <br />
                                ู ุฑุถุงุช ฺฉุงุฑุจุฑุงู
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border border-label-warning shadow-none">
                        <div class="card-body text-center">
                            <img src="~/img/front-pages/icons/check-warning.png" alt="laptop" class="mb-2" />
                            <h5 class="h2 mb-1">100%</h5>
                            <p class="fw-medium mb-0">
                                ุถูุงูุช ุจุฑฺฏุดุช ูุฌู
                                <br />
                                ุฏุฑุตูุฑุช ุนุฏู ุฑุถุงุช
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fun facts: End -->
    <!-- FAQ: Start -->
    <section id="landingFAQ" class="section-py bg-body landing-faq">
        <div class="container">
            <div class="text-center mb-3 pb-1">
                <span class="badge bg-label-primary">ุณูุงูุงุช</span>
            </div>
            <h3 class="text-center mb-1">
                <span class="section-title">ุณูุงูุงุช ูพุฑุชฺฉุฑุงุฑ</span>
                <span class="position-relative fw-bold z-1">
                    ฺฉุงุฑุจุฑุงู ูุง
                </span>
            </h3>
            <p class="text-center mb-5 pb-3">ุจุฑุง ุงูุชู ูพุงุณุฎ ุณูุงูุงุช ุฎูุฏุ ุขุชู ูุง ุฒุฑ ุฑุง ุจุฑุฑุณ ฺฉูุฏ.</p>
            <div class="row gy-5">
                <div class="col-lg-5">
                    <div class="text-center">
                        <img src="~/img/front-pages/landing-page/faq-boy-with-logos.png" alt="faq boy with logos" class="faq-image" />
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="accordion" id="accordionExample">
                        <div class="card accordion-item active">
                            <h2 class="accordion-header" id="headingOne">
                                <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionOne" aria-expanded="true" aria-controls="accordionOne">
                                    ุขุง ููุฑู ุงูพุณูู ฺฉ ูุชู ุณุงุฎุชฺฏ ูุงููููู ุงุณุช ุ
                                </button>
                            </h2>

                            <div id="accordionOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <div class="accordion-body"> ููุฑู ุงูพุณูู ูุชู ุณุงุฎุชฺฏ ุจุง ุชููุฏ ุณุงุฏฺฏ ูุงููููู ุงุฒ ุตูุนุช ฺุงูพ ู ุจุง ุงุณุชูุงุฏู ุงุฒ ุทุฑุงุญุงู ฺฏุฑุงูฺฉ ุงุณุช ฺุงูพฺฏุฑูุง ู ูุชูู ุจูฺฉู ุฑูุฒูุงูู ู ูุฌูู ุฏุฑ ุณุชูู ู ุณุทุฑุขูฺูุงู ฺฉู ูุงุฒู ุงุณุช.</div>
                            </div>
                        </div>
                        <div class="card accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionTwo" aria-expanded="false" aria-controls="accordionTwo">
                                    ุขุง ููุฑู ุงูพุณูู ฺฉ ูุชู ุณุงุฎุชฺฏ ูุงููููู ุงุณุช ุ
                                </button>
                            </h2>
                            <div id="accordionTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body"> ููุฑู ุงูพุณูู ูุชู ุณุงุฎุชฺฏ ุจุง ุชููุฏ ุณุงุฏฺฏ ูุงููููู ุงุฒ ุตูุนุช ฺุงูพ ู ุจุง ุงุณุชูุงุฏู ุงุฒ ุทุฑุงุญุงู ฺฏุฑุงูฺฉ ุงุณุช ฺุงูพฺฏุฑูุง ู ูุชูู ุจูฺฉู ุฑูุฒูุงูู ู ูุฌูู ุฏุฑ ุณุชูู ู ุณุทุฑุขูฺูุงู ฺฉู ูุงุฒู ุงุณุช.</div>
                            </div>
                        </div>
                        <div class="card accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionThree" aria-expanded="false" aria-controls="accordionThree">
                                    ุขุง ููุฑู ุงูพุณูู ฺฉ ูุชู ุณุงุฎุชฺฏ ูุงููููู ุงุณุช ุ
                                </button>
                            </h2>
                            <div id="accordionThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body"> ููุฑู ุงูพุณูู ูุชู ุณุงุฎุชฺฏ ุจุง ุชููุฏ ุณุงุฏฺฏ ูุงููููู ุงุฒ ุตูุนุช ฺุงูพ ู ุจุง ุงุณุชูุงุฏู ุงุฒ ุทุฑุงุญุงู ฺฏุฑุงูฺฉ ุงุณุช ฺุงูพฺฏุฑูุง ู ูุชูู ุจูฺฉู ุฑูุฒูุงูู ู ูุฌูู ุฏุฑ ุณุชูู ู ุณุทุฑุขูฺูุงู ฺฉู ูุงุฒู ุงุณุช.</div>
                            </div>
                        </div>
                        <div class="card accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionFour" aria-expanded="false" aria-controls="accordionFour">
                                    ุขุง ููุฑู ุงูพุณูู ฺฉ ูุชู ุณุงุฎุชฺฏ ูุงููููู ุงุณุช ุ
                                </button>
                            </h2>
                            <div id="accordionFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body"> ููุฑู ุงูพุณูู ูุชู ุณุงุฎุชฺฏ ุจุง ุชููุฏ ุณุงุฏฺฏ ูุงููููู ุงุฒ ุตูุนุช ฺุงูพ ู ุจุง ุงุณุชูุงุฏู ุงุฒ ุทุฑุงุญุงู ฺฏุฑุงูฺฉ ุงุณุช ฺุงูพฺฏุฑูุง ู ูุชูู ุจูฺฉู ุฑูุฒูุงูู ู ูุฌูู ุฏุฑ ุณุชูู ู ุณุทุฑุขูฺูุงู ฺฉู ูุงุฒู ุงุณุช.</div>
                            </div>
                        </div>
                        <div class="card accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionFive" aria-expanded="false" aria-controls="accordionFive">
                                    ุขุง ููุฑู ุงูพุณูู ฺฉ ูุชู ุณุงุฎุชฺฏ ูุงููููู ุงุณุช ุ
                                </button>
                            </h2>
                            <div id="accordionFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                <div class="accordion-body"> ููุฑู ุงูพุณูู ูุชู ุณุงุฎุชฺฏ ุจุง ุชููุฏ ุณุงุฏฺฏ ูุงููููู ุงุฒ ุตูุนุช ฺุงูพ ู ุจุง ุงุณุชูุงุฏู ุงุฒ ุทุฑุงุญุงู ฺฏุฑุงูฺฉ ุงุณุช ฺุงูพฺฏุฑูุง ู ูุชูู ุจูฺฉู ุฑูุฒูุงูู ู ูุฌูู ุฏุฑ ุณุชูู ู ุณุทุฑุขูฺูุงู ฺฉู ูุงุฒู ุงุณุช.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FAQ: End -->
    <!-- CTA: Start -->
    <section id="landingCTA" class="section-py landing-cta position-relative p-lg-0 pb-0">
        <div class="container">
            <div class="row align-items-center gy-5 gy-lg-0">
                <div class="col-lg-6 text-center text-lg-start">
                    <h6 class="h2 text-primary fw-bold mb-3">ุจุฑุง ุดุฑูุน ุขูุงุฏู ุงุฏุ</h6>
                    <p class="fw-medium mb-4">ุงุฒ ุฏูุฑู ุขุฒูุงุด 14 ุฑูุฒู ูุง ุฌูุช ฺฉุณุจ ุงุทููุงู ุงุณุชูุงุฏู ฺฉูุฏ.</p>
                    <a href="PaymentPage" class="btn btn-lg btn-primary">ุดุฑูุน ฺฉูุฏ</a>
                </div>
                <div class="col-lg-6 pt-lg-5 text-center text-lg-end">
                    <img src="~/img/front-pages/landing-page/cta-dashboard.png" alt="cta dashboard" class="img-fluid" />
                </div>
            </div>
        </div>
    </section>
    <!-- CTA: End -->
    <!-- Contact Us: Start -->
    <section id="landingContact" class="section-py bg-body landing-contact">
        <div class="container">
            <div class="text-center mb-3 pb-1">
                <span class="badge bg-label-primary">ุงุฑุชุจุงุท ุจุง ูุง</span>
            </div>
            <h3 class="text-center mb-3 fw-medium">
                <span class="position-relative fw-bold z-1 section-title">
                    ุงุฑุชุจุงุท ูุณุชูู ุจุง ุชู ูุง
                </span>

            </h3>
            <p class="text-center mb-4 mb-lg-5 pb-md-3">ูุฑ ุณูุงู ุง ูฺฉุชู ุงุ ููุท ุจุฑุง ูุง ุงู ูพุงู ุจููุณ</p>
            <div class="row gy-4">
                <div class="col-lg-5">
                    <div class="contact-img-box position-relative border p-2 h-100">
                        <img src="~/img/front-pages/icons/contact-border.png" alt="contact border" class="contact-border-img position-absolute d-none d-md-block scaleX-n1-rtl" />
                        <img src="~/img/front-pages/landing-page/contact-customer-service.png" alt="contact customer service" class="contact-img w-100 scaleX-n1-rtl" />
                        <div class="pt-3 px-4 pb-1">
                            <div class="row gy-3 gx-md-4">
                                <div class="col-md-6 col-lg-12 col-xl-6">
                                    <div class="d-flex align-items-center">
                                        <div class="badge bg-label-primary rounded p-2 me-2"><i class="ti ti-mail ti-sm"></i></div>
                                        <div>
                                            <p class="mb-1">ุงูู</p>
                                            <h5 class="mb-0">
                                                <a href="mailto:info@mrshoofer.ir" class="text-heading">info@mrshoofer.ir</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-12 col-xl-6">
                                    <div class="d-flex align-items-center">
                                        <div class="badge bg-label-success rounded p-2 me-2">
                                            <i class="ti ti-phone-call ti-sm"></i>
                                        </div>
                                        <div>
                                            <p class="mb-1">ุชููู</p>
                                            <h5 class="mb-0"><a href="tel:+989902063015" class="text-heading">+98 990 206 3015</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-2">ุงุฑุชุจุงุท ุจุง ูุณุชุฑุดููุฑ</h4>
                            <p class="mb-4">
                                ุงฺฏุฑ ุตุญุจุช ุจุง ูุง ุฏุงุฑุฏ ูุทูุง ุฏุฑ ุจุงฺฉุณ ุฒุฑ ุจููุณุฏ ูุซู ุงูุชูุงุฏุงุช ู ูพุดููุงุฏุงุช ุ ููฺฉุงุฑุ
                                <br class="d-none d-lg-block" />
                              ู ... ูุง ุฏุฑ ุฎุฏูุช ุดูุง ูุณุชู.
                            </p>
                            <form>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label" for="contact-form-fullname">ูุงู ู ูุงู ุฎุงููุงุฏฺฏ</label>
                                        <input class="form-control" id="contact-form-fullname" placeholder="ุงูุฑ" type="text" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label" for="contact-form-email">ุงูู</label>
                                        <input class="form-control" id="contact-form-email" placeholder="johndoe@gmail.com" type="text" />
                                    </div>
                                    <div class="col-12">
                                        <label class="form-label" for="contact-form-message">ูพุงู</label>
                                        <textarea class="form-control" id="contact-form-message" placeholder="ูพุงู ุฎูุฏ ุฑุง ุจููุณุฏ" rows="8"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary" type="submit">ุงุฑุณุงู ูพุงู</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us: End -->
</div>
