@{
    Layout = "_FrontLayout";

    ViewData["Title"] = "ุณูุงุฑ ุจู ุดูุฑ";
}

@section VendorStyles {
    <link href="~/vendor/css/pages/front-page-landing.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.css" />
    <link rel="stylesheet" href="~/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css" />
    <link rel="stylesheet" href="~/vendor/libs/jquery-timepicker/jquery-timepicker.css" />
    <link rel="stylesheet" href="~/vendor/libs/pickr/pickr-themes.css" />

    <link href="~/vendor/css/pages/front-page-landing.css" rel="stylesheet" />
    <link href="~/css/IndexPage.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.css" />
    <link rel="stylesheet" href="~/vendor/libs/animate-css/animate.css" />

}

@section VendorScripts {
    <script src="~/libs/jquery.js"></script>

    <script src="~/vendor/js/dropdown-hover.js"></script>
    <script src="~/vendor/js/dropdown-hover.js"></script>

    <script src="~/libs/jquery.js"> </script>
    <script src="~/vendor/libs/moment/moment.js"></script>
    <script src="~/vendor/libs/jdate/jdate.min.js"></script>
    <script src="~/vendor/libs/flatpickr/flatpickr-jdate.js"></script>
    <script src="~/vendor/libs/flatpickr/l10n/fa.js"></script>
    <script src="~/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>
    <script src="~/vendor/libs/jquery-timepicker/jquery-timepicker.js"></script>
    <script src="~/vendor/libs/pickr/pickr.js"></script>
    <script src="~/js/IndexPage.js"> </script>
    <script src="~/js/searchpage.js"></script>

    <script src="~/vendor/libs/sweetalert2/sweetalert2.js"></script>
    <script src="~/js/extended-ui-sweetalert2.js"></script>
}

@section PageScripts {

}


<div data-bs-spy="scroll" class="scrollspy-example">

    <!-- Hero: Start -->
    <section id="hero-animation">
        <div id="landingHero" style="" class="section-py landing-hero position-relative">
            <div class="container">
                <div class="hero-text-box text-center">
                    <h1 class="text-primary text-center hero-title display-6 fw-bold d-inline ">
                        ุงูุฌุง ููุดู ุฑุงูู ูุณุช

                    </h1>

                    <h2 class="hero-sub-title h6 mb-4 mt-2 pb-1 lh-2">
                        ูพูู ุณุงุฒูุงู ูุณุชุฑุดููุฑ
                        <br class="d-none d-lg-block" />
                        ุฎุฑุฏ ุจูุท ุชุงฺฉุณ ุจู ุดูุฑ

                    </h2>


                    @* <div class="landing-hero-btn d-inline-block position-relative">
                    <span class="hero-btn-item position-absolute d-none d-md-flex text-heading">
                    ูุฑุตุช ุงุณุชุซูุงุกุก
                    <img alt="ูพฺฉุงู ุงูุฌูู" class="scaleX-n1-rtl" src="~/img/front-pages/icons/Join-community-arrow.png" />
                    </span>
                    <a class="btn btn-primary btn-lg" href="#landingPricing">ุฎูุฑุฏ ุงุฒ ูุงุฑฺฉุฆุฆุช ุฑุงุณูุชฺู</a>
                    </div> *@
                </div>
                @*  <div id="heroDashboardAnimation" class="hero-animation-img">
                <a href="/Apps/Ecommerce/Dashboard" target="_blank">
                <div id="heroAnimationImg" class="position-relative hero-dashboard-img">
                <img src="~/img/front-pages/landing-page/hero-dashboard-light.png" alt="hero dashboard" class="animation-img" data-app-light-img="front-pages/landing-page/hero-dashboard-light.png" data-app-dark-img="front-pages/landing-page/hero-dashboard-dark.png" />
                <img src="~/img/front-pages/landing-page/hero-elements-light.png" alt="hero elements" class="position-absolute hero-elements-img animation-img top-0 start-0" data-app-light-img="front-pages/landing-page/hero-elements-light.png" data-app-dark-img="front-pages/landing-page/hero-elements-dark.png" />
                </div>
                </a>
                </div> *@


                <div class="row">
                    <div class="col-lg-2 col-0"></div>
                    <div class="row col-lg-8 col-12 m-0">
                        <div class="card mb-3">
                            <div class="card-body row pb-4">
                                <div class="card-header d-flex justify-content-between p-0 mb-4" style="">
                                    <div class="d-flex justify-content-between align-items-start" style="flex-direction: column;">

                                        <h4 class="mb-0 ">
                                            <img class="pe-1 image" src="/caronraod.png" width="80px" />
                                            ุฌุณุชุฌู โุณูุงุฑ
                                        </h4>

                                        <lable class="mt-2 ms-md-2 lh-base">
                                            ูุณุชุฑุดููุฑุ ุงุฑุงุฆู ุฏููุฏู ุณูุฑูุง ุจู ุดูุฑ ู ุชุฑุงูุณูุฑ ูุฑูุฏฺฏุงู
                                            <br />
                                            <span class="fw-light mt-1">
                                                ุจุง ุจุงูุงุชุฑู ฺฉูุช ุณุฑูุณ ู ุจูุชุฑู ุฎูุฏุฑููุง
                                                <i class="ti ti-circle-check" style="color: blue;"></i>
                                                @* <img src="/vip_badge.png" style="height:29px;" class="ms-1" /> *@
                                            </span>
                                        </lable>
                                    </div>

                                    <img src="/mrshoofer_cars_banner.png" class="me-2" height="90px" />

                                </div>

                                <form asp-controller="TaxiTrips" asp-action="Index" method="get" class="row m-0" id="tripForm">
                                    <div class="col-12 col-md-3 inputcel">
                                        <div class="form-text d-md-none d-block" id="defaultFormControlHelp">ุดูุฑ ูุจุฏุง ุณูุฑ</div>

                                        <div class="input-container">
                                            <input autocomplete="off" aria-describedby="defaultFormControlHelp" data-bs-toggle="dropdown" class="form-control origin input-field dropdown-toggle" id="origin_input" placeholder="ูุจุฏุง" type="text" role="button" name="originstring" />
                                            <i class="ti ti-location mb-2 icon"></i>

                                            <span class="dropdown-menu dropdown-menu-end origin_location" style="inset:unset !important; min-width:230px;">



                                                @*  <div class="city">
                                                <a class="dropdown-item" href="javascript:void(0);">
                                                ุชูุฑุงู
                                                <small class="" >
                                                (ููู ูพุงุงููโูุง)
                                                </small>

                                                </a>

                                                <div class="terminals ms-3">
                                                <a class="dropdown-item" href="javascript:void(0);">ูพุงุงูู ุจูู</a>
                                                <a class="dropdown-item" href="javascript:void(0);">ูพุงุงูู ุขุฒุงุฏ</a>
                                                <a class="dropdown-item" href="javascript:void(0);">ูพุงุงูู ุดุฑู</a>
                                                <a class="dropdown-item" href="javascript:void(0);">ูพุงุงูู ุบุฑุจ</a>

                                                </div>
                                                </div> *@
                                            </span>
                                        </div>
                                        <div class="form-text d-md-block d-none" id="defaultFormControlHelp">ุดูุฑ ูุจุฏุง ุณูุฑ</div>
                                    </div>

                                    <div class="col-12 col-md-3 inputcel">
                                        <div class="form-text d-block d-md-none" id="defaultFormControlHelp">ุดูุฑ ููุตุฏ ุณูุฑ</div>

                                        <div class="input-container">
                                            <input data-bs-toggle="dropdown" autocomplete="off" class="form-control destination input-field dropdown-toggle" id="destination_input" placeholder="ููุตุฏ" type="text" role="button" name="destinationstring" />
                                            <i class="ti ti-map-pin mb-2 icon"></i>
                                            <span class="dropdown-menu dropdown-menu-end destination_location" style="inset:unset !important;  min-width:230px;">

                                                @*  <div class="city">
                                                <a class="dropdown-item" href="javascript:void(0);">
                                                ุชูุฑุงู
                                                <small class="" >
                                                (ููู ูพุงุงููโูุง)
                                                </small>

                                                </a>

                                                <div class="terminals ms-3">
                                                <a class="dropdown-item" href="javascript:void(0);">ูพุงุงูู ุจูู</a>
                                                <a class="dropdown-item" href="javascript:void(0);">ูพุงุงูู ุขุฒุงุฏ</a>
                                                <a class="dropdown-item" href="javascript:void(0);">ูพุงุงูู ุดุฑู</a>
                                                <a class="dropdown-item" href="javascript:void(0);">ูพุงุงูู ุบุฑุจ</a>

                                                </div>
                                                </div> *@
                                            </span>

                                        </div>
                                        <div class="form-text d-none d-md-block" id="defaultFormControlHelp">ุดูุฑ ููุตุฏ ุณูุฑ</div>
                                    </div>


                                    <div class="col-12 col-md-3 inputcel">
                                        <div class="form-text d-block d-md-none" id="defaultFormControlHelp">ุงูุชุฎุงุจ ุชุงุฑุฎ</div>

                                        <!-- /Human Friendly Date Picker-->
                                        <!-- Disabled Range-->

                                        <div class="input-container">
                                            <input autocomplete="off" class="form-control bdi starttimeselector searchdate" id="starttime" placeholder="ุชุงุฑุฎ ุณูุฑ" type="text" name="searchdate" />
                                            <i class="ti ti-calendar-stats mb-2 icon pe-0"></i>
                                        </div>
                                        <div class="form-text d-none d-md-block" id="defaultFormControlHelp">ุงูุชุฎุงุจ ุชุงุฑุฎ</div>


                                    </div>

                                    @*  <div class="col-1 inputcel ">

                                    <div class="input_con">
                                    <label class="switch switch-square switch-lg" onclick="JustPrivateSelected()">
                                    <input class="switch-input isprivate" type="checkbox">
                                    <span class="switch-toggle-slider text-center">
                                    <span class="switch-on">
                                    <i class="ti ti-armchair-2"></i>
                                    </span>
                                    <span class="switch-off">
                                    <i class="ti ti-sofa"></i>
                                    </span>
                                    </span>
                                    </label>
                                    </div>
                                    <div class="form-text" id="defaultFormControlHelp">
                                    <span class="justprivate_title">ุฏุฑุจุณุช</span>
                                    </div>


                                    </div> *@

                                    <div class="col-12 col-md-3 inputcel">
                                        <div class="ps-0 mt-4 mt-md-0 ">
                                            <button style="width:100%; border-radius: 1.2rem;" class="btn btn-primary waves-effect waves-light btn-lg" type="submit">
                                                ุจุฒู ุจุฑู
                                                <i class="ti ti-search"></i>
                                            </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-0"></div>
                </div>
            </div>
        </div>

        @* <div class="landing-hero-blank"></div> *@
    </section>
    <!-- Hero: End -->
    <!-- Useful features: Start -->
    <section id="landingFeatures" class="section-py landing-features">
        <div class="container">
            <div class="text-center mb-3 pb-1">
                <span class="badge bg-label-primary">ูฺ ูุณุงูุฑ ุจุฏูู ุจูุท ููโูููู! </span>
            </div>
            <h3 class="text-center mb-1 fw-medium">
                <span class="section-title">ูุณุชุฑุดููุฑ</span>
                ุณูุฑูุง ุณูุงุฑ ุจู ุดูุฑ ู ุชุฑุงูุณูุฑ ูุฑูุฏฺฏุงู
            </h3>

            <p class="text-center">
                ุณุฑุนุชุฑู ู ุฑุงุญุช ุชุฑู ุฑุงู ุญู ูุจูุฏ ุจูุท ููุงูพูุง. VIPุ ุณุฑุนุ ุฑุงุญุช
            </p>

            <p class="text-center mb-3 mb-md-5 pb-3 fw-lighter">
                ุขูุงุฏู ุฎุฏูุช ุฑุณุงู ุจู ุดูุง ู ูุดุชุฑุงูโุงุฑุฌููุฏุชุงู
            </p>
            <div class="features-icon-wrapper row gx-0 gy-4 g-sm-5">
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="~/img/front-pages/icons/laptop.png" alt="laptop charging" />
                    </div>
                    <h5 class="mb-2">ุฏุณุชุฑุณ ุขุณุงู</h5>
                    <p class="features-icon-description">ุฏุณุชุฑุณ ุจู ูุงูฺฏุงู ูุชููุน ู ููุดู ุขูุงุฏู ุจู ฺฉุงุฑ ูุณุชุฑุดููุฑุ ุจุง ฺฉูุช ุจุงูุง ู ุฑุงููุฏฺฏุงู ุชุงุฏ ุดุฏูุ ุจุฑุง ูุดุชุฑุงู ุดูุง</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="/taxi.png" height="66px" alt="transition up" />
                    </div>
                    <h5 class="mb-2">ูุงูฺฏุงู ูุณุน ู ุขูุงุฏู</h5>
                    <p class="features-icon-description">
                        ุฎุฏูุงุช ฺฏุณุชุฑุฏู ูุณุชุฑุดููุฑ ุจุง ููุฌูุฏ ฺฉุงูู ู ูุงูฺฏุงู ุจุง ุธุฑูุช ุจุงูุงุ ููุดู ุขูุงุฏู ุฎุฏูุชโุฑุณุงู ู ุชุงูู
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="~/img/front-pages/icons/paper.png" alt="edit" />
                    </div>
                    <h5 class="mb-2">ุชุงูู ุณุฑุนุ ุงุฑุชุจุงุท ูุณุชูุฑ</h5>
                    <p class="features-icon-description">ูุณุชุฑุดููุฑ ุฏุฑ ุณุฑุนุชุฑู ุฒูุงูุ ุจุฑุง ูุณุงูุฑุงู ุดูุง ุณุฑูุณ ููุงุณุจ ุฑุง ุชุงูู ูโฺฉูุฏ</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="~/img/front-pages/icons/check.png" alt="3d select solid" />
                    </div>
                    <h5 class="mb-2">ุฑุงููุฏฺฏุงู ู ุฎูุฏุฑูโูุง ุชุงุฏ ุดุฏู</h5>
                    <p class="features-icon-description">
                        ุงุฑุงุฆู ุจุง ฺฉูุช ุชุฑู ุฎุฏูุงุช ุณูุฑ ุจูโุดูุฑ ู ุชุฑุงูุณูุฑ ุงุฎุชุตุงุต ุจุง ุฑุงููุฏูโ ุฏุฑ ุงุฎุชุงุฑ
                        ุจุฑุง ุจูุชุฑู ุชุฌุฑุจู
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="~/img/front-pages/icons/user.png" alt="lifebelt" />
                    </div>
                    <h5 class="mb-2">ูพุดุชุจุงู ูพุงุณุฎฺฏู 24/7</h5>
                    <p class="features-icon-description">ูพุดุชุจุงู ุณุฑุน ู ูุนุงูุ ุขูุงุฏู ูพุงุณุฎฺฏู ุจู ุณูุงูุงุช ุดูุง ู ูุดุชุฑุงู ุดูุง โค๏ธ๐</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                    <div class="text-center mb-3">
                        <img src="~/img/front-pages/icons/keyboard.png" alt="google docs" />
                    </div>
                    <h5 class="mb-2">ุจูุท ุดุฎุต ุณุงุฒ ุดุฏู ุจุฑุง ูุดุชุฑุงู</h5>
                    <p class="features-icon-description">ูุงุจูุช ุดุฎุต ุณุงุฒ ุจูุท ุชูุณุท ุดูุงุ ุจุฑุง ูุดุชุฑุงู ุฎูุฏ. ูุงุจูุช ุฏุฑุฌ ููุช ุฏูุฎูุงู</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Useful features: End -->
    <!-- Real customers reviews: Start -->
    <!-- Real customers reviews: End -->
    <!-- Our great team: Start -->
    <!-- Our great team: End -->
    <!-- Pricing plans: Start -->
    <!-- Pricing plans: End -->
    <!-- Fun facts: Start -->
   @*  <section id="landingFunFacts" class="section-py landing-fun-facts">
        <div class="container">
            <div class="row gy-3">
                <div class="col-sm-6 col-lg-3">
                    <div class="card border border-label-primary shadow-none">
                        <div class="card-body text-center">
                            <img src="~/img/front-pages/icons/laptop.png" alt="laptop" class="mb-2" />
                            <h5 class="h2 mb-1">7.1k+</h5>
                            <p class="fw-medium mb-0">
                                ุชฺฉุชโูุง ูพุดุชุจุงู
                                <br />
                                ุฑูุน ูุดฺฉู ุดุฏู
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border border-label-success shadow-none">
                        <div class="card-body text-center">
                            <img src="~/img/front-pages/icons/user-success.png" alt="laptop" class="mb-2" />
                            <h5 class="h2 mb-1">50k+</h5>
                            <p class="fw-medium mb-0">
                                ูุดุชุฑ ุจุง ูุง
                                <br />
                                ููฺฉุงุฑ ฺฉุฑุฏูุฏ
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border border-label-info shadow-none">
                        <div class="card-body text-center">
                            <img src="~/img/front-pages/icons/diamond-info.png" alt="laptop" class="mb-2" />
                            <h5 class="h2 mb-1">4.8/5</h5>
                            <p class="fw-medium mb-0">
                                ุฏุงุฑุง ุงูุชุงุฒ ุจุงูุง
                                <br />
                                ู ุฑุถุงุช ฺฉุงุฑุจุฑุงู
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card border border-label-warning shadow-none">
                        <div class="card-body text-center">
                            <img src="~/img/front-pages/icons/check-warning.png" alt="laptop" class="mb-2" />
                            <h5 class="h2 mb-1">100%</h5>
                            <p class="fw-medium mb-0">
                                ุถูุงูุช ุจุฑฺฏุดุช ูุฌู
                                <br />
                                ุฏุฑุตูุฑุช ุนุฏู ุฑุถุงุช
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> *@
    <!-- Fun facts: End -->
    <!-- FAQ: Start -->
    @* <section id="landingFAQ" class="section-py bg-body landing-faq">
        <div class="container">
            <div class="text-center mb-3 pb-1">
                <span class="badge bg-label-primary">ุณูุงูุงุช</span>
            </div>
            <h3 class="text-center mb-1">
                <span class="section-title">ุณูุงูุงุช ูพุฑุชฺฉุฑุงุฑ</span>
                <span class="position-relative fw-bold z-1">
                    ฺฉุงุฑุจุฑุงู ูุง
                </span>
            </h3>
            <p class="text-center mb-5 pb-3">ุจุฑุง ุงูุชู ูพุงุณุฎ ุณูุงูุงุช ุฎูุฏุ ุขุชู ูุง ุฒุฑ ุฑุง ุจุฑุฑุณ ฺฉูุฏ.</p>
            <div class="row gy-5">
                <div class="col-lg-5">
                    <div class="text-center">
                        <img src="~/img/front-pages/landing-page/faq-boy-with-logos.png" alt="faq boy with logos" class="faq-image" />
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="accordion" id="accordionExample">
                        <div class="card accordion-item active">
                            <h2 class="accordion-header" id="headingOne">
                                <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionOne" aria-expanded="true" aria-controls="accordionOne">
                                    ุขุง ููุฑู ุงูพุณูู ฺฉ ูุชู ุณุงุฎุชฺฏ ูุงููููู ุงุณุช ุ
                                </button>
                            </h2>

                            <div id="accordionOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <div class="accordion-body"> ููุฑู ุงูพุณูู ูุชู ุณุงุฎุชฺฏ ุจุง ุชููุฏ ุณุงุฏฺฏ ูุงููููู ุงุฒ ุตูุนุช ฺุงูพ ู ุจุง ุงุณุชูุงุฏู ุงุฒ ุทุฑุงุญุงู ฺฏุฑุงูฺฉ ุงุณุช ฺุงูพฺฏุฑูุง ู ูุชูู ุจูฺฉู ุฑูุฒูุงูู ู ูุฌูู ุฏุฑ ุณุชูู ู ุณุทุฑุขูฺูุงู ฺฉู ูุงุฒู ุงุณุช.</div>
                            </div>
                        </div>
                        <div class="card accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionTwo" aria-expanded="false" aria-controls="accordionTwo">
                                    ุขุง ููุฑู ุงูพุณูู ฺฉ ูุชู ุณุงุฎุชฺฏ ูุงููููู ุงุณุช ุ
                                </button>
                            </h2>
                            <div id="accordionTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body"> ููุฑู ุงูพุณูู ูุชู ุณุงุฎุชฺฏ ุจุง ุชููุฏ ุณุงุฏฺฏ ูุงููููู ุงุฒ ุตูุนุช ฺุงูพ ู ุจุง ุงุณุชูุงุฏู ุงุฒ ุทุฑุงุญุงู ฺฏุฑุงูฺฉ ุงุณุช ฺุงูพฺฏุฑูุง ู ูุชูู ุจูฺฉู ุฑูุฒูุงูู ู ูุฌูู ุฏุฑ ุณุชูู ู ุณุทุฑุขูฺูุงู ฺฉู ูุงุฒู ุงุณุช.</div>
                            </div>
                        </div>
                        <div class="card accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionThree" aria-expanded="false" aria-controls="accordionThree">
                                    ุขุง ููุฑู ุงูพุณูู ฺฉ ูุชู ุณุงุฎุชฺฏ ูุงููููู ุงุณุช ุ
                                </button>
                            </h2>
                            <div id="accordionThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body"> ููุฑู ุงูพุณูู ูุชู ุณุงุฎุชฺฏ ุจุง ุชููุฏ ุณุงุฏฺฏ ูุงููููู ุงุฒ ุตูุนุช ฺุงูพ ู ุจุง ุงุณุชูุงุฏู ุงุฒ ุทุฑุงุญุงู ฺฏุฑุงูฺฉ ุงุณุช ฺุงูพฺฏุฑูุง ู ูุชูู ุจูฺฉู ุฑูุฒูุงูู ู ูุฌูู ุฏุฑ ุณุชูู ู ุณุทุฑุขูฺูุงู ฺฉู ูุงุฒู ุงุณุช.</div>
                            </div>
                        </div>
                        <div class="card accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionFour" aria-expanded="false" aria-controls="accordionFour">
                                    ุขุง ููุฑู ุงูพุณูู ฺฉ ูุชู ุณุงุฎุชฺฏ ูุงููููู ุงุณุช ุ
                                </button>
                            </h2>
                            <div id="accordionFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body"> ููุฑู ุงูพุณูู ูุชู ุณุงุฎุชฺฏ ุจุง ุชููุฏ ุณุงุฏฺฏ ูุงููููู ุงุฒ ุตูุนุช ฺุงูพ ู ุจุง ุงุณุชูุงุฏู ุงุฒ ุทุฑุงุญุงู ฺฏุฑุงูฺฉ ุงุณุช ฺุงูพฺฏุฑูุง ู ูุชูู ุจูฺฉู ุฑูุฒูุงูู ู ูุฌูู ุฏุฑ ุณุชูู ู ุณุทุฑุขูฺูุงู ฺฉู ูุงุฒู ุงุณุช.</div>
                            </div>
                        </div>
                        <div class="card accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionFive" aria-expanded="false" aria-controls="accordionFive">
                                    ุขุง ููุฑู ุงูพุณูู ฺฉ ูุชู ุณุงุฎุชฺฏ ูุงููููู ุงุณุช ุ
                                </button>
                            </h2>
                            <div id="accordionFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                <div class="accordion-body"> ููุฑู ุงูพุณูู ูุชู ุณุงุฎุชฺฏ ุจุง ุชููุฏ ุณุงุฏฺฏ ูุงููููู ุงุฒ ุตูุนุช ฺุงูพ ู ุจุง ุงุณุชูุงุฏู ุงุฒ ุทุฑุงุญุงู ฺฏุฑุงูฺฉ ุงุณุช ฺุงูพฺฏุฑูุง ู ูุชูู ุจูฺฉู ุฑูุฒูุงูู ู ูุฌูู ุฏุฑ ุณุชูู ู ุณุทุฑุขูฺูุงู ฺฉู ูุงุฒู ุงุณุช.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> *@
    <!-- FAQ: End -->
    <!-- CTA: Start -->
    <section id="landingCTA" class="section-py landing-cta position-relative p-lg-0 pb-0">
        <div class="container">
            <div class="row align-items-center gy-5 gy-lg-0">
                <div class="col-lg-6 text-center text-lg-start">
                    <h6 class="h2 text-primary fw-bold mb-3">ุจุฑุง ุดุฑูุน ุขูุงุฏู ุงุฏุ</h6>
                    <p class="fw-medium mb-4 fs-5">ููู ุงูุงู ุงุฒ ูุงูฺฏุงู ฺฏุณุชุฑุฏู ูุณุชุฑุดููุฑ ุจูุฑู ููุฏ ุดูุฏ!</p>
                    <a href="#" class="btn btn-lg btn-primary">ุดุฑูุน ฺฉูุฏ</a>
                </div>
                <div class="col-lg-6 pt-lg-5 text-center text-lg-end">
                    <img src="/mrshooferserachdemo.png" alt="cta dashboard" class="img-fluid" style="max-height:250px;" />
                </div>
            </div>
        </div>
    </section>
    <!-- CTA: End -->
    <!-- Contact Us: Start -->
    <section id="landingContact" class="section-py bg-body landing-contact">
        <div class="container">
            <div class="text-center mb-3 pb-1">
                <span class="badge bg-label-primary">ุงุฑุชุจุงุท ุจุง ูุง</span>
            </div>
            <h3 class="text-center mb-3 fw-medium">
                <span class="position-relative fw-bold z-1 section-title">
                    ุงุฑุชุจุงุท ูุณุชูู ุจุง ูุณุชุฑุดููุฑ
                </span>

            </h3>
            <p class="text-center mb-4 mb-lg-5 pb-md-3">ุจุฑุง ุงุฑุชุจุงุท ูุณุชูู ุจุง ูุณุชุฑ ุดููุฑุ ุงุฒ ูุณูุช ุฒุฑ ุงุณุชูุงุฏู ฺฉูุฏ</p>
            <div class="row gy-4">
                <div class="col-lg-5">
                    <div class="contact-img-box position-relative border p-2 h-100">
                        <img src="~/img/front-pages/icons/contact-border.png" alt="contact border" class="contact-border-img position-absolute d-none d-md-block scaleX-n1-rtl" />
                        <img src="/callcenter.jpg " alt="contact customer service" class="contact-img w-100 scaleX-n1-rtl" />
                        <div class="pt-3 px-4 pb-1">
                            <div class="row gy-3 gx-md-4">
                                <div class="col-md-6 col-lg-12 col-xl-6">
                                    <div class="d-flex align-items-center">
                                        <div class="badge bg-label-primary rounded p-2 me-2"><i class="ti ti-mail ti-sm"></i></div>
                                        <div>
                                            <p class="mb-1">ุงูู</p>
                                            <h5 class="mb-0">
                                                <a href="mailto:info@mrshoofer.ir" class="text-heading">info@mrshoofer.ir</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-12 col-xl-6">
                                    <div class="d-flex align-items-center">
                                        <div class="badge bg-label-success rounded p-2 me-2">
                                            <i class="ti ti-phone-call ti-sm"></i>
                                        </div>
                                        <div>
                                            <p class="mb-1">ุชููู</p>
                                            <h5 class="mb-0" dir="ltr"><a href="tel:+989902063015" class="text-heading">09902063015</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-2">ุงุฑุชุจุงุท ุจุง ูุณุชุฑุดููุฑ</h4>
                            <p class="mb-4">
                                ุงฺฏุฑ ุตุญุจุช ุจุง ูุง ุฏุงุฑุฏ ูุทูุง ุฏุฑ ุจุงฺฉุณ ุฒุฑ ุจููุณุฏ ูุซู ุงูุชูุงุฏุงุช ู ูพุดููุงุฏุงุช ุ ููฺฉุงุฑุ
                                <br class="d-none d-lg-block" />
                                ู ... ูุง ุฏุฑ ุฎุฏูุช ุดูุง ูุณุชู.
                            </p>
                            <form id="contact-us">
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label" for="contact-form-fullname">ูุงู ู ูุงู ุฎุงููุงุฏฺฏ</label>
                                        <input name="name" class="form-control" id="name" placeholder="ูุงู ุฎูุฏ ุฑุง ูุงุฑุฏ ฺฉูุฏ" type="text" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label" for="contact-form-email">
                                            ุดูุงุฑู ุชููู

                                            <span class="text-danger">
                                                *
                                            </span>
                                        </label>
                                        <input required name="number" class="form-control" id="number" type="text" />
                                    </div>
                                    <div class="col-12">
                                        <label class="form-label" for="contact-form-message">ูพุงู
                                            <span class="text-danger">
                                                *
                                            </span>
                                        </label>
                                        <textarea required name="message" class="form-control" id="message" placeholder="ูพุงู ุฎูุฏ ุฑุง ุจููุณุฏ" rows="8"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary" type="submit">ุงุฑุณุงู ูพุงู</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us: End -->
</div>


<script>
    $(document).ready(function () {
        $('#contact-us').on('submit', function (event) {
            event.preventDefault();

            var name = $('#name').val();
            var number = $('#number').val();
            var message = $('#message').val();



            $.ajax({
                url: '/Message',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ name: name, number: number, message: message }),

                success: function (response) {
                    Swal.fire({
                        title: 'ูพุงู ุดูุง ุซุจุช ุดุฏ',
                        text: 'ุจุง ุชุดฺฉุฑ ุงุฒ ุดูุงุ ูพุงู ุดูุง ุฏุฑ ุงุณุฑุน ููุช ู ุจุง ุงุฑุฌุนุชุ ุชูุณุท ฺฉุงุฑุดูุงุณุงู ูุง ุจุฑุณ ุฎูุงูุฏ ุดุฏ.',
                        confirmButtonText: 'ุจุงุดู',
                        icon: 'success',
                        customClass: {
                            confirmButton: 'btn btn-primary waves-effect waves-light'
                        },
                        buttonsStyling: false
                    });
                    // Optionally, clear the form fields
                    $('#contact-us')[0].reset();
                },
                error: function (xhr, status, error) {
                    $('#contact-us')[0].reset();

                    Swal.fire({
                        icon: "error",
                        title: "ูพุงู ุดูุง ุซุจุช ูุดุฏ",
                        text: "ูพุงู ุดูุง ุฏุฑ ุณุณุชู ุซุจุช ูุดุฏ",
                    });
                }
            });
            
        });
    });
</script>
