@{
  ViewData["Title"] = "فرم ها - انتخابگر بازه";
}

@section VendorStyles {
<link rel="stylesheet" href="~/vendor/libs/nouislider/nouislider.css" />
}

@section VendorScripts {
<script src="~/vendor/libs/nouislider/nouislider.js"></script>
}

@section PageScripts {
<script src="~/js/forms-sliders.js"></script>
}
@* ************** Content ************** *@

<h4 class="py-3 mb-4">
  <span class="text-muted fw-light"> فرم ها /</span>
  انتخابگر بازه
</h4>
<!-- Noui Slider -->
<div class="row">
  <!-- Basic -->
  <div class="col-12">
    <div class="card mb-4">
      <h5 class="card-header">ساده</h5>
      <div class="card-body">
        <small class="text-light fw-medium">پایه</small>
        <div class="my-4" id="slider-basic"></div>
        <small class="text-light fw-medium">درجه بندی شده</small>
        <div class="mt-4 mb-5" id="slider-handles"></div>
        <small class="text-light fw-medium">بازه درجه بندی شده (بدون نمایش)</small>
        <div class="mt-4" id="slider-steps"></div>
      </div>
    </div>
  </div>
  <!-- /Basic -->
  <!-- Behaviour -->
  <div class="col-12">
    <div class="card mb-4">
      <h5 class="card-header">عملیات ها</h5>
      <div class="card-body">
        <small class="text-light fw-medium">ضربه زدن</small>
        <div class="mt-4 mb-5" id="slider-tap"></div>
        <small class="text-light fw-medium">جابجا کنید</small>
        <div class="mt-4 mb-5" id="slider-drag"></div>
        <small class="text-light fw-medium">کشیدن ثابت</small>
        <div class="mt-4 mb-5" id="slider-fixed-drag"></div>
        <small class="text-light fw-medium">گزینه های ترکیبی</small>
        <div class="mt-4 mb-5" id="slider-combined-options"></div>
        <small class="text-light fw-medium">شناور</small>
        <div class="mt-4 mb-2" id="slider-hover"></div>
        <small>مقدار شناور شده:
          <span id="slider-val">null</span>
        </small>
      </div>
    </div>
  </div>
  <!-- /Behaviour -->
  <!-- Scale & Pips -->
  <div class="col-12">
    <div class="card mb-4">
      <h5 class="card-header">مقیاس و درجه</h5>
      <div class="card-body pb-5">
        <div class="my-3" id="slider-pips"></div>
      </div>
    </div>
  </div>
  <!-- /Scale & Pips -->
  <!-- Colors -->
  <div class="col-12">
    <div class="card mb-4">
      <h5 class="card-header">رنگ ها</h5>
      <div class="card-body pb-5">
        <small class="text-light fw-medium">اصلی</small>
        <div class="noUi-primary mt-4 mb-5" id="slider-primary"></div>
        <small class="text-light fw-medium">موفق</small>
        <div class="noUi-success mt-4 mb-5" id="slider-success"></div>
        <small class="text-light fw-medium">اخطار</small>
        <div class="noUi-danger mt-4 mb-5" id="slider-danger"></div>
        <small class="text-light fw-medium">هشدار</small>
        <div class="noUi-warning mt-4 mb-5" id="slider-warning"></div>
        <small class="text-light fw-medium">راهنما</small>
        <div class="noUi-info mt-4 mb-5" id="slider-info"></div>
      </div>
    </div>
  </div>
  <!-- /Colors -->
  <!-- Dynamic -->
  <div class="col-12">
    <div class="card mb-4">
      <h5 class="card-header">پویا</h5>
      <div class="card-body">
        <div class="mb-3" id="slider-dynamic"></div>
        <div class="row">
          <div class="col-xl-3 col-md-4 col-sm-12 slider-select d-sm-flex d-block">
            <select class="form-select me-2 mt-2 d-inline-block" id="slider-select">
              <option value="-20">
                <bdi>-20</bdi>
              </option>
              <option value="-19">
                <bdi>-19</bdi>
              </option>
              <option value="-18">
                <bdi>-18</bdi>
              </option>
              <option value="-17">
                <bdi>-17</bdi>
              </option>
              <option value="-16">
                <bdi>-16</bdi>
              </option>
              <option value="-15">
                <bdi>-15</bdi>
              </option>
              <option value="-14">
                <bdi>-14</bdi>
              </option>
              <option value="-13">
                <bdi>-13</bdi>
              </option>
              <option value="-12">
                <bdi>-12</bdi>
              </option>
              <option value="-11">
                <bdi>-11</bdi>
              </option>
              <option value="-10">
                <bdi>-10</bdi>
              </option>
              <option value="-9">
                <bdi>-9</bdi>
              </option>
              <option value="-8">
                <bdi>-8</bdi>
              </option>
              <option value="-7">
                <bdi>-7</bdi>
              </option>
              <option value="-6">
                <bdi>-6</bdi>
              </option>
              <option value="-5">
                <bdi>-5</bdi>
              </option>
              <option value="-4">
                <bdi>-4</bdi>
              </option>
              <option value="-3">
                <bdi>-3</bdi>
              </option>
              <option value="-2">
                <bdi>-2</bdi>
              </option>
              <option value="-1">
                <bdi>-1</bdi>
              </option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              <option value="32">32</option>
              <option value="33">33</option>
              <option value="34">34</option>
              <option value="35">35</option>
              <option value="36">36</option>
              <option value="37">37</option>
              <option value="38">38</option>
              <option value="39">39</option>
              <option value="40">40</option>
            </select>
            <input class="form-control d-inline-block mt-2" id="slider-input" max="40" min="-20" step="1" type="number"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Dynamic -->
</div>
<!-- Vertical -->
<div class="row">
  <div class="col-xl-3 col-md-6 col-12">
    <div class="card mb-xl-0 mb-4">
      <h5 class="card-header">عمودی پیش فرض</h5>
      <div class="card-body">
        <div class="mx-auto" id="slider-vertical"></div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 col-12">
    <div class="card mb-xl-0 mb-4">
      <h5 class="card-header">عمودی (تک نقطه)</h5>
      <div class="card-body">
        <div class="mx-auto" id="slider-connect-upper"></div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-md-0 mb-4 col-12">
    <div class="card">
      <h5 class="card-header">عمودی با نمایشگر</h5>
      <div class="card-body">
        <div class="mx-auto" id="slider-vertical-tooltip"></div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 col-12">
    <div class="card">
      <h5 class="card-header">بازه عمودی با نمایشگر</h5>
      <div class="card-body">
        <div class="mx-auto" id="slider-vertical-limit"></div>
      </div>
    </div>
  </div>
</div>
<!-- /Vertical -->
<!-- /Noui Slider -->
