@{
  ViewData["Title"] = "نمایش کاربر - اکانت متصل";
}

@section VendorStyles {
<link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.css" />
<link rel="stylesheet" href="~/vendor/libs/select2/select2.css" />
<link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/umd/styles/index.min.css" />
}

@section VendorScripts {
<script src="~/vendor/libs/sweetalert2/sweetalert2.js"></script>
<script src="~/vendor/libs/cleavejs/cleave.js"></script>
<script src="~/vendor/libs/cleavejs/cleave-phone.js"></script>
<script src="~/vendor/libs/select2/select2.js"></script>
<script src="~/vendor/libs/select2/i18n/fa.js"></script>
<script src="~/vendor/libs/&#64;form-validation/umd/bundle/popular.min.js"></script>
<script src="~/vendor/libs/&#64;form-validation/umd/plugin-bootstrap5/index.min.js"></script>
<script src="~/vendor/libs/&#64;form-validation/umd/plugin-auto-focus/index.min.js"></script>
}

@section PageScripts {
<script src="~/js/modal-edit-user.js"></script>
<script src="~/js/app-user-view.js"></script>
}

@* ************** Content ************** *@

<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">مشاهده کاربر/</span>
  اکانت‌های متصل
</h4>
<div class="row">
  <!-- User Sidebar -->
  <div class="col-xl-4 col-lg-5 col-md-5 order-1 order-md-0">
    <!-- User Card -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="user-avatar-section">
          <div class=" d-flex align-items-center flex-column">
            <img class="img-fluid rounded mb-3 pt-1 mt-4" src="~/img/avatars/15.png" height="100" width="100" alt="User avatar" />
            <div class="user-info text-center">
              <h4 class="mb-2">مهتاب کرامتی</h4>
              <span class="badge bg-label-secondary mt-1">نویسنده</span>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-around flex-wrap mt-3 pt-3 pb-4 border-bottom">
          <div class="d-flex align-items-start me-4 mt-3 gap-2">
            <span class="badge bg-label-primary p-2 rounded"><i class='ti ti-checkbox ti-sm'></i></span>
            <div>
              <p class="mb-0 fw-medium">1.23k</p>
              <small>تسک‌های موفق</small>
            </div>
          </div>
          <div class="d-flex align-items-start mt-3 gap-2">
            <span class="badge bg-label-primary p-2 rounded"><i class='ti ti-briefcase ti-sm'></i></span>
            <div>
              <p class="mb-0 fw-medium">568</p>
              <small>پروژه‌های موفق</small>
            </div>
          </div>
        </div>
        <p class="mt-4 small text-uppercase text-muted">جزئیات</p>
        <div class="info-container">
          <ul class="list-unstyled">
            <li class="mb-2">
              <span class="fw-medium me-1">نام کاربری:</span>
              <span>violet.dev</span>
            </li>
            <li class="mb-2 pt-1">
              <span class="fw-medium me-1">ایمیل:</span>
              <span>vafgot@vultukir.org</span>
            </li>
            <li class="mb-2 pt-1">
              <span class="fw-medium me-1">وضعیت:</span>
              <span class="badge bg-label-success">فعال</span>
            </li>
            <li class="mb-2 pt-1">
              <span class="fw-medium me-1">نقش:</span>
              <span>نویسنده</span>
            </li>
            <li class="mb-2 pt-1">
              <span class="fw-medium me-1">کد مالیاتی:</span>
              <span>Tax-8965</span>
            </li>
            <li class="mb-2 pt-1">
              <span class="fw-medium me-1">شماره موبایل:</span>
              <span>
                <bdi>0913 000 0000</bdi>
              </span>
            </li>
            <li class="mb-2 pt-1">
              <span class="fw-medium me-1">زبان ها:</span>
              <span>فرانسوی</span>
            </li>
            <li class="pt-1">
              <span class="fw-medium me-1">کشور:</span>
              <span>امارات متحده عربی</span>
            </li>
          </ul>
          <div class="d-flex justify-content-center">
            <a class="btn btn-primary me-3" data-bs-target="#editUser" data-bs-toggle="modal" href="javascript:">ویرایش</a>
            <a class="btn btn-label-danger suspend-user" href="javascript:">مسدود سازی</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /User Card -->
    <!-- Plan Card -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-start">
          <span class="badge bg-label-primary">استاندارد</span>
          <div class="d-flex justify-content-center">
            <sup class="h6 pricing-currency mt-3 mb-0 me-1 text-primary fw-normal">ءتء</sup>
            <h1 class="mb-0 text-primary">99</h1>
            <sub class="h6 pricing-duration mt-auto mb-2 text-muted fw-normal">درماه</sub>
          </div>
        </div>
        <ul class="ps-3 g-2 my-3">
          <li class="mb-2">امکان ارسال پیشنهاد برای 30 پروژه</li>
          <li class="mb-2">تا 10 گیگابایت فضای ذخیره سازی</li>
          <li>پشتیبانی تلفنی و درخواست مشاوره</li>
        </ul>
        <div class="d-flex justify-content-between align-items-center mb-1 fw-medium text-heading">
          <span>روزهای باقی مانده</span>
          <span>65٪ استفاده شده</span>
        </div>
        <div class="progress mb-1" style="height: 8px">
          <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="65" class="progress-bar" role="progressbar" style="width: 65%"></div>
        </div>
        <span>4 روز</span>
        <div class="d-grid w-100 mt-4">
          <button class="btn btn-primary" data-bs-target="#upgradePlanModal" data-bs-toggle="modal"> تمدید اشتراک</button>
        </div>
      </div>
    </div>
    <!-- /Plan Card -->
  </div>
  <!--/ User Sidebar -->


  <!-- User Content -->
  <div class="col-xl-8 col-lg-7 col-md-7 order-0 order-md-1">
    <!-- User Pills -->
    <ul class="nav nav-pills flex-column flex-md-row mb-4">
      <li class="nav-item"><a class="nav-link" href="ViewAccount"><i class="ti ti-user-check me-1 ti-xs"></i>حساب کاربری</a></li>
      <li class="nav-item"><a class="nav-link" href="viewSecurity"><i class="ti ti-lock me-1 ti-xs"></i>امنیت حساب</a></li>
      <li class="nav-item"><a class="nav-link" href="ViewBilling"><i class="ti ti-currency-dollar me-1 ti-xs"></i>تراکنش و پرداخت</a></li>
      <li class="nav-item"><a class="nav-link" href="ViewNotifications"><i class="ti ti-bell me-1 ti-xs"></i>نوتیفیکیشن</a></li>
      <li class="nav-item"><a class="nav-link active" href="javascript:void(0);"><i class="ti ti-link me-1 ti-xs"></i>اکانت‌های متصل</a></li>
    </ul>
    <!--/ User Pills -->
    <!-- Connected Accounts -->
    <div class="card mb-4">
      <h5 class="card-header pb-1">اکانت‌های متصل</h5>
      <div class="card-body">
        <p class="mb-4">محتوای حساب های متصل خود را در سایت خود نمایش دهید</p>
        <div class="d-flex mb-3">
          <div class="flex-shrink-0">
            <img src="~/img/icons/brands/google.png" alt="google" class="me-3" height="38">
          </div>
          <div class="flex-grow-1 row">
            <div class="col-9 mb-sm-0 mb-2">
              <h6 class="mb-0">گوگل</h6>
              <small class="text-muted">تقویم و مخاطبین</small>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-end">
              <div class="form-check form-switch">
                <input class="form-check-input float-end" type="checkbox" checked>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex mb-3">
          <div class="flex-shrink-0">
            <img src="~/img/icons/brands/slack.png" alt="slack" class="me-3" height="38">
          </div>
          <div class="flex-grow-1 row">
            <div class="col-9 mb-sm-0 mb-2">
              <h6 class="mb-0">اِسـلـَک</h6>
              <small class="text-muted">ارتباط</small>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-end">
              <div class="form-check form-switch">
                <input class="form-check-input float-end" type="checkbox">
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex mb-3">
          <div class="flex-shrink-0">
            <img src="~/img/icons/brands/github.png" alt="github" class="me-3" height="38">
          </div>
          <div class="flex-grow-1 row">
            <div class="col-9 mb-sm-0 mb-2">
              <h6 class="mb-0">گیتهاب</h6>
              <small class="text-muted">مخازن Git خود را مدیریت کنید</small>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-end">
              <div class="form-check form-switch">
                <input class="form-check-input float-end" type="checkbox" checked>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex mb-3">
          <div class="flex-shrink-0">
            <img src="~/img/icons/brands/mailchimp.png" alt="mailchimp" class="me-3" height="38">
          </div>
          <div class="flex-grow-1 row">
            <div class="col-9 mb-sm-0 mb-2">
              <h6 class="mb-0">میل چیمپ</h6>
              <small class="text-muted">خدمات ایمیل مارکتینگ</small>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-end">
              <div class="form-check form-switch">
                <input class="form-check-input float-end" type="checkbox" checked>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img src="~/img/icons/brands/asana.png" alt="asana" class="me-3" height="38">
          </div>
          <div class="flex-grow-1 row">
            <div class="col-9 mb-sm-0 mb-2">
              <h6 class="mb-0">آسانا</h6>
              <small class="text-muted"> گفتگو و ارتباط</small>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-end">
              <div class="form-check form-switch">
                <input class="form-check-input float-end" type="checkbox">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Connected Accounts -->

    <!-- Social Accounts -->
    <div class="card mb-4">
      <h5 class="card-header pb-1">حساب های اجتماعی</h5>
      <div class="card-body">
        <p class="mb-4">محتوای حساب های اجتماعی را در سایت خود نمایش دهید</p>
        <div class="d-flex mb-3">
          <div class="flex-shrink-0">
            <img src="~/img/icons/brands/facebook.png" alt="facebook" class="me-3" height="38">
          </div>
          <div class="flex-grow-1 row">
            <div class="col-7 mb-sm-0 mb-2">
              <h6 class="mb-0">فیس بوک</h6>
              <small class="text-muted">متصل نیست</small>
            </div>
            <div class="col-5 text-end">
              <button class="btn btn-label-secondary btn-icon"><i class="ti ti-link ti-sm"></i></button>
            </div>
          </div>
        </div>
        <div class="d-flex mb-3">
          <div class="flex-shrink-0">
            <img src="~/img/icons/brands/twitter.png" alt="twitter" class="me-3" height="38">
          </div>
          <div class="flex-grow-1 row">
            <div class="col-7 mb-sm-0 mb-2">
              <h6 class="mb-0">توییتر</h6>
              <a href='@TempData.Peek("twitterUrl")' target="_blank">@TempData.Peek("authorName")</a>
            </div>
            <div class="col-5 text-end">
              <button class="btn btn-label-danger btn-icon"><i class="ti ti-trash ti-sm"></i></button>
            </div>
          </div>
        </div>
        <div class="d-flex mb-3">
          <div class="flex-shrink-0">
            <img src="~/img/icons/brands/instagram.png" alt="instagram" class="me-3" height="38">
          </div>
          <div class="flex-grow-1 row">
            <div class="col-7 mb-sm-0 mb-2">
              <h6 class="mb-0">اینستاگرام</h6>
              <a href='@TempData.Peek("instagramUrl")' target="_blank">@TempData.Peek("authorName")</a>
            </div>
            <div class="col-5 text-end">
              <button class="btn btn-label-danger btn-icon"><i class="ti ti-trash ti-sm"></i></button>
            </div>
          </div>
        </div>
        <div class="d-flex mb-3">
          <div class="flex-shrink-0">
            <img src="~/img/icons/brands/dribbble.png" alt="dribbble" class="me-3" height="38">
          </div>
          <div class="flex-grow-1 row">
            <div class="col-7 mb-sm-0 mb-2">
              <h6 class="mb-0">دریبل</h6>
              <small class="text-muted">متصل نیست</small>
            </div>
            <div class="col-5 text-end">
              <button class="btn btn-label-secondary btn-icon"><i class="ti ti-link ti-sm"></i></button>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img src="~/img/icons/brands/behance.png" alt="behance" class="me-3" height="38">
          </div>
          <div class="flex-grow-1 row">
            <div class="col-7 mb-sm-0 mb-2">
              <h6 class="mb-0">بی هانس</h6>
              <small class="text-muted">متصل نیست</small>
            </div>
            <div class="col-5 text-end">
              <button class="btn btn-label-secondary btn-icon"><i class="ti ti-link ti-sm"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Social Accounts -->
</div>

<!-- Modal -->
@await Html.PartialAsync("../_Partials/_Modals/ModalEditUser")
@await Html.PartialAsync("../_Partials/_Modals/ModalUpgradePlan")
<!-- /Modal -->
