@{
  TempData.Keep();
  ViewData["containerNav"] = (ViewData["containerNav"] ??= "container-fluid");
}

<footer class="content-footer footer bg-footer-theme">
  <div class='@ViewData["containerNav"]'>
  <div class="footer-container d-flex align-items-center justify-content-between py-2 flex-md-row flex-column">

      <div>
        <a class="fw-medium" href="#support" target="_blank">مسترشوفر</a>
          ارائه دهنده سفرهای بین شهری
        با راننده تایید شده
      </div>

    <div class="d-none d-lg-inline-block">
      <a href='@TempData.Peek("licenseUrl")' class="footer-link me-4" target="_blank">پشتیبانی</a>
      <a href='@TempData.Peek("productPage")' target="_blank" class="footer-link me-4">درباره ما</a>
      <a href='@TempData.Peek("documentation")' target="_blank" class="footer-link me-4">پیگیری بلیط</a>
    </div>
    </div>
  </div>
</footer>
