@{
  ViewData["Title"] = "صفحات - سوالات متداول";
}

@section PageStyles{
<link rel="stylesheet" href="~/vendor/css/pages/page-faq.css" />
}

@* ************** Content ************** *@
<div class="faq-header d-flex flex-column justify-content-center align-items-center rounded">
  <h3 class="text-center">سلام، چطور می‌تونیم کمک‌تون کنیم؟</h3>
  <div class="input-wrapper mb-3 input-group input-group-lg input-group-merge mt-3">
    <span class="input-group-text" id="basic-addon1"><i class="ti ti-search h-mirror"></i></span>
    <input type="text" class="form-control" placeholder="جستجو" aria-label="Search" aria-describedby="basic-addon1" />
  </div>
  <p class="text-center mb-0 px-3">سوالات احتمالی ای که برایتان پیش می آید در زیر آمده است</p>
</div>

<div class="row mt-4">
  <!-- Navigation -->
  <div class="col-lg-3 col-md-4 col-12 mb-md-0 mb-3">
    <div class="d-flex justify-content-between flex-column mb-2 mb-md-0">
      <ul class="nav nav-align-left nav-pills flex-column">
        <li class="nav-item">
          <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#payment">
            <i class="ti ti-credit-card me-1 ti-sm"></i>
            <span class="align-middle fw-medium">پرداخت و ثبت سفارش</span>
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#delivery">
            <i class="ti ti-briefcase me-1 ti-sm"></i>
            <span class="align-middle fw-medium">ارسال مرسولات پستی</span>
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#cancellation">
            <i class="ti ti-rotate-clockwise-2 me-1 ti-sm"></i>
            <span class="align-middle fw-medium">برگشت سفارش</span>
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#orders">
            <i class="ti ti-box me-1 ti-sm"></i>
            <span class="align-middle fw-medium">سفارشات من</span>
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#product">
            <i class="ti ti-settings me-1 ti-sm"></i>
            <span class="align-middle fw-medium">محصولات و خدمات</span>
          </button>
        </li>
      </ul>
      <div class="d-none d-md-block">
        <div class="mt-4">
          <img src="~/img/illustrations/girl-sitting-with-laptop.png" class="img-fluid" width="270" alt="FAQ Image">
        </div>
      </div>
    </div>
  </div>
  <!-- /Navigation -->

  <!-- FAQ's -->
  <div class="col-lg-9 col-md-8 col-12">
    <div class="tab-content py-0">
      <div class="tab-pane fade show active" id="payment" role="tabpanel">
        <div class="d-flex mb-3 gap-3">
          <div class="mt-auto mb-auto">
            <span class="badge bg-label-primary rounded-2 p-2">
              <i class="ti ti-credit-card ti-lg"></i>
            </span>
          </div>
          <div>
            <h5 class="mb-2">
              <span class="align-middle fw-semibold">سوالات پرداخت</span>
            </h5>
            <small>سوالات متداول در مورد پرداخت</small>
          </div>
        </div>
        <div class="accordion" id="accordionPayment">
          <div class="card accordion-item">
            <h2 class="accordion-header">
              <button aria-controls="accordionPayment-2" class="accordion-button collapsed" data-bs-target="#accordionPayment-2" data-bs-toggle="collapse" type="button"> چگونه سفارش خود را پرداخت کنم؟</button>
            </h2>
            <div class="accordion-collapse collapse" id="accordionPayment-2">
              <div class="accordion-body"> ما کارت‌های Visa®، MasterCard®، American Express® و PayPal® را قبول می‌کنیم. تمام اطلاعاتی که به سرورهای ما ارسال می‌شوند، به صورت رمز شده است؛ بنابراین می‌توانید با اطمینان کامل به اینکه اطلاعات کارت اعتباری شما در امان و ایمن نگه داشته می‌شود، اعتماد کنید.</div>
            </div>
          </div>
          <div class="card accordion-item active">
            <h2 class="accordion-header">
              <button aria-controls="accordionPayment-1" aria-expanded="true" class="accordion-button" data-bs-target="#accordionPayment-1" data-bs-toggle="collapse" type="button"> چه زمانی پرداخت برای سفارش من انجام می شود؟</button>
            </h2>
            <div class="accordion-collapse collapse show" id="accordionPayment-1">
              <div class="accordion-body"> پرداخت در طول فرآیند تسویه حساب انجام می‌شود زمانی که برای سفارش خود پرداخت می‌کنید. شماره سفارشی که در صفحه تأیید نمایش داده می‌شود نشان‌دهنده این است که پرداخت با موفقیت انجام شده است.</div>
            </div>
          </div>
          <div class="card accordion-item">
            <h2 class="accordion-header">
              <button aria-controls="accordionPayment-3" class="accordion-button collapsed" data-bs-target="#accordionPayment-3" data-bs-toggle="collapse" type="button"> اگر سوال دیگری داشتم چکاری انجام بدم؟</button>
            </h2>
            <div class="accordion-collapse collapse" id="accordionPayment-3">
              <div class="accordion-body"> برای هر مشکل فنی که با وب‌سایت ما روبرو می‌شوید، لطفاً با ما تماس بگیرید. شما می‌توانید با مراجعه به
                <a href="javascript:void(0);">پورتال پشتیبانی ما</a>
                با ما تماس بگیرید، یا می‌توانید با شماره تلفن رایگان
                <span class="fw-medium">
                  <bdi>1-000-000-000</bdi>
                </span>
                تماس بگیرید، یا ایمیل بزنید به
                <a href="javascript:void(0);">
                  <bdi>order&#64;companymail.com</bdi>
                </a>
              </div>
            </div>
          </div>
          <div class="card accordion-item">
            <h2 class="accordion-header">
              <button aria-controls="accordionPayment-5" class="accordion-button collapsed" data-bs-target="#accordionPayment-5" data-bs-toggle="collapse" type="button"> ایا اشتراک من به طور خودکار تمدید می شود؟</button>
            </h2>
            <div class="accordion-collapse collapse" id="accordionPayment-5">
              <div class="accordion-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</div>
            </div>
          </div>
          <div class="card accordion-item">
            <h2 class="accordion-header">
              <button aria-controls="accordionPayment-4" class="accordion-button collapsed" data-bs-target="#accordionPayment-4" data-bs-toggle="collapse" type="button"> کدام لایسنس برای یک محصول نهایی استفاده می‌شود که فقط برای کاربران پرداخت‌کننده قابل دسترس است؟</button>
            </h2>
            <div class="accordion-collapse collapse" id="accordionPayment-4">
              <div class="accordion-body"> اگر کاربرانی دارید که هزینه می‌پردازند یا هرگونه محصولات SaaS را توسعه می‌دهید، نیاز به یک مجوز گسترده دارید. برای هر محصول، شما به یک مجوز نیاز دارید. همچنین می‌توانید به‌صورت رایگان به به‌روزرسانی‌های دائمی دسترسی داشته باشید.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="delivery" role="tabpanel">
        <div class="d-flex mb-3 gap-3">
          <div class="mt-auto mb-auto">
            <span class="badge bg-label-primary rounded-2 p-2">
              <i class="ti ti-briefcase ti-lg"></i>
            </span>
          </div>
          <div>
            <h5 class="mb-2">
              <span class="align-middle fw-semibold">سوالات ارسال کالا</span>
            </h5>
            <small>سوالات متداول در مورد ارسال کال</small>
          </div>
        </div>
        <div class="accordion" id="accordionDelivery">
          <div class="card accordion-item active">
            <h2 class="accordion-header">
              <button aria-controls="accordionDelivery-1" aria-expanded="true" class="accordion-button" data-bs-target="#accordionDelivery-1" data-bs-toggle="collapse" type="button"> چگونه سفارش من را ارسال می کنید؟</button>
            </h2>
            <div class="accordion-collapse collapse show" id="accordionDelivery-1">
              <div class="accordion-body"> برای محصولات بزرگ، ما محصول شما را از طریق یک شرکت لجستیک شخص ثالث تحویل می‌دهیم که به شما خدمات تحویل زمان‌بندی "اتاق انتخابی" را ارائه می‌دهد. برای محصولات کوچک، ما تحویل رایگان پارسل ارائه می‌دهیم.</div>
            </div>
          </div>
          <div class="card accordion-item">
            <h2 class="accordion-header">
              <button aria-controls="accordionDelivery-2" class="accordion-button collapsed" data-bs-target="#accordionDelivery-2" data-bs-toggle="collapse" type="button"> هزینه تحویل سفارش من چقدر است؟</button>
            </h2>
            <div class="accordion-collapse collapse" id="accordionDelivery-2">
              <div class="accordion-body"> هزینه تحویل زمان‌بندی برای هر سفارش ممکن است 70000 ءتء یا 100000 ءتء باشد، به توجه به کد پستی مقصد. تحویل پارسل رایگان است.</div>
            </div>
          </div>
          <div class="card accordion-item">
            <h2 class="accordion-header">
              <button aria-controls="accordionDelivery-4" class="accordion-button collapsed" data-bs-target="#accordionDelivery-4" data-bs-toggle="collapse" type="button"> اگر محصول من اسیب ببیند چه باید کرد؟</button>
            </h2>
            <div class="accordion-collapse collapse" id="accordionDelivery-4">
              <div class="accordion-body"> ما به سرعت هر محصولی که در حین انتقال آسیب ببیند، جایگزین می‌کنیم. فقط با تماس با
                <a href="javascript:void(0);">تیم پشتیبانی</a>
                ما، ما را در زمان کمتر از 48 ساعت از ورود محصول مطلع کنید.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="cancellation" role="tabpanel">
        <div class="d-flex mb-3 gap-3">
          <div class="mt-auto mb-auto">
            <span class="badge bg-label-primary rounded-2 p-2">
              <i class="ti ti-rotate-clockwise-2 ti-lg"></i>
            </span>
          </div>
          <div>
            <h5 class="mb-2">
              <span class="align-middle fw-semibold">سوالات بازگشت سفارش</span>
            </h5>
            <small>سوالات متداول در مورد بازگشت سفارش</small>
          </div>
        </div>
        <div class="accordion" id="accordionCancellation">
          <div class="card accordion-item active">
            <h2 class="accordion-header">
              <button aria-controls="accordionCancellation-1" aria-expanded="true" class="accordion-button" data-bs-target="#accordionCancellation-1" data-bs-toggle="collapse" type="button"> ایا می توانم سفارش خود را لغو کنم؟</button>
            </h2>
            <div class="accordion-collapse collapse show" id="accordionCancellation-1">
              <div class="accordion-body">
                <p> سفارشات تحویل زمان‌دار می‌توانند ۷۲ ساعت قبل از تاریخ تحویل انتخابی شما لغو شوند و مبلغ کامل به شما بازگردانده می‌شود.</p>
                <p class="mb-0"> سفارشات تحویل پارسل قابل لغو نیستند؛ اما درخواست شما برای برچسب بازگشت رایگان ممکن است ارائه شود.</p>
              </div>
            </div>
          </div>
          <div class="card accordion-item">
            <h2 class="accordion-header">
              <button aria-controls="accordionCancellation-2" class="accordion-button collapsed" data-bs-target="#accordionCancellation-2" data-bs-toggle="collapse" type="button"> ایا می توانم محصول خود را بازگردانم؟</button>
            </h2>
            <div class="accordion-collapse collapse" id="accordionCancellation-2">
              <div class="accordion-body"> شما می‌توانید محصول خود را در ۱۵ روز از تاریخ تحویل با تماس با
                <a href="javascript:void(0);">تیم پشتیبانی</a>
                بازگردانید. تمام کالاهای بازگشتی باید در بسته‌بندی اصلی و با تمام موارد اصلی بازگشت داده شوند.
              </div>
            </div>
          </div>
          <div class="card accordion-item">
            <h2 class="accordion-header">
              <button aria-controls="accordionCancellation-3" class="accordion-button collapsed" data-bs-target="#accordionCancellation-3" data-bs-toggle="collapse" type="button"> از کجا می توانم وضعیت بازگشت را مشاهده کنم؟</button>
            </h2>
            <div class="accordion-collapse collapse" id="accordionCancellation-3" style="">
              <div class="accordion-body">
                <p>محصول را از
                  <a dideo-checked="true" href="javascript:void(0);">سفارش‌ها</a>
                  پیدا کنید
                </p>
                <p class="mb-0">وضعیت
                  <span class="fw-medium">بازگشت/استرداد</span>
                  را انتخاب کنید
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="orders" role="tabpanel">
        <div class="d-flex mb-3 gap-3">
          <div class="mt-auto mb-auto">
            <span class="badge bg-label-primary rounded-2 p-2">
              <i class="ti ti-box ti-lg"></i>
            </span>
          </div>
          <div>
            <h5 class="mb-2">
              <span class="align-middle fw-semibold">سوالات ثبت سفارشات</span>
            </h5>
            <small>سوالات متداول در مورد ثبت سفارشات</small>
          </div>
        </div>
        <div class="accordion" id="accordionOrders">
          <div class="card accordion-item active">
            <h2 class="accordion-header">
              <button aria-controls="accordionOrders-1" aria-expanded="true" class="accordion-button" data-bs-target="#accordionOrders-1" data-bs-toggle="collapse" type="button"> ایا سفارش من موفقیت امیز بوده است؟</button>
            </h2>
            <div class="accordion-collapse collapse show" id="accordionOrders-1">
              <div class="accordion-body">
                <p> تمام معاملات سفارش موفق پس از پردازش سفارش، یک ایمیل تایید سفارش دریافت خواهند کرد. اگر ایمیل تایید سفارش خود را ظرف 24 ساعت دریافت نکرده اید، ایمیل ناخواسته یا پوشه اسپم خود را بررسی کنید.</p>
                <p class="mb-0">
                  متناوبا، وارد حساب خود شوید تا خلاصه سفارش خود را بررسی کنید. اگر حساب کاربری ندارید، می توانید با تیم مراقبت از مشتری ما در
                  <span class="fw-medium">
                    <bdi>1-000-000-000</bdi>
                    تماس بگیرید
                  </span>
                  .
                </p>
              </div>
            </div>
          </div>
          <div class="card accordion-item">
            <h2 class="accordion-header">
              <button aria-controls="accordionOrders-2" class="accordion-button collapsed" data-bs-target="#accordionOrders-2" data-bs-toggle="collapse" type="button"> کد تخفیف من کار نمی کند، چه کاری می توانم انجام دهم؟</button>
            </h2>
            <div class="accordion-collapse collapse" id="accordionOrders-2">
              <div class="accordion-body"> اگر با کد تخفیف مشکل دارید، لطفا برای کمک با ما
                <span class="fw-medium">تماس بگیرید
                  <bdi>1 000 000 000</bdi>
                </span>
                .
              </div>
            </div>
          </div>
          <div class="card accordion-item">
            <h2 class="accordion-header">
              <button aria-controls="accordionOrders-3" class="accordion-button collapsed" data-bs-target="#accordionOrders-3" data-bs-toggle="collapse" type="button"> چگونه سفارشات خود را پیگیری کنم؟</button>
            </h2>
            <div class="accordion-collapse collapse" id="accordionOrders-3">
              <div class="accordion-body">
                <p> اگر حساب کاربری دارید فقط از
                  <a href="javascript:void(0);">اینجا</a>
                  وارد حساب خود شوید و "سفارشات من" را انتخاب
                  <span class="fw-medium">کنید</span>
                  .
                </p>
                <p class="mb-0"> اگر شما یک حساب مهمان پیگیری سفارش خود را از اینجا با استفاده از شماره سفارش و ادرس ایمیل.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="product" role="tabpanel">
        <div class="d-flex mb-3 gap-3">
          <div class="mt-auto mb-auto">
            <span class="badge bg-label-primary rounded-2 p-2">
              <i class="ti ti-camera ti-lg"></i>
            </span>
          </div>
          <div>
            <h5 class="mb-2">
              <span class="align-middle fw-semibold">سوالات محصولات و خدمات</span>
            </h5>
            <small>سوالات متداول در مورد محصولات و خدمات</small>
          </div>
        </div>
        <div class="accordion" id="accordionProduct">
          <div class="card accordion-item active">
            <h2 class="accordion-header">
              <button aria-controls="accordionProduct-1" aria-expanded="true" class="accordion-button" data-bs-target="#accordionProduct-1" data-bs-toggle="collapse" type="button">
                آیا پس از ارسال سفارشم به من اطلاع داده خواهد شد؟
              </button>
            </h2>
            <div class="accordion-collapse collapse show" id="accordionProduct-1">
              <div class="accordion-body"> بله، ما یک ایمیل به شما ارسال خواهیم کرد هنگامی که سفارش شما ارسال شود. این ایمیل شامل اطلاعات ردیابی و سفارش خواهد بود.</div>
            </div>
          </div>
          <div class="card accordion-item">
            <h2 class="accordion-header">
              <button aria-controls="accordionProduct-2" class="accordion-button collapsed" data-bs-target="#accordionProduct-2" data-bs-toggle="collapse" type="button">
                اطلاعات گارانتی را از کجا می‌توانم پیدا کنم؟
              </button>
            </h2>
            <div class="accordion-collapse collapse" id="accordionProduct-2">
              <div class="accordion-body"> ما به تولید محصولات با کیفیت متعهد هستیم. برای اطلاعات در مورد دوره گارانتی و خدمات گارانتی، به بخش گارانتی ما
                <a dideo-checked="true" href="javascript:void(0);">اینجا</a>
                مراجعه کنید.
              </div>
            </div>
          </div>
          <div class="card accordion-item">
            <h2 class="accordion-header">
              <button aria-controls="accordionProduct-3" class="accordion-button collapsed" data-bs-target="#accordionProduct-3" data-bs-toggle="collapse" type="button">
                چگونه می‌توانم پوشش گارانتی اضافی را خریداری کنم؟
              </button>
            </h2>
            <div class="accordion-collapse collapse" id="accordionProduct-3">
              <div class="accordion-body"> برای آرامش ذهن شما، ما طرح‌های گارانتی تمدید شده را ارائه می‌دهیم که سال (های) اضافی حفاظت به گارانتی استاندارد تولید کننده اضافه می‌کند. برای خرید یا کسب اطلاعات بیشتر در مورد برنامه گارانتی تمدید شده، به بخش گارانتی تمدید شده
                <a dideo-checked="true" href="javascript:void(0);">اینجا</a>
                مراجعه کنید.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /FAQ's -->
</div>

<!-- Contact -->
<div class="row mt-5">
  <div class="col-12 text-center mb-4">
    <div class="badge bg-label-primary">پشتیبانی بیشتر</div>
    <h4 class="my-2">هنوز سوالی داری؟</h4>
    <p>اگر نمی توانید سوالی را در سوالات متداول ما پیدا کنید، می توانید با ما تماس بگیرید. ما به زودی به شما پاسخ خواهیم داد!</p>
  </div>
</div>
<div class="row text-center justify-content-center gap-sm-0 gap-3">
  <div class="col-sm-6">
    <div class="py-3 rounded bg-faq-section text-center">
      <span class="badge bg-label-primary my-3 rounded-2 p-2">
        <i class="ti ti-phone ti-md"></i>
      </span>
      <h4 class="mb-2">
        <a class="text-body" href="tel:+(021)25482568">
          <bdi>(021) 2442 3553</bdi>
        </a>
      </h4>
      <p>ارتباط تلفنی با کارشناسان ما</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="py-3 rounded bg-faq-section text-center">
      <span class="badge bg-label-primary my-3 rounded-2 p-2">
        <i class="ti ti-mail ti-md"></i>
      </span>
      <h4 class="mb-2">
        <a class="text-body" href="mailto:help&#64;help.com">help&#64;mysite.com</a>
      </h4>
      <p>ارسال ایمیل و تیکتینگ</p>
    </div>
  </div>
</div>
