@{
  Layout = "_BlankLayout";
  ViewData["Title"] = "صفحات - تحت تعمیر و نگهداری";
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-misc.css">
}

@* ************** Content ************** *@
<!--Under Maintenance -->
<div class="container-xxl container-p-y">
  <div class="misc-wrapper">
    <h2 class="mb-3 mx-2">در حال تعمیر و بروزرسانی!</h2>
    <p class="mb-4 mx-2">لطفا منتظر بمانید تیم ما در حال رفع مشکل پیش آمده است و بعد از رفع خدمات در دسترس خواهد بود</p>
    <a href="/" class="btn btn-primary mb-4">بازگشت به خانه</a>
    <div class="mt-4">
      <img src="~/img/illustrations/page-misc-under-maintenance.png" alt="page-misc-under-maintenance" width="550" class="img-fluid">
    </div>
  </div>
</div>
<div class="container-fluid misc-bg-wrapper misc-under-maintenance-bg-wrapper">
  <img src="~/img/illustrations/bg-shape-image-light.png" alt="page-misc-under-maintenance" data-app-light-img="illustrations/bg-shape-image-light.png" data-app-dark-img="illustrations/bg-shape-image-dark.png">
</div>
<!-- /Under Maintenance -->
