@{
  Layout = "_BlankLayout";
  ViewData["Title"] = "صفحات - مجاز نیست";
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-misc.css">
}

@* ************** Content ************** *@
<!-- Not Authorized -->
<div class="container-xxl container-p-y">
  <div class="misc-wrapper">
    <h2 class="mb-3 mx-2">عدم دسترسی!</h2>
    <p class="mb-4 mx-2"> شما مجوز مشاهده این صفحه را ندارید چون این دسترسی برای شما تعریف نشده است.
      <br/>
      لطفا با مدیر سایت تماس بگیرید.
    </p>
    <a href="/" class="btn btn-primary mb-4">بازگشت به خانه</a>
    <div class="mt-4">
      <img src="~/img/illustrations/page-misc-you-are-not-authorized.png" alt="page-misc-not-authorized" width="170" class="img-fluid">
    </div>
  </div>
</div>
<div class="container-fluid misc-bg-wrapper">
  <img src="~/img/illustrations/bg-shape-image-light.png" alt="page-misc-not-authorized" data-app-light-img="illustrations/bg-shape-image-light.png" data-app-dark-img="illustrations/bg-shape-image-dark.png">
</div>
<!-- /Not Authorized -->
