@{
  Layout = "_BlankLayout";
  ViewData["Title"] = "ุตูุญุงุช - ุฎุทุง";
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-misc.css">
}

@* ************** Content ************** *@
<!-- Error -->
<div class="container-xxl container-p-y">
  <div class="misc-wrapper">
    <h2 class="mb-3 mt-4">ุตูุญู ุงูุช ูุดุฏ :(</h2>
    <p class="mb-4 mx-2">ุงูู! ๐ URL ุฏุฑุฎูุงุณุช ุดุฏู ุฏุฑ ุงู ุณุฑูุฑ ุงูุช ูุดุฏ.</p>
    <a href="/" class="btn btn-primary mb-4">ุจุงุฒฺฏุดุช ุจู ุฎุงูู</a>
    <div class="mt-4">
      <img src="~/img/illustrations/page-misc-error.png" alt="page-misc-error" width="225" class="img-fluid">
    </div>
  </div>
</div>
<div class="container-fluid misc-bg-wrapper">
  <img src="~/img/illustrations/bg-shape-image-light.png" alt="page-misc-error" data-app-light-img="illustrations/bg-shape-image-light.png" data-app-dark-img="illustrations/bg-shape-image-dark.png">
</div>
<!-- /Error -->
