@{
  ViewData["Title"] = "طرح منو کناری باز";
  Layout = "_ContentNavbarLayout";
}
@* ************** Content ************** *@

<div class="layout-demo-wrapper">
  <div class="layout-demo-placeholder">
    <img src="~/img/layouts/layout-content-navbar-light.png" class="img-fluid" alt="Layout content navbar" data-app-light-img="layouts/layout-content-navbar-light.png" data-app-dark-img="layouts/layout-content-navbar-dark.png">
  </div>
  <div class="layout-demo-info">
    <h4>طرح منو کناری باز</h4>
    <p>طرح پیش فرض قالب، نوار کناری (ناوربری) همراه با محتوا.</p>
  </div>
</div>
