@{
  ViewData["Title"] = "طرح تمام عرض";
  ViewData["container"] = (ViewData["container"] ?? "container-fluid");
  ViewData["containerNav"] = (ViewData["containerNav"] ?? "container-fluid");
}
@* ************** Content ************** *@

<div class="layout-demo-wrapper">
  <div class="layout-demo-placeholder">
    @if (Convert.ToBoolean(@TempData.Peek("menuHorizontal")).ToString() == "True")
    {
      <img src="~/img/layouts/layout-horizontal-fluid-light.png" class="img-fluid" alt="Layout fluid" data-app-light-img="layouts/layout-horizontal-fluid-light.png" data-app-dark-img="layouts/layout-horizontal-fluid-dark.png">
    }
    else
    {
      <img src="~/img/layouts/layout-fluid-light.png" class="img-fluid" alt="Layout fluid" data-app-light-img="layouts/layout-fluid-light.png" data-app-dark-img="layouts/layout-fluid-dark.png">
    }
  </div>
  <div class="layout-demo-info">
    <h4>طرح تمام عرض</h4>
    <p>طرح یک
      <code>100% width</code>
      را در هر نقطه شکست واکنش گرا تنظیم می کند.
    </p>
  </div>
</div>
