@{
  ViewData["Title"] = "طرح بدون نوار ابزار (بالایی)";
  ViewData["isNavbar"] = false;
  ViewData["navbarType"] = "layout-navbar-hidden";
}
@* ************** Content ************** *@

<div class="layout-demo-wrapper">
  <div class="layout-demo-placeholder">
    <img src="~/img/layouts/layout-without-navbar-light.png" class="img-fluid" alt="Layout without navbar" data-app-light-img="layouts/layout-without-navbar-light.png" data-app-dark-img="layouts/layout-without-navbar-dark.png">
  </div>
  <div class="layout-demo-info">
    <h4>طرح بدون نوار ابزار (بالایی)</h4>
    <p>طرح شامل کامپوننت Navbar نیست.</p>
  </div>
</div>
