@{
  ViewData["Title"] = "ูพุงูุฑุณุงู";
}

@section VendorStyles {
  <link rel="stylesheet" href="~/vendor/libs/bootstrap-maxlength/bootstrap-maxlength.css" />
}

@section VendorScripts {
  <script src="~/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="~/vendor/libs/bootstrap-maxlength/bootstrap-maxlength.js"></script>
}

@section PageStyles {
  <link rel="stylesheet" href="~/vendor/css/pages/app-chat.css">
}

@section PageScripts {
  <script src="~/js/app-chat.js"></script>
}

@* ************** Content ************** *@

<div class="app-chat card overflow-hidden">
  <div class="row g-0">
    <!-- Sidebar Left -->
    <div class="col app-chat-sidebar-left app-sidebar overflow-hidden" id="app-chat-sidebar-left">
      <div
        class="chat-sidebar-left-user sidebar-header d-flex flex-column justify-content-center align-items-center flex-wrap px-4 pt-5">
        <div class="avatar avatar-xl avatar-online">
          <img alt="ุขูุงุชุงุฑ" class="rounded-circle" src="~/img/avatars/1.png" />
        </div>
        <h5 class="mt-2 mb-0">ุฌูุงุฏ ุนุฒุช</h5>
        <span>Admin</span>
        <i class="ti ti-x ti-sm cursor-pointer close-sidebar" data-bs-toggle="sidebar" data-overlay
          data-target="#app-chat-sidebar-left"></i>
      </div>
      <div class="sidebar-body px-4 pb-4">
        <div class="my-4">
          <small class="text-muted text-uppercase">ุฏุฑุจุงุฑู</small>
          <textarea class="form-control chat-sidebar-left-user-about mt-3" id="chat-sidebar-left-user-about"
            maxlength="120"
            rows="4"> ุนูุงููโููุฏ ุจู ููุงูุฑ ู ููุขูุฑุ ููุดู ุฏุฑ ุฌุณุชุฌู ฺุงูุดโูุง ุฌุฏุฏ ุฏุฑ ุนููู ฺฉุงููพูุชุฑ ู ููุงูุฑ ุงุทูุงุนุงุช. ุจุง ุชุฌุฑุจู ุฏุฑ ุชูุณุนู ูุฑูโุงูุฒุงุฑูุง ูุชูโุจุงุฒ ู ุชุญููุงุช ุฏุฑ ุญูุฒูโูุง ููุด ูุตููุน ู ุงูุชุฑูุช ุงุดุงุกุ ุจู ุฏูุจุงู ุงุฑุชูุงุก ููุงุฑุชโูุง ูู ู ูุดุงุฑฺฉุช ุฏุฑ ูพุฑูฺูโูุง ููุขูุฑุงูู</textarea>
        </div>
        <div class="my-4">
          <small class="text-muted text-uppercase">ูุถุนุช</small>
          <div class="d-grid gap-2 mt-3">
            <div class="form-check form-check-success">
              <input checked class="form-check-input" id="user-active" name="chat-user-status" type="radio"
                value="active" />
              <label class="form-check-label" for="user-active">ูุนุงู</label>
            </div>
            <div class="form-check form-check-danger">
              <input class="form-check-input" id="user-busy" name="chat-user-status" type="radio" value="busy" />
              <label class="form-check-label" for="user-busy">ฺฏุฑูุชุงุฑ</label>
            </div>
            <div class="form-check form-check-warning">
              <input class="form-check-input" id="user-away" name="chat-user-status" type="radio" value="away" />
              <label class="form-check-label" for="user-away">ุฏูุฑ</label>
            </div>
            <div class="form-check form-check-secondary">
              <input class="form-check-input" id="user-offline" name="chat-user-status" type="radio" value="offline" />
              <label class="form-check-label" for="user-offline">ุขููุงู</label>
            </div>
          </div>
        </div>
        <div class="my-4">
          <small class="text-muted text-uppercase">ุชูุธูุงุช</small>
          <ul class="list-unstyled d-grid gap-2 me-3 mt-3">
            <li class="d-flex justify-content-between align-items-center">
              <div>
                <i class="ti ti-message me-1 ti-sm"></i>
                <span class="align-middle">ุชุงุฏ ุฏู ูุฑุญูู ุง</span>
              </div>
              <label class="switch switch-primary me-4 switch-sm">
                <input checked="" class="switch-input" type="checkbox" />
                <span class="switch-toggle-slider">
                  <span class="switch-on"></span>
                  <span class="switch-off"></span>
                </span>
              </label>
            </li>
            <li class="d-flex justify-content-between align-items-center">
              <div>
                <i class="ti ti-bell me-1 ti-sm"></i>
                <span class="align-middle">ุงุนูุงู</span>
              </div>
              <label class="switch switch-primary me-4 switch-sm">
                <input class="switch-input" type="checkbox" />
                <span class="switch-toggle-slider">
                  <span class="switch-on"></span>
                  <span class="switch-off"></span>
                </span>
              </label>
            </li>
            <li>
              <i class="ti ti-user-plus me-1 ti-sm"></i>
              <span class="align-middle">ุฏุนูุช ุฏูุณุชุงู</span>
            </li>
            <li>
              <i class="ti ti-trash me-1 ti-sm"></i>
              <span class="align-middle">ุญุฐู ุญุณุงุจ</span>
            </li>
          </ul>
        </div>
        <div class="d-flex mt-4">
          <button class="btn btn-primary" data-bs-toggle="sidebar" data-overlay data-target="#app-chat-sidebar-left">
            ุฎุฑูุฌ</button>
        </div>
      </div>
    </div>
    <!-- /Sidebar Left-->

    <!-- Chat & Contacts -->
    <div class="col app-chat-contacts app-sidebar flex-grow-0 overflow-hidden border-end" id="app-chat-contacts">
      <div class="sidebar-header">
        <div class="d-flex align-items-center me-3 me-lg-0">
          <div class="flex-shrink-0 avatar avatar-online me-3" data-bs-toggle="sidebar" data-overlay="app-overlay-ex"
            data-target="#app-chat-sidebar-left">
            <img alt="ุขูุงุชุงุฑ" class="user-avatar rounded-circle cursor-pointer" src="~/img/avatars/1.png" />
          </div>
          <div class="flex-grow-1 input-group input-group-merge rounded-pill">
            <span class="input-group-text" id="basic-addon-search31">
              <i class="ti ti-search h-mirror"></i>
            </span>
            <input aria-describedby="basic-addon-search31" aria-label="ุฌุณุชุฌู..." class="form-control chat-search-input"
              placeholder="ุฌุณุชุฌู..." type="text" />
          </div>
        </div>
        <i class="ti ti-x cursor-pointer d-lg-none d-block position-absolute mt-2 me-1 top-0 end-0"
          data-bs-toggle="sidebar" data-overlay data-target="#app-chat-contacts"></i>
      </div>
      <hr class="container-m-nx m-0" />
      <div class="sidebar-body">
        <div class="chat-contact-list-item-title">
          <h5 class="text-primary mb-0 px-4 pt-3 pb-2">ฺุช</h5>
        </div>
        <!-- Chats -->
        <ul class="list-unstyled chat-contact-list" id="chat-list">
          <li class="chat-contact-list-item chat-list-item-0 d-none">
            <h6 class="text-muted mb-0">ูฺ ฺฏูพ ูพุฏุง ูุดุฏ</h6>
          </li>
          <li class="chat-contact-list-item">
            <a class="d-flex align-items-center">
              <div class="flex-shrink-0 avatar avatar-online">
                <img alt="ุขูุงุชุงุฑ" class="rounded-circle" src="~/img/avatars/13.png" />
              </div>
              <div class="chat-contact-info flex-grow-1 ms-2">
                <h6 class="chat-contact-name text-truncate m-0">ุจูุฑุงู ุฑุงุฏุงู</h6>
                <p class="chat-contact-status text-muted text-truncate mb-0"> ุฏูุณุชุงู ุฑุง ูุนุฑู ฺฉูุฏ. ูพุงุฏุงุด ุจฺฏุฑุฏ.</p>
              </div>
              <small class="text-muted mb-auto">5 ุฏููู</small>
            </a>
          </li>
          <li class="chat-contact-list-item active">
            <a class="d-flex align-items-center">
              <div class="flex-shrink-0 avatar avatar-offline">
                <img alt="ุขูุงุชุงุฑ" class="rounded-circle" src="~/img/avatars/2.png" />
              </div>
              <div class="chat-contact-info flex-grow-1 ms-2">
                <h6 class="chat-contact-name text-truncate m-0">ููุชุงุจ ฺฉุฑุงูุช</h6>
                <p class="chat-contact-status text-muted text-truncate mb-0"> ุญุชูุง ูุฎุฑู. ๐</p>
              </div>
              <small class="text-muted mb-auto">ณฐ ุฏููู</small>
            </a>
          </li>
          <li class="chat-contact-list-item">
            <a class="d-flex align-items-center">
              <div class="flex-shrink-0 avatar avatar-busy">
                <span class="avatar-initial rounded-circle bg-label-success">ูโ</span>
              </div>
              <div class="chat-contact-info flex-grow-1 ms-2">
                <h6 class="chat-contact-name text-truncate m-0">ููุฑุงู ูุฏุฑ</h6>
                <p class="chat-contact-status text-muted text-truncate mb-0"> ุงฺฏุฑ ุทูู ู ฺฉุดุฏ ุดูุง ู ุชูุงูุฏ ฺฉุงุฑุจุฑ ุตูุฏูู
                  ูพุณุช ุงูฺฉุชุฑููฺฉ</p>
              </div>
              <small class="text-muted mb-auto">1 ุฑูุฒ</small>
            </a>
          </li>
        </ul>
        <!-- Contacts -->
        <ul class="list-unstyled chat-contact-list mb-0" id="contact-list">
          <li class="chat-contact-list-item chat-contact-list-item-title">
            <h5 class="text-primary mb-0">ูุฎุงุทุจู</h5>
          </li>
          <li class="chat-contact-list-item contact-list-item-0 d-none">
            <h6 class="text-muted mb-0">ูฺ ุงุดูุง ุงูุช ูุดุฏ</h6>
          </li>
          <li class="chat-contact-list-item">
            <a class="d-flex align-items-center">
              <div class="flex-shrink-0 avatar avatar-offline">
                <img alt="ุขูุงุชุงุฑ" class="rounded-circle" src="~/img/avatars/4.png" />
              </div>
              <div class="chat-contact-info flex-grow-1 ms-2">
                <h6 class="chat-contact-name text-truncate m-0">ููุง ุงูุชุงุฏ</h6>
                <p class="chat-contact-status text-muted text-truncate mb-0">ุทุฑุงุญ UI / UX</p>
              </div>
            </a>
          </li>
          <li class="chat-contact-list-item">
            <a class="d-flex align-items-center">
              <div class="flex-shrink-0 avatar avatar-busy">
                <img alt="ุขูุงุชุงุฑ" class="rounded-circle" src="~/img/avatars/5.png" />
              </div>
              <div class="chat-contact-info flex-grow-1 ms-2">
                <h6 class="chat-contact-name text-truncate m-0">ุณุนุฏ ุขูุงุฎุงู</h6>
                <p class="chat-contact-status text-muted text-truncate mb-0">ุชุญููฺฏุฑ ฺฉุณุจ ู ฺฉุงุฑ</p>
              </div>
            </a>
          </li>
          <li class="chat-contact-list-item">
            <a class="d-flex align-items-center">
              <div class="avatar d-block flex-shrink-0">
                <span class="avatar-initial rounded-circle bg-label-primary">ุจโู</span>
              </div>
              <div class="chat-contact-info flex-grow-1 ms-2">
                <h6 class="chat-contact-name text-truncate m-0">ุจูุฑุงู ููุฑุง</h6>
                <p class="chat-contact-status text-muted text-truncate mb-0">ูุฏุฑ ููุงุจุน</p>
              </div>
            </a>
          </li>
          <li class="chat-contact-list-item">
            <a class="d-flex align-items-center">
              <div class="flex-shrink-0 avatar avatar-busy">
                <img alt="ุขูุงุชุงุฑ" class="rounded-circle" src="~/img/avatars/7.png" />
              </div>
              <div class="chat-contact-info flex-grow-1 ms-2">
                <h6 class="chat-contact-name text-truncate m-0">ุนู ุณูุฑูุง</h6>
                <p class="chat-contact-status text-muted text-truncate mb-0">ฺฉุณุจ ู ฺฉุงุฑ ุงุฌุฑุง</p>
              </div>
            </a>
          </li>
          <li class="chat-contact-list-item">
            <a class="d-flex align-items-center">
              <div class="flex-shrink-0 avatar avatar-offline">
                <img alt="ุขูุงุชุงุฑ" class="rounded-circle" src="~/img/avatars/8.png" />
              </div>
              <div class="chat-contact-info flex-grow-1 ms-2">
                <h6 class="chat-contact-name text-truncate m-0">ูพุงูุชู ุข ุจูุฑุงู</h6>
                <p class="chat-contact-status text-muted text-truncate mb-0">ุจุงุฒุงุฑุงุจ ููุฌุง</p>
              </div>
            </a>
          </li>
          <li class="chat-contact-list-item">
            <a class="d-flex align-items-center">
              <div class="avatar d-block flex-shrink-0">
                <span class="avatar-initial rounded-circle bg-label-success">ูโ</span>
              </div>
              <div class="chat-contact-info flex-grow-1 ms-2">
                <h6 class="chat-contact-name text-truncate m-0">ููุฑุงู ูุฏุฑ</h6>
                <p class="chat-contact-status text-muted text-truncate mb-0">ูููุฏุณ UX</p>
              </div>
            </a>
          </li>
          <li class="chat-contact-list-item">
            <a class="d-flex align-items-center">
              <div class="flex-shrink-0 avatar avatar-busy">
                <img alt="ุขูุงุชุงุฑ" class="rounded-circle" src="~/img/avatars/10.png" />
              </div>
              <div class="chat-contact-info flex-grow-1 ms-2">
                <h6 class="chat-contact-name text-truncate m-0">ฺฏูุดูุชู ูุฑุงูุงู</h6>
                <p class="chat-contact-status text-muted text-truncate mb-0">ุจุฎุด ุญุณุงุจ</p>
              </div>
            </a>
          </li>
          <li class="chat-contact-list-item">
            <a class="d-flex align-items-center">
              <div class="flex-shrink-0 avatar avatar-offline">
                <img alt="ุขูุงุชุงุฑ" class="rounded-circle" src="~/img/avatars/13.png" />
              </div>
              <div class="chat-contact-info flex-grow-1 ms-2">
                <h6 class="chat-contact-name text-truncate m-0">ุจูุฑุงู ุฑุงุฏุงู</h6>
                <p class="chat-contact-status text-muted text-truncate mb-0">ูพุดุชุจุงู AWS</p>
              </div>
            </a>
          </li>
          <li class="chat-contact-list-item">
            <a class="d-flex align-items-center">
              <div class="avatar d-block flex-shrink-0">
                <span class="avatar-initial rounded-circle bg-label-danger">ุดโู</span>
              </div>
              <div class="chat-contact-info flex-grow-1 ms-2">
                <h6 class="chat-contact-name text-truncate m-0">ุดุจูู ูุฑููฺฏุงู</h6>
                <p class="chat-contact-status text-muted text-truncate mb-0">ุชูุณุนู ุฏููุฏู ูุฑุงูุช ุงูุฏ</p>
              </div>
            </a>
          </li>
          <li class="chat-contact-list-item">
            <a class="d-flex align-items-center">
              <div class="flex-shrink-0 avatar avatar-offline">
                <img alt="ุขูุงุชุงุฑ" class="rounded-circle" src="~/img/avatars/2.png" />
              </div>
              <div class="chat-contact-info flex-grow-1 ms-2">
                <h6 class="chat-contact-name text-truncate m-0">ููุชุงุจ ฺฉุฑุงูุช</h6>
                <p class="chat-contact-status text-muted text-truncate mb-0">ูููุฏุณ ุงุจุฑ</p>
              </div>
            </a>
          </li>
          <li class="chat-contact-list-item">
            <a class="d-flex align-items-center">
              <div class="flex-shrink-0 avatar avatar-busy">
                <img alt="ุขูุงุชุงุฑ" class="rounded-circle" src="~/img/avatars/11.png" />
              </div>
              <div class="chat-contact-info flex-grow-1 ms-2">
                <h6 class="chat-contact-name text-truncate m-0">ุฑุถุง ฺฉุงูุงู</h6>
                <p class="chat-contact-status text-muted text-truncate mb-0">ุชูุณุนู ุฏููุฏู ุจฺฉ ุงูุฏ</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /Chat contacts -->

    <!-- Chat History -->
    <div class="col app-chat-history bg-body">
      <div class="chat-history-wrapper">
        <div class="chat-history-header border-bottom">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex overflow-hidden align-items-center">
              <i class="ti ti-menu-2 ti-sm cursor-pointer d-lg-none d-block me-2" data-bs-toggle="sidebar" data-overlay
                data-target="#app-chat-contacts"></i>
              <div class="flex-shrink-0 avatar">
                <img alt="ุขูุงุชุงุฑ" class="rounded-circle" data-bs-toggle="sidebar" data-overlay
                  data-target="#app-chat-sidebar-right" src="~/img/avatars/2.png" />
              </div>
              <div class="chat-contact-info flex-grow-1 ms-2">
                <h6 class="m-0">ููุชุงุจ ฺฉุฑุงูุช</h6>
                <small class="user-status text-muted">ุชูุณุนู ุฏููุฏู NextJS</small>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <i class="ti ti-phone-call cursor-pointer d-sm-block d-none me-3"></i>
              <i class="ti ti-video cursor-pointer d-sm-block d-none me-3"></i>
              <i class="ti ti-search cursor-pointer d-sm-block d-none me-3"></i>
              <div class="dropdown d-flex align-self-center">
                <button aria-expanded="false" aria-haspopup="true" class="btn p-0" data-bs-toggle="dropdown"
                  id="chat-header-actions" type="button">
                  <i class="ti ti-dots-vertical"></i>
                </button>
                <div aria-labelledby="chat-header-actions" class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item" href="javascript:void(0);">ููุงุด ูุฎุงุทุจ</a>
                  <a class="dropdown-item" href="javascript:void(0);">ุจโุตุฏุง ุงุนูุงูโูุง</a>
                  <a class="dropdown-item" href="javascript:void(0);">ูุณุฏูุฏฺฉุฑุฏู</a>
                  <a class="dropdown-item" href="javascript:void(0);">ุญุฐู ูพุงูโูุง</a>
                  <a class="dropdown-item" href="javascript:void(0);">ฺฏุฒุงุฑุด</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-history-body bg-body">
          <ul class="list-unstyled chat-history">
            <li class="chat-message chat-message-right">
              <div class="d-flex overflow-hidden">
                <div class="chat-message-wrapper flex-grow-1">
                  <div class="chat-message-text">
                    <p class="mb-0">ุณูุงู ุฑูู ๐ ฺุทูุฑ ูโุชููู ฺฉูฺฉุช ฺฉููุ</p>
                  </div>
                  <div class="text-end text-muted mt-1">
                    <i class="ti ti-checks ti-xs me-1 text-success"></i>
                    <small>10:00 ู.ุธ</small>
                  </div>
                </div>
                <div class="user-avatar flex-shrink-0 ms-3">
                  <div class="avatar avatar-sm">
                    <img alt="ุขูุงุชุงุฑ" class="rounded-circle" src="~/img/avatars/1.png" />
                  </div>
                </div>
              </div>
            </li>
            <li class="chat-message">
              <div class="d-flex overflow-hidden">
                <div class="user-avatar flex-shrink-0 me-3">
                  <div class="avatar avatar-sm">
                    <img alt="ุขูุงุชุงุฑ" class="rounded-circle" src="~/img/avatars/2.png" />
                  </div>
                </div>
                <div class="chat-message-wrapper flex-grow-1">
                  <div class="chat-message-text">
                    <p class="mb-0">ู ูููุฏุ ู ูุงูุจ ูุฏุฑุช ุญุฑููโุง ูโุฎูุงู.</p>
                    <p class="mb-0">ูุดู ฺฉ ุจูู ูุนุฑู ฺฉูุ ๐ค</p>
                  </div>
                  <div class="chat-message-text mt-2">
                    <p class="mb-0">ฺฉู ุณุงุฒฺฏุงุฑ ุจุง bootstrap5 ุจุงุดู.</p>
                  </div>
                  <div class="text-muted mt-1">
                    <small>10:02 ู.ุธ</small>
                  </div>
                </div>
              </div>
            </li>
            <li class="chat-message chat-message-right">
              <div class="d-flex overflow-hidden">
                <div class="chat-message-wrapper flex-grow-1">
                  <div class="chat-message-text">
                    <p class="mb-0">ูุงูุจ Vuexy ูุฑฺุฒ ุจูุด ูฺฉุฑ ฺฉู ุฑู ุฏุงุฑู.</p>
                  </div>
                  <div class="text-end text-muted mt-1">
                    <i class="ti ti-checks ti-xs me-1 text-success"></i>
                    <small>10:03 ู.ุธ</small>
                  </div>
                </div>
                <div class="user-avatar flex-shrink-0 ms-3">
                  <div class="avatar avatar-sm">
                    <img alt="ุขูุงุชุงุฑ" class="rounded-circle" src="~/img/avatars/1.png" />
                  </div>
                </div>
              </div>
            </li>
            <li class="chat-message">
              <div class="d-flex overflow-hidden">
                <div class="user-avatar flex-shrink-0 me-3">
                  <div class="avatar avatar-sm">
                    <img alt="ุขูุงุชุงุฑ" class="rounded-circle" src="~/img/avatars/2.png" />
                  </div>
                </div>
                <div class="chat-message-wrapper flex-grow-1">
                  <div class="chat-message-text">
                    <p class="mb-0">UI ุฎู ูุฏุฑู ู ุชูุฒ ุฏุงุฑู. ๐</p>
                  </div>
                  <div class="chat-message-text mt-2">
                    <p class="mb-0">ุจุฑุง ุฏุงุดุจูุฑุฏ ูุฏุฑุช ูพุฑูฺู ููุงุณุจู.</p>
                  </div>
                  <div class="chat-message-text mt-2">
                    <p class="mb-0">ุงุฒ ฺฉุฌุง ุจุฎุฑูุุ</p>
                  </div>
                  <div class="text-muted mt-1">
                    <small>10:05 ู.ุธ</small>
                  </div>
                </div>
              </div>
            </li>
            <li class="chat-message chat-message-right">
              <div class="d-flex overflow-hidden">
                <div class="chat-message-wrapper flex-grow-1">
                  <div class="chat-message-text">
                    <p class="mb-0">ุฏุงุฎู ุณุงุช ุฑุงุณุชฺู ุงุณูุดู ุณุฑฺ ฺฉู.</p>
                  </div>
                  <div class="text-end text-muted mt-1">
                    <i class="ti ti-checks ti-xs me-1 text-success"></i>
                    <small>10:06 ู.ุธ</small>
                  </div>
                </div>
                <div class="user-avatar flex-shrink-0 ms-3">
                  <div class="avatar avatar-sm">
                    <img alt="ุขูุงุชุงุฑ" class="rounded-circle" src="~/img/avatars/1.png" />
                  </div>
                </div>
              </div>
            </li>
            <li class="chat-message">
              <div class="d-flex overflow-hidden">
                <div class="user-avatar flex-shrink-0 me-3">
                  <div class="avatar avatar-sm">
                    <img alt="ุขูุงุชุงุฑ" class="rounded-circle" src="~/img/avatars/2.png" />
                  </div>
                </div>
                <div class="chat-message-wrapper flex-grow-1">
                  <div class="chat-message-text">
                    <p class="mb-0">ุญุชูุง ูุฎุฑู. ๐</p>
                  </div>
                  <div class="chat-message-text mt-2">
                    <p class="mb-0">ููููู.</p>
                  </div>
                  <div class="text-muted mt-1">
                    <small>10:08 ู.ุธ</small>
                  </div>
                </div>
              </div>
            </li>
            <li class="chat-message chat-message-right">
              <div class="d-flex overflow-hidden">
                <div class="chat-message-wrapper flex-grow-1">
                  <div class="chat-message-text">
                    <p class="mb-0">ุฎูู ุนุงู . ุณูุงู ุฏฺฏู ุง ูุฏุงุฑุ</p>
                  </div>
                  <div class="text-end text-muted mt-1">
                    <i class="ti ti-checks ti-xs me-1 text-success"></i>
                    <small>10:10 ู.ุธ</small>
                  </div>
                </div>
                <div class="user-avatar flex-shrink-0 ms-3">
                  <div class="avatar avatar-sm">
                    <img alt="ุขูุงุชุงุฑ" class="rounded-circle" src="~/img/avatars/1.png" />
                  </div>
                </div>
              </div>
            </li>
            <li class="chat-message">
              <div class="d-flex overflow-hidden">
                <div class="user-avatar flex-shrink-0 me-3">
                  <div class="avatar avatar-sm">
                    <img alt="ุขูุงุชุงุฑ" class="rounded-circle" src="~/img/avatars/2.png" />
                  </div>
                </div>
                <div class="chat-message-wrapper flex-grow-1">
                  <div class="chat-message-text">
                    <p class="mb-0">ูุงู ูุง UI ุจุฑุง Vuexy ุฑู ุฏุงุฑุ</p>
                  </div>
                  <div class="text-muted mt-1">
                    <small>10:15 ู.ุธ</small>
                  </div>
                </div>
              </div>
            </li>
            <li class="chat-message chat-message-right">
              <div class="d-flex overflow-hidden">
                <div class="chat-message-wrapper flex-grow-1 w-50">
                  <div class="chat-message-text">
                    <p class="mb-0"> ุจูู ุฏุงุฎู ูพฺฉุฌ ฺฉู ุฎุฑุฏุงุฑ ฺฉู ูุณุชุด.</p>
                  </div>
                  <div class="text-end text-muted mt-1">
                    <i class="ti ti-checks ti-xs me-1"></i>
                    <small>10:15 ู.ุธ</small>
                  </div>
                </div>
                <div class="user-avatar flex-shrink-0 ms-3">
                  <div class="avatar avatar-sm">
                    <img alt="ุขูุงุชุงุฑ" class="rounded-circle" src="~/img/avatars/1.png" />
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!-- Chat message form -->
        <div class="chat-history-footer shadow-sm">
          <form class="form-send-message d-flex justify-content-between align-items-center">
            <input class="form-control message-input border-0 me-3 shadow-none"
              placeholder="ูพุงู ุฎูุฏ ุฑุง ุงูุฌุง ุชุงูพ ฺฉูุฏ" />
            <div class="message-actions d-flex align-items-center">
              <i class="speech-to-text ti ti-microphone ti-sm cursor-pointer"></i>
              <label class="form-label mb-0" for="attach-doc">
                <i class="ti ti-photo ti-sm cursor-pointer mx-3"></i>
                <input hidden id="attach-doc" type="file" />
              </label>
              <button class="btn btn-primary d-flex send-msg-btn">
                <span class="align-middle d-md-inline-block d-none">ุงุฑุณุงู</span>
                <i class="ti ti-send ms-md-1 ms-0 ic-mirror"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /Chat History -->

    <!-- Sidebar Right -->
    <div class="col app-chat-sidebar-right app-sidebar overflow-hidden" id="app-chat-sidebar-right">
      <div class="sidebar-header d-flex flex-column justify-content-center align-items-center flex-wrap px-4 pt-5">
        <div class="avatar avatar-xl avatar-online">
          <img alt="ุขูุงุชุงุฑ" class="rounded-circle" src="~/img/avatars/2.png" />
        </div>
        <h6 class="mt-2 mb-0">ููุชุงุจ ฺฉุฑุงูุช</h6>
        <span>ุชูุณุนู ุฏููุฏู NextJS</span>
        <i class="ti ti-x ti-sm cursor-pointer close-sidebar d-block" data-bs-toggle="sidebar" data-overlay
          data-target="#app-chat-sidebar-right"></i>
      </div>
      <div class="sidebar-body px-4 pb-4">
        <div class="my-4">
          <small class="text-muted text-uppercase">ููุฑุฏ</small>
          <p class="mb-0 mt-3"> ุจุนุฏ. ุชูุณุนู ุฏููุฏู js ฺฉ ุชูุณุนู ุฏููุฏู ูุฑู ุงูุฒุงุฑ ุงุณุช ฺฉู ุงุฒ Next ุงุณุชูุงุฏู ู ฺฉูุฏ. ฺุงุฑฺูุจ js
            ุฏุฑ ฺฉูุงุฑ ReactJS ุจุฑุง ุณุงุฎุช ุจุฑูุงูู ูุง ฺฉุงุฑุจุฑุฏ ูุจ.</p>
        </div>
        <div class="my-4">
          <small class="text-muted text-uppercase">ุงุทูุงุนุงุช ุดุฎุต</small>
          <ul class="list-unstyled d-grid gap-2 mt-3">
            <li class="d-flex align-items-center">
              <i class="ti ti-mail ti-sm"></i>
              <span class="align-middle ms-2">josephGreen@email.com</span>
            </li>
            <li class="d-flex align-items-center">
              <i class="ti ti-phone-call ti-sm"></i>
              <span class="align-middle ms-2">
                <bdi>+1(123) 456 - 7890</bdi>
              </span>
            </li>
            <li class="d-flex align-items-center">
              <i class="ti ti-clock ti-sm"></i>
              <span class="align-middle ms-2">ุฏูุดูุจู - ุฌูุนู 10AM - 8PM</span>
            </li>
          </ul>
        </div>
        <div class="mt-4">
          <small class="text-muted text-uppercase">ฺฏุฒูู</small>
          <ul class="list-unstyled d-grid gap-2 mt-3">
            <li class="cursor-pointer d-flex align-items-center">
              <i class="ti ti-badge ti-sm"></i>
              <span class="align-middle ms-2">ุงูุฒูุฏู ุจุฑฺุณุจ</span>
            </li>
            <li class="cursor-pointer d-flex align-items-center">
              <i class="ti ti-star ti-sm"></i>
              <span class="align-middle ms-2">ุชูุงุณ ููู</span>
            </li>
            <li class="cursor-pointer d-flex align-items-center">
              <i class="ti ti-photo ti-sm"></i>
              <span class="align-middle ms-2">ุฑุณุงูู ูุง ุงุดุชุฑุงฺฉ</span>
            </li>
            <li class="cursor-pointer d-flex align-items-center">
              <i class="ti ti-trash ti-sm"></i>
              <span class="align-middle ms-2">ุญุฐู ุงุดูุง</span>
            </li>
            <li class="cursor-pointer d-flex align-items-center">
              <i class="ti ti-ban ti-sm"></i>
              <span class="align-middle ms-2">ูุณุฏูุฏ ฺฉุฑุฏู ูุฎุงุทุจ</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Sidebar Right -->

    <div class="app-overlay"></div>
  </div>
</div>
