@{
    ViewData["Title"] = "صفحه خانه";
}

<div class="text-center">
    <h1 class="display-4">خوش آمدید</h1>
    <p> برای اطلاعات بیشتر در مورد طراحی صفحات وب با ASP.NET Core <a href="https://docs.microsoft.com/aspnet/core"> مستندات</a> را مطالعه کنید</p>
    <p><a asp-controller="Home" asp-action="Privacy">قوانین و شرایط استفاده</a></p>
</div>
