@{
  Layout = "_BlankLayout";
  ViewData["Title"] = "ุตูุญุงุช - ูุฑูุฏ";
}

@section VendorStyles {
<link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/umd/styles/index.min.css" />
}

@section VendorScripts {
<script src="~/vendor/libs/&#64;form-validation/umd/bundle/popular.min.js"></script>
<script src="~/vendor/libs/&#64;form-validation/umd/plugin-bootstrap5/index.min.js"></script>
<script src="~/vendor/libs/&#64;form-validation/umd/plugin-auto-focus/index.min.js"></script>
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

@section PageScripts {
<script src="~/js/pages-auth.js"></script>
}
@* ************** Content ************** *@

<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-4">
      <!-- Login -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center mb-4 mt-2">
            <a href="/" class="app-brand-link gap-2">
              <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
              <span class="app-brand-text demo text-body fw-bold ms-1">@TempData.Peek("appName")</span>
            </a>
          </div>
          <!-- /Logo -->
          <h4 class="mb-1 pt-2">ุฎูุด ุขูุฏุฏ ุจู @TempData.Peek("appName")! ๐</h4>
          <p class="mb-4">ูุทูุง ุจู ุญุณุงุจ ฺฉุงุฑุจุฑ ุฎูุฏ ูุงุฑุฏ ุดูุฏ ุชุง ุงุฒ ุงูฺฉุงูุงุช ุณุงูุงูู ุงุณุชูุงุฏู ฺฉูุฏ.</p>

          <form id="formAuthentication" class="mb-3" action="~/" method="GET">
            <div class="mb-3">
              <label class="form-label" for="email">ุงูู ุง ูุงู ฺฉุงุฑุจุฑ</label>
              <input autofocus class="form-control" id="email" name="email-username" placeholder="ุงูู ุง ูุงู ฺฉุงุฑุจุฑ ุฎูุฏ ุฑุง ูุงุฑุฏ ฺฉูุฏ" type="text"/>
            </div>
            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="password">ุฑูุฒ ุนุจูุฑ</label>
                <a href="/Auth/ForgotPasswordBasic">
                  <small>ูุฑุงููุด ฺฉุฑุฏูโุงุฏุ</small>
                </a>
              </div>
              <div class="input-group input-group-merge">
                <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
              </div>
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="remember-me">
                <label class="form-check-label" for="remember-me"> ูุฑุง ุจู ุฎุงุทุฑ ุจุณูพุงุฑ</label>
              </div>
            </div>
            <div class="mb-3">
              <button class="btn btn-primary d-grid w-100" type="submit">ูุฑูุฏ ุจู ุณุณุชู</button>
            </div>
          </form>

          <p class="text-center">
            <span>ุญุณุงุจ ฺฉุงุฑุจุฑ ูุฏุงุฑุฏุ</span>
            <a href="/Auth/RegisterBasic">
              <span>ุซุจุช ูุงู</span>
            </a>
          </p>

          <div class="divider my-4">
            <div class="divider-text">ุง</div>
          </div>

          <div class="d-flex justify-content-center">
            <a href="javascript:;" class="btn btn-icon btn-label-facebook me-3">
              <i class="tf-icons fa-brands fa-facebook-f fs-5"></i>
            </a>

            <a href="javascript:;" class="btn btn-icon btn-label-google-plus me-3">
              <i class="tf-icons fa-brands fa-google fs-5"></i>
            </a>

            <a href="javascript:;" class="btn btn-icon btn-label-twitter">
              <i class="tf-icons fa-brands fa-twitter fs-5"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- /Register -->
    </div>
  </div>
</div>

