<!-- Share Project Modal -->
<div aria-hidden="true" class="modal fade" id="shareProject" tabindex="-1">
  <div class="modal-dialog modal-lg modal-simple modal-enable-otp modal-dialog-centered">
    <div class="modal-content p-3 p-md-5">
      <div class="modal-body">
        <button aria-label="بستن" class="btn-close" data-bs-dismiss="modal" type="button"></button>
        <div class="text-center">
          <h3 class="mb-2">اشتراک پروژه</h3>
          <p>پروژه را با یک عضو تیم به اشتراک بگذارید</p>
        </div>
      </div>
      <div class="mb-4 pb-2">
        <label class="form-label" for="select2Basic">افزودن اعضا</label>
        <select class="form-select form-select-lg share-project-select" data-allow-clear="true" id="select2Basic">
          <option data-image="img/avatars/13.png" data-name="اشکان خطیبی" selected> اشکان خطیبی</option>
          <option data-image="img/avatars/9.png" data-name="علیرضا محمدی">علیرضا محمدی</option>
          <option data-image="img/avatars/10.png" data-name="ملیحه رستمی">ملیحه رستمی</option>
          <option data-image="img/avatars/7.png" data-name="سعید شاهینی">سعید شاهینی</option>
        </select>
      </div>
      <h4 class="mb-2 pb-2">8 عضو</h4>
      <ul class="p-0 m-0">
        <li class="d-flex flex-wrap mb-3 align-items-center">
          <div class="avatar me-3">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/1.png"/>
          </div>
          <div class="d-flex justify-content-between flex-grow-1">
            <div class="me-2">
              <p class="mb-0">محمدرضا گلزار</p>
              <p class="mb-0 text-muted">pe@vogeiz.net</p>
            </div>
            <div class="dropdown">
              <button aria-expanded="false" class="btn dropdown-toggle p-2" data-bs-toggle="dropdown" type="button">
                <span class="text-muted fw-normal me-2 d-none d-sm-inline-block">سطح دسترسی</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">مالک</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">طراح</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">توسعه دهنده</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">امنیت</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="d-flex flex-wrap mb-3 align-items-center">
          <div class="avatar me-3">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/2.png"/>
          </div>
          <div class="d-flex justify-content-between flex-grow-1">
            <div class="me-2">
              <p class="mb-0">نازنین احمدی</p>
              <p class="mb-0 text-muted">peromak@zukedohik.gov</p>
            </div>
            <div class="dropdown">
              <button aria-expanded="false" class="btn dropdown-toggle p-2" data-bs-toggle="dropdown" type="button">
                <span class="text-muted fw-normal me-2 d-none d-sm-inline-block">سطح دسترسی</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">مالک</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">طراح</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">توسعه دهنده</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">امنیت</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="d-flex flex-wrap mb-3 align-items-center">
          <div class="avatar me-3">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/3.png"/>
          </div>
          <div class="d-flex justify-content-between flex-grow-1">
            <div class="me-2">
              <p class="mb-0">سعید شاهینی</p>
              <p class="mb-0 text-muted">rumet@jujpejah.net</p>
            </div>
            <div class="dropdown">
              <button aria-expanded="false" class="btn dropdown-toggle p-2" data-bs-toggle="dropdown" type="button">
                <span class="text-muted fw-normal me-2 d-none d-sm-inline-block">سطح دسترسی</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">مالک</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">طراح</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">توسعه دهنده</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">امنیت</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="d-flex flex-wrap mb-3 align-items-center">
          <div class="avatar me-3">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/4.png"/>
          </div>
          <div class="d-flex justify-content-between flex-grow-1">
            <div class="me-2">
              <p class="mb-0">پریسا قاسمی</p>
              <p class="mb-0 text-muted">negza@nuv.io</p>
            </div>
            <div class="dropdown">
              <button aria-expanded="false" class="btn dropdown-toggle p-2" data-bs-toggle="dropdown" type="button">
                <span class="text-muted fw-normal me-2 d-none d-sm-inline-block">سطح دسترسی</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">مالک</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">طراح</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">توسعه دهنده</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">امنیت</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="d-flex flex-wrap mb-3 align-items-center">
          <div class="avatar me-3">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/5.png"/>
          </div>
          <div class="d-flex justify-content-between flex-grow-1">
            <div class="me-2">
              <p class="mb-0">علیرضا محمدی</p>
              <p class="mb-0 text-muted">lunebame@umdomgu.net</p>
            </div>
            <div class="dropdown">
              <button aria-expanded="false" class="btn dropdown-toggle p-2" data-bs-toggle="dropdown" type="button">
                <span class="text-muted fw-normal me-2 d-none d-sm-inline-block">سطح دسترسی</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">مالک</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">طراح</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">توسعه دهنده</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">امنیت</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="d-flex flex-wrap mb-3 align-items-center">
          <div class="avatar me-3">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/6.png"/>
          </div>
          <div class="d-flex justify-content-between flex-grow-1">
            <div class="me-2">
              <p class="mb-0">ملیحه رستمی</p>
              <p class="mb-0 text-muted">ha@sugit.gov</p>
            </div>
            <div class="dropdown">
              <button aria-expanded="false" class="btn dropdown-toggle p-2" data-bs-toggle="dropdown" type="button">
                <span class="text-muted fw-normal me-2 d-none d-sm-inline-block">سطح دسترسی</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">مالک</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">طراح</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">توسعه دهنده</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">امنیت</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="d-flex flex-wrap mb-3 align-items-center">
          <div class="avatar me-3">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/7.png"/>
          </div>
          <div class="d-flex justify-content-between flex-grow-1">
            <div class="me-2">
              <p class="mb-0">پارسا جلالی</p>
              <p class="mb-0 text-muted">zokap@mak.org</p>
            </div>
            <div class="dropdown">
              <button aria-expanded="false" class="btn dropdown-toggle p-2" data-bs-toggle="dropdown" type="button">
                <span class="text-muted fw-normal me-2 d-none d-sm-inline-block">سطح دسترسی</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">مالک</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">طراح</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">توسعه دهنده</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">امنیت</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="d-flex flex-wrap align-items-center">
          <div class="avatar me-3">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/8.png"/>
          </div>
          <div class="d-flex justify-content-between flex-grow-1">
            <div class="me-2">
              <p class="mb-0">حانیه رسولی</p>
              <p class="mb-0 text-muted">ujinomu@jigo.com</p>
            </div>
            <div class="dropdown">
              <button aria-expanded="false" class="btn dropdown-toggle p-2" data-bs-toggle="dropdown" type="button">
                <span class="text-muted fw-normal me-2 d-none d-sm-inline-block">سطح دسترسی</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">مالک</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">طراح</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">توسعه دهنده</a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">امنیت</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <div class="d-flex align-items-start mt-4 align-items-sm-center">
        <i class="ti ti-users me-2"></i>
        <div class="d-flex justify-content-between flex-grow-1 align-items-center flex-wrap gap-2">
          <h6 class="mb-0">ارسال لینک و عضو شدن افراد</h6>
          <button class="btn btn-primary">کپی لینک</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Share Project Modal -->
