@{
  ViewData["Title"] = "رابط کاربری - کارت‌های پایه";
}

@section VendorScripts {
<script src="~/vendor/libs/masonry/masonry.js"></script>
}

@* ************** Content ************** *@

  <h4 class="py-3 mb-4">
    <span class="text-muted fw-light">امکانات /</span>
    کارت‌های پایه
  </h4>
  <!-- Examples -->
  <div class="row mb-5">
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card h-100">
        <img alt="درپوش تصویر کارت" class="card-img-top" src="~/img/elements/2.jpg"/>
        <div class="card-body">
          <h5 class="card-title">عنوان اصلی</h5>
          <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
          <a class="btn btn-outline-primary" href="javascript:void(0)">کلید تست</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">عنوان اصلی</h5>
          <h6 class="card-subtitle text-muted">پشتیبانی از زیرعنوان</h6>
        </div>
        <img alt="درپوش تصویر کارت" class="img-fluid" src="~/img/elements/10.jpg"/>
        <div class="card-body">
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
          <a class="card-link" href="javascript:void(0);">لینک اول</a>
          <a class="card-link" href="javascript:void(0);">لینک دوم</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">عنوان اصلی</h5>
          <h6 class="card-subtitle text-muted">پشتیبانی از زیرعنوان</h6>
          <img alt="درپوش تصویر کارت" class="img-fluid d-flex mx-auto my-4 rounded" src="~/img/elements/4.jpg"/>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها</p>
          <a class="card-link" href="javascript:void(0);">لینک اول</a>
          <a class="card-link" href="javascript:void(0);">لینک دوم</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Examples -->
  <!-- Content types -->
  <h5 class="pb-1 mb-4">انواع محتوا</h5>
  <div class="row mb-5">
    <div class="col-md-6 col-lg-4">
      <h6 class="mt-2 text-muted">بدنه</h6>
      <div class="card mb-4">
        <div class="card-body">
          <p class="card-text justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
        </div>
      </div>
      <h6 class="mt-2 text-muted">عناوین، متن و لینک ها</h6>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">عنوان اصلی</h5>
          <div class="card-subtitle text-muted mb-1">زیرنویس کارت</div>
          <p class="card-text"> برخی از متن مثال سریع برای ساخت بر روی عنوان اصلی و بخش عمده ای از محتوای کارت را تشکیل می دهند.</p>
          <a class="card-link" href="javascript:void(0)">لینک کارت</a>
          <a class="card-link" href="javascript:void(0)">لینک تست</a>
        </div>
      </div>
      <h6 class="mt-2 text-muted">فهرست گروهها</h6>
      <div class="card mb-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">تکنولوژی و نوآوری</li>
          <li class="list-group-item">سلامتی و زندگی بهداشتی</li>
          <li class="list-group-item">هنر و فرهنگ</li>
          <li class="list-group-item">بهبود سلامتی و زندگی فیزیکی</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <h6 class="mt-2 text-muted">تصاویر</h6>
      <div class="card mb-4">
        <img alt="درپوش تصویر کارت" class="card-img-top" src="~/img/elements/5.jpg"/>
        <div class="card-body">
          <p class="card-text justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <h6 class="mt-2 text-muted">سینک اشپزخانه</h6>
      <div class="card">
        <img alt="درپوش تصویر کارت" class="card-img-top" src="~/img/elements/7.jpg"/>
        <div class="card-body">
          <h5 class="card-title">عنوان اصلی</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">تکنولوژی و نوآوری</li>
          <li class="list-group-item">سلامتی و زندگی بهداشتی</li>
        </ul>
        <div class="card-body">
          <a class="card-link" href="javascript:void(0)">لینک کارت</a>
          <a class="card-link" href="javascript:void(0)">لینک سفارشی</a>
        </div>
      </div>
    </div>
  </div>
  <h6 class="pb-1 mb-4 text-muted">هـدر و فـوتر</h6>
  <div class="row mb-5">
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header">ویژه</div>
        <div class="card-body">
          <h5 class="card-title">عنوان کارت</h5>
          <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
          <a class="btn btn-primary" href="javascript:void(0)">کلید تست</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <h5 class="card-header">نقل قول</h5>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p class="justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
            <footer class="blockquote-footer">
              <cite title="عنوان منبع عنوان">شخصی صاحب نام</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card text-center">
        <div class="card-header">ویژه</div>
        <div class="card-body">
          <h5 class="card-title">عنوان کارت</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
          <a class="btn btn-primary" href="javascript:void(0)">کلید تست</a>
        </div>
        <div class="card-footer text-muted">2 روز پیش</div>
      </div>
    </div>
  </div>
  <!--/ Content types -->
  <!-- Text alignment -->
  <h5 class="pb-1 mb-4">تراز متن</h5>
  <div class="row mb-5">
    <div class="col-md-6 col-lg-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">عنوان کارت</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
          <a class="btn btn-primary" href="javascript:void(0)">کلید تست</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card text-center mb-3">
        <div class="card-body">
          <h5 class="card-title">عنوان کارت</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
          <a class="btn btn-primary" href="javascript:void(0)">کلید تست</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card text-end mb-3">
        <div class="card-body">
          <h5 class="card-title">عنوان کارت</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
          <a class="btn btn-primary" href="javascript:void(0)">کلید تست</a>
        </div>
      </div>
    </div>
  </div>
  <!--/ Text alignment -->
  <!-- Navigation -->
  <h5 class="pb-1 mb-4">تب بار</h5>
  <div class="row mb-5">
    <div class="col-md-6">
      <div class="card text-center mb-3">
        <div class="card-header pt-1">
          <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item">
              <button aria-controls="navs-tab-home" aria-selected="true" class="nav-link active" data-bs-target="#navs-tab-home" data-bs-toggle="tab" role="tab" type="button"> خانه</button>
            </li>
            <li class="nav-item">
              <button aria-controls="navs-tab-profile" aria-selected="false" class="nav-link" data-bs-target="#navs-tab-profile" data-bs-toggle="tab" role="tab" type="button"> تب دوم</button>
            </li>
            <li class="nav-item">
              <button aria-selected="false" class="nav-link disabled" data-bs-toggle="tab" role="tab" type="button"> غیر فعال</button>
            </li>
          </ul>
        </div>
        <div class="card-body pt-3">
          <div class="tab-content p-0">
            <div class="tab-pane fade show active" id="navs-tab-home" role="tabpanel">
              <h5 class="card-title">عنوان کارت</h5>
              <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
              <a class="btn btn-primary" href="javascript:void(0);">برو خانه</a>
            </div>
            <div class="tab-pane fade" id="navs-tab-profile" role="tabpanel">
              <h5 class="card-title">عنوان کارت</h5>
              <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
              <a class="btn btn-primary" href="javascript:void(0);">برو مشخصات</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header py-2">
          <ul class="nav nav-pills card-header-pills" role="tablist">
            <li class="nav-item">
              <button aria-controls="navs-pills-tab-home" aria-selected="true" class="nav-link active" data-bs-target="#navs-pills-tab-home" data-bs-toggle="tab" role="tab" type="button"> خانه</button>
            </li>
            <li class="nav-item">
              <button aria-controls="navs-pills-tab-profile" aria-selected="false" class="nav-link" data-bs-target="#navs-pills-tab-profile" data-bs-toggle="tab" role="tab" type="button"> تب دوم</button>
            </li>
            <li class="nav-item">
              <button aria-selected="false" class="nav-link disabled" data-bs-toggle="tab" role="tab" type="button"> غیر فعال</button>
            </li>
          </ul>
        </div>
        <div class="card-body pt-3">
          <div class="tab-content p-0">
            <div class="tab-pane fade show active" id="navs-pills-tab-home" role="tabpanel">
              <h5 class="card-title">عنوان کارت</h5>
              <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
              <a class="btn btn-primary" href="javascript:void(0);">برو خانه</a>
            </div>
            <div class="tab-pane fade" id="navs-pills-tab-profile" role="tabpanel">
              <h5 class="card-title">عنوان کارت</h5>
              <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
              <a class="btn btn-primary" href="javascript:void(0);">برو مشخصات</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Navigation -->
  <!-- Images -->
  <h5 class="pb-1 mb-4">تصاویر و متن ها</h5>
  <div class="row mb-5">
    <div class="col-md-6 col-xl-4">
      <div class="card mb-3">
        <img alt="درپوش تصویر کارت" class="card-img-top" src="~/img/elements/13.jpg"/>
        <div class="card-body">
          <h5 class="card-title">عنوان اصلی</h5>
          <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
          <p class="card-text">
            <small class="text-muted">3 دقیقه قبل</small>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">عنوان اصلی</h5>
          <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
          <p class="card-text">
            <small class="text-muted">3 دقیقه قبل</small>
          </p>
        </div>
        <img alt="درپوش تصویر کارت" class="card-img-bottom" src="~/img/elements/1.jpg"/>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card bg-dark border-0 text-white">
        <img alt="تصویر کارت" class="card-img" src="~/img/elements/8.jpg"/>
        <div class="card-img-overlay">
          <h5 class="card-title">عنوان اصلی</h5>
          <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
          <p class="card-text">3 دقیقه قبل</p>
        </div>
      </div>
    </div>
  </div>
  <!--/ Images -->
  <!-- Horizontal -->
  <h5 class="pb-1 mb-4">افقی</h5>
  <div class="row mb-5">
    <div class="col-md">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img alt="تصویر کارت" class="card-img card-img-left" src="~/img/elements/9.jpg"/>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">عنوان اصلی</h5>
              <p class="card-text justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
              <p class="card-text">
                <small class="text-muted"> 3 دقیقه پیش</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">عنوان اصلی</h5>
              <p class="card-text justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
              <p class="card-text">
                <small class="text-muted"> 3 دقیقه پیش</small>
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <img alt="تصویر کارت" class="card-img card-img-right" src="~/img/elements/12.jpg"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Horizontal -->
  <!-- Style variation -->
  <h5 class="pb-1 mb-4">تنوع سبک</h5>
  <div class="row">
    <div class="col-md-6 col-xl-4">
      <div class="card bg-primary text-white mb-3">
        <div class="card-header">هدر</div>
        <div class="card-body">
          <h5 class="card-title text-white">عنوان کارت اصلی</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card bg-secondary text-white mb-3">
        <div class="card-header">هدر</div>
        <div class="card-body">
          <h5 class="card-title text-white">عنوان کارت فرعی</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card bg-success text-white mb-3">
        <div class="card-header">هدر</div>
        <div class="card-body">
          <h5 class="card-title text-white">عنوان کارت موفقیت</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card bg-danger text-white mb-3">
        <div class="card-header">هدر</div>
        <div class="card-body">
          <h5 class="card-title text-white">عنوان کارت اخطار</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card bg-warning text-white mb-3">
        <div class="card-header">هدر</div>
        <div class="card-body">
          <h5 class="card-title text-white">عنوان کارت هشدار</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card bg-info text-white mb-3">
        <div class="card-header">هدر</div>
        <div class="card-body">
          <h5 class="card-title text-white">عنوان کارت اطلاعات</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Outline -->
  <div class="row">
    <div class="col-md-6 col-xl-4">
      <div class="card shadow-none bg-transparent border border-primary mb-3">
        <div class="card-body">
          <h5 class="card-title">عنوان کارت اصلی</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card shadow-none bg-transparent border border-secondary mb-3">
        <div class="card-body">
          <h5 class="card-title">عنوان کارت فرعی</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card shadow-none bg-transparent border border-success mb-3">
        <div class="card-body">
          <h5 class="card-title">عنوان کارت موفقیت</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card shadow-none bg-transparent border border-danger mb-3">
        <div class="card-body">
          <h5 class="card-title">عنوان کارت خطا</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card shadow-none bg-transparent border border-warning mb-3">
        <div class="card-body">
          <h5 class="card-title">عنوان کارت اخطار</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card shadow-none bg-transparent border border-info mb-3">
        <div class="card-body">
          <h5 class="card-title">عنوان کارت اطلاعات</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xl-4">
      <div class="card bg-primary text-white mb-3">
        <div class="card-body">
          <h5 class="card-title text-white">عنوان کارت اصلی</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card bg-secondary text-white mb-3">
        <div class="card-body">
          <h5 class="card-title text-white">عنوان کارت فرعی</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card bg-success text-white mb-3">
        <div class="card-body">
          <h5 class="card-title text-white">عنوان کارت موفقیت</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card bg-danger text-white mb-3">
        <div class="card-body">
          <h5 class="card-title text-white">عنوان کارت اخطار</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card bg-warning text-white mb-3">
        <div class="card-body">
          <h5 class="card-title text-white">عنوان کارت هشدار</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card bg-info text-white mb-3">
        <div class="card-body">
          <h5 class="card-title text-white">عنوان کارت اطلاعات</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
  </div>
  <!--/ Style variation -->
  <!-- Card layout -->
  <h5 class="pb-1 my-5">طرحبندی کارت</h5>
  <!-- Card Groups -->
  <h6 class="pb-1 mb-4 text-muted">گروه کارت</h6>
  <div class="card-group mb-5">
    <div class="card">
      <img alt="درپوش تصویر کارت" class="card-img-top" src="~/img/elements/4.jpg"/>
      <div class="card-body">
        <h5 class="card-title">عنوان اصلی</h5>
        <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"> 3 دقیقه پیش</small>
      </div>
    </div>
    <div class="card">
      <img alt="درپوش تصویر کارت" class="card-img-top" src="~/img/elements/5.jpg"/>
      <div class="card-body">
        <h5 class="card-title">عنوان اصلی</h5>
        <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"> 3 دقیقه پیش</small>
      </div>
    </div>
    <div class="card">
      <img alt="درپوش تصویر کارت" class="card-img-top" src="~/img/elements/1.jpg"/>
      <div class="card-body">
        <h5 class="card-title">عنوان اصلی</h5>
        <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"> 3 دقیقه پیش</small>
      </div>
    </div>
  </div>
  <!-- Grid Card -->
  <h6 class="pb-1 mb-4 text-muted">گرید کارت</h6>
  <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
    <div class="col">
      <div class="card h-100">
        <img alt="درپوش تصویر کارت" class="card-img-top" src="~/img/elements/2.jpg"/>
        <div class="card-body">
          <h5 class="card-title">عنوان اصلی</h5>
          <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img alt="درپوش تصویر کارت" class="card-img-top" src="~/img/elements/10.jpg"/>
        <div class="card-body">
          <h5 class="card-title">عنوان اصلی</h5>
          <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img alt="درپوش تصویر کارت" class="card-img-top" src="~/img/elements/4.jpg"/>
        <div class="card-body">
          <h5 class="card-title">عنوان اصلی</h5>
          <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img alt="درپوش تصویر کارت" class="card-img-top" src="~/img/elements/13.jpg"/>
        <div class="card-body">
          <h5 class="card-title">عنوان اصلی</h5>
          <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img alt="درپوش تصویر کارت" class="card-img-top" src="~/img/elements/14.jpg"/>
        <div class="card-body">
          <h5 class="card-title">عنوان اصلی</h5>
          <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img alt="درپوش تصویر کارت" class="card-img-top" src="~/img/elements/15.jpg"/>
        <div class="card-body">
          <h5 class="card-title">عنوان اصلی</h5>
          <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Masonry -->
  <h6 class="pb-1 mb-4 text-muted">ماسونری (ساختمانی)</h6>
  <div class="row" data-masonry='{"percentPosition": true }'>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <img alt="درپوش تصویر کارت" class="card-img-top" src="~/img/elements/5.jpg"/>
        <div class="card-body">
          <h5 class="card-title">عنوان اصلی</h5>
          <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card p-3">
        <figure class="p-3 mb-0">
          <blockquote class="blockquote">
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-muted">
            <cite title="عنوان منبع عنوان">شخصی صاحب نام</cite>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <img alt="درپوش تصویر کارت" class="card-img-top" src="~/img/elements/13.jpg"/>
        <div class="card-body">
          <h5 class="card-title">عنوان اصلی</h5>
          <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
          <p class="card-text">
            <small class="text-muted">3 دقیقه پیش</small>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card bg-primary text-white text-center p-3">
        <figure class="mb-0">
          <blockquote class="blockquote">
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-white">
            <cite title="عنوان منبع عنوان">شخصی صاحب نام</cite>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">عنوان اصلی</h5>
          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
          <p class="card-text">
            <small class="text-muted"> 3 دقیقه پیش</small>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <img alt="درپوش تصویر کارت" class="card-img-top" src="~/img/elements/4.jpg"/>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card p-3 text-end">
        <figure class="mb-0">
          <blockquote class="blockquote">
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-muted">
            <cite title="عنوان منبع عنوان">شخصی صاحب نام</cite>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">عنوان اصلی</h5>
          <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
          <p class="card-text">
            <small class="text-muted">3 دقیقه پیش</small>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--/ Card layout -->
