@model Application.ViewModels.Auth.LoginViewModel
@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "ورود";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/umd/styles/index.min.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/&#64;form-validation/umd/bundle/popular.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-auto-focus/index.min.js"></script>
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

@section PageScripts {
    <script src="~/js/pages-auth.js"></script>
}
@* ************** Content ************** *@

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
            <!-- Login -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-between mb-2 mt-2">
                        <a href="/" class="app-brand-link gap-2">
                           <img src="~/logo_full_b.png" style="width:200px;" />

                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2 pt-1">به پنل سازمانی خوش آمدید</h4>
                    <p class="mb-2">برای ورود، اطلاعات کاربر را وارد کنید</p>
                    @if(! string.IsNullOrEmpty( ViewBag.errormessage))
                    {
                        <div class="mt-1 mb-1 text-danger">@ViewBag.errormessage</div>
                    }

                    <form id="formAuthentication" class="mb-3" method="POST" asp-action="Login">
                        <div class="mb-3">
                            <label class="form-label" for="NumberPhone">نام کاربری</label>
							<input autofocus class="form-control" id="Username" asp-for="Username" placeholder="نام کاربری را وارد کنید" type="text" />
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label class="form-label" for="Password">رمز عبور</label>
                                <a href="/Auth/ForgotPasswordBasic">
                                    <small>فراموش کرده‌اید؟</small>
                                </a>
                            </div>
                            <div class="input-group input-group-merge">
                                <input type="password" id="Password" class="form-control" asp-for="Password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                            </div>
                        </div>

                        <div class="mb-2 d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="remember-me" asp-for="RemmemberMe">
                                <label class="form-check-label" asp-for="RemmemberMe"> مرا به خاطر بسپار</label>
                            </div>
                            <div>
                            <a asp-action="Loginotp">
                                <small>ورود با رمز یکبارمصرف</small>
                            </a>
                          </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" type="submit">ورود به سیستم</button>
                        </div>
                    </form>
                    @*
                    <p class="text-center">
                    <span>حساب کاربری ندارید؟</span>
                    <a href="/Auth/RegisterBasic">
                    <span>ثبت نام</span>
                    </a>
                    </p>

                    <div class="divider my-4">
                    <div class="divider-text">یا</div>
                    </div>

                    <div class="d-flex justify-content-center">
                    <a href="javascript:;" class="btn btn-icon btn-label-facebook me-3">
                    <i class="tf-icons fa-brands fa-facebook-f fs-5"></i>
                    </a>

                    <a href="javascript:;" class="btn btn-icon btn-label-google-plus me-3">
                    <i class="tf-icons fa-brands fa-google fs-5"></i>
                    </a>

                    <a href="javascript:;" class="btn btn-icon btn-label-twitter">
                    <i class="tf-icons fa-brands fa-twitter fs-5"></i>
                    </a>
                    </div> *@
                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>

