@{
  ViewData["Title"] = "رابط کاربری - آکاردئون";
}
@* ************** Content ************** *@

<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">رابط کاربری /</span>
  آکاردئون
</h4>
<!-- Accordion -->
<h5 class="mt-4">آکاردئون</h5>
<div class="row">
  <div class="col-md mb-4 mb-md-2">
    <small class="text-light fw-medium">آکاردئون پایه</small>
    <div class="accordion mt-3" id="accordionExample">
      <div class="card accordion-item active">
        <h2 class="accordion-header" id="headingOne">
          <button aria-controls="accordionOne" aria-expanded="true" class="accordion-button" data-bs-target="#accordionOne" data-bs-toggle="collapse" type="button"> آکاردئون شماره 1</button>
        </h2>
        <div class="accordion-collapse collapse show" data-bs-parent="#accordionExample" id="accordionOne">
          <div class="accordion-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</div>
        </div>
      </div>
      <div class="card accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button aria-controls="accordionTwo" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#accordionTwo" data-bs-toggle="collapse" type="button"> آکاردئون شماره 2</button>
        </h2>
        <div aria-labelledby="headingTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="accordionTwo">
          <div class="accordion-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</div>
        </div>
      </div>
      <div class="card accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button aria-controls="accordionThree" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#accordionThree" data-bs-toggle="collapse" type="button"> آکاردئون شماره 3</button>
        </h2>
        <div aria-labelledby="headingThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="accordionThree">
          <div class="accordion-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md">
    <small class="text-light fw-medium">آکاردئون بدون پیکان</small>
    <div class="accordion mt-3 accordion-without-arrow" id="accordionIcon">
      <div class="accordion-item card">
        <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionIconOne">
          <button aria-controls="accordionIcon-1" class="accordion-button collapsed" data-bs-target="#accordionIcon-1" data-bs-toggle="collapse" type="button"> آکاردئون شماره 1</button>
        </h2>
        <div class="accordion-collapse collapse" data-bs-parent="#accordionIcon" id="accordionIcon-1">
          <div class="accordion-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</div>
        </div>
      </div>
      <div class="accordion-item card">
        <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionIconTwo">
          <button aria-controls="accordionIcon-2" class="accordion-button collapsed" data-bs-target="#accordionIcon-2" data-bs-toggle="collapse" type="button"> آکاردئون شماره 2</button>
        </h2>
        <div class="accordion-collapse collapse" data-bs-parent="#accordionIcon" id="accordionIcon-2">
          <div class="accordion-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</div>
        </div>
      </div>
      <div class="accordion-item card active">
        <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionIconThree">
          <button aria-controls="accordionIcon-3" aria-expanded="true" class="accordion-button" data-bs-target="#accordionIcon-3" data-bs-toggle="collapse" type="button"> آکاردئون شماره 3</button>
        </h2>
        <div class="accordion-collapse collapse show" data-bs-parent="#accordionIcon" id="accordionIcon-3">
          <div class="accordion-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Accordion -->
<hr class="container-m-nx my-5"/>
<!-- Advance Styling Options -->
<h5>سبک های مختلف طراحی</h5>
<div class="row mb-3">
  <!-- Accordion with Icon -->
  <div class="col-md mb-4 mb-md-2">
    <small class="text-light fw-medium">آکاردئون با آیکن</small>
    <div class="accordion mt-3" id="accordionWithIcon">
      <div class="card accordion-item active">
        <h2 class="accordion-header d-flex align-items-center">
          <button aria-expanded="true" class="accordion-button" data-bs-target="#accordionWithIcon-1" data-bs-toggle="collapse" type="button">
            <i class="ti ti-star ti-xs me-2"></i>
            سرتیتر شماره 1
          </button>
        </h2>
        <div class="accordion-collapse collapse show" id="accordionWithIcon-1">
          <div class="accordion-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</div>
        </div>
      </div>
      <div class="accordion-item card">
        <h2 class="accordion-header d-flex align-items-center">
          <button aria-expanded="false" class="accordion-button collapsed" data-bs-target="#accordionWithIcon-2" data-bs-toggle="collapse" type="button">
            <i class="me-2 ti ti-sun ti-xs"></i>
            سرتیتر شماره 2
          </button>
        </h2>
        <div class="accordion-collapse collapse" id="accordionWithIcon-2">
          <div class="accordion-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</div>
        </div>
      </div>
      <div class="accordion-item card">
        <h2 class="accordion-header d-flex align-items-center">
          <button aria-expanded="false" class="accordion-button collapsed" data-bs-target="#accordionWithIcon-3" data-bs-toggle="collapse" type="button">
            <i class="me-2 ti ti-moon ti-xs"></i>
            سرتیتر شماره 3
          </button>
        </h2>
        <div class="accordion-collapse collapse" id="accordionWithIcon-3">
          <div class="accordion-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Accordion with Icon -->
  <!-- Accordion Border styling -->
  <div class="col-md">
    <small class="text-light fw-medium">آکاردئون با حاشیه</small>
    <div class="accordion mt-3 accordion-bordered" id="accordionStyle1">
      <div class="accordion-item card">
        <h2 class="accordion-header">
          <button aria-expanded="false" class="accordion-button collapsed" data-bs-target="#accordionStyle1-1" data-bs-toggle="collapse" type="button"> سرتیتر شماره 1</button>
        </h2>
        <div class="accordion-collapse collapse" data-bs-parent="#accordionStyle1" id="accordionStyle1-1">
          <div class="accordion-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</div>
        </div>
      </div>
      <div class="accordion-item card">
        <h2 class="accordion-header">
          <button aria-expanded="false" class="accordion-button collapsed" data-bs-target="#accordionStyle1-2" data-bs-toggle="collapse" type="button"> سرتیتر شماره 2</button>
        </h2>
        <div class="accordion-collapse collapse" data-bs-parent="#accordionStyle1" id="accordionStyle1-2">
          <div class="accordion-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</div>
        </div>
      </div>
      <div class="card accordion-item active">
        <h2 class="accordion-header">
          <button aria-expanded="true" class="accordion-button" data-bs-target="#accordionStyle1-3" data-bs-toggle="collapse" type="button"> سرتیتر شماره 3</button>
        </h2>
        <div class="accordion-collapse collapse show" data-bs-parent="#accordionStyle1" id="accordionStyle1-3">
          <div class="accordion-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Accordion Border styling -->
</div>
<!--/ Advance Styling Options -->
