@{
  ViewData["Title"] = "رابط کاربری - دکمه ها";
}
@* ************** Content ************** *@

<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">رابط کاربری/</span>
  دکمه‌ها
</h4>
<div class="row">
  <!-- Basic Buttons -->
  <div class="col-12">
    <div class="card mb-4">
      <h5 class="card-header">دکمه های اصلی</h5>
      <div class="card-body">
        <small class="text-light fw-medium">پیش فرض</small>
        <div class="demo-inline-spacing">
          <button class="btn btn-info" type="button">راهنما</button>
          <button class="btn btn-warning" type="button">هشدار</button>
          <button class="btn btn-danger" type="button">اخطار</button>
          <button class="btn btn-success" type="button">موفق</button>
          <button class="btn btn-secondary" type="button">فرعی</button>
          <button class="btn btn-primary" type="button">اصلی</button>
          <button class="btn btn-dark" type="button">تاریک</button>
        </div>
      </div>
      <hr class="m-0"/>
      <div class="card-body">
        <small class="text-light fw-medium">گرد شده</small>
        <div class="demo-inline-spacing">
          <button class="btn rounded-pill btn-info" type="button">راهنما</button>
          <button class="btn rounded-pill btn-warning" type="button">هشدار</button>
          <button class="btn rounded-pill btn-danger" type="button">اخطار</button>
          <button class="btn rounded-pill btn-success" type="button">موفق</button>
          <button class="btn rounded-pill btn-secondary" type="button">فرعی</button>
          <button class="btn rounded-pill btn-primary" type="button">اصلی</button>
          <button class="btn rounded-pill btn-dark" type="button">تاریک</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Label Buttons -->
  <div class="col-12">
    <div class="card mb-4">
      <h5 class="card-header">دکمه‌های کم‌رنگ</h5>
      <div class="card-body">
        <small class="text-light fw-medium">پیش فرض</small>
        <div class="demo-inline-spacing">
          <button class="btn btn-label-info" type="button">راهنما</button>
          <button class="btn btn-label-warning" type="button">هشدار</button>
          <button class="btn btn-label-danger" type="button">اخطار</button>
          <button class="btn btn-label-success" type="button">موفق</button>
          <button class="btn btn-label-secondary" type="button">فرعی</button>
          <button class="btn btn-label-primary" type="button">اصلی</button>
          <button class="btn btn-label-dark" type="button">تاریک</button>
        </div>
      </div>
      <hr class="m-0"/>
      <div class="card-body">
        <small class="text-light fw-medium">گرد شده</small>
        <div class="demo-inline-spacing">
          <button class="btn rounded-pill btn-label-info" type="button">راهنما</button>
          <button class="btn rounded-pill btn-label-warning" type="button">هشدار</button>
          <button class="btn rounded-pill btn-label-danger" type="button">اخطار</button>
          <button class="btn rounded-pill btn-label-success" type="button">موفق</button>
          <button class="btn rounded-pill btn-label-secondary" type="button">فرعی</button>
          <button class="btn rounded-pill btn-label-primary" type="button">اصلی</button>
          <button class="btn rounded-pill btn-label-dark" type="button">تاریک</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Outline Buttons -->
  <div class="col-12">
    <div class="card mb-4">
      <h5 class="card-header">دکمه‌های حاشیه‌دار</h5>
      <div class="card-body">
        <small class="text-light fw-medium">پیش فرض</small>
        <div class="demo-inline-spacing">
          <button class="btn btn-outline-info" type="button">راهنما</button>
          <button class="btn btn-outline-warning" type="button">هشدار</button>
          <button class="btn btn-outline-danger" type="button">اخطار</button>
          <button class="btn btn-outline-success" type="button">موفق</button>
          <button class="btn btn-outline-secondary" type="button">فرعی</button>
          <button class="btn btn-outline-primary" type="button">اصلی</button>
          <button class="btn btn-outline-dark" type="button">تاریک</button>
        </div>
      </div>
      <hr class="m-0"/>
      <div class="card-body">
        <small class="text-light fw-medium">گرد شده</small>
        <div class="demo-inline-spacing">
          <button class="btn rounded-pill btn-outline-info" type="button">راهنما</button>
          <button class="btn rounded-pill btn-outline-warning" type="button">هشدار</button>
          <button class="btn rounded-pill btn-outline-danger" type="button">اخطار</button>
          <button class="btn rounded-pill btn-outline-success" type="button">موفق</button>
          <button class="btn rounded-pill btn-outline-secondary" type="button">فرعی</button>
          <button class="btn rounded-pill btn-outline-primary" type="button">اصلی</button>
          <button class="btn rounded-pill btn-outline-dark" type="button">تاریک</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Buttons with Icons -->
  <div class="col-12">
    <div class="card mb-4">
      <h5 class="card-header">دکمه‌های با آیکون</h5>
      <div class="row row-bordered g-0">
        <div class="col-lg-4 p-4">
          <small class="text-light fw-medium">پایه</small>
          <div class="demo-inline-spacing">
            <button class="btn btn-primary" type="button">
              <span class="ti-xs ti ti-star me-1"></span>
              اولیه
            </button>
            <button class="btn btn-secondary" type="button">
              <span class="ti-xs ti ti-bell me-1"></span>
              ثانوی
            </button>
          </div>
          <div class="demo-inline-spacing">
            <button class="btn rounded-pill btn-primary" type="button">
              <span class="ti-xs ti ti-star me-1"></span>
              اولیه
            </button>
            <button class="btn rounded-pill btn-secondary" type="button">
              <span class="ti-xs ti ti-bell me-1"></span>
              ثانوی
            </button>
          </div>
        </div>
        <div class="col-lg-4 p-4">
          <small class="text-light fw-medium">کم‌رنگ</small>
          <div class="demo-inline-spacing">
            <button class="btn btn-label-primary" type="button">
              <span class="ti-xs ti ti-star me-1"></span>
              اولیه
            </button>
            <button class="btn btn-label-secondary" type="button">
              <span class="ti-xs ti ti-bell me-1"></span>
              ثانوی
            </button>
          </div>
          <div class="demo-inline-spacing">
            <button class="btn rounded-pill btn-label-primary" type="button">
              <span class="ti-xs ti ti-star me-1"></span>
              اولیه
            </button>
            <button class="btn rounded-pill btn-label-secondary" type="button">
              <span class="ti-xs ti ti-bell me-1"></span>
              ثانوی
            </button>
          </div>
        </div>
        <div class="col-lg-4 p-4">
          <small class="text-light fw-medium">دورحاشیه‌دار</small>
          <div class="demo-inline-spacing">
            <button class="btn btn-outline-primary" type="button">
              <span class="ti-xs ti ti-star me-1"></span>
              اولیه
            </button>
            <button class="btn btn-outline-secondary" type="button">
              <span class="ti-xs ti ti-bell me-1"></span>
              ثانوی
            </button>
          </div>
          <div class="demo-inline-spacing">
            <button class="btn rounded-pill btn-outline-primary" type="button">
              <span class="ti-xs ti ti-star me-1"></span>
              اولیه
            </button>
            <button class="btn rounded-pill btn-outline-secondary" type="button">
              <span class="ti-xs ti ti-bell me-1"></span>
              ثانوی
            </button>
          </div>
        </div>
      </div>
      <hr class="m-0"/>
      <div class="row row-bordered g-0">
        <div class="col-lg-4 p-4">
          <small class="text-light fw-medium">پایه</small>
          <div class="demo-inline-spacing">
            <button class="btn btn-icon btn-primary" type="button">
              <span class="ti ti-star"></span>
            </button>
            <button class="btn btn-icon btn-secondary" type="button">
              <span class="ti ti-bell"></span>
            </button>
            <button class="btn rounded-pill btn-icon btn-primary" type="button">
              <span class="ti ti-star"></span>
            </button>
            <button class="btn rounded-pill btn-icon btn-secondary" type="button">
              <span class="ti ti-bell"></span>
            </button>
          </div>
        </div>
        <div class="col-lg-4 p-4">
          <small class="text-light fw-medium">کم‌رنگ</small>
          <div class="demo-inline-spacing">
            <button class="btn btn-icon btn-label-primary" type="button">
              <span class="ti ti-star"></span>
            </button>
            <button class="btn btn-icon btn-label-secondary" type="button">
              <span class="ti ti-bell"></span>
            </button>
            <button class="btn rounded-pill btn-icon btn-label-primary" type="button">
              <span class="ti ti-star"></span>
            </button>
            <button class="btn rounded-pill btn-icon btn-label-secondary" type="button">
              <span class="ti ti-bell"></span>
            </button>
          </div>
        </div>
        <div class="col-lg-4 p-4">
          <small class="text-light fw-medium">دورحاشیه‌دار</small>
          <div class="demo-inline-spacing">
            <button class="btn btn-icon btn-outline-primary" type="button">
              <span class="ti ti-star"></span>
            </button>
            <button class="btn btn-icon btn-outline-secondary" type="button">
              <span class="ti ti-bell"></span>
            </button>
            <button class="btn rounded-pill btn-icon btn-outline-primary" type="button">
              <span class="ti ti-star"></span>
            </button>
            <button class="btn rounded-pill btn-icon btn-outline-secondary" type="button">
              <span class="ti ti-bell"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Social Button -->
  <div class="col-12">
    <div class="card mb-4">
      <h5 class="card-header">دکمه اجتماعی</h5>
      <div class="row row-bordered g-0">
        <div class="col-lg-4 p-4">
          <small class="text-light fw-medium">پایه</small>
          <div class="demo-inline-spacing">
            <button class="btn btn-facebook" type="button">
              <i class="tf-icons ti ti-brand-facebook ti-xs me-1"></i>
              فیس بوک
            </button>
            <button class="btn btn-twitter" type="button">
              <i class="tf-icons ti ti-brand-twitter ti-xs me-1"></i>
              توییتر
            </button>
          </div>
          <div class="demo-inline-spacing">
            <button class="btn rounded-pill btn-google-plus" type="button">
              <i class="tf-icons ti ti-brand-google ti-xs me-1"></i>
              گوگل+
            </button>
            <button class="btn rounded-pill btn-instagram" type="button">
              <i class="tf-icons ti ti-brand-instagram ti-xs me-1"></i>
              اینستاگرام
            </button>
          </div>
        </div>
        <div class="col-lg-4 p-4">
          <small class="text-light fw-medium">کم‌رنگ</small>
          <div class="demo-inline-spacing">
            <button class="btn btn-label-linkedin" type="button">
              <i class="tf-icons ti ti-brand-linkedin ti-xs me-1"></i>
              لینکدین
            </button>
            <button class="btn btn-label-github" type="button">
              <i class="tf-icons ti ti-brand-github ti-xs me-1"></i>
              گیتهاب
            </button>
          </div>
          <div class="demo-inline-spacing">
            <button class="btn rounded-pill btn-label-pinterest" type="button">
              <i class="tf-icons ti ti-brand-pinterest ti-xs me-1"></i>
              پینترست
            </button>
            <button class="btn rounded-pill btn-label-slack" type="button">
              <i class="tf-icons ti ti-brand-slack ti-xs me-1"></i>
              اِسـلـَک
            </button>
          </div>
        </div>
        <div class="col-lg-4 p-4">
          <small class="text-light fw-medium">دورحاشیه‌دار</small>
          <div class="demo-inline-spacing">
            <button class="btn btn-outline-dribbble" type="button">
              <i class="tf-icons ti ti-brand-dribbble ti-xs me-1"></i>
              دریبل
            </button>
            <button class="btn btn-outline-reddit" type="button">
              <i class="tf-icons ti ti-brand-reddit ti-xs me-1"></i>
              رِدیت
            </button>
          </div>
          <div class="demo-inline-spacing">
            <button class="btn rounded-pill btn-outline-youtube" type="button">
              <i class="tf-icons ti ti-brand-youtube ti-xs me-1"></i>
              یوتیوب
            </button>
            <button class="btn rounded-pill btn-outline-vimeo" type="button">
              <i class="tf-icons ti ti-brand-vimeo ti-xs me-1"></i>
              ویمیو
            </button>
          </div>
        </div>
      </div>
      <hr class="m-0"/>
      <div class="row row-bordered g-0">
        <div class="col-lg-4 p-4">
          <small class="text-light fw-medium">آیکون های پایه</small>
          <div class="demo-inline-spacing">
            <button class="btn btn-icon btn-facebook" type="button">
              <i class="tf-icons ti ti-brand-facebook"></i>
            </button>
            <button class="btn btn-icon btn-twitter" type="button">
              <i class="tf-icons ti ti-brand-twitter"></i>
            </button>
            <button class="btn btn-icon rounded-pill btn-google-plus" type="button">
              <i class="tf-icons ti ti-brand-google"></i>
            </button>
            <button class="btn btn-icon rounded-pill btn-instagram" type="button">
              <i class="tf-icons ti ti-brand-instagram"></i>
            </button>
          </div>
        </div>
        <div class="col-lg-4 p-4">
          <small class="text-light fw-medium">نمادهای کم‌رنگ</small>
          <div class="demo-inline-spacing">
            <button class="btn btn-icon btn-label-linkedin" type="button">
              <i class="tf-icons ti ti-brand-linkedin"></i>
            </button>
            <button class="btn btn-icon btn-label-github" type="button">
              <i class="tf-icons ti ti-brand-github"></i>
            </button>
            <button class="btn btn-icon rounded-pill btn-label-pinterest" type="button">
              <i class="tf-icons ti ti-brand-pinterest"></i>
            </button>
            <button class="btn btn-icon rounded-pill btn-label-slack" type="button">
              <i class="tf-icons ti ti-brand-slack"></i>
            </button>
          </div>
        </div>
        <div class="col-lg-4 p-4">
          <small class="text-light fw-medium">نمادهای دورحاشیه‌دار</small>
          <div class="demo-inline-spacing">
            <button class="btn btn-icon btn-outline-dribbble" type="button">
              <i class="tf-icons ti ti-brand-dribbble"></i>
            </button>
            <button class="btn btn-icon btn-outline-reddit" type="button">
              <i class="tf-icons ti ti-brand-reddit"></i>
            </button>
            <button class="btn btn-icon rounded-pill btn-outline-youtube" type="button">
              <i class="tf-icons ti ti-brand-youtube"></i>
            </button>
            <button class="btn btn-icon rounded-pill btn-outline-vimeo" type="button">
              <i class="tf-icons ti ti-brand-vimeo"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Button Options -->
  <div class="col-12">
    <div class="card mb-4">
      <h5 class="card-header">گزینه های دکمه</h5>
      <div class="card-body">
        <small class="text-light fw-medium">اندازه ها</small>
        <div class="demo-inline-spacing">
          <button class="btn btn-xl btn-primary" type="button">دکمه xl</button>
          <button class="btn btn-lg btn-primary" type="button">دکمه lg</button>
          <button class="btn btn-primary" type="button">دکمه</button>
          <button class="btn btn-sm btn-primary" type="button">دکمه sm</button>
          <button class="btn btn-xs btn-primary" type="button">دکمه xs</button>
        </div>
      </div>
      <hr class="m-0"/>
      <div class="card-body">
        <small class="text-light fw-medium">وضعیت دکمه ها</small>
        <div class="demo-inline-spacing">
          <button class="btn btn-primary" type="button">عادی</button>
          <button class="btn btn-primary active" type="button">فعال</button>
          <button class="btn btn-primary" disabled type="button">غیر فعال</button>
        </div>
      </div>
      <hr class="m-0"/>
      <div class="card-body">
        <small class="text-light fw-medium">دکمه‌های بلوکی</small>
        <div class="row mt-3">
          <div class="d-grid gap-2 col-lg-6 mx-auto">
            <button class="btn btn-primary btn-lg" type="button">دکمه</button>
            <button class="btn btn-secondary btn-lg" type="button">دکمه</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Button Plugin -->
  <div class="col-12">
    <div class="card mb-4">
      <h5 class="card-header">حالت‌های دکمه</h5>
      <div class="row row-bordered g-0">
        <div class="col-xl-3 p-4">
          <div class="text-light small fw-medium">تغییر وضعیت (تغییر اندازه بعد کلیک)</div>
          <div class="demo-vertical-spacing">
            <button class="btn btn-primary d-block" data-bs-toggle="button" type="button"> دکمه جابجایی</button>
            <button aria-pressed="true" class="btn btn-primary active d-block" data-bs-toggle="button" type="button">
              جابجایی فعال
            </button>
            <button class="btn btn-primary d-block" data-bs-toggle="button" disabled type="button"> جابجایی غیرفعال</button>
          </div>
        </div>
        <div class="col-xl-3 p-4">
          <div class="text-light small fw-medium">تغییر وضعیت چک باکس</div>
          <div class="demo-vertical-spacing">
            <div class="d-block">
              <input class="btn-check" id="btn-check" type="checkbox"/>
              <label class="btn btn-primary" for="btn-check">تغییر وضعیت تکی</label>
            </div>
            <div class="d-block">
              <input checked class="btn-check" id="btn-check-2" type="checkbox"/>
              <label class="btn btn-primary" for="btn-check-2">انتخاب شده</label>
            </div>
            <div class="d-block">
              <input checked class="btn-check" id="btn-check-3" type="checkbox"/>
              <label class="btn btn-primary" for="btn-check-3">انتخاب شده</label>
            </div>
          </div>
        </div>
        <div class="col-xl-6 p-4">
          <div class="text-light small fw-medium">چک باکس و رادیو</div>
          <div class="demo-vertical-spacing">
            <!-- Checkbox -->
            <div aria-label="گروه دکمه جابجایی باکس اصلی" class="btn-group" role="group">
              <input checked class="btn-check" id="btncheck1" type="checkbox"/>
              <label class="btn btn-outline-primary" for="btncheck1">
                <span class="d-block d-sm-none">
                  <i class="ti ti-home ti-sm"></i>
                </span>
                <span class="d-none d-sm-block">چک باکس 1</span>
              </label>
              <input class="btn-check" id="btncheck2" type="checkbox"/>
              <label class="btn btn-outline-primary" for="btncheck2">
                <span class="d-block d-sm-none">
                  <i class="ti ti-plane-tilt ti-sm"></i>
                </span>
                <span class="d-none d-sm-block"> چک باکس 2</span>
              </label>
              <input class="btn-check" id="btncheck3" type="checkbox"/>
              <label class="btn btn-outline-primary" for="btncheck3">
                <span class="d-block d-sm-none">
                  <i class="ti ti-bell ti-sm"></i>
                </span>
                <span class="d-none d-sm-block"> چک باکس 3</span>
              </label>
            </div>
            <br/>
            <!-- Radio -->
            <div aria-label="گروه اصلی دکمه جابجایی رادیویی" class="btn-group" role="group">
              <input checked class="btn-check" id="btnradio1" name="btnradio" type="radio"/>
              <label class="btn btn-outline-primary" for="btnradio1">رادیو 1</label>
              <input class="btn-check" id="btnradio2" name="btnradio" type="radio"/>
              <label class="btn btn-outline-primary" for="btnradio2">رادیو 2</label>
              <input class="btn-check" id="btnradio3" name="btnradio" type="radio"/>
              <label class="btn btn-outline-primary" for="btnradio3">رادیو 3</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Button Group -->
  <div class="col-12">
    <div class="card">
      <h5 class="card-header">گروه دکمه‌ها</h5>
      <div class="card-body">
        <div class="row g-4">
          <div class="col-md-6 col-lg-4">
            <small class="text-light fw-medium">پایه</small>
            <div class="mt-3">
              <div aria-label="مثال اساسی" class="btn-group" role="group">
                <button class="btn btn-secondary" type="button">راست</button>
                <button class="btn btn-secondary" type="button">وسط</button>
                <button class="btn btn-secondary" type="button">چپ</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <small class="text-light fw-medium">کم‌رنگ</small>
            <div class="mt-3">
              <div aria-label="مثال اساسی" class="btn-group" role="group">
                <button class="btn btn-label-secondary" type="button">راست</button>
                <button class="btn btn-label-secondary" type="button">وسط</button>
                <button class="btn btn-label-secondary" type="button">چپ</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <small class="text-light fw-medium">دورحاشیه‌دار</small>
            <div class="mt-3">
              <div aria-label="مثال اساسی" class="btn-group" role="group">
                <button class="btn btn-outline-secondary" type="button">راست</button>
                <button class="btn btn-outline-secondary" type="button">وسط</button>
                <button class="btn btn-outline-secondary" type="button">چپ</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="m-0"/>
      <div class="card-body">
        <div class="row">
          <div class="col-xl-6 mb-xl-0 mb-3">
            <small class="text-light fw-medium">دکمه‌های کنارهم</small>
            <div aria-label="نوار ابزار با گروه های دکمه" class="btn-toolbar demo-inline-spacing" role="toolbar">
              <div aria-label="گروه اول" class="btn-group" role="group">
                <button class="btn btn-outline-secondary" type="button">
                  <i class="ti ti-bell"></i>
                </button>
                <button class="btn btn-outline-secondary" type="button">
                  <i class="ti ti-clipboard"></i>
                </button>
                <button class="btn btn-outline-secondary" type="button">
                  <i class="ti ti-device-tv"></i>
                </button>
                <button class="btn btn-outline-secondary" type="button">
                  <i class="ti ti-browser-check"></i>
                </button>
              </div>
              <div aria-label="گروه دوم" class="btn-group" role="group">
                <button class="btn btn-outline-secondary" type="button">
                  <i class="ti ti-bold"></i>
                </button>
                <button class="btn btn-outline-secondary" type="button">
                  <i class="ti ti-italic"></i>
                </button>
                <button class="btn btn-outline-secondary" type="button">
                  <i class="ti ti-underline"></i>
                </button>
              </div>
              <div aria-label="گروه سوم" class="btn-group" role="group">
                <button class="btn btn-outline-secondary" type="button">
                  <i class="ti ti-volume-2"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <small class="text-light fw-medium">دکمه‌های تودرتو</small>
            <div class="mt-3">
              <div aria-label="گروه دکمه با کشویی تو در تو" class="btn-group" role="group">
                <button class="btn btn-outline-secondary" type="button">
                  <i class="ti ti-truck"></i>
                </button>
                <button class="btn btn-outline-secondary" type="button">
                  <i class="ti ti-sun"></i>
                </button>
                <button class="btn btn-outline-secondary" type="button">
                  <i class="ti ti-cloud"></i>
                </button>
                <div class="btn-group" role="group">
                  <button aria-expanded="false" aria-haspopup="true" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" id="btnGroupDrop1" type="button"> منو</button>
                  <div aria-labelledby="btnGroupDrop1" class="dropdown-menu">
                    <a class="dropdown-item" href="javascript:void(0);">منو ۱</a>
                    <a class="dropdown-item" href="javascript:void(0);">منو ۲</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
