@{
  ViewData["Title"] = "رابط کاربری - پاپ‌آپ منو";
}
@section VendorScripts {
  <script src="~/vendor/js/dropdown-hover.js"></script>
}
@* ************** Content ************** *@

<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">رابط کاربری/</span>
  پاپ‌آپ منو
</h4>
<div class="card mb-4" id="btn-dropdown-demo">
  <h5 class="card-header">پاپ‌آپ منو</h5>
  <!-- Basic Dropdowns -->
  <div class="card-body">
    <small class="text-light fw-medium">پایه</small>
    <div class="demo-inline-spacing">
      <div class="btn-group">
        <button aria-expanded="false" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" type="button"> اصلی</button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item disabled" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button aria-expanded="false" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" type="button"> فرعی</button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button aria-expanded="false" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" type="button"> موفقیت</button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button aria-expanded="false" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" type="button"> خطا</button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button aria-expanded="false" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" type="button"> هشدار</button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button aria-expanded="false" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" type="button"> اطلاعات</button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--/ Basic Dropdowns -->
  <hr class="m-0"/>
  <!-- Label Dropdowns -->
  <div class="card-body">
    <small class="text-light fw-medium">کم‌رنگ</small>
    <div class="demo-inline-spacing">
      <div class="btn-group">
        <button aria-expanded="false" class="btn btn-label-primary dropdown-toggle" data-bs-toggle="dropdown" type="button"> اصلی</button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button aria-expanded="false" class="btn btn-label-secondary dropdown-toggle" data-bs-toggle="dropdown" type="button"> فرعی</button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button aria-expanded="false" class="btn btn-label-success dropdown-toggle" data-bs-toggle="dropdown" type="button"> موفقیت</button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button aria-expanded="false" class="btn btn-label-danger dropdown-toggle" data-bs-toggle="dropdown" type="button"> خطا</button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button aria-expanded="false" class="btn btn-label-warning dropdown-toggle" data-bs-toggle="dropdown" type="button"> هشدار</button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button aria-expanded="false" class="btn btn-label-info dropdown-toggle" data-bs-toggle="dropdown" type="button"> اطلاعات</button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--/ Label Dropdowns -->
  <hr class="m-0"/>
  <!-- Outline Dropdowns -->
  <div class="card-body">
    <small class="text-light fw-medium">دورحاشیه‌دار</small>
    <div class="demo-inline-spacing">
      <div class="btn-group">
        <button aria-expanded="false" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" type="button"> اصلی</button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button aria-expanded="false" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" type="button"> فرعی</button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button aria-expanded="false" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" type="button"> موفقیت</button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button aria-expanded="false" class="btn btn-outline-danger dropdown-toggle" data-bs-toggle="dropdown" type="button"> خطا</button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button aria-expanded="false" class="btn btn-outline-warning dropdown-toggle" data-bs-toggle="dropdown" type="button"> هشدار</button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button aria-expanded="false" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" type="button"> اطلاعات</button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--/ Basic Dropdowns -->
  <hr class="m-0"/>
  <!-- Split Dropdowns -->
  <div class="card-body">
    <small class="text-light fw-medium">جدا شده از آیکن</small>
    <div class="demo-inline-spacing">
      <div class="btn-group">
        <button class="btn btn-primary" type="button">اصلی</button>
        <button aria-expanded="false" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" type="button">
          <span class="visually-hidden">اولیه</span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button class="btn btn-secondary" type="button">فرعی</button>
        <button aria-expanded="false" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" type="button">
          <span class="visually-hidden">ثانویه</span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button class="btn btn-success" type="button">موفقیت
          <button aria-expanded="false" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" type="button">
            <span class="visually-hidden">موفقیت</span>
          </button>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button class="btn btn-danger" type="button">اخطار</button>
        <button aria-expanded="false" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" type="button">
          <span class="visually-hidden">اخطار</span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button class="btn btn-warning" type="button">هشدار</button>
        <button aria-expanded="false" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" type="button">
          <span class="visually-hidden">هشدار</span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button class="btn btn-info" type="button">راهنما</button>
        <button aria-expanded="false" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" type="button">
          <span class="visually-hidden">راهنما</span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--/ Split Dropdowns -->
  <hr class="m-0"/>
  <div class="card-body">
    <div class="row gy-3">
      <!-- Hidden Arrow Dropdowns -->
      <div class="col-lg-3 col-sm-6 col-12">
        <small class="text-light fw-medium">بدون فلش</small>
        <div class="demo-inline-spacing">
          <div class="btn-group">
            <button aria-expanded="false" class="btn btn-primary dropdown-toggle hide-arrow" data-bs-toggle="dropdown" type="button">
              بدون فلش
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
              </li>
              <li>
                <hr class="dropdown-divider"/>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--/ Hidden Arrow Dropdowns -->
      <!-- Open Dropdown on hover -->
      <div class="col-lg-3 col-sm-6 col-12">
        <small class="text-light fw-medium">باز شدن با هاور (بدون کلیک)</small>
        <div class="demo-inline-spacing">
          <div class="btn-group" id="hover-dropdown-demo">
            <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" data-trigger="hover" type="button"> پاپ آپ</button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
              </li>
              <li>
                <hr class="dropdown-divider"/>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--/ Open Dropdown on hover -->
      <!-- Dropdown with icon -->
      <div class="col-lg-3 col-sm-6 col-12">
        <small class="text-light fw-medium">با آیکون</small>
        <div class="demo-inline-spacing">
          <div class="btn-group" id="dropdown-icon-demo">
            <button aria-expanded="false" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" type="button">
              <i class="ti ti-menu-2 ti-xs me-2 ms-2"></i>
              با آیکون
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                  <i class="ti ti-chevron-right scaleX-n1-rtl"></i>
                  عملیات
                </a>
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                  <i class="ti ti-chevron-right scaleX-n1-rtl"></i>
                  عملی دیگر
                </a>
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                  <i class="ti ti-chevron-right scaleX-n1-rtl"></i>
                  یک عمل دیگر
                </a>
              </li>
              <li>
                <hr class="dropdown-divider"/>
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0);">
                  <i class="ti ti-chevron-right scaleX-n1-rtl"></i>
                  عملیات جدا شده
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--/ Dropdown with icon -->
      <!-- Icon Dropdown -->
      <div class="col-lg-3 col-sm-6 col-12">
        <small class="text-light fw-medium">بدون متن</small>
        <div class="demo-inline-spacing">
          <div class="btn-group">
            <button aria-expanded="false" class="btn btn-primary btn-icon rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown" type="button">
              <i class="ti ti-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
              </li>
              <li>
                <hr class="dropdown-divider"/>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--/ Icon Dropdown -->
    </div>
  </div>
</div>
<!-- Dropdown Variations -->
<div class="card" id="dropdown-variation-demo">
  <h5 class="card-header">انواع پاپ‌آپ</h5>
  <!-- Dropdown Menu Alignment -->
  <div class="card-body">
    <small class="text-light fw-medium">تراز منو</small>
    <div class="demo-inline-spacing">
      <div class="btn-group">
        <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle overflow-hidden d-sm-inline-flex d-block text-truncate" data-bs-toggle="dropdown" type="button"> پاپ‌آپ در انتهای کلید</button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <button class="dropdown-item" type="button">عملیات</button>
          </li>
          <li>
            <button class="dropdown-item" type="button">عملی دیگر</button>
          </li>
          <li>
            <button class="dropdown-item" type="button">یک عمل دیگر</button>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle overflow-hidden d-sm-inline-flex d-block text-truncate" data-bs-display="static" data-bs-toggle="dropdown" type="button"> پاپ‌آپ در انتهای کلید در صفحه نمایش بزرگ (lg)</button>
        <ul class="dropdown-menu dropdown-menu-start dropdown-menu-lg-end">
          <li>
            <button class="dropdown-item" type="button">عملیات</button>
          </li>
          <li>
            <button class="dropdown-item" type="button">عملی دیگر</button>
          </li>
          <li>
            <button class="dropdown-item" type="button">یک عمل دیگر</button>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle overflow-hidden d-sm-inline-flex d-block text-truncate" data-bs-display="static" data-bs-toggle="dropdown" type="button"> پاپ‌آپ در ابتدای کلید در صفحه نمایش بزرگ (lg)</button>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
          <li>
            <button class="dropdown-item" type="button">عملیات</button>
          </li>
          <li>
            <button class="dropdown-item" type="button">عملی دیگر</button>
          </li>
          <li>
            <button class="dropdown-item" type="button">یک عمل دیگر</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--/ Dropdown Menu Alignment -->
  <hr class="m-0"/>
  <!-- Dropdown Sizes -->
  <div class="card-body">
    <small class="text-light fw-medium">اندازه های کلید</small>
    <div class="demo-inline-spacing">
      <div class="btn-group">
        <button aria-expanded="false" class="btn btn-primary btn-xl dropdown-toggle" data-bs-toggle="dropdown" type="button"> دکمه خیلی بزرگ</button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button aria-expanded="false" class="btn btn-primary btn-lg dropdown-toggle" data-bs-toggle="dropdown" type="button"> دکمه بزرگ</button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button aria-expanded="false" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" type="button"> دکمه کوچک</button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button aria-expanded="false" class="btn btn-primary btn-xs dropdown-toggle" data-bs-toggle="dropdown" type="button"> دکمه خیلی کوچک</button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
          </li>
          <li>
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--/ Dropdown Sizes -->
  <hr class="m-0"/>
  <div class="card-body">
    <div class="row gy-3">
      <!-- Dropdown Directions -->
      <div class="col-xl-6">
        <small class="text-light fw-medium">موقعیت ها</small>
        <div class="row">
          <div class="col-md-6">
            <div class="demo-inline-spacing">
              <div class="btn-group">
                <button aria-expanded="false" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" type="button">
                  پاپ‌آپ منو - پایین
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider"/>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="demo-inline-spacing">
              <div class="btn-group dropup">
                <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" type="button"> پاپ‌آپ منو - بالا</button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider"/>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="demo-inline-spacing">
              <div class="btn-group dropend">
                <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" type="button"> پاپ‌آپ منو - چپ</button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider"/>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="demo-inline-spacing">
              <div class="btn-group dropstart">
                <button aria-expanded="false" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" type="button">
                  پاپ‌آپ منو - راست
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider"/>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ Dropdown Directions -->
      <!-- Dropdown menu content -->
      <div class="col-xl-6">
        <small class="text-light fw-medium">محتوای منو</small>
        <div class="demo-inline-spacing">
          <div class="btn-group">
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" type="button">
              سربرگ دار
            </button>
            <ul class="dropdown-menu">
              <li>
                <h6 class="dropdown-header text-uppercase">سربرگ تست</h6>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
              </li>
            </ul>
          </div>
          <div class="btn-group">
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" type="button">
              جدا کننده
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="javascript:void(0);">عملیات</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);">عملی دیگر</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a>
              </li>
              <li>
                <hr class="dropdown-divider"/>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);">عملیات جدا شده</a>
              </li>
            </ul>
          </div>
          <div class="btn-group">
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" type="button">
              متن دار
            </button>
            <div class="dropdown-menu">
              <div class="px-3 py-2 text-muted">
                <p>برخی از متن نمونه که در منوی کشویی آزاد جریان دارد.</p>
                <p class="mb-0">و این متن مثالی بیشتر است.</p>
              </div>
            </div>
          </div>
          <div class="btn-group">
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" type="button">
              فرم ها
            </button>
            <div class="dropdown-menu dropdown-menu-end w-px-300">
              <form class="p-4" onsubmit="return false">
                <div class="mb-1">
                  <label class="form-label" for="exampleDropdownFormEmail1">آدرس ایمیل
                    <input class="form-control mt-1" id="exampleDropdownFormEmail1" placeholder="" type="email"/>
                  </label>
                </div>
                <div class="mb-1">
                  <label class="form-label" for="exampleDropdownFormPassword1">رمز
                    <input class="form-control mt-1" id="exampleDropdownFormPassword1" placeholder="" type="password"/>
                  </label>
                </div>
                <div class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input" id="dropdownCheck" type="checkbox"/>
                    <label class="form-check-label" for="dropdownCheck"> منو يادت باشه</label>
                  </div>
                </div>
                <button class="btn btn-primary" type="button">ورود به سیستم</button>
              </form>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void(0)">حسابی ندارید ؟ عضویت</a>
              <a class="dropdown-item" href="javascript:void(0)">رمز عبور را فراموش کرده اید؟</a>
            </div>
          </div>
        </div>
      </div>
      <!--/ Dropdown menu content -->
    </div>
  </div>
  <hr class="m-0"/>
  <div class="card-body">
    <div class="row gy-3">
      <!-- Dropdown options -->
      <div class="col-xl-6">
        <small class="text-light fw-medium">گزینه ها: برای تغییر مکان پاپ‌آپ از
          <code>data-bs-offset</code>
          یا
          <code>data-bs-reference</code>
          استفاده کنید.
        </small>
        <div class="demo-inline-spacing">
          <div class="btn-group me-1">
            <button aria-expanded="false" class="btn btn-primary dropdown-toggle" data-bs-offset="10,20" data-bs-toggle="dropdown" id="dropdownMenuOffset" type="button"> حالت Offset</button>
            <ul aria-labelledby="dropdownMenuOffset" class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="javascript:void(0)">عملیات</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)">عملی دیگر</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)">یک عمل دیگر</a>
              </li>
            </ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-primary" type="button">حالت Reference</button>
            <button aria-expanded="false" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-reference="parent" data-bs-toggle="dropdown" id="dropdownMenuReference" type="button">
              <span class="visually-hidden">Reference</span>
            </button>
            <ul aria-labelledby="dropdownMenuReference" class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="javascript:void(0)">عملیات</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)">عملی دیگر</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)">یک عمل دیگر</a>
              </li>
              <li>
                <hr class="dropdown-divider"/>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)">عملیات جدا شده</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--/ Dropdown options --> <!-- Auto close behavior -->
      <div class="col-xl-6">
        <small class="text-light fw-medium">بسته شدن خودکار</small>
        <div class="demo-inline-spacing">
          <div class="btn-group">
            <button aria-expanded="false" class="btn btn-primary dropdown-toggle" data-bs-auto-close="true" data-bs-toggle="dropdown" id="defaultDropdown" type="button"> پیش فرض</button>
            <ul aria-labelledby="defaultDropdown" class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="javascript:void(0)">آیتم منو</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)">آیتم منو</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)">آیتم منو</a>
              </li>
            </ul>
          </div>
          <div class="btn-group">
            <button aria-expanded="false" class="btn btn-primary dropdown-toggle" data-bs-auto-close="inside" data-bs-toggle="dropdown" id="dropdownMenuClickableOutside" type="button"> حالت اول</button>
            <ul aria-labelledby="dropdownMenuClickableOutside" class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="javascript:void(0)">آیتم منو</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)">آیتم منو</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)">آیتم منو</a>
              </li>
            </ul>
          </div>
          <div class="btn-group">
            <button aria-expanded="false" class="btn btn-primary dropdown-toggle" data-bs-auto-close="outside" data-bs-toggle="dropdown" id="dropdownMenuClickableInside" type="button"> حالت دوم</button>
            <ul aria-labelledby="dropdownMenuClickableInside" class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="javascript:void(0)">آیتم منو</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)">آیتم منو</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)">آیتم منو</a>
              </li>
            </ul>
          </div>
          <div class="btn-group">
            <button aria-expanded="false" class="btn btn-primary dropdown-toggle" data-bs-auto-close="false" data-bs-toggle="dropdown" id="dropdownMenuClickable" type="button"> حالت سوم</button>
            <ul aria-labelledby="dropdownMenuClickable" class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="javascript:void(0)">آیتم منو</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)">آیتم منو</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)">آیتم منو</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--/ Auto close behavior -->
    </div>
  </div>
</div>
<!--/ Dropdown Variations -->
