@{
  ViewData["Title"] = "رابط کاربری - فــوتــر";
}

@* ************** Content ************** *@

    <h4 class="py-3 mb-4">
      <span class="text-muted fw-light">رابط کاربری/</span>
      فــوتــر
    </h4>
    <!-- Basic footer -->
    <section id="basic-footer">
      <h5 class="pb-1 mt-5 mb-4">فوتر پایه</h5>
      <footer class="footer bg-light">
        <div class="container-fluid d-flex flex-md-row flex-column justify-content-between align-items-md-center gap-1 container-p-x py-3">
          <div>
            <a class="footer-text fw-medium" href="https://demos.pixinvent.com/vuexy-html-admin-template/landing/" target="_blank">ویکسی</a>
            ©
          </div>
          <div>
            <div class="d-none d-lg-inline-block">
              <a class="footer-link me-4" href="#support" target="_blank">لایسنس</a>
              <a class="footer-link me-4" href="#support" target="_blank">قالب‌های بیشتر</a>
              <a class="footer-link me-4" href="https://demos.pixinvent.com/vuexy-html-admin-template/documentation/" target="_blank">مستندات</a>
              <a class="footer-link d-none d-sm-inline-block" href="#support-theme" target="_blank">پشتیبانی</a>
            </div>
          </div>
        </div>
      </footer>
    </section>
    <!--/ Basic footer -->
    <hr class="container-m-nx my-5"/>
    <!-- Footer with components -->
    <section id="component-footer">
      <h5 class="pb-1 mb-4">فوتر با اجزای طراحی</h5>
      <footer class="footer bg-light">
        <div class="container-fluid d-flex flex-md-row flex-column justify-content-between align-items-md-center gap-1 container-p-x py-3">
          <div>
            <a class="footer-text fw-medium" href="https://demos.pixinvent.com/vuexy-html-admin-template/landing/" target="_blank">ویکسی</a>
            ©
          </div>
          <div>
            <div class="form-check form-control-sm footer-link me-3">
              <input checked class="form-check-input" id="customCheck2" type="checkbox" value=""/>
              <label class="form-check-label" for="customCheck2"> نمایش</label>
            </div>
            <div class="dropdown dropup footer-link me-3">
              <button aria-expanded="false" aria-haspopup="true" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" type="button"> ارز</button>
              <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="ti ti-currency-dollar"></i>
                  USD
                </a>
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="ti ti-currency-euro"></i>
                  یورو
                </a>
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="ti ti-currency-pound"></i>
                  پوند
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="ti ti-currency-bitcoin"></i>
                  Bitcoin
                </a>
              </div>
            </div>
            <a class="btn btn-sm btn-outline-danger" href="javascript:void(0)">
              <i class="ti ti-logout me-1"></i>
              خروج
            </a>
          </div>
        </div>
      </footer>
    </section>
    <!--/ Footer with components -->
    <hr class="container-m-nx my-5"/>
    <!-- Color Schema -->
    <section id="color-footer">
      <h5 class="pb-1 mb-4">فوتر با رنگ‌های متفاوت</h5>
      <footer class="footer bg-primary mb-4">
        <div class="container-fluid d-flex flex-md-row flex-column justify-content-between align-items-md-center gap-1 container-p-x py-3">
          <div>
            <a class="footer-text fw-medium" href="https://demos.pixinvent.com/vuexy-html-admin-template/landing/" target="_blank">ویکسی</a>
            ©
          </div>
          <div>
            <div class="d-none d-lg-inline-block">
              <a class="footer-link me-4" href="#support" target="_blank">لایسنس</a>
              <a class="footer-link me-4" href="#support" target="_blank">قالب‌های بیشتر</a>
              <a class="footer-link me-4" href="https://demos.pixinvent.com/vuexy-html-admin-template/documentation/" target="_blank">مستندات</a>
              <a class="footer-link d-none d-sm-inline-block" href="#support-theme" target="_blank">پشتیبانی</a>
            </div>
          </div>
        </div>
      </footer>
      <footer class="footer bg-secondary mb-4">
        <div class="container-fluid d-flex flex-md-row flex-column justify-content-between align-items-md-center gap-1 container-p-x py-3">
          <div>
            <a class="footer-text fw-medium" href="https://demos.pixinvent.com/vuexy-html-admin-template/landing/" target="_blank">ویکسی</a>
            ©
          </div>
          <div>
            <div class="d-none d-lg-inline-block">
              <a class="footer-link me-4" href="#support" target="_blank">لایسنس</a>
              <a class="footer-link me-4" href="#support" target="_blank">قالب‌های بیشتر</a>
              <a class="footer-link me-4" href="https://demos.pixinvent.com/vuexy-html-admin-template/documentation/" target="_blank">مستندات</a>
              <a class="footer-link d-none d-sm-inline-block" href="#support-theme" target="_blank">پشتیبانی</a>
            </div>
          </div>
        </div>
      </footer>
      <footer class="footer bg-success mb-4">
        <div class="container-fluid d-flex flex-md-row flex-column justify-content-between align-items-md-center gap-1 container-p-x py-3">
          <div>
            <a class="footer-text fw-medium" href="https://demos.pixinvent.com/vuexy-html-admin-template/landing/" target="_blank">ویکسی</a>
            ©
          </div>
          <div>
            <div class="d-none d-lg-inline-block">
              <a class="footer-link me-4" href="#support" target="_blank">لایسنس</a>
              <a class="footer-link me-4" href="#support" target="_blank">قالب‌های بیشتر</a>
              <a class="footer-link me-4" href="https://demos.pixinvent.com/vuexy-html-admin-template/documentation/" target="_blank">مستندات</a>
              <a class="footer-link d-none d-sm-inline-block" href="#support-theme" target="_blank">پشتیبانی</a>
            </div>
          </div>
        </div>
      </footer>
      <footer class="footer bg-danger mb-4">
        <div class="container-fluid d-flex flex-md-row flex-column justify-content-between align-items-md-center gap-1 container-p-x py-3">
          <div>
            <a class="footer-text fw-medium" href="https://demos.pixinvent.com/vuexy-html-admin-template/landing/" target="_blank">ویکسی</a>
            ©
          </div>
          <div>
            <div class="d-none d-lg-inline-block">
              <a class="footer-link me-4" href="#support" target="_blank">لایسنس</a>
              <a class="footer-link me-4" href="#support" target="_blank">قالب‌های بیشتر</a>
              <a class="footer-link me-4" href="https://demos.pixinvent.com/vuexy-html-admin-template/documentation/" target="_blank">مستندات</a>
              <a class="footer-link d-none d-sm-inline-block" href="#support-theme" target="_blank">پشتیبانی</a>
            </div>
          </div>
        </div>
      </footer>
      <footer class="footer bg-warning mb-4">
        <div class="container-fluid d-flex flex-md-row flex-column justify-content-between align-items-md-center gap-1 container-p-x py-3">
          <div>
            <a class="footer-text fw-medium" href="https://demos.pixinvent.com/vuexy-html-admin-template/landing/" target="_blank">ویکسی</a>
            ©
          </div>
          <div>
            <div class="d-none d-lg-inline-block">
              <a class="footer-link me-4" href="#support" target="_blank">لایسنس</a>
              <a class="footer-link me-4" href="#support" target="_blank">قالب‌های بیشتر</a>
              <a class="footer-link me-4" href="https://demos.pixinvent.com/vuexy-html-admin-template/documentation/" target="_blank">مستندات</a>
              <a class="footer-link d-none d-sm-inline-block" href="#support-theme" target="_blank">پشتیبانی</a>
            </div>
          </div>
        </div>
      </footer>
      <footer class="footer bg-info mb-4">
        <div class="container-fluid d-flex flex-md-row flex-column justify-content-between align-items-md-center gap-1 container-p-x py-3">
          <div>
            <a class="footer-text fw-medium" href="https://demos.pixinvent.com/vuexy-html-admin-template/landing/" target="_blank">ویکسی</a>
            ©
          </div>
          <div>
            <div class="d-none d-lg-inline-block">
              <a class="footer-link me-4" href="#support" target="_blank">لایسنس</a>
              <a class="footer-link me-4" href="#support" target="_blank">قالب‌های بیشتر</a>
              <a class="footer-link me-4" href="https://demos.pixinvent.com/vuexy-html-admin-template/documentation/" target="_blank">مستندات</a>
              <a class="footer-link d-none d-sm-inline-block" href="#support-theme" target="_blank">پشتیبانی</a>
            </div>
          </div>
        </div>
      </footer>
      <footer class="footer bg-light mb-4">
        <div class="container-fluid d-flex flex-md-row flex-column justify-content-between align-items-md-center gap-1 container-p-x py-3">
          <div>
            <a class="footer-text fw-medium" href="https://demos.pixinvent.com/vuexy-html-admin-template/landing/" target="_blank">ویکسی</a>
            ©
          </div>
          <div>
            <div class="d-none d-lg-inline-block">
              <a class="footer-link me-4" href="#support" target="_blank">لایسنس</a>
              <a class="footer-link me-4" href="#support" target="_blank">قالب‌های بیشتر</a>
              <a class="footer-link me-4" href="https://demos.pixinvent.com/vuexy-html-admin-template/documentation/" target="_blank">مستندات</a>
              <a class="footer-link d-none d-sm-inline-block" href="#support-theme" target="_blank">پشتیبانی</a>
            </div>
          </div>
        </div>
      </footer>
      <footer class="footer bg-dark mb-4">
        <div class="container-fluid d-flex flex-md-row flex-column justify-content-between align-items-md-center gap-1 container-p-x py-3">
          <div>
            <a class="footer-text fw-medium" href="https://demos.pixinvent.com/vuexy-html-admin-template/landing/" target="_blank">ویکسی</a>
            ©
          </div>
          <div>
            <div class="d-none d-lg-inline-block">
              <a class="footer-link me-4" href="#support" target="_blank">لایسنس</a>
              <a class="footer-link me-4" href="#support" target="_blank">قالب‌های بیشتر</a>
              <a class="footer-link me-4" href="https://demos.pixinvent.com/vuexy-html-admin-template/documentation/" target="_blank">مستندات</a>
              <a class="footer-link d-none d-sm-inline-block" href="#support-theme" target="_blank">پشتیبانی</a>
            </div>
          </div>
        </div>
      </footer>
      <footer class="footer bg-footer-theme">
        <div class="container-fluid d-flex flex-md-row flex-column justify-content-between align-items-md-center gap-1 container-p-x py-3">
          <div>
            <a class="footer-text fw-medium" href="https://demos.pixinvent.com/vuexy-html-admin-template/landing/" target="_blank">ویکسی</a>
            ©
          </div>
          <div>
            <div class="d-none d-lg-inline-block">
              <a class="footer-link me-4" href="#support" target="_blank">لایسنس</a>
              <a class="footer-link me-4" href="#support" target="_blank">قالب‌های بیشتر</a>
              <a class="footer-link me-4" href="https://demos.pixinvent.com/vuexy-html-admin-template/documentation/" target="_blank">مستندات</a>
              <a class="footer-link d-none d-sm-inline-block" href="#support-theme" target="_blank">پشتیبانی</a>
            </div>
          </div>
        </div>
      </footer>
    </section>
    <!--/ Color Schema -->
    <hr class="container-m-nx my-5"/>
    <!-- footer Theme -->
    <section id="theme-footer">
      <h5 class="pb-1 mb-4">تم فوتر</h5>
      <footer class="footer bg-footer-theme">
        <div class="container-fluid d-flex flex-md-row flex-column justify-content-between align-items-md-center gap-1 container-p-x py-3">
          <div>
            <a class="footer-text fw-medium" href="https://demos.pixinvent.com/vuexy-html-admin-template/landing/" target="_blank">ویکسی</a>
            ©
          </div>
          <div>
            <div class="d-none d-lg-inline-block">
              <a class="footer-link me-4" href="#support" target="_blank">لایسنس</a>
              <a class="footer-link me-4" href="#support" target="_blank">قالب‌های بیشتر</a>
              <a class="footer-link me-4" href="https://demos.pixinvent.com/vuexy-html-admin-template/documentation/" target="_blank">مستندات</a>
              <a class="footer-link d-none d-sm-inline-block" href="#support-theme" target="_blank">پشتیبانی</a>
            </div>
          </div>
        </div>
      </footer>
    </section>
    <!--/ footer Theme -->
    <hr class="container-m-nx my-5"/>
    <!-- Advanced footer -->
    <section id="adv-footer">
      <h5 class="pb-1 mb-4">فوتر پیشرفته</h5>
      <footer class="footer bg-light">
        <div class="container-fluid container-p-x pt-5 pb-4">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-3 mb-4 mb-sm-0">
              <h4 class="fw-medium mb-3">
                <a class="footer-text" href="https://demos.pixinvent.com/vuexy-html-admin-template/landing/" target="_blank">ویکسی</a>
              </h4>
              <span>اماده شدن برای دنیای بهتر</span>
              <div class="social-icon my-3">
                <a class="btn btn-icon btn-sm btn-facebook me-2" href="javascript:void(0)">
                  <i class="ti ti-brand-facebook"></i>
                </a>
                <a class="btn btn-icon btn-sm btn-twitter me-2" href="javascript:void(0)">
                  <i class="ti ti-brand-twitter"></i>
                </a>
                <a class="btn btn-icon btn-sm btn-linkedin me-2" href="javascript:void(0)">
                  <i class="ti ti-brand-linkedin"></i>
                </a>
                <a class="btn btn-icon btn-sm btn-github" href="javascript:void(0)">
                  <i class="ti ti-brand-github"></i>
                </a>
              </div>
              <p class="pt-4">
                <script>
                  document.write(new Date().getFullYear());

                </script>
                © راستچین
              </p>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-4 mb-md-0">
              <h5>شرکت</h5>
              <ul class="list-unstyled">
                <li>
                  <a class="footer-link d-block pb-2" href="javascript:void(0)">درباره ما</a>
                </li>
                <li>
                  <a class="footer-link d-block pb-2" href="javascript:void(0)">تیم ما
                    <span class="badge bg-label-primary text-capitalize"> استخدام شوید</span>
                  </a>
                </li>
                <li>
                  <a class="footer-link d-block pb-2" href="javascript:void(0)">وبلاگ</a>
                </li>
                <li>
                  <a class="footer-link d-block pb-2" href="javascript:void(0)">مشتریان</a>
                </li>
                <li>
                  <a class="footer-link d-block pb-2" href="javascript:void(0)">سؤالات متداول</a>
                </li>
                <li>
                  <a class="footer-link d-block pb-2" href="javascript:void(0)">قوانین و شرایط استفاده</a>
                </li>
              </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-4 mb-sm-0">
              <h5>محصولات</h5>
              <ul class="list-unstyled">
                <li>
                  <a class="footer-link d-block pb-2" href="javascript:void(0)">قالب مدیریت</a>
                </li>
                <li>
                  <a class="footer-link d-block pb-2" href="javascript:void(0)">قالب وردپرس</a>
                </li>
                <li>
                  <a class="footer-link d-block pb-2" href="javascript:void(0)">قالب املاک</a>
                </li>
                <li>
                  <a class="footer-link d-block pb-2" href="javascript:void(0)">قالب فروشگاهی</a>
                </li>
                <li>
                  <a class="footer-link d-block pb-2" href="javascript:void(0)">قالب آکادمی</a>
                </li>
                <li>
                  <a class="footer-link d-block pb-2" href="javascript:void(0)">مستندات</a>
                </li>
              </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <h5>سایرموارد</h5>
              <ul class="list-unstyled">
                <li>
                  <a class="footer-link d-block pb-2" href="javascript:void(0)">سایر محصولات</a>
                </li>
                <li>
                  <a class="footer-link d-block pb-2" href="javascript:void(0)">همکاری درفروش</a>
                </li>
                <li>
                  <a class="footer-link d-block pb-2" href="javascript:void(0)">پیشنهادات</a>
                </li>
                <li>
                  <a class="footer-link d-block pb-2" href="javascript:void(0)">قرعه کشی</a>
                </li>
                <li>
                  <a class="footer-link d-block pb-2" href="javascript:void(0)">کد تخفیف</a>
                </li>
                <li>
                  <a class="footer-link d-block pb-2" href="javascript:void(0)">پشتیبانی</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </section>
    <!--/ Advanced footer -->
