@{
  ViewData["Title"] = "رابط کاربری - مُدال‌ها";
}
@section VendorStyles {
<link rel="stylesheet" href="~/vendor/libs/animate-css/animate.css">
<link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.css" />
}

@section VendorScripts {
<script src="~/vendor/libs/moment/moment.js"></script>
<script src="~/vendor/libs/jdate/jdate.min.js"></script>
<script src="~/vendor/libs/flatpickr/flatpickr-jdate.js"></script>
<script src="~/vendor/libs/flatpickr/l10n/fa.js"></script>
}

@section PageScripts {
<script src="~/js/ui-modals.js"></script>
}

@* ************** Content ************** *@


<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">رابط کاربری /</span>
  مُدال‌ها
</h4>
<!-- Bootstrap modals -->
<div class="card mb-4">
  <h5 class="card-header">مُدال‌های bootstrap</h5>
  <div class="card-body">
    <div class="row gy-3">
      <!-- Default Modal -->
      <div class="col-lg-4 col-md-6">
        <small class="text-light fw-medium">پیش فرض</small>
        <div class="mt-3">
          <!-- Button trigger modal -->
          <button class="btn btn-primary" data-bs-target="#basicModal" data-bs-toggle="modal" type="button"> نمایش مُدال</button>
          <!-- Modal -->
          <div aria-hidden="true" class="modal fade" id="basicModal" tabindex="-1">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel1">عنوان مدال</h5>
                  <button aria-label="بستن" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col mb-3">
                      <label class="form-label" for="nameBasic">نام</label>
                      <input class="form-control" id="nameBasic" placeholder="نام را وارد کنید" type="text"/>
                    </div>
                  </div>
                  <div class="row g-2">
                    <div class="col mb-0">
                      <label class="form-label" for="emailBasic">ایمیل</label>
                      <input class="form-control" id="emailBasic" placeholder="xxxx@xxx.xx" type="email"/>
                    </div>
                    <div class="col mb-0">
                      <label class="form-label" for="flatpickr-date-1">تاریخ تولد</label>
                      <input class="form-control bdi" id="flatpickr-date-1" placeholder="YYYY-MM-DD" type="text"/>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-label-secondary" data-bs-dismiss="modal" type="button"> بستن</button>
                  <button class="btn btn-primary" type="button">ذخیره</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Vertically Centered Modal -->
      <div class="col-lg-4 col-md-6">
        <small class="text-light fw-medium">در مرکز</small>
        <div class="mt-3">
          <!-- Button trigger modal -->
          <button class="btn btn-primary" data-bs-target="#modalCenter" data-bs-toggle="modal" type="button"> نمایش مُدال</button>
          <!-- Modal -->
          <div aria-hidden="true" class="modal fade" id="modalCenter" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalCenterTitle">عنوان مدال</h5>
                  <button aria-label="بستن" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col mb-3">
                      <label class="form-label" for="nameWithTitle">نام</label>
                      <input class="form-control" id="nameWithTitle" placeholder="نام را وارد کنید" type="text"/>
                    </div>
                  </div>
                  <div class="row g-2">
                    <div class="col mb-0">
                      <label class="form-label" for="emailWithTitle">ایمیل</label>
                      <input class="form-control" id="emailWithTitle" placeholder="xxxx@xxx.xx" type="email"/>
                    </div>
                    <div class="col mb-0">
                      <label class="form-label" for="flatpickr-date-2">تاریخ تولد</label>
                      <input class="form-control bdi" id="flatpickr-date-2" placeholder="YYYY-MM-DD" type="text"/>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-label-secondary" data-bs-dismiss="modal" type="button"> بستن</button>
                  <button class="btn btn-primary" type="button">ذخیره</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Slide from Top Modal -->
      <div class="col-lg-4 col-md-6">
        <small class="text-light fw-medium">نمایش از بالا</small>
        <div class="mt-3">
          <!-- Button trigger modal -->
          <button class="btn btn-primary" data-bs-target="#modalTop" data-bs-toggle="modal" type="button"> نمایش مُدال</button>
          <!-- Modal -->
          <div class="modal modal-top fade" id="modalTop" tabindex="-1">
            <div class="modal-dialog">
              <form class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalTopTitle">عنوان مدال</h5>
                  <button aria-label="بستن" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col mb-3">
                      <label class="form-label" for="nameSlideTop">نام</label>
                      <input class="form-control" id="nameSlideTop" placeholder="نام را وارد کنید" type="text"/>
                    </div>
                  </div>
                  <div class="row g-2">
                    <div class="col mb-0">
                      <label class="form-label" for="emailSlideTop">ایمیل</label>
                      <input class="form-control" id="emailSlideTop" placeholder="xxxx@xxx.xx" type="email"/>
                    </div>
                    <div class="col mb-0">
                      <label class="form-label" for="flatpickr-date-3">تاریخ تولد</label>
                      <input class="form-control bdi" id="flatpickr-date-3" placeholder="YYYY-MM-DD" type="text"/>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-label-secondary" data-bs-dismiss="modal" type="button"> بستن</button>
                  <button class="btn btn-primary" type="button">ذخیره</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="m-0"/>
  <div class="card-body">
    <div class="row gy-3">
      <!-- Modal with YouTube Video -->
      <div class="col-lg-4 col-md-6">
        <small class="text-light fw-medium">ویدیوی یوتیوب</small>
        <div class="mt-3">
          <button class="btn btn-primary" data-bs-target="#youTubeModal" data-bs-toggle="modal" data-theVideo="https://www.youtube.com/embed/EngW7tLk6R8" type="button">
            نمایش مُدال
          </button>
          <!-- Modal -->
          <div aria-hidden="true" class="modal fade" id="youTubeModal" tabindex="-1">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <iframe height="350" src="https://www.youtube.com/embed/EngW7tLk6R8"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Toggle Between Modals -->
      <div class="col-lg-4 col-md-6">
        <small class="text-light fw-medium">جابه‌جایی بین مُدال‌ها</small>
        <div class="mt-3">
          <button class="btn btn-primary" data-bs-target="#modalToggle" data-bs-toggle="modal" type="button"> نمایش مُدال</button>
          <!-- Modal 1-->
          <div aria-hidden="true" aria-labelledby="modalToggleLabel" class="modal fade" id="modalToggle" style="display: none" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalToggleLabel">مُدال 1</h5>
                  <button aria-label="بستن" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">با کلیک روی کلید زیر مدال دوم را نمایش دهید.</div>
                <div class="modal-footer">
                  <button class="btn btn-primary" data-bs-dismiss="modal" data-bs-target="#modalToggle2" data-bs-toggle="modal">
                    مُدال دوم
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal 2-->
          <div aria-hidden="true" aria-labelledby="modalToggleLabel2" class="modal fade" id="modalToggle2" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalToggleLabel2">مُدال 2</h5>
                  <button aria-label="بستن" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">این مدال را ببندید و اولی را باز کنید.</div>
                <div class="modal-footer">
                  <button class="btn btn-primary" data-bs-dismiss="modal" data-bs-target="#modalToggle" data-bs-toggle="modal">
                    بازگشت به مُدال اول
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fullscreen Modal -->
      <div class="col-lg-4 col-md-6">
        <small class="text-light fw-medium">تمام صفحه</small>
        <div class="mt-3">
          <button class="btn btn-primary" data-bs-target="#fullscreenModal" data-bs-toggle="modal" type="button"> نمایش مُدال</button>
          <!-- Modal -->
          <div aria-hidden="true" class="modal fade" id="fullscreenModal" tabindex="-1">
            <div class="modal-dialog modal-fullscreen" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalFullTitle">عنوان مدال</h5>
                  <button aria-label="بستن" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                  <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-label-secondary" data-bs-dismiss="modal" type="button"> بستن</button>
                  <button class="btn btn-primary" type="button">ذخیره</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="m-0"/>
  <div class="card-body">
    <div class="row gy-3">
      <!-- Modal Sizes -->
      <div class="col-lg-4 col-md-6">
        <small class="text-light fw-medium">اندازه ها</small>
        <!-- Small Modal -->
        <div aria-hidden="true" class="modal fade" id="smallModal" tabindex="-1">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">عنوان مدال</h5>
                <button aria-label="بستن" class="btn-close" data-bs-dismiss="modal" type="button"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col mb-3">
                    <label class="form-label" for="nameSmall">نام</label>
                    <input class="form-control" id="nameSmall" placeholder="نام را وارد کنید" type="text"/>
                  </div>
                </div>
                <div class="row g-2">
                  <div class="col mb-0">
                    <label class="form-label" for="emailSmall">ایمیل</label>
                    <input class="form-control" id="emailSmall" placeholder="xxxx@xxx.xx" type="email"/>
                  </div>
                  <div class="col mb-0">
                    <label class="form-label" for="flatpickr-date-4">تاریخ تولد</label>
                    <input class="form-control bdi" id="flatpickr-date-4" placeholder="YYYY-MM-DD" type="text"/>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-label-secondary" data-bs-dismiss="modal" type="button"> بستن</button>
                <button class="btn btn-primary" type="button">ذخیره</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Large Modal -->
        <div aria-hidden="true" class="modal fade" id="largeModal" tabindex="-1">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">عنوان مدال</h5>
                <button aria-label="بستن" class="btn-close" data-bs-dismiss="modal" type="button"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col mb-3">
                    <label class="form-label" for="nameLarge">نام</label>
                    <input class="form-control" id="nameLarge" placeholder="نام را وارد کنید" type="text"/>
                  </div>
                </div>
                <div class="row g-2">
                  <div class="col mb-0">
                    <label class="form-label" for="emailLarge">ایمیل</label>
                    <input class="form-control" id="emailLarge" placeholder="xxxx@xxx.xx" type="email"/>
                  </div>
                  <div class="col mb-0">
                    <label class="form-label" for="flatpickr-date-5">تاریخ تولد</label>
                    <input class="form-control bdi" id="flatpickr-date-5" placeholder="YYYY-MM-DD" type="text"/>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-label-secondary" data-bs-dismiss="modal" type="button"> بستن</button>
                <button class="btn btn-primary" type="button">ذخیره</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Extra Large Modal -->
        <div aria-hidden="true" class="modal fade" id="exLargeModal" tabindex="-1">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel4">عنوان مدال</h5>
                <button aria-label="بستن" class="btn-close" data-bs-dismiss="modal" type="button"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col mb-3">
                    <label class="form-label" for="nameExLarge">نام</label>
                    <input class="form-control" id="nameExLarge" placeholder="نام را وارد کنید" type="text"/>
                  </div>
                </div>
                <div class="row g-2">
                  <div class="col mb-0">
                    <label class="form-label" for="emailExLarge">ایمیل</label>
                    <input class="form-control" id="emailExLarge" placeholder="xxxx@xxx.xx" type="email"/>
                  </div>
                  <div class="col mb-0">
                    <label class="form-label" for="flatpickr-date-6">تاریخ تولد</label>
                    <input class="form-control bdi" id="flatpickr-date-6" placeholder="YYYY-MM-DD" type="text"/>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-label-secondary" data-bs-dismiss="modal" type="button"> بستن</button>
                <button class="btn btn-primary" type="button">ذخیره</button>
              </div>
            </div>
          </div>
        </div>
        <div class="demo-inline-spacing">
          <button class="btn btn-primary" data-bs-target="#smallModal" data-bs-toggle="modal" type="button"> کوچک</button>
          <button class="btn btn-primary" data-bs-target="#largeModal" data-bs-toggle="modal" type="button"> بزرگ</button>
          <button class="btn btn-primary" data-bs-target="#exLargeModal" data-bs-toggle="modal" type="button"> خیلی بزرگ</button>
        </div>
      </div>
      <!-- Modal Scroll long content -->
      <div class="col-lg-4 col-md-3">
        <small class="text-light fw-medium">پیمایش مطالب طولانی</small>
        <!-- Modal -->
        <div aria-hidden="true" class="modal fade" id="modalLong" tabindex="-1">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLongTitle">عنوان مدال</h5>
                <button aria-label="بستن" class="btn-close" data-bs-dismiss="modal" type="button"></button>
              </div>
              <div class="modal-body">
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
              </div>
              <div class="modal-footer">
                <button class="btn btn-label-secondary" data-bs-dismiss="modal" type="button"> بستن</button>
                <button class="btn btn-primary" type="button">ذخیره</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div aria-hidden="true" class="modal fade" id="modalScrollable" tabindex="-1">
          <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalScrollableTitle">عنوان مدال</h5>
                <button aria-label="بستن" class="btn-close" data-bs-dismiss="modal" type="button"></button>
              </div>
              <div class="modal-body">
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
              </div>
              <div class="modal-footer">
                <button class="btn btn-label-secondary" data-bs-dismiss="modal" type="button"> بستن</button>
                <button class="btn btn-primary" type="button">ذخیره</button>
              </div>
            </div>
          </div>
        </div>
        <div class="demo-inline-spacing">
          <!-- Button trigger modal -->
          <button class="btn btn-primary" data-bs-target="#modalLong" data-bs-toggle="modal" type="button"> حالت 1</button>
          <!-- Button ModalScrollable -->
          <button class="btn btn-primary" data-bs-target="#modalScrollable" data-bs-toggle="modal" type="button"> حالت 2</button>
        </div>
      </div>
      <!-- Modal Backdrop -->
      <div class="col-lg-4 col-md-3">
        <small class="text-light fw-medium">با کلیک در پس زمینه بسته نمی شود</small>
        <div class="mt-3">
          <!-- Button trigger modal -->
          <button class="btn btn-primary" data-bs-target="#backDropModal" data-bs-toggle="modal" type="button"> نمایش مُدال</button>
          <!-- Modal -->
          <div class="modal fade" data-bs-backdrop="static" id="backDropModal" tabindex="-1">
            <div class="modal-dialog">
              <form class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="backDropModalTitle">عنوان مدال</h5>
                  <button aria-label="بستن" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col mb-3">
                      <label class="form-label" for="nameBackdrop">نام</label>
                      <input class="form-control" id="nameBackdrop" placeholder="نام را وارد کنید" type="text"/>
                    </div>
                  </div>
                  <div class="row g-2">
                    <div class="col mb-0">
                      <label class="form-label" for="emailBackdrop">ایمیل</label>
                      <input class="form-control" id="emailBackdrop" placeholder="xxxx@xxx.xx" type="email"/>
                    </div>
                    <div class="col mb-0">
                      <label class="form-label" for="flatpickr-date-7">تاریخ تولد</label>
                      <input class="form-control bdi" id="flatpickr-date-7" placeholder="YYYY-MM-DD" type="text"/>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-label-secondary" data-bs-dismiss="modal" type="button"> بستن</button>
                  <button class="btn btn-primary" type="button">ذخیره</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Bootstrap modals -->
<!-- Animation -->
<div class="card mb-4">
  <h5 class="card-header">انیمیشن</h5>
  <div class="card-body">
    <!-- Modal Animation with options -->
    <small class="text-light fw-medium">گزینه های انیمیشن</small>
    <div class="d-flex mt-3">
      <select class="form-select animation-dropdown me-2 w-25" id="animation-dropdown">
        <optgroup label="Attention Seekers">
          <option value="animate__fade">fade</option>
          <option value="animate__bounce">bounce</option>
          <option value="animate__flash">flash</option>
          <option value="animate__pulse">pulse</option>
          <option value="animate__rubberBand">rubberBand</option>
          <option value="animate__shakeX">shake</option>
          <option value="animate__swing">swing</option>
          <option value="animate__tada">tada</option>
          <option value="animate__wobble">wobble</option>
          <option value="animate__jello">jello</option>
          <option value="animate__heartBeat">heartBeat</option>
        </optgroup>
        <optgroup label="Bouncing Entrances">
          <option value="animate__bounceIn">bounceIn</option>
          <option value="animate__bounceInDown">bounceInDown</option>
          <option value="animate__bounceInLeft">bounceInLeft</option>
          <option value="animate__bounceInRight">bounceInRight</option>
          <option value="animate__bounceInUp">bounceInUp</option>
        </optgroup>
        <optgroup label="Fading Entrances">
          <option selected="" value="animate__fadeIn">fadeIn</option>
          <option value="animate__fadeInDown">fadeInDown</option>
          <option value="animate__fadeInDownBig">fadeInDownBig</option>
          <option value="animate__fadeInLeft">fadeInLeft</option>
          <option value="animate__fadeInLeftBig">fadeInLeftBig</option>
          <option value="animate__fadeInRight">fadeInRight</option>
          <option value="animate__fadeInRightBig">fadeInRightBig</option>
          <option value="animate__fadeInUp">fadeInUp</option>
          <option value="animate__fadeInUpBig">fadeInUpBig</option>
        </optgroup>
        <optgroup label="Flippers">
          <option value="animate__flip">flip</option>
          <option value="animate__flipInX">flipInX</option>
          <option value="animate__flipInY">flipInY</option>
        </optgroup>
        <optgroup label="Lightspeed">
          <option value="animate__lightSpeedInRight">lightSpeedIn</option>
        </optgroup>
        <optgroup label="Rotating Entrances">
          <option value="animate__rotateIn">rotateIn</option>
          <option value="animate__rotateInDownLeft">rotateInDownLeft</option>
          <option value="animate__rotateInDownRight">rotateInDownRight</option>
          <option value="animate__rotateInUpLeft">rotateInUpLeft</option>
          <option value="animate__rotateInUpRight">rotateInUpRight</option>
        </optgroup>
        <optgroup label="Sliding Entrances">
          <option value="animate__slideInUp">slideInUp</option>
          <option value="animate__slideInDown">slideInDown</option>
          <option value="animate__slideInLeft">slideInLeft</option>
          <option value="animate__slideInRight">slideInRight</option>
        </optgroup>
        <optgroup label="Zoom Entrances">
          <option value="animate__zoomIn">zoomIn</option>
          <option value="animate__zoomInDown">zoomInDown</option>
          <option value="animate__zoomInLeft">zoomInLeft</option>
          <option value="animate__zoomInRight">zoomInRight</option>
          <option value="animate__zoomInUp">zoomInUp</option>
        </optgroup>
        <optgroup label="Specials">
          <option value="animate__jackInTheBox">jackInTheBox</option>
          <option value="animate__rollIn">roll In</option>
        </optgroup>
      </select>
      <!-- Button trigger modal -->
      <button class="btn btn-primary" data-bs-target="#animationModal" data-bs-toggle="modal" type="button"> نمایش مُدال</button>
      <!-- Modal -->
      <div aria-hidden="true" class="modal fade animate__animated fadeIn" id="animationModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel5">عنوان مدال</h5>
              <button aria-label="بستن" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col mb-3">
                  <label class="form-label" for="nameAnimation">نام</label>
                  <input class="form-control" id="nameAnimation" placeholder="نام را وارد کنید" type="text"/>
                </div>
              </div>
              <div class="row g-2">
                <div class="col mb-0">
                  <label class="form-label" for="emailAnimation">ایمیل</label>
                  <input class="form-control" id="emailAnimation" placeholder="xxxx@xxx.xx" type="email"/>
                </div>
                <div class="col mb-0">
                  <label class="form-label" for="flatpickr-date-8">تاریخ تولد</label>
                  <input class="form-control bdi" id="flatpickr-date-8" placeholder="YYYY-MM-DD" type="text"/>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-label-secondary" data-bs-dismiss="modal" type="button"> بستن</button>
              <button class="btn btn-primary" type="button">ذخیره</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Animation -->
<!-- Extended Modals -->
<div class="card">
  <h5 class="card-header">مُدال‌های پشتیبانی</h5>
  <div class="card-body">
    <div class="row gy-3">
      <!-- Onboarding modals -->
      <div class="col-lg-4 col-md-6">
        <small class="text-light fw-medium">مُدال‌های Onboarding</small>
        <!-- slider modal -->
        <div aria-hidden="true" class="modal-onboarding modal fade animate__animated" id="onboardingSlideModal" tabindex="-1">
          <div class="modal-dialog" role="document">
            <div class="modal-content text-center">
              <div class="modal-header border-0">
                <a class="text-muted close-label" data-bs-dismiss="modal" href="javascript:void(0);">رد شدن</a>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
              </div>
              <div class="carousel slide pb-4 mb-2" data-bs-interval="false" id="modalCarouselControls">
                <div class="carousel-indicators">
                  <button class="active" data-bs-slide-to="0" data-bs-target="#modalCarouselControls" type="button"></button>
                  <button data-bs-slide-to="1" data-bs-target="#modalCarouselControls" type="button"></button>
                  <button data-bs-slide-to="2" data-bs-target="#modalCarouselControls" type="button"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="onboarding-media">
                      <div class="mx-2">
                        <img alt="girl-with-laptop-light" class="img-fluid" data-app-dark-img="illustrations/girl-with-laptop-dark.png" data-app-light-img="illustrations/girl-with-laptop-light.png" src="~/img/illustrations/girl-with-laptop-light.png" width="335"/>
                      </div>
                    </div>
                    <div class="onboarding-content">
                      <h4 class="onboarding-title text-body">نمونه درخواست اطلاعات</h4>
                      <!-- <div class="onboarding-info">In this example you can see a form where you can request some
additional information from the customer when they land on the app page.</div> -->
                      <form>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="mb-3">
                              <label class="form-label" for="nameEx">نام کامل شما</label>
                              <input class="form-control" id="nameEx" placeholder="نام کامل خود را وارد کنید..." tabindex="0" type="text" value=""/>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="mb-3">
                              <label class="form-label" for="roleEx">وظیفه شما</label>
                              <select class="form-select" id="roleEx" tabindex="0">
                                <option>توسعه دهنده وب</option>
                                <option>صاحب کسب و کار</option>
                                <option>دیگر</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="onboarding-media">
                      <div class="mx-2">
                        <img alt="پسر-با-لپ تاپ-نور" class="img-fluid" data-app-dark-img="illustrations/boy-with-laptop-dark.png" data-app-light-img="illustrations/boy-with-laptop-light.png" src="~/img/illustrations/boy-with-laptop-light.png" width="300"/>
                      </div>
                    </div>
                    <div class="onboarding-content">
                      <h4 class="onboarding-title text-body">نمونه درخواست اطلاعات</h4>
                      <div class="onboarding-info"> در این مثال می توانید فرمی را مشاهده کنید که در آن می توانید اطلاعات اضافی را از مشتری هنگامی که در صفحه برنامه قرار می گیرد درخواست کنید.</div>
                      <form>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="mb-3">
                              <label class="form-label" for="nameEx1">نام کامل شما</label>
                              <input class="form-control" id="nameEx1" placeholder="نام کامل خود را وارد کنید..." tabindex="0" type="text" value=""/>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="mb-3">
                              <label class="form-label" for="roleEx1">وظیفه شما</label>
                              <select class="form-select" id="roleEx1" tabindex="0">
                                <option>توسعه دهنده وب</option>
                                <option>صاحب کسب و کار</option>
                                <option>دیگر</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="onboarding-media">
                      <div class="mx-2">
                        <img alt="girl-verify-password-light" class="img-fluid" data-app-dark-img="illustrations/girl-verify-password-dark.png" data-app-light-img="illustrations/girl-verify-password-light.png" src="~/img/illustrations/girl-verify-password-light.png" width="300"/>
                      </div>
                    </div>
                    <div class="onboarding-content">
                      <h4 class="onboarding-title text-body">نمونه درخواست اطلاعات</h4>
                      <div class="onboarding-info"> در این مثال می توانید فرمی را مشاهده کنید که در آن می توانید اطلاعات اضافی را از مشتری هنگامی که در صفحه برنامه قرار می گیرد درخواست کنید.</div>
                      <form>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="mb-3">
                              <label class="form-label" for="nameEx2">نام کامل شما</label>
                              <input class="form-control" id="nameEx2" placeholder="نام کامل خود را وارد کنید..." tabindex="0" type="text" value=""/>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="mb-3">
                              <label class="form-label" for="roleEx2">وظیفه شما</label>
                              <select class="form-select" id="roleEx2" tabindex="0">
                                <option>توسعه دهنده وب</option>
                                <option>صاحب کسب و کار</option>
                                <option>دیگر</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" data-bs-slide="prev" href="#modalCarouselControls" role="button">
                  <i class="ti ti-chevrons-left me-2"></i>
                  <span>قبلی</span>
                </a>
                <a class="carousel-control-next" data-bs-slide="next" href="#modalCarouselControls" role="button">
                  <span>بعدی</span>
                  <i class="ti ti-chevrons-right ms-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--/ slider modal -->
        <!-- Form with Image Modal -->
        <div aria-hidden="true" class="modal-onboarding modal fade animate__animated" id="onboardImageModal" tabindex="-1">
          <div class="modal-dialog" role="document">
            <div class="modal-content text-center">
              <div class="modal-header border-0">
                <a class="text-muted close-label" data-bs-dismiss="modal" href="javascript:void(0);">رد شدن</a>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
              </div>
              <div class="modal-body p-0">
                <div class="onboarding-media">
                  <div class="mx-2">
                    <img alt="دختر - باز کردن - رمز عبور - نور" class="img-fluid" data-app-dark-img="illustrations/girl-unlock-password-dark.png" data-app-light-img="illustrations/girl-unlock-password-light.png" src="~/img/illustrations/girl-unlock-password-light.png" width="335"/>
                  </div>
                </div>
                <div class="onboarding-content mb-0">
                  <h4 class="onboarding-title text-body">نمونه درخواست اطلاعات</h4>
                  <div class="onboarding-info"> در این مثال می توانید فرمی را مشاهده کنید که در آن می توانید اطلاعات اضافی را از مشتری هنگامی که در صفحه برنامه قرار می گیرد درخواست کنید.</div>
                  <form>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="mb-3">
                          <label class="form-label" for="nameEx3">نام کامل شما</label>
                          <input class="form-control" id="nameEx3" placeholder="نام کامل خود را وارد کنید..." tabindex="0" type="text" value=""/>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="mb-3">
                          <label class="form-label" for="roleEx3">وظیفه شما</label>
                          <select class="form-select" id="roleEx3" tabindex="0">
                            <option>توسعه دهنده وب</option>
                            <option>صاحب کسب و کار</option>
                            <option>دیگر</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="modal-footer border-0">
                <button class="btn btn-label-secondary" data-bs-dismiss="modal" type="button"> بستن</button>
                <button class="btn btn-primary" type="button">ارسال</button>
              </div>
            </div>
          </div>
        </div>
        <!--/ Form with Image Modal -->
        <div class="demo-inline-spacing">
          <!-- slider modal -->
          <button class="btn btn-primary" data-bs-target="#onboardingSlideModal" data-bs-toggle="modal" type="button"> مُدال اسلایدر چند مرحله ای</button>
          <!--/ slider modal -->
          <!-- Form with Image Modal -->
          <button class="btn btn-primary" data-bs-target="#onboardImageModal" data-bs-toggle="modal" type="button"> مدال با فرم</button>
          <!--/ Form with Image Modal -->
        </div>
      </div>
      <!-- Horizontal Onboarding modals -->
      <div class="col-lg-4 col-md-6">
        <small class="text-light fw-medium">مُدال‌های Onboarding افقی</small>
        <!-- horizontal slider modal -->
        <div aria-hidden="true" class="modal-onboarding modal fade animate__animated" id="onboardingHorizontalSlideModal" tabindex="-1">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content text-center">
              <div class="modal-header border-0">
                <a class="text-muted close-label" data-bs-dismiss="modal" href="javascript:void(0);">رد شدن</a>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
              </div>
              <div class="carousel slide pb-4 mb-2" data-bs-interval="false" id="modalHorizontalCarouselControls">
                <div class="carousel-indicators">
                  <button aria-current="true" aria-label="اسلاید 1" class="active" data-bs-slide-to="0" data-bs-target="#modalHorizontalCarouselControls" type="button"></button>
                  <button aria-label="اسلاید 2" data-bs-slide-to="1" data-bs-target="#modalHorizontalCarouselControls" type="button"></button>
                  <button aria-label="اسلاید 3" data-bs-slide-to="2" data-bs-target="#modalHorizontalCarouselControls" type="button"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="onboarding-horizontal">
                      <div class="onboarding-media">
                        <img alt="پسر-با-راکت-نور" class="img-fluid" data-app-dark-img="illustrations/boy-with-rocket-dark.png" data-app-light-img="illustrations/boy-with-rocket-light.png" src="~/img/illustrations/boy-with-rocket-light.png" width="273"/>
                      </div>
                      <div class="onboarding-content">
                        <h4 class="onboarding-title text-body">عنوان پیشفرض فـرم</h4>
                        <div class="onboarding-info justify-center-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</div>
                        <form>
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="mb-3">
                                <label class="form-label" for="nameEx4">نام کامل شما</label>
                                <input class="form-control" id="nameEx4" placeholder="نام کامل خود را وارد کنید..." tabindex="0" type="text" value=""/>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="mb-3">
                                <label class="form-label" for="roleEx4">سمت شما</label>
                                <select class="form-select" id="roleEx4" tabindex="0">
                                  <option>توسعه دهنده وب</option>
                                  <option>صاحب کسب و کار</option>
                                  <option>دیگر</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="onboarding-horizontal">
                      <div class="onboarding-media">
                        <img alt="پسر-با-راکت-نور" class="img-fluid" data-app-dark-img="illustrations/girl-doing-yoga-dark.png" data-app-light-img="illustrations/girl-doing-yoga-light.png" src="~/img/illustrations/girl-doing-yoga-light.png" width="273"/>
                      </div>
                      <div class="onboarding-content">
                        <h4 class="onboarding-title text-body">عنوان پیشفرض فـرم</h4>
                        <div class="onboarding-info justify-center-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</div>
                        <form>
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="mb-3">
                                <label class="form-label" for="nameEx5">نام کامل شما</label>
                                <input class="form-control" id="nameEx5" placeholder="نام کامل خود را وارد کنید..." tabindex="0" type="text" value=""/>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="mb-3">
                                <label class="form-label" for="roleEx5">وظیفه شما</label>
                                <select class="form-select" id="roleEx5" tabindex="0">
                                  <option>توسعه دهنده وب</option>
                                  <option>صاحب کسب و کار</option>
                                  <option>دیگر</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="onboarding-horizontal">
                      <div class="onboarding-media">
                        <img alt="پسر-با-لپ تاپ-نور" class="img-fluid" data-app-dark-img="illustrations/boy-with-laptop-dark.png" data-app-light-img="illustrations/boy-with-laptop-light.png" src="~/img/illustrations/boy-with-laptop-light.png" width="273"/>
                      </div>
                      <div class="onboarding-content">
                        <h4 class="onboarding-title text-body">عنوان پیشفرض فـرم</h4>
                        <div class="onboarding-info justify-center-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</div>
                        <form>
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="mb-3">
                                <label class="form-label" for="nameEx6">نام کامل شما</label>
                                <input class="form-control" id="nameEx6" placeholder="نام کامل خود را وارد کنید..." tabindex="0" type="text" value=""/>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="mb-3">
                                <label class="form-label" for="roleEx6">وظیفه شما</label>
                                <select class="form-select" id="roleEx6" tabindex="0">
                                  <option>توسعه دهنده وب</option>
                                  <option>صاحب کسب و کار</option>
                                  <option>دیگر</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" data-bs-slide="prev" href="#modalHorizontalCarouselControls" role="button">
                  <i class="ti ti-chevrons-left me-2"></i>
                  <span>قبلی</span>
                </a>
                <a class="carousel-control-next" data-bs-slide="next" href="#modalHorizontalCarouselControls" role="button">
                  <span>بعدی</span>
                  <i class="ti ti-chevrons-right ms-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--/ horizontal slider modal -->
        <!-- Form with Image horizontal Modal -->
        <div aria-hidden="true" class="modal-onboarding modal fade animate__animated" id="onboardHorizontalImageModal" tabindex="-1">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content text-center">
              <div class="modal-header border-0">
                <a class="text-muted close-label" data-bs-dismiss="modal" href="javascript:void(0);">رد شدن</a>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
              </div>
              <div class="modal-body onboarding-horizontal p-0">
                <div class="onboarding-media">
                  <img alt="boy-verify-email-light" class="img-fluid" data-app-dark-img="illustrations/boy-verify-email-dark.png" data-app-light-img="illustrations/boy-verify-email-light.png" src="~/img/illustrations/boy-verify-email-light.png" width="273"/>
                </div>
                <div class="onboarding-content mb-0">
                  <h4 class="onboarding-title text-body">عنوان پیشفرض فـرم</h4>
                  <div class="onboarding-info justify-center-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</div>
                  <form>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="mb-3">
                          <label class="form-label" for="nameEx7">نام کامل شما</label>
                          <input class="form-control" id="nameEx7" placeholder="نام کامل خود را وارد کنید..." tabindex="0" type="text" value=""/>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="mb-3">
                          <label class="form-label" for="roleEx7">سمت شما</label>
                          <select class="form-select" id="roleEx7" tabindex="0">
                            <option>توسعه دهنده وب</option>
                            <option>صاحب کسب و کار</option>
                            <option>دیگر</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="modal-footer border-0">
                <button class="btn btn-label-secondary" data-bs-dismiss="modal" type="button"> بستن</button>
                <button class="btn btn-primary" type="button">ارسال</button>
              </div>
            </div>
          </div>
        </div>
        <!--/ Form with Image horizontal Modal -->
        <div class="demo-inline-spacing">
          <!-- horizontal slider modal -->
          <button class="btn btn-primary" data-bs-target="#onboardingHorizontalSlideModal" data-bs-toggle="modal" type="button">
            اسلاید چند مرحله
          </button>
          <button class="btn btn-primary" data-bs-target="#onboardHorizontalImageModal" data-bs-toggle="modal" type="button">
            مُدال فرم
          </button>
        </div>
      </div>
      <!-- Transparent Modal -->
      <div class="col-lg-4 col-md-6">
        <small class="text-light fw-medium">مدال بدون کادر</small>
        <div class="mt-3">
          <button class="btn btn-primary" data-bs-target="#modals-transparent" data-bs-toggle="modal" type="button"> نمایش دهید</button>
          <!-- Modal template -->
          <div class="modal modal-transparent fade" id="modals-transparent" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <a aria-label="بستن" class="btn-close text-white" data-bs-dismiss="modal" href="javascript:void(0);"></a>
                  <p class="text-white text-large fw-light mb-3">برای دریافت آخرین به روزرسانی ها عضو خبرنامه شوید</p>
                  <div class="input-group input-group-lg mb-3">
                    <input aria-describedby="subscribe" class="form-control bg-white border-0" placeholder="ایمیل شما" type="text"/>
                    <button class="btn btn-primary" id="subscribe" type="button">عضویت</button>
                  </div>
                  <div class="text-start text-white">دریافت پیشنهادات و تخفیف ها از طریق ایمیل</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Extended Modals -->
