@{
  ViewData["Title"] = "رابط کاربری - کشوی کناری";
}
@* ************** Content ************** *@

<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">رابط کاربری /</span>
  کشوی کناری
</h4>
<div class="card mb-4">
  <h5 class="card-header">جایگذاری ها</h5>
  <div class="card-body">
    <div class="row gy-3">
      <!-- Default Offcanvas -->
      <div class="col-lg-3 col-md-6">
        <small class="text-light fw-medium mb-3">شروع (پیش‌فرض)</small>
        <div class="mt-3">
          <button aria-controls="offcanvasStart" class="btn btn-primary" data-bs-target="#offcanvasStart" data-bs-toggle="offcanvas" type="button">
            کشو کناری از راست
          </button>
          <div aria-labelledby="offcanvasStartLabel" class="offcanvas offcanvas-start" id="offcanvasStart" tabindex="-1">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasStartLabel">نمایش کشوکناری</h5>
              <button aria-label="بستن" class="btn-close text-reset" data-bs-dismiss="offcanvas" type="button"></button>
            </div>
            <div class="offcanvas-body mx-0 flex-grow-0">
              <p class="justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
              <button class="btn btn-primary mb-2 d-grid w-100" type="button">ادامه</button>
              <button class="btn btn-label-secondary d-grid w-100" data-bs-dismiss="offcanvas" type="button">
                بستن
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Offcanvas -->
      <div class="col-lg-3 col-md-6">
        <small class="text-light fw-medium mb-3">پایان</small>
        <div class="mt-3">
          <button aria-controls="offcanvasEnd" class="btn btn-primary" data-bs-target="#offcanvasEnd" data-bs-toggle="offcanvas" type="button">
            کشو کناری از چپ
          </button>
          <div aria-labelledby="offcanvasEndLabel" class="offcanvas offcanvas-end" id="offcanvasEnd" tabindex="-1">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasEndLabel">کشو کناری از چپ</h5>
              <button aria-label="بستن" class="btn-close text-reset" data-bs-dismiss="offcanvas" type="button"></button>
            </div>
            <div class="offcanvas-body mx-0 flex-grow-0">
              <p class="justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
              <button class="btn btn-primary mb-2 d-grid w-100" type="button">ادامه</button>
              <button class="btn btn-label-secondary d-grid w-100" data-bs-dismiss="offcanvas" type="button">
                بستن
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Top Offcanvas -->
      <div class="col-lg-3 col-md-6">
        <small class="text-light fw-medium mb-3">بالا</small>
        <div class="mt-3">
          <button aria-controls="offcanvasTop" class="btn btn-primary" data-bs-target="#offcanvasTop" data-bs-toggle="offcanvas" type="button">
            کشو کناری از بالا
          </button>
          <div aria-labelledby="offcanvasTopLabel" class="offcanvas offcanvas-top" id="offcanvasTop" tabindex="-1">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasTopLabel">کشو کناری از بالا</h5>
              <button aria-label="بستن" class="btn-close text-reset" data-bs-dismiss="offcanvas" type="button"></button>
            </div>
            <div class="offcanvas-body">
              <p class="justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
              <button class="btn btn-primary me-2" type="button">ادامه</button>
              <button class="btn btn-label-secondary" data-bs-dismiss="offcanvas" type="button"> بستن</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Bottom Offcanvas -->
      <div class="col-lg-3 col-md-6">
        <small class="text-light fw-medium mb-3">پایین</small>
        <div class="mt-3">
          <button aria-controls="offcanvasBottom" class="btn btn-primary" data-bs-target="#offcanvasBottom" data-bs-toggle="offcanvas" type="button">
            کشو کناری از پایین
          </button>
          <div aria-labelledby="offcanvasBottomLabel" class="offcanvas offcanvas-bottom" id="offcanvasBottom" tabindex="-1">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasBottomLabel">کشو کناری از پایین</h5>
              <button aria-label="بستن" class="btn-close text-reset" data-bs-dismiss="offcanvas" type="button"></button>
            </div>
            <div class="offcanvas-body">
              <p class="justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
              <button class="btn btn-primary me-2" type="button">ادامه</button>
              <button class="btn btn-label-secondary" data-bs-dismiss="offcanvas" type="button"> بستن</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <h5 class="card-header">پس زمینه</h5>
  <div class="card-body">
    <div class="row gy-3">
      <!-- Enable Body Scrolling Offcanvas -->
      <div class="col-lg-4 col-md-6">
        <small class="text-light fw-medium mb-3">اسکرول بدنه کشوکناری</small>
        <div class="mt-3">
          <button aria-controls="offcanvasScroll" class="btn btn-primary" data-bs-target="#offcanvasScroll" data-bs-toggle="offcanvas" type="button">
            نمایش کشوکناری
          </button>
          <div aria-labelledby="offcanvasScrollLabel" class="offcanvas offcanvas-end" data-bs-backdrop="false" data-bs-scroll="true" id="offcanvasScroll" tabindex="-1">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasScrollLabel">اسکرول بدنه کشوکناری</h5>
              <button aria-label="بستن" class="btn-close text-reset" data-bs-dismiss="offcanvas" type="button"></button>
            </div>
            <div class="offcanvas-body mx-0 flex-grow-0">
              <p class="justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
              <p class="justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
              <p class="justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
              <button class="btn btn-primary mb-2 d-grid w-100" type="button">ادامه</button>
              <button class="btn btn-label-secondary d-grid w-100" data-bs-dismiss="offcanvas" type="button">
                لغو
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Enable backdrop (default) Offcanvas -->
      <div class="col-lg-4 col-md-6">
        <small class="text-light fw-medium mb-3">فعال کردن پس‌زمینه (پیش‌فرض)</small>
        <div class="mt-3">
          <button aria-controls="offcanvasBackdrop" class="btn btn-primary" data-bs-target="#offcanvasBackdrop" data-bs-toggle="offcanvas" type="button">
            نمایش کشوکناری
          </button>
          <div aria-labelledby="offcanvasBackdropLabel" class="offcanvas offcanvas-end" id="offcanvasBackdrop" tabindex="-1">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasBackdropLabel">بسته شدن با کلیک در خارج کادر</h5>
              <button aria-label="بستن" class="btn-close text-reset" data-bs-dismiss="offcanvas" type="button"></button>
            </div>
            <div class="offcanvas-body mx-0 flex-grow-0">
              <p class="justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
              <button class="btn btn-primary mb-2 d-grid w-100" type="button">ادامه</button>
              <button class="btn btn-label-secondary d-grid w-100" data-bs-dismiss="offcanvas" type="button">
                لغو
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Enable Scrolling & Backdrop Offcanvas -->
      <div class="col-lg-4 col-md-6">
        <small class="text-light fw-medium mb-3">پس زمینه و اسکرول فعال</small>
        <div class="mt-3">
          <button aria-controls="offcanvasBoth" class="btn btn-primary" data-bs-target="#offcanvasBoth" data-bs-toggle="offcanvas" type="button">
            نمایش کشوکناری
          </button>
          <div aria-labelledby="offcanvasBothLabel" class="offcanvas offcanvas-end" data-bs-scroll="true" id="offcanvasBoth" tabindex="-1">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasBothLabel">پس زمینه و اسکرول فعال</h5>
              <button aria-label="بستن" class="btn-close text-reset" data-bs-dismiss="offcanvas" type="button"></button>
            </div>
            <div class="offcanvas-body mx-0 flex-grow-0">
              <p class="justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
              <p class="justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
              <p class="justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
              <button class="btn btn-primary mb-2 d-grid w-100" type="button">ادامه</button>
              <button class="btn btn-label-secondary d-grid w-100" data-bs-dismiss="offcanvas" type="button">
                لغو
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
