@{
  ViewData["Title"] = "رابط کاربری - تب‌ها و سربرگ‌ها";
}
@* ************** Content ************** *@

<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">امکانات /</span>
  تب‌ها و سربرگ‌ها
</h4>
<!-- Tabs -->
<h5 class="py-3 my-4">تب‌ها</h5>
<div class="row">
  <div class="col-xl-6">
    <h6 class="text-muted">پایه</h6>
    <div class="nav-align-top nav-tabs-shadow mb-4">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <button aria-controls="navs-top-home" aria-selected="true" class="nav-link active" data-bs-target="#navs-top-home" data-bs-toggle="tab" role="tab" type="button"> صفحه اصلی</button>
        </li>
        <li class="nav-item">
          <button aria-controls="navs-top-profile" aria-selected="false" class="nav-link" data-bs-target="#navs-top-profile" data-bs-toggle="tab" role="tab" type="button"> مشخصات</button>
        </li>
        <li class="nav-item">
          <button aria-controls="navs-top-messages" aria-selected="false" class="nav-link" data-bs-target="#navs-top-messages" data-bs-toggle="tab" role="tab" type="button"> پیام ها</button>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="navs-top-home" role="tabpanel">
          <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
          <p class="mb-0"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
        </div>
        <div class="tab-pane fade" id="navs-top-profile" role="tabpanel">
          <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
          <p class="mb-0"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
        </div>
        <div class="tab-pane fade" id="navs-top-messages" role="tabpanel">
          <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
          <p class="mb-0"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <h6 class="text-muted">تب‌های پرکننده فضا</h6>
    <div class="nav-align-top nav-tabs-shadow mb-4">
      <ul class="nav nav-tabs nav-fill" role="tablist">
        <li class="nav-item">
          <button aria-controls="navs-justified-home" aria-selected="true" class="nav-link active" data-bs-target="#navs-justified-home" data-bs-toggle="tab" role="tab" type="button">
            <i class="tf-icons ti ti-home ti-xs me-1"></i>
            صفحه اصلی
            <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-label-danger ms-1">3</span>
          </button>
        </li>
        <li class="nav-item">
          <button aria-controls="navs-justified-profile" aria-selected="false" class="nav-link" data-bs-target="#navs-justified-profile" data-bs-toggle="tab" role="tab" type="button">
            <i class="tf-icons ti ti-user ti-xs me-1"></i>
            مشخصات
          </button>
        </li>
        <li class="nav-item">
          <button aria-controls="navs-justified-messages" aria-selected="false" class="nav-link" data-bs-target="#navs-justified-messages" data-bs-toggle="tab" role="tab" type="button">
            <i class="tf-icons ti ti-message-dots ti-xs me-1"></i>
            پیام ها
          </button>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="navs-justified-home" role="tabpanel">
          <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
          <p class="mb-0"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
        </div>
        <div class="tab-pane fade" id="navs-justified-profile" role="tabpanel">
          <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
          <p class="mb-0"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
        </div>
        <div class="tab-pane fade" id="navs-justified-messages" role="tabpanel">
          <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
          <p class="mb-0"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <h6 class="text-muted">عمودی</h6>
    <div class="nav-align-left nav-tabs-shadow mb-4">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <button aria-controls="navs-left-home" aria-selected="true" class="nav-link active" data-bs-target="#navs-left-home" data-bs-toggle="tab" role="tab" type="button"> اصلی</button>
        </li>
        <li class="nav-item">
          <button aria-controls="navs-left-profile" aria-selected="false" class="nav-link" data-bs-target="#navs-left-profile" data-bs-toggle="tab" role="tab" type="button"> مشخصات</button>
        </li>
        <li class="nav-item">
          <button aria-controls="navs-left-messages" aria-selected="false" class="nav-link" data-bs-target="#navs-left-messages" data-bs-toggle="tab" role="tab" type="button"> پیام ها</button>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="navs-left-home">
          <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
          <p class="mb-0"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
        </div>
        <div class="tab-pane fade" id="navs-left-profile">
          <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
          <p class="mb-0"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
        </div>
        <div class="tab-pane fade" id="navs-left-messages">
          <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
          <p class="mb-0"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <h6 class="text-muted">محتوا درون کارت ها</h6>
    <div class="card text-center mb-3">
      <div class="card-header pt-0">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
          <li class="nav-item">
            <button aria-controls="navs-within-card-active" aria-selected="true" class="nav-link active" data-bs-target="#navs-within-card-active" data-bs-toggle="tab" role="tab" type="button"> فعال</button>
          </li>
          <li class="nav-item">
            <button aria-controls="navs-within-card-link" aria-selected="false" class="nav-link" data-bs-target="#navs-within-card-link" data-bs-toggle="tab" role="tab" type="button"> لینک</button>
          </li>
          <li class="nav-item">
            <button aria-selected="false" class="nav-link disabled" data-bs-toggle="tab" role="tab" type="button"> غیرفعال</button>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content p-0 pt-4">
          <div class="tab-pane fade show active" id="navs-within-card-active" role="tabpanel">
            <h4 class="card-title">عنوان لورم ایپسوم</h4>
            <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
            <a class="btn btn-primary" href="javascript:void(0)">کلید تست</a>
          </div>
          <div class="tab-pane fade" id="navs-within-card-link" role="tabpanel">
            <h4 class="card-title">عنوان لورم ایپسوم</h4>
            <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
            <a class="btn btn-secondary" href="javascript:void(0)">کلید تست</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Tabs -->
<hr class="container-m-nx mt-5"/>
<!-- Pills -->
<h5 class="py-3 my-4">سربرگ ها</h5>
<div class="row">
  <div class="col-xl-6">
    <h6 class="text-muted">پایه</h6>
    <div class="nav-align-top mb-4">
      <ul class="nav nav-pills mb-3" role="tablist">
        <li class="nav-item">
          <button aria-controls="navs-pills-top-home" aria-selected="true" class="nav-link active" data-bs-target="#navs-pills-top-home" data-bs-toggle="tab" role="tab" type="button"> صفحه اصلی</button>
        </li>
        <li class="nav-item">
          <button aria-controls="navs-pills-top-profile" aria-selected="false" class="nav-link" data-bs-target="#navs-pills-top-profile" data-bs-toggle="tab" role="tab" type="button"> مشخصات</button>
        </li>
        <li class="nav-item">
          <button aria-controls="navs-pills-top-messages" aria-selected="false" class="nav-link" data-bs-target="#navs-pills-top-messages" data-bs-toggle="tab" role="tab" type="button"> پیام ها</button>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="navs-pills-top-home" role="tabpanel">
          <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
          <p class="mb-0"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
        </div>
        <div class="tab-pane fade" id="navs-pills-top-profile" role="tabpanel">
          <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
          <p class="mb-0"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
        </div>
        <div class="tab-pane fade" id="navs-pills-top-messages" role="tabpanel">
          <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
          <p class="mb-0"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <h6 class="text-muted">برگ های پرکننده فضا</h6>
    <div class="nav-align-top mb-4">
      <ul class="nav nav-pills mb-3 nav-fill" role="tablist">
        <li class="nav-item">
          <button aria-controls="navs-pills-justified-home" aria-selected="true" class="nav-link active" data-bs-target="#navs-pills-justified-home" data-bs-toggle="tab" role="tab" type="button">
            <i class="tf-icons ti ti-home ti-xs me-1"></i>
            صفحه اصلی
            <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-danger ms-1">3</span>
          </button>
        </li>
        <li class="nav-item">
          <button aria-controls="navs-pills-justified-profile" aria-selected="false" class="nav-link" data-bs-target="#navs-pills-justified-profile" data-bs-toggle="tab" role="tab" type="button">
            <i class="tf-icons ti ti-user ti-xs me-1"></i>
            مشخصات
          </button>
        </li>
        <li class="nav-item">
          <button aria-controls="navs-pills-justified-messages" aria-selected="false" class="nav-link" data-bs-target="#navs-pills-justified-messages" data-bs-toggle="tab" role="tab" type="button">
            <i class="tf-icons ti ti-message-dots ti-xs me-1"></i>
            پیام ها
          </button>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="navs-pills-justified-home" role="tabpanel">
          <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
          <p class="mb-0"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
        </div>
        <div class="tab-pane fade" id="navs-pills-justified-profile" role="tabpanel">
          <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
          <p class="mb-0"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
        </div>
        <div class="tab-pane fade" id="navs-pills-justified-messages" role="tabpanel">
          <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
          <p class="mb-0"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <h6 class="text-muted">عمودی</h6>
    <div class="nav-align-left mb-4">
      <ul class="nav nav-pills me-3" role="tablist">
        <li class="nav-item">
          <button aria-controls="navs-pills-left-home" aria-selected="true" class="nav-link active" data-bs-target="#navs-pills-left-home" data-bs-toggle="tab" role="tab" type="button"> اصلی</button>
        </li>
        <li class="nav-item">
          <button aria-controls="navs-pills-left-profile" aria-selected="false" class="nav-link" data-bs-target="#navs-pills-left-profile" data-bs-toggle="tab" role="tab" type="button"> مشخصات</button>
        </li>
        <li class="nav-item">
          <button aria-controls="navs-pills-left-messages" aria-selected="false" class="nav-link" data-bs-target="#navs-pills-left-messages" data-bs-toggle="tab" role="tab" type="button"> پیام ها</button>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="navs-pills-left-home" role="tabpanel">
          <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
          <p class="mb-0"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
        </div>
        <div class="tab-pane fade" id="navs-pills-left-profile" role="tabpanel">
          <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
          <p class="mb-0"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
        </div>
        <div class="tab-pane fade" id="navs-pills-left-messages" role="tabpanel">
          <p> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
          <p class="mb-0"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <h6 class="text-muted">محتوا درون کارت ها</h6>
    <div class="card text-center mb-3">
      <div class="card-header">
        <ul class="nav nav-pills card-header-pills" role="tablist">
          <li class="nav-item">
            <button aria-controls="navs-pills-within-card-active" aria-selected="true" class="nav-link active" data-bs-target="#navs-pills-within-card-active" data-bs-toggle="tab" role="tab" type="button"> فعال</button>
          </li>
          <li class="nav-item">
            <button aria-controls="navs-pills-within-card-link" aria-selected="false" class="nav-link" data-bs-target="#navs-pills-within-card-link" data-bs-toggle="tab" role="tab" type="button"> لینک شده</button>
          </li>
          <li class="nav-item">
            <button aria-selected="false" class="nav-link disabled" data-bs-toggle="tab" role="tab" type="button"> غیرفعال</button>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content p-0">
          <div class="tab-pane fade show active" id="navs-pills-within-card-active" role="tabpanel">
            <h4 class="card-title">عنوان لورم ایپسوم</h4>
            <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
            <a class="btn btn-primary" href="javascript:void(0)">کلید تست</a>
          </div>
          <div class="tab-pane fade" id="navs-pills-within-card-link" role="tabpanel">
            <h4 class="card-title">عنوان لورم ایپسوم</h4>
            <p class="card-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
            <a class="btn btn-secondary" href="javascript:void(0)">کلید تست</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Pills -->
