@{
  ViewData["Title"] = "رابط کاربری - تایپوگرافی";
}
@* ************** Content ************** *@

    <h4 class="py-3 mb-4">تایپوگرافی</h4>
    <div class="row">
      <!-- Headings -->
      <div class="col-lg">
        <div class="card mb-4">
          <h5 class="card-header">سرتیترها</h5>
          <table class="table table-borderless">
            <tbody>
            <tr>
              <td class="align-middle">
                <small class="text-light fw-medium">سرتیتر (h1)</small>
              </td>
              <td class="py-3">
                <h1 class="mb-0">چهارمین استارت‌آپ ویکند تهران</h1>
              </td>
            </tr>
            <tr>
              <td class="align-middle">
                <small class="text-light fw-medium">سرتیتر (h2)</small>
              </td>
              <td class="py-3">
                <h2 class="mb-0">چهارمین استارت‌آپ ویکند تهران</h2>
              </td>
            </tr>
            <tr>
              <td>
                <small class="text-light fw-medium">سرتیتر (h3)</small>
              </td>
              <td class="py-3">
                <h3 class="mb-0">چهارمین استارت‌آپ ویکند تهران</h3>
              </td>
            </tr>
            <tr>
              <td>
                <small class="text-light fw-medium">سرتیتر (h4)</small>
              </td>
              <td class="py-3">
                <h4 class="mb-0">چهارمین استارت‌آپ ویکند تهران</h4>
              </td>
            </tr>
            <tr>
              <td>
                <small class="text-light fw-medium">سرتیتر (h5)</small>
              </td>
              <td class="py-3">
                <h5 class="mb-0">چهارمین استارت‌آپ ویکند تهران</h5>
              </td>
            </tr>
            <tr>
              <td>
                <small class="text-light fw-medium">سرتیتر (h6)</small>
              </td>
              <td class="py-3">
                <h6 class="mb-0">چهارمین استارت‌آپ ویکند تهران</h6>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Customizing headings -->
      <div class="col-lg">
        <div class="card mb-4">
          <h5 class="card-header">سرتیتر
            <small class="text-muted ms-1">و تیتر فرعی</small>
          </h5>
          <table class="table table-borderless">
            <tbody>
            <tr>
              <td class="align-middle">
                <small class="text-light fw-medium">سرتیتر (h1)</small>
              </td>
              <td class="py-3">
                <h1 class="mb-0"> فروشگاه خلاقیت فارسیءءءء
                  <small class="text-muted">تَوانا بُوَد هر که دانا بُوَد</small>
                </h1>
              </td>
            </tr>
            <tr>
              <td class="align-middle">
                <small class="text-light fw-medium">سرتیتر (h2)</small>
              </td>
              <td class="py-3">
                <h2 class="mb-0"> فروشگاه خلاقیت فارسیءءءء
                  <small class="text-muted">تَوانا بُوَد هر که دانا بُوَد</small>
                </h2>
              </td>
            </tr>
            <tr>
              <td>
                <small class="text-light fw-medium">سرتیتر (h3)</small>
              </td>
              <td class="py-3">
                <h3 class="mb-0"> فروشگاه خلاقیت فارسیءءءء
                  <small class="text-muted">تَوانا بُوَد هر که دانا بُوَد</small>
                </h3>
              </td>
            </tr>
            <tr>
              <td>
                <small class="text-light fw-medium">سرتیتر (h4)</small>
              </td>
              <td class="py-3">
                <h4 class="mb-0"> فروشگاه خلاقیت فارسیءءءء
                  <small class="text-muted">تَوانا بُوَد هر که دانا بُوَد</small>
                </h4>
              </td>
            </tr>
            <tr>
              <td>
                <small class="text-light fw-medium">سرتیتر (h5)</small>
              </td>
              <td class="py-3">
                <h5 class="mb-0"> فروشگاه خلاقیت فارسیءءءء
                  <small class="text-muted">تَوانا بُوَد هر که دانا بُوَد</small>
                </h5>
              </td>
            </tr>
            <tr>
              <td>
                <small class="text-light fw-medium">سرتیتر (h6)</small>
              </td>
              <td class="py-3">
                <h6 class="mb-0"> فروشگاه خلاقیت فارسیءءءء
                  <small class="text-muted">تَوانا بُوَد هر که دانا بُوَد</small>
                </h6>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Display headings -->
      <div class="col-lg">
        <div class="card mb-4">
          <h5 class="card-header">نمایش سرتیترها</h5>
          <table class="table table-borderless">
            <tbody>
            <tr>
              <td class="align-middle">
                <small class="text-light fw-medium">نمایش (display-1)</small>
              </td>
              <td class="py-3">
                <h1 class="display-1 mb-0">هوش مصنوعیءءء</h1>
              </td>
            </tr>
            <tr>
              <td class="align-middle">
                <small class="text-light fw-medium">نمایش (display-2)</small>
              </td>
              <td class="py-3">
                <h1 class="display-2 mb-0">هوش مصنوعیءءء</h1>
              </td>
            </tr>
            <tr>
              <td class="align-middle">
                <small class="text-light fw-medium">نمایش (display-3)</small>
              </td>
              <td class="py-3">
                <h1 class="display-3 mb-0">هوش مصنوعیءءء</h1>
              </td>
            </tr>
            <tr>
              <td class="align-middle">
                <small class="text-light fw-medium">نمایش (display-4)</small>
              </td>
              <td class="py-3">
                <h1 class="display-4 mb-0">هوش مصنوعیءءء</h1>
              </td>
            </tr>
            <tr>
              <td class="align-middle">
                <small class="text-light fw-medium">نمایش (display-5)</small>
              </td>
              <td class="py-3">
                <h1 class="display-5 mb-0">هوش مصنوعیءءء</h1>
              </td>
            </tr>
            <tr>
              <td class="align-middle">
                <small class="text-light fw-medium">نمایش (display-6)</small>
              </td>
              <td class="py-3">
                <h1 class="display-6 mb-0">هوش مصنوعیءءء</h1>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Paragraph -->
      <div class="col-lg">
        <div class="card mb-4">
          <h5 class="card-header">پاراگراف</h5>
          <table class="table table-borderless">
            <tbody>
            <tr>
              <td class="align-middle">
                <small class="text-light fw-medium">پاراگراف</small>
              </td>
              <td class="py-3">
                <p class="mb-0 lh-2"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع ابزارهای کاربردی می باشد</p>
              </td>
            </tr>
            <tr>
              <td class="align-middle">
                <small class="text-light fw-medium">پاراگراف پـُر تـر</small>
              </td>
              <td class="py-4">
                <p class="lead mb-0 lh-2 "> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع ابزارهای کاربردی می باشد</p>
              </td>
            </tr>
            <tr>
              <td class="align-middle">
                <small class="text-light fw-medium">پاراگراف کمرنگ</small>
              </td>
              <td class="py-3">
                <p class="text-muted mb-0 lh-2"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع ابزارهای کاربردی می باشد</p>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Inline text elements -->
      <div class="col">
        <div class="card mb-4">
          <h5 class="card-header">ویژگی‌های متن</h5>
          <div class="card-body">
            <table class="table table-borderless">
              <tbody>
              <tr>
                <td class="align-middle">
                  <small class="text-light fw-medium">هایلایت متن (mark)</small>
                </td>
                <td class="py-3">
                  <p class="mb-0">می توانید از تگ مارک برای
                    <mark>هایلایت و مشخص کردن</mark>
                    متن استفاده کنید.
                  </p>
                </td>
              </tr>
              <tr>
                <td class="align-middle">
                  <small class="text-light fw-medium">حذف متن (del)</small>
                </td>
                <td class="py-3">
                  <p class="mb-0">
                    <del>این متن به عنوان متن حذف شده در نظر گرفته می شود.</del>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <small class="text-light fw-medium">متن نادرست (s)</small>
                </td>
                <td class="py-3">
                  <p class="mb-0">
                    <s>این متن احتمالا دارای ایراداتی می باشد.</s>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <small class="text-light fw-medium">متن اضافه (ins)</small>
                </td>
                <td class="py-3">
                  <p class="mb-0">
                    <ins>این متن قرار است به عنوان یک پیوست برای سندی درنظر گرفته شود.</ins>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <small class="text-light fw-medium">زیرخط دار (u)</small>
                </td>
                <td class="py-3">
                  <p class="mb-0">
                    <u>این خط متن به صورت زیرخط دار (under line) ارائه می شود</u>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <small class="text-light fw-medium">متن کوچک (small)</small>
                </td>
                <td class="py-3">
                  <p class="mb-0">
                    <small>این خط از متن به عنوان متنی ظریف و کوچک می باشد.</small>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <small class="text-light fw-medium">متن کوچک (strong)</small>
                </td>
                <td class="py-3">
                  <p class="mb-0">
                    <strong>این خط به صورت متن پررنگ ارائه می شود.</strong>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <small class="text-light fw-medium">متن کج (em)</small>
                </td>
                <td class="py-3">
                  <p class="mb-0">
                    <em>این خط به صورت متن ایتالیک ارائه شده است.</em>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <small class="text-light fw-medium">اختصارات (abbr)</small>
                </td>
                <td>
                  <p>
                    <abbr title="ویژگی">attr</abbr>
                  </p>
                  <p class="mb-0">
                    <abbr class="initialism" title="زبان نشانه گذاری فرامتن">HTML</abbr>
                  </p>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Blockquote -->
      <div class="col-lg">
        <div class="card mb-4 mb-lg-0">
          <h5 class="card-header">نقل قول</h5>
          <div class="card-body">
            <blockquote class="blockquote mt-3">
              <p class="mb-0">تو نیکی می کن و در دجله انداز که ایزد در بیابانت دهد باز.</p>
            </blockquote>
          </div>
          <hr class="m-0"/>
          <div class="card-body">
            <small class="text-light fw-medium">تراز راست</small>
            <figure class="mt-2">
              <blockquote class="blockquote">
                <p class="mb-0">تو نیکی می کن و در دجله انداز که ایزد در بیابانت دهد باز.</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                <cite title="منبع عنوان">شخصی صاحب نام</cite>
              </figcaption>
            </figure>
          </div>
          <hr class="m-0"/>
          <div class="card-body">
            <small class="text-light fw-medium">تراز وسط</small>
            <figure class="text-center mt-2">
              <blockquote class="blockquote">
                <p class="mb-0">تو نیکی می کن و در دجله انداز که ایزد در بیابانت دهد باز.</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                <cite title="منبع عنوان">شخصی صاحب نام</cite>
              </figcaption>
            </figure>
          </div>
          <hr class="m-0"/>
          <div class="card-body">
            <small class="text-light fw-medium">تراز چپ</small>
            <figure class="text-end mt-2">
              <blockquote class="blockquote">
                <p class="mb-0">تو نیکی می کن و در دجله انداز که ایزد در بیابانت دهد باز.</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                <cite title="منبع عنوان">شخصی صاحب نام</cite>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div class="card">
          <h5 class="card-header">لیست ها</h5>
          <div class="card-body">
            <small class="text-light fw-medium">بدون استایل</small>
            <ul class="list-unstyled mt-2">
              <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</li>
              <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</li>
              <li> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                <ul>
                  <li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
                  <li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
                </ul>
              </li>
              <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</li>
            </ul>
          </div>
          <hr class="m-0"/>
          <div class="card-body">
            <small class="text-light fw-medium">تک خطی</small>
            <ul class="list-inline mt-2">
              <li class="list-inline-item">اولین آیتم</li>
              <li class="list-inline-item">دومین آیتم</li>
              <li class="list-inline-item">سومین آیتم</li>
            </ul>
          </div>
          <hr class="m-0"/>
          <div class="card-body">
            <small class="text-light fw-medium">متن و فهرست</small>
            <dl class="row mt-2">
              <dt class="col-sm-3">توضیحات اول</dt>
              <dd class="col-sm-9">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.</dd>
              <dt class="col-sm-3">متن تراز بندی</dt>
              <dd class="col-sm-9">
                <p class="justify-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است .</p>
              </dd>
              <dt class="col-sm-3">توضیحات سوم</dt>
              <dd class="col-sm-9">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ .</dd>
              <dt class="col-sm-3 text-truncate">متن کوتاه شده است و این قسمت تستی است</dt>
              <dd class="col-sm-9"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است .</dd>
              <dt class="col-sm-3">توضیحات چهارم</dt>
              <dd class="col-sm-9">
                <dl class="row">
                  <dt class="col-sm-4">جمله اول می باشد</dt>
                  <dd class="col-sm-8"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ .</dd>
                </dl>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
