@{
  Layout = "_BlankLayout";
  ViewData["Title"] = "عدم دسترسی";
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-misc.css">
}

@* ************** Content ************** *@
<style>
    .misc-wrapper {
        min-height: 80vh !important;
    }
</style>
<!-- Not Authorized -->
<div class="container-xxl container-p-y">
  <div class="misc-wrapper">
        <img width="220px" class="my-3" src="~/logo_full_b.png" />
    <h2 class="mb-3 mx-2">عدم دسترسی!</h2>
    <p class="mb-4 mx-2"> شما اجازه دسترسی به این قسمت را ندارید
      <br/>
      در صورت نیاز با پشتیبانی مسترشوفر تماس بگیرید
    </p>
    <a href="/" class="btn btn-primary mb-4">بازگشت به خانه</a>
    <div class="mt-4">
    <img src="~/404road.png" alt="page-misc-error" width="225px" class="img-fluid">
    </div>
  </div>
</div>
<div class="container-fluid misc-bg-wrapper">

</div>
<!-- /Not Authorized -->
