@{
  Layout = "_BlankLayout";
  ViewData["Title"] = "404";
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-misc.css">
}



<style>
    .misc-wrapper{
      min-height: 80vh !important;
    }
</style>
@* ************** Content ************** *@
<!-- Error -->
<div class="container-xxl container-p-y">
  <div class="misc-wrapper">
     <img width="220px" class="my-3"  src="~/logo_full_b.png" />
        <h2 class="mb-3 mt-4">ุงู ุฌุงุฏู ุจู ุฌุง ููุฑุณู <br /></h2>
        <p class="mb-4 mx-2">ุงูู! ๐ ุขุฏุฑุณ ุฏุฑุฎูุงุณุช ุดุฏู ุฏุฑ ูุณุชุฑุดููุฑ ุงูุช ูุดุฏ</p>
        <a href="/" class="btn btn-outline-primary waves-effect mb-4">ุจุงุฒฺฏุดุช ุจู ุฎุงูู</a>
    <div class="mt-4">
            <img src="~/notfound.png" alt="page-misc-error" width="335" class="img-fluid">
    </div>
  </div>
</div>
<div class="container-fluid misc-bg-wrapper">
</div>
<!-- /Error -->
