@{
  ViewData["Title"] = "طراحی سفارشی - آواتار";
}

@* ************** Content ************** *@

<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">طراحی سفارشی /</span>
  آواتار
</h4>
<div class="row">
  <div class="col-md-6">
    <!-- Avatar Sizes -->
    <div class="card mb-4">
      <h5 class="card-header">اندازه ها</h5>
      <div class="card-body">
        <div class="d-flex align-items-center flex-wrap">
          <div class="avatar avatar-xs me-2">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/1.png"/>
          </div>
          <div class="avatar avatar-sm me-2">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/1.png"/>
          </div>
          <div class="avatar me-2">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/1.png"/>
          </div>
          <div class="avatar avatar-md me-2">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/1.png"/>
          </div>
          <div class="avatar avatar-lg me-2">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/1.png"/>
          </div>
          <div class="avatar avatar-xl">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/1.png"/>
          </div>
        </div>
      </div>
    </div>
    <!--/ Avatar Sizes -->
  </div>
  <div class="col-md-6">
    <!-- Avatar Initials -->
    <div class="card mb-4">
      <h5 class="card-header">حروف اول</h5>
      <div class="card-body">
        <div class="d-flex align-items-center flex-wrap">
          <div class="avatar avatar-xs me-2">
            <span class="avatar-initial rounded-circle bg-primary">س‌ن</span>
          </div>
          <div class="avatar avatar-sm me-2">
            <span class="avatar-initial rounded-circle bg-secondary">س‌ن</span>
          </div>
          <div class="avatar me-2">
            <span class="avatar-initial rounded-circle bg-success">س‌ن</span>
          </div>
          <div class="avatar avatar-md me-2">
            <span class="avatar-initial rounded-circle bg-danger">س‌ن</span>
          </div>
          <div class="avatar avatar-lg me-2">
            <span class="avatar-initial rounded-circle bg-warning">س‌ن</span>
          </div>
          <div class="avatar avatar-xl">
            <span class="avatar-initial rounded-circle bg-info">س‌ن</span>
          </div>
        </div>
      </div>
    </div>
    <!--/ Avatar Initials -->
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <!-- Avatar Label Initials -->
    <div class="card mb-4">
      <h5 class="card-header">حروف اول کم‌رنگ</h5>
      <div class="card-body">
        <div class="d-flex align-items-center flex-wrap">
          <div class="avatar avatar-xs me-2">
            <span class="avatar-initial rounded-circle bg-label-primary">س‌ن</span>
          </div>
          <div class="avatar avatar-sm me-2">
            <span class="avatar-initial rounded-circle bg-label-secondary">س‌ن</span>
          </div>
          <div class="avatar me-2">
            <span class="avatar-initial rounded-circle bg-label-success">س‌ن</span>
          </div>
          <div class="avatar avatar-md me-2">
            <span class="avatar-initial rounded-circle bg-label-danger">س‌ن</span>
          </div>
          <div class="avatar avatar-lg me-2">
            <span class="avatar-initial rounded-circle bg-label-warning">س‌ن</span>
          </div>
          <div class="avatar avatar-xl me-2">
            <span class="avatar-initial rounded-circle bg-label-info">س‌ن</span>
          </div>
        </div>
      </div>
    </div>
    <!--/ Avatar Initials -->
  </div>
  <div class="col-md-6">
    <!-- Avatar Shapes -->
    <div class="card mb-4">
      <h5 class="card-header">شکل‌ها</h5>
      <div class="card-body">
        <div class="d-flex align-items-center my-3">
          <div class="avatar me-2">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/1.png"/>
          </div>
          <div class="avatar me-2">
            <img alt="آواتار" class="rounded" src="~/img/avatars/1.png"/>
          </div>
          <div class="avatar">
            <img alt="آواتار" src="~/img/avatars/1.png"/>
          </div>
        </div>
      </div>
    </div>
    <!--/ Avatar Shapes -->
  </div>
  <div class="col-md-6">
    <!-- Avatar Status Indicator -->
    <div class="card mb-4">
      <h5 class="card-header">نشانگر وضعیت</h5>
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="avatar me-2 avatar-online">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/8.png"/>
          </div>
          <div class="avatar me-2 avatar-away">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/4.png"/>
          </div>
          <div class="avatar me-2 avatar-busy">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/5.png"/>
          </div>
          <div class="avatar avatar-offline">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/1.png"/>
          </div>
        </div>
      </div>
    </div>
    <!--/ Avatar Status Indicator -->
  </div>
  <div class="col-md-6">
    <!-- Avatar Status Indicator -->
    <div class="card mb-4">
      <h5 class="card-header">آواتار کم‌رنگ و نشانگر وضعیت</h5>
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="avatar me-2 avatar-online">
            <span class="avatar-initial rounded-circle bg-label-success">س‌ن</span>
          </div>
          <div class="avatar me-2 avatar-away">
            <span class="avatar-initial rounded-circle bg-label-warning">س‌ن</span>
          </div>
          <div class="avatar me-2 avatar-busy">
            <span class="avatar-initial rounded-circle bg-label-primary">س‌ن</span>
          </div>
          <div class="avatar me-2 avatar-offline">
            <span class="avatar-initial rounded-circle bg-label-secondary">س‌ن</span>
          </div>
        </div>
      </div>
    </div>
    <!--/ Avatar Status Indicator -->
  </div>
</div>
<!-- Avatar Group -->
<div class="card">
  <h5 class="card-header">گروه آواتار</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <small class="text-light fw-medium">پیش فرض</small>
        <div class="d-flex align-items-center avatar-group my-3">
          <div class="avatar">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/5.png"/>
          </div>
          <div class="avatar">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/12.png"/>
          </div>
          <div class="avatar">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/6.png"/>
          </div>
          <div class="avatar">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/10.png"/>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <small class="text-light fw-medium">بالا آمدن با نشانگر موس</small>
        <div class="d-flex align-items-center avatar-group my-3">
          <div class="avatar">
            <img alt="آواتار" class="rounded-circle pull-up" src="~/img/avatars/5.png"/>
          </div>
          <div class="avatar">
            <img alt="آواتار" class="rounded-circle pull-up" src="~/img/avatars/12.png"/>
          </div>
          <div class="avatar">
            <img alt="آواتار" class="rounded-circle pull-up" src="~/img/avatars/6.png"/>
          </div>
          <div class="avatar">
            <img alt="آواتار" class="rounded-circle pull-up" src="~/img/avatars/10.png"/>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <small class="text-light fw-medium">با عنوان</small>
        <ul class="list-unstyled m-0 d-flex align-items-center avatar-group my-3">
          <li class="avatar pull-up" data-bs-placement="top" data-bs-toggle="tooltip" data-popup="tooltip-custom" title="کریم انصاری فرد">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/5.png"/>
          </li>
          <li class="avatar pull-up" data-bs-placement="top" data-bs-toggle="tooltip" data-popup="tooltip-custom" title="فاطمه غفاری">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/12.png"/>
          </li>
          <li class="avatar pull-up" data-bs-placement="top" data-bs-toggle="tooltip" data-popup="tooltip-custom" title="فرزانه شریعتی">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/6.png"/>
          </li>
          <li class="avatar pull-up" data-bs-placement="top" data-bs-toggle="tooltip" data-popup="tooltip-custom" title="نرگس مقدم">
            <img alt="آواتار" class="rounded-circle" src="~/img/avatars/10.png"/>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <small class="text-light fw-medium">آواتار با شمارش</small>
        <div class="d-flex align-items-center avatar-group my-3">
          <div class="avatar">
            <img alt="آواتار" class="rounded-circle pull-up" src="~/img/avatars/5.png"/>
          </div>
          <div class="avatar">
            <img alt="آواتار" class="rounded-circle pull-up" src="~/img/avatars/12.png"/>
          </div>
          <div class="avatar">
            <img alt="آواتار" class="rounded-circle pull-up" src="~/img/avatars/6.png"/>
          </div>
          <div class="avatar">
            <span class="avatar-initial rounded-circle pull-up" data-bs-placement="bottom" data-bs-toggle="tooltip" title="3 بیشتر">
              <bdi> +3</bdi>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Avatar Group -->

