@{
  ViewData["Title"] = "طراحی سفارشی - امتیاز ستاره‌ای";
}
@section VendorStyles{
<link rel="stylesheet" href="~/vendor/libs/rateyo/rateyo.css" />
}
@section VendorScripts{
<script src="~/vendor/libs/rateyo/rateyo.js"></script>
}
@section PageScripts{
<script src="~/js/extended-ui-star-ratings.js"></script>
}
@* ************** Content ************** *@

<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">طراحی سفارشی /</span>
  امتیاز ستاره‌ای
</h4>
<div class="row">
  <!-- Basic-->
  <div class="col-md-4 col-sm-6 col-12 mb-4">
    <div class="card">
      <h5 class="card-header">پایه</h5>
      <div class="card-body">
        <div class="basic-ratings"></div>
      </div>
    </div>
  </div>
  <!-- /Basic-->
  <!-- Read Only-->
  <div class="col-md-4 col-sm-6 col-12 mb-4">
    <div class="card">
      <h5 class="card-header">غیرقابل تغییر</h5>
      <div class="card-body">
        <div class="read-only-ratings" data-rateyo-read-only="true"></div>
      </div>
    </div>
  </div>
  <!-- /Read Only-->
  <!-- Custom SVG-->
  <div class="col-md-4 col-sm-6 col-12 mb-4">
    <div class="card">
      <h5 class="card-header">SVG سفارشی</h5>
      <div class="card-body">
        <div class="custom-svg-ratings"></div>
      </div>
    </div>
  </div>
  <!-- /Custom SVG-->
  <!-- Half Star-->
  <div class="col-md-4 col-sm-6 col-12 mb-4">
    <div class="card">
      <h5 class="card-header">نیم ستاره</h5>
      <div class="card-body">
        <div class="half-star-ratings" data-rateyo-half-star="true"></div>
      </div>
    </div>
  </div>
  <!-- /Half Star-->
  <!-- Full Star-->
  <div class="col-md-4 col-sm-6 col-12 mb-4">
    <div class="card">
      <h5 class="card-header">ستاره کامل</h5>
      <div class="card-body">
        <div class="full-star-ratings" data-rateyo-full-star="true"></div>
      </div>
    </div>
  </div>
  <!-- /Full Star-->
  <!-- Multi Color-->
  <div class="col-md-4 col-sm-6 col-12 mb-4">
    <div class="card">
      <h5 class="card-header">چند رنگ</h5>
      <div class="card-body">
        <div class="multi-color-ratings"></div>
      </div>
    </div>
  </div>
  <!-- /Multi Color-->
  <!-- Events-->
  <div class="col-xl-6 col-12 mb-xl-0 mb-4">
    <div class="card">
      <h5 class="card-header">رویدادها</h5>
      <div class="card-body">
        <div class="row gy-3">
          <div class="col-md d-flex flex-column align-items-start mb-sm-0 mb-3">
            <small class="text-light fw-medium mb-2"> متد onSet</small>
            <div class="onset-event-ratings"></div>
          </div>
          <div class="col-md d-flex flex-column align-items-start">
            <small class="text-light fw-medium mb-2">متد onChange</small>
            <div class="onChange-event-ratings mb-3"></div>
            <div class="counter-wrapper">
              <span class="fw-medium">امتیاز :</span>
              <span class="counter"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Events-->
  <!-- Methods-->
  <div class="col-xl-6 col-12">
    <div class="card">
      <h5 class="card-header">متدها</h5>
      <div class="card-body">
        <div class="methods-ratings"></div>
        <div class="demo-inline-spacing">
          <button class="btn btn-primary btn-initialize">Initialize | فراخوانی</button>
          <button class="btn btn-danger btn-destroy">Destroy | حذف</button>
          <button class="btn btn-success btn-get-rating">دریافت امتیاز</button>
          <button class="btn btn-info btn-set-rating">تنظیم امتیاز روی 1</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /Methods-->
</div>

