@{
  ViewData["Title"] = "طراحی سفارشی - جداکننده متن";
}

@* ************** Content ************** *@

<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">طراحی سفارشی /</span>
  جداکننده متن
</h4>
<div class="row">
  <!-- Basic -->
  <div class="col-md-12 mb-4">
    <div class="card">
      <h5 class="card-header">پایه</h5>
      <div class="card-body">
        <div class="divider">
          <div class="divider-text">متن</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Basic -->
  <!-- Text Alignment -->
  <div class="col-md-12 mb-4">
    <div class="card">
      <h5 class="card-header">ترازها</h5>
      <div class="card-body">
        <div class="divider text-start">
          <div class="divider-text">شروع</div>
        </div>
        <div class="divider text-start-center">
          <div class="divider-text">شروع - وسط</div>
        </div>
        <div class="divider">
          <div class="divider-text">مرکز (پیش‌فرض)</div>
        </div>
        <div class="divider text-end-center">
          <div class="divider-text">وسط - پایان</div>
        </div>
        <div class="divider text-end">
          <div class="divider-text">پایان</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Text Alignment -->
  <!-- Divider Colors -->
  <div class="col-md-12 mb-4">
    <div class="card">
      <h5 class="card-header">رنگ ها</h5>
      <div class="card-body">
        <div class="divider divider-primary">
          <div class="divider-text">اصلی</div>
        </div>
        <div class="divider divider-success">
          <div class="divider-text">موفق</div>
        </div>
        <div class="divider divider-danger">
          <div class="divider-text">اخطار</div>
        </div>
        <div class="divider divider-warning">
          <div class="divider-text">هشدار</div>
        </div>
        <div class="divider divider-info">
          <div class="divider-text">راهنما</div>
        </div>
        <div class="divider divider-dark">
          <div class="divider-text">تاریک</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Divider Colors -->
  <!-- Icons -->
  <div class="col-md-12 mb-4">
    <div class="card">
      <h5 class="card-header">آیکون‌ها</h5>
      <div class="card-body">
        <div class="divider text-start">
          <div class="divider-text">
            <i class="ti ti-sun"></i>
          </div>
        </div>
        <div class="divider text-start-center">
          <div class="divider-text">
            <i class="ti ti-crown"></i>
          </div>
        </div>
        <div class="divider">
          <div class="divider-text">
            <i class="ti ti-star"></i>
          </div>
        </div>
        <div class="divider text-end-center">
          <div class="divider-text">
            <i class="ti ti-cup"></i>
          </div>
        </div>
        <div class="divider text-end">
          <div class="divider-text">
            <i class="ti ti-cut rotate-n90"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Icons -->
  <!-- Icons -->
  <div class="col-md-12 mb-4">
    <div class="card">
      <h5 class="card-header">سبک ها</h5>
      <div class="card-body">
        <div class="divider">
          <div class="divider-text">پیش‌فرض</div>
        </div>
        <div class="divider divider-dotted">
          <div class="divider-text">نقطه چین</div>
        </div>
        <div class="divider divider-dashed">
          <div class="divider-text">خط چین</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Icons -->
  <!-- Vertical text divider -->
  <div class="col-md-12 mb-4">
    <div class="card">
      <h5 class="card-header">عمودی</h5>
      <div class="card-body">
        <div class="row gy-4 gy-md-0 h-px-250">
          <div class="col-md-2 col-4">
            <div class="divider divider-vertical">
              <div class="divider-text">پیش‌فرض</div>
            </div>
          </div>
          <div class="col-md-2 col-4">
            <div class="divider divider-vertical align-items-start">
              <div class="divider-text pt-0">خط</div>
            </div>
          </div>
          <div class="col-md-2 col-4">
            <div class="divider divider-vertical align-items-end">
              <div class="divider-text pb-0">خط</div>
            </div>
          </div>
          <div class="col-md-2 col-4">
            <div class="divider divider-vertical divider-dashed">
              <div class="divider-text">نقطه چین</div>
            </div>
          </div>
          <div class="col-md-2 col-4">
            <div class="divider divider-vertical divider-dotted">
              <div class="divider-text">خط چین</div>
            </div>
          </div>
          <div class="col-md-2 col-4">
            <div class="divider divider-vertical">
              <div class="divider-text">
                <i class="ti ti-crown"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Vertical text divider -->
  <!-- Vertical Divider Colors -->
  <div class="col-md-12 mb-4">
    <div class="card">
      <h5 class="card-header">رنگ ها عمودی</h5>
      <div class="card-body">
        <div class="row gy-4 gy-md-0 h-px-250">
          <div class="col-md-2 col-4">
            <div class="divider divider-vertical divider-primary">
              <div class="divider-text">اصلی</div>
            </div>
          </div>
          <div class="col-md-2 col-4">
            <div class="divider divider-vertical divider-success">
              <div class="divider-text">موفق</div>
            </div>
          </div>
          <div class="col-md-2 col-4">
            <div class="divider divider-vertical divider-danger">
              <div class="divider-text">اخطار</div>
            </div>
          </div>
          <div class="col-md-2 col-4">
            <div class="divider divider-vertical divider-warning">
              <div class="divider-text">هشدار</div>
            </div>
          </div>
          <div class="col-md-2 col-4">
            <div class="divider divider-vertical divider-info">
              <div class="divider-text">راهنما</div>
            </div>
          </div>
          <div class="col-md-2 col-4">
            <div class="divider divider-vertical divider-dark">
              <div class="divider-text">تاریک</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Vertical Divider Colors -->
