@{
  ViewData["Title"] = "طراحی سفارشی - خط زمانی تمام صفحه";
}
@section VendorStyles{
  <link rel="stylesheet" href="~/vendor/libs/animate-on-scroll/animate-on-scroll.css" />
}
@section VendorScripts{
  <script src="~/vendor/libs/animate-on-scroll/animate-on-scroll.js"></script>
}
@section PageScripts{
  <script src="~/js/extended-ui-timeline.js"></script>
}
@* ************** Content ************** *@

<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">طراحی سفارشی /</span>
  خط زمانی تمام صفحه
</h4>
<div class="row overflow-hidden">
  <div class="col-12">
    <ul class="timeline timeline-center mt-5">
      <li class="timeline-item">
        <span class="timeline-indicator timeline-indicator-primary" data-aos="zoom-in" data-aos-delay="200">
          <i class="ti ti-brush ti-sm"></i>
        </span>
        <div class="timeline-event card p-0" data-aos="fade-right">
          <div class="card-header d-flex justify-content-between align-items-center flex-wrap">
            <h6 class="card-title mb-0">طراحی UI</h6>
            <div class="meta">
              <span class="badge rounded-pill bg-label-success">جلسه</span>
              <span class="badge rounded-pill bg-label-primary">طراحی</span>
            </div>
          </div>
          <div class="card-body">
            <p class="mb-2"> هدف اصلی ما طراحی یک اپلیکیشن موبایل جدید برای مشتری است. مشتری یک طراحی مدرن و ساده می خواهد.</p>
            <div class="d-flex justify-content-between align-items-center flex-wrap">
              <div>
                <p class="text-muted mb-2">تیم فنی</p>
                <ul class="list-unstyled users-list d-flex align-items-center avatar-group">
                  <li class="avatar avatar-xs pull-up" data-bs-placement="top" data-bs-toggle="tooltip" data-popup="tooltip-custom" title="مهرداد محمدی">
                    <img alt="آواتار" class="rounded-circle" src="~/img/avatars/5.png"/>
                  </li>
                  <li class="avatar avatar-xs pull-up" data-bs-placement="top" data-bs-toggle="tooltip" data-popup="tooltip-custom" title="صدف طاهری">
                    <img alt="آواتار" class="rounded-circle" src="~/img/avatars/12.png"/>
                  </li>
                  <li class="avatar avatar-xs pull-up" data-bs-placement="top" data-bs-toggle="tooltip" data-popup="tooltip-custom" title="سیما ثابت">
                    <img alt="آواتار" class="rounded-circle" src="~/img/avatars/6.png"/>
                  </li>
                  <li class="avatar avatar-xs pull-up" data-bs-placement="top" data-bs-toggle="tooltip" data-popup="tooltip-custom" title="نرگس مقدم">
                    <img alt="آواتار" class="rounded-circle" src="~/img/avatars/10.png"/>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="timeline-event-time">1 فروردین</div>
        </div>
      </li>
      <li class="timeline-item">
        <span class="timeline-indicator timeline-indicator-success" data-aos="zoom-in" data-aos-delay="200">
          <i class="ti ti-question-mark ti-sm"></i>
        </span>
        <div class="timeline-event card p-0" data-aos="fade-left">
          <h6 class="card-header">بررسی گزارش</h6>
          <div class="card-body">
            <div class="d-flex flex-wrap mb-4">
              <div>
                <div class="avatar avatar-xs me-2">
                  <img alt="آواتار" class="rounded-circle" src="~/img/avatars/4.png"/>
                </div>
              </div>
              <span>این تسک به سارا واگذار شد</span>
            </div>
            <ul class="list-unstyled">
              <li class="d-flex">
                <div>
                  <div class="avatar avatar-xs me-3">
                    <img alt="آواتار" class="rounded-circle" src="~/img/avatars/2.png"/>
                  </div>
                </div>
                <div class="mb-3 w-100">
                  <div class="progress" style="height: 6px">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-danger" role="progressbar" style="width: 48.7%"></div>
                  </div>
                  <small>Jquery</small>
                </div>
              </li>
              <li class="d-flex">
                <div>
                  <div class="avatar avatar-xs me-3">
                    <img alt="آواتار" class="rounded-circle" src="~/img/avatars/3.png"/>
                  </div>
                </div>
                <div class="mb-3 w-100">
                  <div class="progress" style="height: 6px">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-primary" role="progressbar" style="width: 31.3%"></div>
                  </div>
                  <small>React</small>
                </div>
              </li>
              <li class="d-flex">
                <div>
                  <div class="avatar avatar-xs me-3">
                    <img alt="آواتار" class="rounded-circle" src="~/img/avatars/4.png"/>
                  </div>
                </div>
                <div class="mb-3 w-100">
                  <div class="progress" style="height: 6px">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-warning" role="progressbar" style="width: 30%"></div>
                  </div>
                  <small>Angular</small>
                </div>
              </li>
              <li class="d-flex">
                <div>
                  <div class="avatar avatar-xs me-3">
                    <img alt="آواتار" class="rounded-circle" src="~/img/avatars/5.png"/>
                  </div>
                </div>
                <div class="mb-3 w-100">
                  <div class="progress" style="height: 6px">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-info" role="progressbar" style="width: 15%"></div>
                  </div>
                  <small>VUE</small>
                </div>
              </li>
              <li class="d-flex">
                <div>
                  <div class="avatar avatar-xs me-3">
                    <img alt="آواتار" class="rounded-circle" src="~/img/avatars/6.png"/>
                  </div>
                </div>
                <div class="w-100">
                  <div class="progress" style="height: 6px">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-success" role="progressbar" style="width: 10%"></div>
                  </div>
                  <small>Laravel</small>
                </div>
              </li>
            </ul>
          </div>
          <div class="timeline-event-time">2 فروردین</div>
        </div>
      </li>
      <li class="timeline-item">
        <span class="timeline-indicator timeline-indicator-danger" data-aos="zoom-in" data-aos-delay="200">
          <i class="ti ti-chart-line ti-sm"></i>
        </span>
        <div class="timeline-event card p-0" data-aos="fade-right">
          <h6 class="card-header">گزارشهای مالی</h6>
          <div class="card-body">
            <p class="mb-4">برای مطالعه گزارش های مالی روی دکمه زیر کلیک کنید</p>
            <button aria-controls="collapseExample" aria-expanded="false" class="btn btn-outline-primary btn-sm" data-bs-target="#collapseExample" data-bs-toggle="collapse" type="button">
              نمایش گزارش
            </button>
            <div class="collapse" id="collapseExample">
              <ul class="list-group list-group-flush mt-3">
                <li class="list-group-item d-flex justify-content-between flex-wrap">
                  <span>سود سال گذشته:
                    <span class="fw-medium">20000 ءتء</span>
                  </span>
                  <i class="ti ti-share cursor-pointer"></i>
                </li>
                <li class="list-group-item d-flex justify-content-between flex-wrap">
                  <span> سود امسال:
                    <span class="fw-medium">25000 ءتء</span>
                  </span>
                  <i class="ti ti-share cursor-pointer"></i>
                </li>
                <li class="list-group-item d-flex justify-content-between flex-wrap">
                  <span> کمیسیون سال گذشته:
                    <span class="fw-medium">5000 ءتء</span>
                  </span>
                  <i class="ti ti-share cursor-pointer"></i>
                </li>
                <li class="list-group-item d-flex justify-content-between flex-wrap">
                  <span> کمیسیون امسال:
                    <span class="fw-medium">7000 ءتء</span>
                  </span>
                  <i class="ti ti-share cursor-pointer"></i>
                </li>
                <li class="list-group-item d-flex justify-content-between flex-wrap">
                  <span> کل موجودی امسال:
                    <span class="fw-medium">70000 ءتء</span>
                  </span>
                  <i class="ti ti-share cursor-pointer"></i>
                </li>
              </ul>
            </div>
          </div>
          <div class="timeline-event-time">5 فروردین</div>
        </div>
      </li>
      <li class="timeline-item">
        <span class="timeline-indicator timeline-indicator-warning" data-aos="zoom-in" data-aos-delay="200">
          <i class="ti ti-chart-donut-2 ti-sm"></i>
        </span>
        <div class="timeline-event card p-0" data-aos="fade-left">
          <h6 class="card-header">لورم ایپسوم متن ساختگی</h6>
          <div class="card-body">
            <div class="d-flex flex-sm-row flex-column">
              <img alt="دونات" class="rounded me-3 mb-sm-0 mb-2" height="64" src="~/img/elements/10.jpg" width="64"/>
              <div>
                <h6 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h6>
                <p class="mb-2 justify-text lh-2"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون ...
                  <a href="javascript:void(0)">ادامه مطلب</a>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <i class="ti ti-star-filled text-warning"></i>
                    <i class="ti ti-star-filled text-warning"></i>
                    <i class="ti ti-star-filled text-warning"></i>
                    <i class="ti ti-star-filled text-warning"></i>
                    <i class="ti ti-star-filled"></i>
                  </div>
                  <div>
                    <span class="fw-medium">
                      <bdi><svg class="toman" width="1rem" height="1rem">
                          <use xlink:href="#toman">
                            <symbol id="toman" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                              <path clip-rule="evenodd" d="M3.057 1.742L3.821 1l.78.75-.776.741-.768-.749zm3.23 2.48c0 .622-.16 1.111-.478 1.467-.201.221-.462.39-.783.505a3.251 3.251 0 01-1.083.163h-.555c-.421 0-.801-.074-1.139-.223a2.045 2.045 0 01-.9-.738A2.238 2.238 0 011 4.148c0-.059.001-.117.004-.176.03-.55.204-1.158.525-1.827l1.095.484c-.257.532-.397 1-.419 1.403-.002.04-.004.08-.004.12 0 .252.055.458.166.618a.887.887 0 00.5.354c.085.028.178.048.278.06.079.01.16.014.243.014h.555c.458 0 .769-.081.933-.244.14-.139.21-.383.21-.731V2.02h1.2v2.202zm5.433 3.184l-.72-.7.709-.706.735.707-.724.7zm-2.856.308c.542 0 .973.19 1.293.569.297.346.445.777.445 1.293v.364h.18v-.004h.41c.221 0 .377-.028.467-.084.093-.055.14-.14.14-.258v-.069c.004-.243.017-1.044 0-1.115L13 8.05v1.574a1.4 1.4 0 01-.287.863c-.306.405-.804.607-1.495.607h-.627c-.061.733-.434 1.257-1.117 1.573-.267.122-.58.21-.937.265a5.845 5.845 0 01-.914.067v-1.159c.612 0 1.072-.082 1.38-.247.25-.132.376-.298.376-.499h-.515c-.436 0-.807-.113-1.113-.339-.367-.273-.55-.667-.55-1.18 0-.488.122-.901.367-1.24.296-.415.728-.622 1.296-.622zm.533 2.226v-.364c0-.217-.048-.389-.143-.516a.464.464 0 00-.39-.187.478.478 0 00-.396.187.705.705 0 00-.136.449.65.65 0 00.003.067c.008.125.066.22.177.283.093.054.21.08.352.08h.533zM9.5 6.707l.72.7.724-.7L10.209 6l-.709.707zm-6.694 4.888h.03c.433-.01.745-.106.937-.29.024.012.065.035.12.068l.074.039.081.042c.135.073.261.133.379.18.345.146.67.22.977.22a1.216 1.216 0 00.87-.34c.3-.285.449-.714.449-1.286a2.19 2.19 0 00-.335-1.145c-.299-.457-.732-.685-1.3-.685-.502 0-.916.192-1.242.575-.113.132-.21.284-.294.456-.032.062-.06.125-.084.191a.504.504 0 00-.03.078 1.67 1.67 0 00-.022.06c-.103.309-.171.485-.205.53-.072.09-.214.14-.427.147-.123-.005-.209-.03-.256-.076-.057-.054-.085-.153-.085-.297V7l-1.201-.5v3.562c0 .261.048.496.143.703.071.158.168.296.29.413.123.118.266.211.43.28.198.084.42.13.665.136v.001h.036zm2.752-1.014a.778.778 0 00.044-.353.868.868 0 00-.165-.47c-.1-.134-.217-.201-.35-.201-.18 0-.33.103-.447.31-.042.071-.08.158-.114.262a2.434 2.434 0 00-.04.12l-.015.053-.015.046c.142.118.323.216.544.293.18.062.325.092.433.092.044 0 .086-.05.125-.152z" fill-rule="evenodd"></path>
                            </symbol>
                          </use>
                        </svg>5.00</bdi>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="timeline-event-time">10 فروردین</div>
        </div>
      </li>
      <li class="timeline-item timeline-item-right">
        <span class="timeline-indicator timeline-indicator-info" data-aos="zoom-in" data-aos-delay="200">
          <i class="ti ti-map-pin ti-sm"></i>
        </span>
        <div class="timeline-event card p-0" data-aos="fade-left">
          <div class="card-header border-0 d-flex justify-content-between">
            <h6 class="card-title mb-0">
              <i class="ti ti-map-pin"></i>
              <span class="align-middle">محل</span>
            </h6>
            <span class="badge rounded-pill bg-label-danger">بالا</span>
          </div>
          <div class="card-body py-0">
            <h6 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h6>
            <p class="justify-text lh-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <div class="d-flex align-items-center flex-wrap cursor-pointer gap-3">
              <i class="ti ti-link"></i>
              <div class="position-relative">
                <i class="ti ti-brand-hipchat"></i>
                <span class="badge rounded-pill bg-info badge-dot badge-notifications"></span>
              </div>
              <i class="ti ti-user"></i>
            </div>
            <p class="mb-0">
              <span class="text-muted">تاریخ ارسال:</span>
              15 فروردین
            </p>
          </div>
          <div class="timeline-event-time">12 فروردین</div>
        </div>
      </li>
      <li class="timeline-item timeline-item-left">
        <span class="timeline-indicator timeline-indicator-primary" data-aos="zoom-in" data-aos-delay="200">
          <i class="ti ti-ball-football ti-sm"></i>
        </span>
        <div class="timeline-event card p-0" data-aos="fade-right">
          <div class="card-header border-0 d-flex justify-content-between">
            <h6 class="card-title mb-0">برنامه جام ملت‌های آسیا</h6>
            <span class="text-muted">5:00 - 6:10AM</span>
          </div>
          <div class="card-body pb-3 pt-0">
            <div class="hours mb-2">
              <i class="ti ti-clock"></i>
              <span>1:30 ساعت</span>
              <i class="ti ti-arrows-right-left mx-2"></i>
              <span>ایران - کره جنوبی</span>
            </div>
            <div class="location">
              <i class="ti ti-map-pin"></i>
              <span class="align-middle">ورزشگاه دوحه قطر</span>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <div class="tags">
              <span class="badge rounded-pill bg-label-danger">فوتبال</span>
              <span class="badge rounded-pill bg-label-info">آسیا</span>
            </div>
            <div>
              <i class="ti ti-dots-vertical text-muted cursor-pointer"></i>
            </div>
          </div>
          <div class="timeline-event-time">15 فروردین</div>
        </div>
      </li>
      <li class="timeline-item">
        <span class="timeline-indicator timeline-indicator-success" data-aos="zoom-in" data-aos-delay="200">
          <i class="ti ti-currency-dollar ti-sm"></i>
        </span>
        <div class="timeline-event card p-0" data-aos="fade-right">
          <h6 class="card-header">پس انداز</h6>
          <div class="card-body">
            <ul class="list-unstyled">
              <li class="d-flex justify-content-start align-items-center text-success mb-3">
                <i class="ti ti-currency-dollar ti-sm me-3"></i>
                <div class="ps-3 border-start">
                  <small class="text-muted mb-1">پول نقد</small>
                  <h5 class="mb-0">
                    <bdi><svg class="toman" width="1rem" height="1rem">
                        <use xlink:href="#toman">
                          <symbol id="toman" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd" d="M3.057 1.742L3.821 1l.78.75-.776.741-.768-.749zm3.23 2.48c0 .622-.16 1.111-.478 1.467-.201.221-.462.39-.783.505a3.251 3.251 0 01-1.083.163h-.555c-.421 0-.801-.074-1.139-.223a2.045 2.045 0 01-.9-.738A2.238 2.238 0 011 4.148c0-.059.001-.117.004-.176.03-.55.204-1.158.525-1.827l1.095.484c-.257.532-.397 1-.419 1.403-.002.04-.004.08-.004.12 0 .252.055.458.166.618a.887.887 0 00.5.354c.085.028.178.048.278.06.079.01.16.014.243.014h.555c.458 0 .769-.081.933-.244.14-.139.21-.383.21-.731V2.02h1.2v2.202zm5.433 3.184l-.72-.7.709-.706.735.707-.724.7zm-2.856.308c.542 0 .973.19 1.293.569.297.346.445.777.445 1.293v.364h.18v-.004h.41c.221 0 .377-.028.467-.084.093-.055.14-.14.14-.258v-.069c.004-.243.017-1.044 0-1.115L13 8.05v1.574a1.4 1.4 0 01-.287.863c-.306.405-.804.607-1.495.607h-.627c-.061.733-.434 1.257-1.117 1.573-.267.122-.58.21-.937.265a5.845 5.845 0 01-.914.067v-1.159c.612 0 1.072-.082 1.38-.247.25-.132.376-.298.376-.499h-.515c-.436 0-.807-.113-1.113-.339-.367-.273-.55-.667-.55-1.18 0-.488.122-.901.367-1.24.296-.415.728-.622 1.296-.622zm.533 2.226v-.364c0-.217-.048-.389-.143-.516a.464.464 0 00-.39-.187.478.478 0 00-.396.187.705.705 0 00-.136.449.65.65 0 00.003.067c.008.125.066.22.177.283.093.054.21.08.352.08h.533zM9.5 6.707l.72.7.724-.7L10.209 6l-.709.707zm-6.694 4.888h.03c.433-.01.745-.106.937-.29.024.012.065.035.12.068l.074.039.081.042c.135.073.261.133.379.18.345.146.67.22.977.22a1.216 1.216 0 00.87-.34c.3-.285.449-.714.449-1.286a2.19 2.19 0 00-.335-1.145c-.299-.457-.732-.685-1.3-.685-.502 0-.916.192-1.242.575-.113.132-.21.284-.294.456-.032.062-.06.125-.084.191a.504.504 0 00-.03.078 1.67 1.67 0 00-.022.06c-.103.309-.171.485-.205.53-.072.09-.214.14-.427.147-.123-.005-.209-.03-.256-.076-.057-.054-.085-.153-.085-.297V7l-1.201-.5v3.562c0 .261.048.496.143.703.071.158.168.296.29.413.123.118.266.211.43.28.198.084.42.13.665.136v.001h.036zm2.752-1.014a.778.778 0 00.044-.353.868.868 0 00-.165-.47c-.1-.134-.217-.201-.35-.201-.18 0-.33.103-.447.31-.042.071-.08.158-.114.262a2.434 2.434 0 00-.04.12l-.015.053-.015.046c.142.118.323.216.544.293.18.062.325.092.433.092.044 0 .086-.05.125-.152z" fill-rule="evenodd"></path>
                          </symbol>
                        </use>
                      </svg>500</bdi>
                  </h5>
                </div>
              </li>
              <li class="d-flex justify-content-start align-items-center text-info mb-3">
                <i class="ti ti-credit-card ti-sm me-3"></i>
                <div class="ps-3 border-start">
                  <small class="text-muted mb-1">کارت اعتباری</small>
                  <h5 class="mb-0">
                    <bdi><svg class="toman" width="1rem" height="1rem">
                        <use xlink:href="#toman">
                          <symbol id="toman" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd" d="M3.057 1.742L3.821 1l.78.75-.776.741-.768-.749zm3.23 2.48c0 .622-.16 1.111-.478 1.467-.201.221-.462.39-.783.505a3.251 3.251 0 01-1.083.163h-.555c-.421 0-.801-.074-1.139-.223a2.045 2.045 0 01-.9-.738A2.238 2.238 0 011 4.148c0-.059.001-.117.004-.176.03-.55.204-1.158.525-1.827l1.095.484c-.257.532-.397 1-.419 1.403-.002.04-.004.08-.004.12 0 .252.055.458.166.618a.887.887 0 00.5.354c.085.028.178.048.278.06.079.01.16.014.243.014h.555c.458 0 .769-.081.933-.244.14-.139.21-.383.21-.731V2.02h1.2v2.202zm5.433 3.184l-.72-.7.709-.706.735.707-.724.7zm-2.856.308c.542 0 .973.19 1.293.569.297.346.445.777.445 1.293v.364h.18v-.004h.41c.221 0 .377-.028.467-.084.093-.055.14-.14.14-.258v-.069c.004-.243.017-1.044 0-1.115L13 8.05v1.574a1.4 1.4 0 01-.287.863c-.306.405-.804.607-1.495.607h-.627c-.061.733-.434 1.257-1.117 1.573-.267.122-.58.21-.937.265a5.845 5.845 0 01-.914.067v-1.159c.612 0 1.072-.082 1.38-.247.25-.132.376-.298.376-.499h-.515c-.436 0-.807-.113-1.113-.339-.367-.273-.55-.667-.55-1.18 0-.488.122-.901.367-1.24.296-.415.728-.622 1.296-.622zm.533 2.226v-.364c0-.217-.048-.389-.143-.516a.464.464 0 00-.39-.187.478.478 0 00-.396.187.705.705 0 00-.136.449.65.65 0 00.003.067c.008.125.066.22.177.283.093.054.21.08.352.08h.533zM9.5 6.707l.72.7.724-.7L10.209 6l-.709.707zm-6.694 4.888h.03c.433-.01.745-.106.937-.29.024.012.065.035.12.068l.074.039.081.042c.135.073.261.133.379.18.345.146.67.22.977.22a1.216 1.216 0 00.87-.34c.3-.285.449-.714.449-1.286a2.19 2.19 0 00-.335-1.145c-.299-.457-.732-.685-1.3-.685-.502 0-.916.192-1.242.575-.113.132-.21.284-.294.456-.032.062-.06.125-.084.191a.504.504 0 00-.03.078 1.67 1.67 0 00-.022.06c-.103.309-.171.485-.205.53-.072.09-.214.14-.427.147-.123-.005-.209-.03-.256-.076-.057-.054-.085-.153-.085-.297V7l-1.201-.5v3.562c0 .261.048.496.143.703.071.158.168.296.29.413.123.118.266.211.43.28.198.084.42.13.665.136v.001h.036zm2.752-1.014a.778.778 0 00.044-.353.868.868 0 00-.165-.47c-.1-.134-.217-.201-.35-.201-.18 0-.33.103-.447.31-.042.071-.08.158-.114.262a2.434 2.434 0 00-.04.12l-.015.053-.015.046c.142.118.323.216.544.293.18.062.325.092.433.092.044 0 .086-.05.125-.152z" fill-rule="evenodd"></path>
                          </symbol>
                        </use>
                      </svg>5000</bdi>
                  </h5>
                </div>
              </li>
              <li class="d-flex justify-content-start align-items-center text-primary">
                <i class="ti ti-chart-line ti-sm me-3"></i>
                <div class="ps-3 border-start">
                  <small class="text-muted mb-1">سرمایه گذاری ها</small>
                  <h5 class="mb-0">
                    <bdi><svg class="toman" width="1rem" height="1rem">
                        <use xlink:href="#toman">
                          <symbol id="toman" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd" d="M3.057 1.742L3.821 1l.78.75-.776.741-.768-.749zm3.23 2.48c0 .622-.16 1.111-.478 1.467-.201.221-.462.39-.783.505a3.251 3.251 0 01-1.083.163h-.555c-.421 0-.801-.074-1.139-.223a2.045 2.045 0 01-.9-.738A2.238 2.238 0 011 4.148c0-.059.001-.117.004-.176.03-.55.204-1.158.525-1.827l1.095.484c-.257.532-.397 1-.419 1.403-.002.04-.004.08-.004.12 0 .252.055.458.166.618a.887.887 0 00.5.354c.085.028.178.048.278.06.079.01.16.014.243.014h.555c.458 0 .769-.081.933-.244.14-.139.21-.383.21-.731V2.02h1.2v2.202zm5.433 3.184l-.72-.7.709-.706.735.707-.724.7zm-2.856.308c.542 0 .973.19 1.293.569.297.346.445.777.445 1.293v.364h.18v-.004h.41c.221 0 .377-.028.467-.084.093-.055.14-.14.14-.258v-.069c.004-.243.017-1.044 0-1.115L13 8.05v1.574a1.4 1.4 0 01-.287.863c-.306.405-.804.607-1.495.607h-.627c-.061.733-.434 1.257-1.117 1.573-.267.122-.58.21-.937.265a5.845 5.845 0 01-.914.067v-1.159c.612 0 1.072-.082 1.38-.247.25-.132.376-.298.376-.499h-.515c-.436 0-.807-.113-1.113-.339-.367-.273-.55-.667-.55-1.18 0-.488.122-.901.367-1.24.296-.415.728-.622 1.296-.622zm.533 2.226v-.364c0-.217-.048-.389-.143-.516a.464.464 0 00-.39-.187.478.478 0 00-.396.187.705.705 0 00-.136.449.65.65 0 00.003.067c.008.125.066.22.177.283.093.054.21.08.352.08h.533zM9.5 6.707l.72.7.724-.7L10.209 6l-.709.707zm-6.694 4.888h.03c.433-.01.745-.106.937-.29.024.012.065.035.12.068l.074.039.081.042c.135.073.261.133.379.18.345.146.67.22.977.22a1.216 1.216 0 00.87-.34c.3-.285.449-.714.449-1.286a2.19 2.19 0 00-.335-1.145c-.299-.457-.732-.685-1.3-.685-.502 0-.916.192-1.242.575-.113.132-.21.284-.294.456-.032.062-.06.125-.084.191a.504.504 0 00-.03.078 1.67 1.67 0 00-.022.06c-.103.309-.171.485-.205.53-.072.09-.214.14-.427.147-.123-.005-.209-.03-.256-.076-.057-.054-.085-.153-.085-.297V7l-1.201-.5v3.562c0 .261.048.496.143.703.071.158.168.296.29.413.123.118.266.211.43.28.198.084.42.13.665.136v.001h.036zm2.752-1.014a.778.778 0 00.044-.353.868.868 0 00-.165-.47c-.1-.134-.217-.201-.35-.201-.18 0-.33.103-.447.31-.042.071-.08.158-.114.262a2.434 2.434 0 00-.04.12l-.015.053-.015.046c.142.118.323.216.544.293.18.062.325.092.433.092.044 0 .086-.05.125-.152z" fill-rule="evenodd"></path>
                          </symbol>
                        </use>
                      </svg>300</bdi>
                  </h5>
                </div>
              </li>
            </ul>
          </div>
          <div class="timeline-event-time">16 فروردین</div>
        </div>
      </li>
      <li class="timeline-item">
        <span class="timeline-indicator timeline-indicator-danger" data-aos="zoom-in" data-aos-delay="200">
          <i class="ti ti-server ti-sm"></i>
        </span>
        <div class="timeline-event card p-0" data-aos="fade-left">
          <div class="card-header border-0 d-flex justify-content-between">
            <h6 class="card-title mb-0">
              <span class="align-middle">سرور سامانه اینترنتی</span>
            </h6>
            <span class="badge rounded-pill bg-label-danger">غیر فعال</span>
          </div>
          <div class="card-body pb-2 pt-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center ps-0">
                <div>
                  <i class="ti ti-world"></i>
                  <span>IP</span>
                </div>
                <div>192.654.8.566</div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center ps-0">
                <div>
                  <i class="ti ti-cpu"></i>
                  <span>CPU</span>
                </div>
                <div>4 هسته</div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center ps-0">
                <div>
                  <i class="ti ti-server"></i>
                  <span>Ram</span>
                </div>
                <div>500 مگابایت</div>
              </li>
            </ul>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <div class="server-icons">
              <i class="ti ti-share me-2"></i>
              <i class="ti ti-refresh"></i>
            </div>
          </div>
          <div class="timeline-event-time">20 فروردین</div>
        </div>
      </li>
      <li class="timeline-item border-0 pb-0">
        <span class="timeline-indicator timeline-indicator-info" data-aos="zoom-in" data-aos-delay="200">
          <i class="ti ti-building-store ti-sm"></i>
        </span>
        <div class="timeline-event card p-0" data-aos="fade-right">
          <div class="card-header border-0 d-flex justify-content-between">
            <h6 class="card-title mb-0">
              <span class="align-middle">فروشگاه آنلاین</span>
            </h6>
            <i class="ti ti-dots-vertical text-muted cursor-pointer"></i>
          </div>
          <div class="card-body pt-0">
            <p class="justify-text lh-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
            <div class="d-flex flex-wrap flex-sm-row flex-column">
              <div class="mb-sm-0 mb-3 me-5">
                <p class="text-muted mb-2">توسعه دهندگان</p>
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-xs me-2">
                    <span class="avatar-initial rounded-circle bg-label-primary">A</span>
                  </div>
                  <div class="avatar avatar-xs me-2">
                    <span class="avatar-initial rounded-circle bg-label-success">B</span>
                  </div>
                  <div class="avatar avatar-xs">
                    <span class="avatar-initial rounded-circle bg-label-danger">C</span>
                  </div>
                </div>
              </div>
              <div class="mb-sm-0 mb-3 me-5">
                <p class="text-muted mb-2">تاریخ تحویل</p>
                <p class="mb-0">20 اسفند 1402</p>
              </div>
              <div>
                <p class="text-muted mb-2">بودجه</p>
                <p class="mb-0">
                  <bdi><svg class="toman" width="1rem" height="1rem">
                      <use xlink:href="#toman">
                        <symbol id="toman" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                          <path clip-rule="evenodd" d="M3.057 1.742L3.821 1l.78.75-.776.741-.768-.749zm3.23 2.48c0 .622-.16 1.111-.478 1.467-.201.221-.462.39-.783.505a3.251 3.251 0 01-1.083.163h-.555c-.421 0-.801-.074-1.139-.223a2.045 2.045 0 01-.9-.738A2.238 2.238 0 011 4.148c0-.059.001-.117.004-.176.03-.55.204-1.158.525-1.827l1.095.484c-.257.532-.397 1-.419 1.403-.002.04-.004.08-.004.12 0 .252.055.458.166.618a.887.887 0 00.5.354c.085.028.178.048.278.06.079.01.16.014.243.014h.555c.458 0 .769-.081.933-.244.14-.139.21-.383.21-.731V2.02h1.2v2.202zm5.433 3.184l-.72-.7.709-.706.735.707-.724.7zm-2.856.308c.542 0 .973.19 1.293.569.297.346.445.777.445 1.293v.364h.18v-.004h.41c.221 0 .377-.028.467-.084.093-.055.14-.14.14-.258v-.069c.004-.243.017-1.044 0-1.115L13 8.05v1.574a1.4 1.4 0 01-.287.863c-.306.405-.804.607-1.495.607h-.627c-.061.733-.434 1.257-1.117 1.573-.267.122-.58.21-.937.265a5.845 5.845 0 01-.914.067v-1.159c.612 0 1.072-.082 1.38-.247.25-.132.376-.298.376-.499h-.515c-.436 0-.807-.113-1.113-.339-.367-.273-.55-.667-.55-1.18 0-.488.122-.901.367-1.24.296-.415.728-.622 1.296-.622zm.533 2.226v-.364c0-.217-.048-.389-.143-.516a.464.464 0 00-.39-.187.478.478 0 00-.396.187.705.705 0 00-.136.449.65.65 0 00.003.067c.008.125.066.22.177.283.093.054.21.08.352.08h.533zM9.5 6.707l.72.7.724-.7L10.209 6l-.709.707zm-6.694 4.888h.03c.433-.01.745-.106.937-.29.024.012.065.035.12.068l.074.039.081.042c.135.073.261.133.379.18.345.146.67.22.977.22a1.216 1.216 0 00.87-.34c.3-.285.449-.714.449-1.286a2.19 2.19 0 00-.335-1.145c-.299-.457-.732-.685-1.3-.685-.502 0-.916.192-1.242.575-.113.132-.21.284-.294.456-.032.062-.06.125-.084.191a.504.504 0 00-.03.078 1.67 1.67 0 00-.022.06c-.103.309-.171.485-.205.53-.072.09-.214.14-.427.147-.123-.005-.209-.03-.256-.076-.057-.054-.085-.153-.085-.297V7l-1.201-.5v3.562c0 .261.048.496.143.703.071.158.168.296.29.413.123.118.266.211.43.28.198.084.42.13.665.136v.001h.036zm2.752-1.014a.778.778 0 00.044-.353.868.868 0 00-.165-.47c-.1-.134-.217-.201-.35-.201-.18 0-.33.103-.447.31-.042.071-.08.158-.114.262a2.434 2.434 0 00-.04.12l-.015.053-.015.046c.142.118.323.216.544.293.18.062.325.092.433.092.044 0 .086-.05.125-.152z" fill-rule="evenodd"></path>
                        </symbol>
                      </use>
                    </svg>50000</bdi>
                </p>
              </div>
            </div>
          </div>
          <div class="timeline-event-time">25 فروردین</div>
        </div>
      </li>
    </ul>
  </div>
</div>
