@{
  ViewData["Title"] = "طراحی سفارشی - خط زمانی پایه";
}

@* ************** Content ************** *@

<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">طراحی سفارشی /</span>
  خط زمانی پایه
</h4>
<div class="row">
  <!-- Timeline Basic-->
  <div class="col-xl-6 mb-4 mb-xl-0">
    <div class="card">
      <h5 class="card-header">پایه</h5>
      <div class="card-body pb-0">
        <ul class="timeline mb-0">
          <li class="timeline-item timeline-item-transparent">
            <span class="timeline-point timeline-point-primary"></span>
            <div class="timeline-event">
              <div class="timeline-header border-bottom mb-3">
                <h6 class="mb-0">پرواز بین المللی</h6>
                <span class="text-muted">3 دی</span>
              </div>
              <div class="d-flex justify-content-between flex-wrap mb-2">
                <div class="d-flex align-items-center">
                  <span>فرودگاه امام خمینی ، تهران</span>
                  <i class="ti ti-arrow-right scaleX-n1-rtl mx-3"></i>
                  <span>فرودگاه استانبول، ترکیه</span>
                </div>
                <div>
                  <span class="text-muted">6:30 ق.ظ</span>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <img alt="img" class="me-2" src="~/img/icons/misc/pdf.png" width="20"/>
                <span class="mb-0">bookingCard.pdf</span>
              </div>
            </div>
          </li>
          <li class="timeline-item timeline-item-transparent">
            <span class="timeline-point timeline-point-success"></span>
            <div class="timeline-event">
              <div class="timeline-header mb-sm-0 mb-3">
                <h6 class="mb-0">بررسی طراحی</h6>
                <span class="text-muted">4 دی</span>
              </div>
              <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ .</p>
              <div class="d-flex justify-content-between">
                <h6>برنامه جدید</h6>
                <div class="d-flex">
                  <div class="avatar avatar-xs me-2">
                    <img alt="آواتار" class="rounded-circle" src="~/img/avatars/4.png"/>
                  </div>
                  <div class="avatar avatar-xs">
                    <img alt="آواتار" class="rounded-circle" src="~/img/avatars/5.png"/>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-item timeline-item-transparent">
            <span class="timeline-point timeline-point-danger"></span>
            <div class="timeline-event">
              <div class="d-flex flex-sm-row flex-column">
                <img alt="img کفش" class="rounded me-3" height="62" src="~/img/elements/11.jpg" width="62"/>
                <div>
                  <div class="timeline-header flex-wrap mb-2 mt-3 mt-sm-0">
                    <h6 class="mb-0">رنگ آبی کفش پوما POPX</h6>
                    <span class="text-muted">5 دی</span>
                  </div>
                  <p class="lh-2 justify-text"> PUMA جدیدترین کفش های مجموعه خود را ارائه می دهد. سبک و راحت با مواد بسیار بادوام ساخته شده است.</p>
                </div>
              </div>
              <div class="d-flex justify-content-between flex-wrap flex-sm-row flex-column text-sm-center">
                <div class="customer mb-sm-0 mb-2">
                  <p class="mb-0">مشتری</p>
                  <span class="text-muted">امیر جدیدی</span>
                </div>
                <div class="price mb-sm-0 mb-2">
                  <p class="mb-0">قیمت</p>
                  <span class="text-muted">
                    <bdi><svg class="toman" width="1rem" height="1rem">
                        <use xlink:href="#toman">
                          <symbol id="toman" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd" d="M3.057 1.742L3.821 1l.78.75-.776.741-.768-.749zm3.23 2.48c0 .622-.16 1.111-.478 1.467-.201.221-.462.39-.783.505a3.251 3.251 0 01-1.083.163h-.555c-.421 0-.801-.074-1.139-.223a2.045 2.045 0 01-.9-.738A2.238 2.238 0 011 4.148c0-.059.001-.117.004-.176.03-.55.204-1.158.525-1.827l1.095.484c-.257.532-.397 1-.419 1.403-.002.04-.004.08-.004.12 0 .252.055.458.166.618a.887.887 0 00.5.354c.085.028.178.048.278.06.079.01.16.014.243.014h.555c.458 0 .769-.081.933-.244.14-.139.21-.383.21-.731V2.02h1.2v2.202zm5.433 3.184l-.72-.7.709-.706.735.707-.724.7zm-2.856.308c.542 0 .973.19 1.293.569.297.346.445.777.445 1.293v.364h.18v-.004h.41c.221 0 .377-.028.467-.084.093-.055.14-.14.14-.258v-.069c.004-.243.017-1.044 0-1.115L13 8.05v1.574a1.4 1.4 0 01-.287.863c-.306.405-.804.607-1.495.607h-.627c-.061.733-.434 1.257-1.117 1.573-.267.122-.58.21-.937.265a5.845 5.845 0 01-.914.067v-1.159c.612 0 1.072-.082 1.38-.247.25-.132.376-.298.376-.499h-.515c-.436 0-.807-.113-1.113-.339-.367-.273-.55-.667-.55-1.18 0-.488.122-.901.367-1.24.296-.415.728-.622 1.296-.622zm.533 2.226v-.364c0-.217-.048-.389-.143-.516a.464.464 0 00-.39-.187.478.478 0 00-.396.187.705.705 0 00-.136.449.65.65 0 00.003.067c.008.125.066.22.177.283.093.054.21.08.352.08h.533zM9.5 6.707l.72.7.724-.7L10.209 6l-.709.707zm-6.694 4.888h.03c.433-.01.745-.106.937-.29.024.012.065.035.12.068l.074.039.081.042c.135.073.261.133.379.18.345.146.67.22.977.22a1.216 1.216 0 00.87-.34c.3-.285.449-.714.449-1.286a2.19 2.19 0 00-.335-1.145c-.299-.457-.732-.685-1.3-.685-.502 0-.916.192-1.242.575-.113.132-.21.284-.294.456-.032.062-.06.125-.084.191a.504.504 0 00-.03.078 1.67 1.67 0 00-.022.06c-.103.309-.171.485-.205.53-.072.09-.214.14-.427.147-.123-.005-.209-.03-.256-.076-.057-.054-.085-.153-.085-.297V7l-1.201-.5v3.562c0 .261.048.496.143.703.071.158.168.296.29.413.123.118.266.211.43.28.198.084.42.13.665.136v.001h.036zm2.752-1.014a.778.778 0 00.044-.353.868.868 0 00-.165-.47c-.1-.134-.217-.201-.35-.201-.18 0-.33.103-.447.31-.042.071-.08.158-.114.262a2.434 2.434 0 00-.04.12l-.015.053-.015.046c.142.118.323.216.544.293.18.062.325.092.433.092.044 0 .086-.05.125-.152z" fill-rule="evenodd"></path>
                          </symbol>
                        </use>
                      </svg>375.00</bdi>
                  </span>
                </div>
                <div class="price">
                  <p class="mb-0">تعداد</p>
                  <span class="text-muted">1</span>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-item timeline-item-transparent">
            <span class="timeline-point timeline-point-info"></span>
            <div class="timeline-event">
              <div class="timeline-header">
                <h6 class="mb-0">مصاحبه تلویزیونی</h6>
                <span class="text-muted">6 دی</span>
              </div>
              <p class="lh-2 justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است .</p>
              <hr/>
              <div class="d-flex justify-content-between flex-wrap gap-2">
                <div class="d-flex flex-wrap">
                  <div class="avatar me-3 mt-auto mb-auto">
                    <img alt="آواتار" class="rounded-circle" src="~/img/avatars/6.png"/>
                  </div>
                  <div>
                    <p class="mb-0 mt-0">دنیا دادرسان</p>
                    <span class="text-muted">برنامه نویس جاوا اسکریپت</span>
                  </div>
                </div>
                <div class="d-flex flex-wrap align-items-center cursor-pointer">
                  <i class="ti ti-brand-hipchat me-2"></i>
                  <i class="ti ti-phone-call"></i>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-item timeline-item-transparent border-transparent">
            <span class="timeline-point timeline-point-warning"></span>
            <div class="timeline-event">
              <div class="timeline-header">
                <h6 class="mb-0">2 اعلان ها</h6>
                <span class="text-muted">7 دی</span>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap border-top-0 p-0">
                  <div class="d-flex flex-wrap align-items-center">
                    <ul class="list-unstyled users-list d-flex align-items-center avatar-group m-0 my-3 me-2">
                      <li class="avatar avatar-xs pull-up" data-bs-placement="top" data-bs-toggle="tooltip" data-popup="tooltip-custom" title="مهرداد محمدی">
                        <img alt="آواتار" class="rounded-circle" src="~/img/avatars/5.png"/>
                      </li>
                      <li class="avatar avatar-xs pull-up" data-bs-placement="top" data-bs-toggle="tooltip" data-popup="tooltip-custom" title="صدف طاهری">
                        <img alt="آواتار" class="rounded-circle" src="~/img/avatars/12.png"/>
                      </li>
                      <li class="avatar avatar-xs pull-up" data-bs-placement="top" data-bs-toggle="tooltip" data-popup="tooltip-custom" title="سیما ثابت">
                        <img alt="آواتار" class="rounded-circle" src="~/img/avatars/6.png"/>
                      </li>
                    </ul>
                    <span>کامنت جدید دارید!</span>
                  </div>
                  <button class="btn btn-outline-primary btn-sm my-sm-0 my-3">مشاهده</button>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap pb-0 px-0">
                  <div class="d-flex align-items-center">
                    <img alt="آواتار" class="rounded-circle me-3" height="40" src="~/img/avatars/4.png" width="40"/>
                    <div class="user-info">
                      <p class="my-0">ساناز حمایت مالی کرد</p>
                      <span class="text-muted">30 دقیقه پیش</span>
                    </div>
                  </div>
                  <h5 class="mb-0">
                    <bdi><svg class="toman" width="1rem" height="1rem">
                        <use xlink:href="#toman">
                          <symbol id="toman" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd" d="M3.057 1.742L3.821 1l.78.75-.776.741-.768-.749zm3.23 2.48c0 .622-.16 1.111-.478 1.467-.201.221-.462.39-.783.505a3.251 3.251 0 01-1.083.163h-.555c-.421 0-.801-.074-1.139-.223a2.045 2.045 0 01-.9-.738A2.238 2.238 0 011 4.148c0-.059.001-.117.004-.176.03-.55.204-1.158.525-1.827l1.095.484c-.257.532-.397 1-.419 1.403-.002.04-.004.08-.004.12 0 .252.055.458.166.618a.887.887 0 00.5.354c.085.028.178.048.278.06.079.01.16.014.243.014h.555c.458 0 .769-.081.933-.244.14-.139.21-.383.21-.731V2.02h1.2v2.202zm5.433 3.184l-.72-.7.709-.706.735.707-.724.7zm-2.856.308c.542 0 .973.19 1.293.569.297.346.445.777.445 1.293v.364h.18v-.004h.41c.221 0 .377-.028.467-.084.093-.055.14-.14.14-.258v-.069c.004-.243.017-1.044 0-1.115L13 8.05v1.574a1.4 1.4 0 01-.287.863c-.306.405-.804.607-1.495.607h-.627c-.061.733-.434 1.257-1.117 1.573-.267.122-.58.21-.937.265a5.845 5.845 0 01-.914.067v-1.159c.612 0 1.072-.082 1.38-.247.25-.132.376-.298.376-.499h-.515c-.436 0-.807-.113-1.113-.339-.367-.273-.55-.667-.55-1.18 0-.488.122-.901.367-1.24.296-.415.728-.622 1.296-.622zm.533 2.226v-.364c0-.217-.048-.389-.143-.516a.464.464 0 00-.39-.187.478.478 0 00-.396.187.705.705 0 00-.136.449.65.65 0 00.003.067c.008.125.066.22.177.283.093.054.21.08.352.08h.533zM9.5 6.707l.72.7.724-.7L10.209 6l-.709.707zm-6.694 4.888h.03c.433-.01.745-.106.937-.29.024.012.065.035.12.068l.074.039.081.042c.135.073.261.133.379.18.345.146.67.22.977.22a1.216 1.216 0 00.87-.34c.3-.285.449-.714.449-1.286a2.19 2.19 0 00-.335-1.145c-.299-.457-.732-.685-1.3-.685-.502 0-.916.192-1.242.575-.113.132-.21.284-.294.456-.032.062-.06.125-.084.191a.504.504 0 00-.03.078 1.67 1.67 0 00-.022.06c-.103.309-.171.485-.205.53-.072.09-.214.14-.427.147-.123-.005-.209-.03-.256-.076-.057-.054-.085-.153-.085-.297V7l-1.201-.5v3.562c0 .261.048.496.143.703.071.158.168.296.29.413.123.118.266.211.43.28.198.084.42.13.665.136v.001h.036zm2.752-1.014a.778.778 0 00.044-.353.868.868 0 00-.165-.47c-.1-.134-.217-.201-.35-.201-.18 0-.33.103-.447.31-.042.071-.08.158-.114.262a2.434 2.434 0 00-.04.12l-.015.053-.015.046c.142.118.323.216.544.293.18.062.325.092.433.092.044 0 .086-.05.125-.152z" fill-rule="evenodd"></path>
                          </symbol>
                        </use>
                      </svg>20</bdi>
                  </h5>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Timeline Basic -->
  <!-- Timeline Advanced-->
  <div class="col-xl-6">
    <div class="card">
      <h5 class="card-header">پیشرفته</h5>
      <div class="card-body pb-0">
        <ul class="timeline pt-3">
          <li class="timeline-item pb-4 timeline-item-primary border-left-dashed">
            <span class="timeline-indicator-advanced timeline-indicator-primary">
              <i class="ti ti-send rounded-circle scaleX-n1-rtl"></i>
            </span>
            <div class="timeline-event">
              <div class="timeline-header border-bottom mb-3">
                <h6 class="mb-0">پرواز بین المللی</h6>
                <span class="text-muted">3 دی</span>
              </div>
              <div class="d-flex justify-content-between flex-wrap mb-2">
                <div class="d-flex align-items-center">
                  <span>فرودگاه امام خمینی ، تهران</span>
                  <i class="ti ti-arrow-right scaleX-n1-rtl mx-3"></i>
                  <span>فرودگاه استانبول، ترکیه</span>
                </div>
                <div>
                  <span>6:30 ق.ظ</span>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <img alt="img" class="me-2" src="~/img/icons/misc/pdf.png" width="20"/>
                <span class="mb-0">bookingCard.pdf</span>
              </div>
            </div>
          </li>
          <li class="timeline-item pb-4 timeline-item-success border-left-dashed">
            <span class="timeline-indicator-advanced timeline-indicator-success">
              <i class="ti ti-brush rounded-circle scaleX-n1-rtl"></i>
            </span>
            <div class="timeline-event pb-3">
              <div class="timeline-header mb-sm-0 mb-3">
                <h6 class="mb-0">بررسی طراحی</h6>
                <span class="text-muted">4 دی</span>
              </div>
              <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ .</p>
              <div class="d-flex justify-content-between">
                <h6>برنامه جدید</h6>
                <div class="d-flex">
                  <div class="avatar avatar-xs me-2">
                    <img alt="آواتار" class="rounded-circle" src="~/img/avatars/4.png"/>
                  </div>
                  <div class="avatar avatar-xs">
                    <img alt="آواتار" class="rounded-circle" src="~/img/avatars/5.png"/>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-item pb-4 timeline-item-danger border-left-dashed">
            <span class="timeline-indicator-advanced timeline-indicator-danger">
              <i class="ti ti-basket rounded-circle"></i>
            </span>
            <div class="timeline-event pb-3">
              <div class="d-flex flex-sm-row flex-column">
                <img alt="img کفش" class="rounded me-3" height="62" src="~/img/elements/11.jpg" width="62"/>
                <div>
                  <div class="timeline-header flex-wrap mb-1 mt-3 mt-sm-0">
                    <h6 class="mb-0">رنگ آبی پوما POPX</h6>
                    <span class="text-muted">5 دی</span>
                  </div>
                  <p class="lh-2 justify-text"> PUMA جدیدترین کفش های مجموعه خود را ارائه می دهد. سبک و راحت با مواد بسیار بادوام ساخته شده است.</p>
                </div>
              </div>
              <div class="d-flex justify-content-between flex-wrap flex-sm-row flex-column text-center">
                <div class="mb-sm-0 mb-2">
                  <p class="mb-0">مشتری</p>
                  <span class="text-muted">امیر جدیدی</span>
                </div>
                <div class="mb-sm-0 mb-2">
                  <p class="mb-0">قیمت</p>
                  <span class="text-muted">
                    <bdi><svg class="toman" width="1rem" height="1rem">
                        <use xlink:href="#toman">
                          <symbol id="toman" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd" d="M3.057 1.742L3.821 1l.78.75-.776.741-.768-.749zm3.23 2.48c0 .622-.16 1.111-.478 1.467-.201.221-.462.39-.783.505a3.251 3.251 0 01-1.083.163h-.555c-.421 0-.801-.074-1.139-.223a2.045 2.045 0 01-.9-.738A2.238 2.238 0 011 4.148c0-.059.001-.117.004-.176.03-.55.204-1.158.525-1.827l1.095.484c-.257.532-.397 1-.419 1.403-.002.04-.004.08-.004.12 0 .252.055.458.166.618a.887.887 0 00.5.354c.085.028.178.048.278.06.079.01.16.014.243.014h.555c.458 0 .769-.081.933-.244.14-.139.21-.383.21-.731V2.02h1.2v2.202zm5.433 3.184l-.72-.7.709-.706.735.707-.724.7zm-2.856.308c.542 0 .973.19 1.293.569.297.346.445.777.445 1.293v.364h.18v-.004h.41c.221 0 .377-.028.467-.084.093-.055.14-.14.14-.258v-.069c.004-.243.017-1.044 0-1.115L13 8.05v1.574a1.4 1.4 0 01-.287.863c-.306.405-.804.607-1.495.607h-.627c-.061.733-.434 1.257-1.117 1.573-.267.122-.58.21-.937.265a5.845 5.845 0 01-.914.067v-1.159c.612 0 1.072-.082 1.38-.247.25-.132.376-.298.376-.499h-.515c-.436 0-.807-.113-1.113-.339-.367-.273-.55-.667-.55-1.18 0-.488.122-.901.367-1.24.296-.415.728-.622 1.296-.622zm.533 2.226v-.364c0-.217-.048-.389-.143-.516a.464.464 0 00-.39-.187.478.478 0 00-.396.187.705.705 0 00-.136.449.65.65 0 00.003.067c.008.125.066.22.177.283.093.054.21.08.352.08h.533zM9.5 6.707l.72.7.724-.7L10.209 6l-.709.707zm-6.694 4.888h.03c.433-.01.745-.106.937-.29.024.012.065.035.12.068l.074.039.081.042c.135.073.261.133.379.18.345.146.67.22.977.22a1.216 1.216 0 00.87-.34c.3-.285.449-.714.449-1.286a2.19 2.19 0 00-.335-1.145c-.299-.457-.732-.685-1.3-.685-.502 0-.916.192-1.242.575-.113.132-.21.284-.294.456-.032.062-.06.125-.084.191a.504.504 0 00-.03.078 1.67 1.67 0 00-.022.06c-.103.309-.171.485-.205.53-.072.09-.214.14-.427.147-.123-.005-.209-.03-.256-.076-.057-.054-.085-.153-.085-.297V7l-1.201-.5v3.562c0 .261.048.496.143.703.071.158.168.296.29.413.123.118.266.211.43.28.198.084.42.13.665.136v.001h.036zm2.752-1.014a.778.778 0 00.044-.353.868.868 0 00-.165-.47c-.1-.134-.217-.201-.35-.201-.18 0-.33.103-.447.31-.042.071-.08.158-.114.262a2.434 2.434 0 00-.04.12l-.015.053-.015.046c.142.118.323.216.544.293.18.062.325.092.433.092.044 0 .086-.05.125-.152z" fill-rule="evenodd"></path>
                          </symbol>
                        </use>
                      </svg>375.00</bdi>
                  </span>
                </div>
                <div>
                  <p class="mb-0">تعداد</p>
                  <span class="text-muted">1</span>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-item pb-4 timeline-item-info border-left-dashed">
            <span class="timeline-indicator-advanced timeline-indicator-info">
              <i class="ti ti-user-circle rounded-circle"></i>
            </span>
            <div class="timeline-event pb-3">
              <div class="timeline-header">
                <h6 class="mb-0">مصاحبه تلویزیونی</h6>
                <span class="text-muted">6 دی</span>
              </div>
              <p class="lh-2 justify-text"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است .</p>
              <hr/>
              <div class="d-flex justify-content-between flex-wrap gap-2">
                <div class="d-flex flex-wrap">
                  <div class="avatar me-3">
                    <img alt="آواتار" class="rounded-circle" src="~/img/avatars/6.png"/>
                  </div>
                  <div>
                    <p class="mb-0">دنیا دادرسان</p>
                    <span class="text-muted">برنامه نویس جاوا اسکریپت</span>
                  </div>
                </div>
                <div class="d-flex flex-wrap align-items-center cursor-pointer">
                  <i class="ti ti-brand-hipchat me-2"></i>
                  <i class="ti ti-phone-call"></i>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-item pb-0 timeline-item-warning border-transparent">
            <span class="timeline-indicator-advanced timeline-indicator-warning">
              <i class="ti ti-bell rounded-circle"></i>
            </span>
            <div class="timeline-event pb-3">
              <div class="timeline-header">
                <h6 class="mb-0">2 اعلان ها</h6>
                <span class="text-muted">7 دی</span>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap border-top-0 p-0">
                  <div class="d-flex flex-wrap align-items-center">
                    <ul class="list-unstyled users-list d-flex align-items-center avatar-group m-0 my-3 me-2">
                      <li class="avatar avatar-xs pull-up" data-bs-placement="top" data-bs-toggle="tooltip" data-popup="tooltip-custom" title="مهرداد محمدی">
                        <img alt="آواتار" class="rounded-circle" src="~/img/avatars/5.png"/>
                      </li>
                      <li class="avatar avatar-xs pull-up" data-bs-placement="top" data-bs-toggle="tooltip" data-popup="tooltip-custom" title="صدف طاهری">
                        <img alt="آواتار" class="rounded-circle" src="~/img/avatars/12.png"/>
                      </li>
                      <li class="avatar avatar-xs pull-up" data-bs-placement="top" data-bs-toggle="tooltip" data-popup="tooltip-custom" title="سیما ثابت">
                        <img alt="آواتار" class="rounded-circle" src="~/img/avatars/6.png"/>
                      </li>
                    </ul>
                    <span>در مورد پست شما نظر داد</span>
                  </div>
                  <button class="btn btn-outline-primary btn-sm my-sm-0 my-3">مشاهده</button>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap pb-0 px-0">
                  <div class="d-flex flex-sm-row flex-column align-items-center">
                    <img alt="آواتار" class="rounded-circle me-3" height="40" src="~/img/avatars/4.png" width="40"/>
                    <div class="user-info">
                      <p class="my-0">ساناز حمایت مالی کرد</p>
                      <span class="text-muted">30 دقیقه پیش</span>
                    </div>
                  </div>
                  <h5 class="mb-0">
                    <bdi><svg class="toman" width="1rem" height="1rem">
                        <use xlink:href="#toman">
                          <symbol id="toman" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd" d="M3.057 1.742L3.821 1l.78.75-.776.741-.768-.749zm3.23 2.48c0 .622-.16 1.111-.478 1.467-.201.221-.462.39-.783.505a3.251 3.251 0 01-1.083.163h-.555c-.421 0-.801-.074-1.139-.223a2.045 2.045 0 01-.9-.738A2.238 2.238 0 011 4.148c0-.059.001-.117.004-.176.03-.55.204-1.158.525-1.827l1.095.484c-.257.532-.397 1-.419 1.403-.002.04-.004.08-.004.12 0 .252.055.458.166.618a.887.887 0 00.5.354c.085.028.178.048.278.06.079.01.16.014.243.014h.555c.458 0 .769-.081.933-.244.14-.139.21-.383.21-.731V2.02h1.2v2.202zm5.433 3.184l-.72-.7.709-.706.735.707-.724.7zm-2.856.308c.542 0 .973.19 1.293.569.297.346.445.777.445 1.293v.364h.18v-.004h.41c.221 0 .377-.028.467-.084.093-.055.14-.14.14-.258v-.069c.004-.243.017-1.044 0-1.115L13 8.05v1.574a1.4 1.4 0 01-.287.863c-.306.405-.804.607-1.495.607h-.627c-.061.733-.434 1.257-1.117 1.573-.267.122-.58.21-.937.265a5.845 5.845 0 01-.914.067v-1.159c.612 0 1.072-.082 1.38-.247.25-.132.376-.298.376-.499h-.515c-.436 0-.807-.113-1.113-.339-.367-.273-.55-.667-.55-1.18 0-.488.122-.901.367-1.24.296-.415.728-.622 1.296-.622zm.533 2.226v-.364c0-.217-.048-.389-.143-.516a.464.464 0 00-.39-.187.478.478 0 00-.396.187.705.705 0 00-.136.449.65.65 0 00.003.067c.008.125.066.22.177.283.093.054.21.08.352.08h.533zM9.5 6.707l.72.7.724-.7L10.209 6l-.709.707zm-6.694 4.888h.03c.433-.01.745-.106.937-.29.024.012.065.035.12.068l.074.039.081.042c.135.073.261.133.379.18.345.146.67.22.977.22a1.216 1.216 0 00.87-.34c.3-.285.449-.714.449-1.286a2.19 2.19 0 00-.335-1.145c-.299-.457-.732-.685-1.3-.685-.502 0-.916.192-1.242.575-.113.132-.21.284-.294.456-.032.062-.06.125-.084.191a.504.504 0 00-.03.078 1.67 1.67 0 00-.022.06c-.103.309-.171.485-.205.53-.072.09-.214.14-.427.147-.123-.005-.209-.03-.256-.076-.057-.054-.085-.153-.085-.297V7l-1.201-.5v3.562c0 .261.048.496.143.703.071.158.168.296.29.413.123.118.266.211.43.28.198.084.42.13.665.136v.001h.036zm2.752-1.014a.778.778 0 00.044-.353.868.868 0 00-.165-.47c-.1-.134-.217-.201-.35-.201-.18 0-.33.103-.447.31-.042.071-.08.158-.114.262a2.434 2.434 0 00-.04.12l-.015.053-.015.046c.142.118.323.216.544.293.18.062.325.092.433.092.044 0 .086-.05.125-.152z" fill-rule="evenodd"></path>
                          </symbol>
                        </use>
                      </svg>20</bdi>
                  </h5>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Timeline Advanced-->
</div>
