@{
  ViewData["Title"] = "طراحی سفارشی - تور راهنما";
}
@section VendorStyles{
<link rel="stylesheet" href="~/vendor/libs/shepherd/shepherd.css" />
}
@section VendorScripts{
<script src="~/vendor/libs/shepherd/shepherd.js"></script>
}
@section PageScripts{
<script src="~/js/extended-ui-tour.js"></script>
}
@* ************** Content ************** *@

<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">طراحی سفارشی /</span>
  تور راهنما
</h4>
<div class="row">
  <div class="col-12">
    <div class="card tour-card">
      <h5 class="card-header">پاپ‌آپ‌های راهنما</h5>
      <div class="card-body">
        <button class="btn btn-primary" id="shepherd-example">شروع نمایش</button>
      </div>
    </div>
  </div>
</div>
